@font-face{
	font-family: 'TruenoLt';
	src: url(../fonts/truenoLt/TruenoLt.otf);
	font-weight: normal;
	font-style: normal;
}
@font-face{
	font-family: 'TruenoBd';
	src: url(../fonts/truenoBd/TruenoBd.otf);
	font-weight: bold;
	font-style: normal;
}
@font-face{
	font-family: 'TruenoUlt';
	src: url(../fonts/truenoUlt/TruenoExBd.otf);
	font-weight: bold;
	font-style: normal;
}
/* Upper */

.upper{
	font-family: 'TruenoLt';
	background-color: #482423;
}
.upper .row{
	height: 100%;
}
.upper .col-3{
	padding-right: 0;
}
.upper a, .upper a span{
	line-height: 40px;
}
.upper .col-6 a .fas{
	vertical-align: middle;
}
.upper a, .upper button{
	color: white;
	font-size: 12px;
}
.upper button{
	background-color: #ff7373;
	border-radius: 0;
	border: none;
	vertical-align: bottom;
	height: 40px;
}
.upper a span{
	color: #C9AFA3;
}
.upper a:hover, .upper a:hover span{
	text-decoration: none;
	color: #ee4;
}
.upper button:hover{
	color: #ee4;
}

/* Lower */

.nav{
	font-size: 12px;
}
.lower{
	font-family: 'TruenoLt';
	background-color: #633231;
	padding: 10px;
}
.lower .nav-item{
	float: right;
}
.lower a{
	color: white;
}
.lower .navbar{
	/*padding: 0;*/
	font-size: 2vw;
}
.navbar-toggler{
	width: 6vw;
	height: 6vw;
	padding: 1vw;
}
.navbar-toggler-icon{
	width: 3vw;
	height: 3vw;
	vertical-align: top;
}
.logo img{
}
.lower .active a{
	color: #FD7F7D;
	border-bottom: 2px solid #FD7F7D;
	padding-bottom: 18px;
}
.lower a:hover{
	text-decoration: none;
	color: white;
}
.navbar-nav .nav-item .active a{
	color: white;
	border: none;
}

/* advert */

.advert{
	background-color: #F0EFEE;
}
.advert img{
	display: inline;
	position: relative;
	top: -3vw;
	width: 45vw;
	margin-bottom: -5.5vw;
}
.text{
	margin-top: 8vw;
}
.text h3{
	font-family: 'TruenoLt';
	color: #623232;
	font-size: 1.8vw;
}
.text h1{
	font-family: 'TruenoUlt';
	color: #623232;
	font-size: 4vw;
	line-height: 3.5vw;
	font-weight: 900;
}
.text h2{
	font-family: 'TruenoUlt';
	color: #ff7373;
	font-size: 3vw;
	line-height: 2.5vw;
	font-weight: 900;
}
.text p{
	font-family: 'TruenoLt';
	color: #8a8784;
	font-size: 1vw;
	height: 2.5vw;
	margin-bottom: 1.2vw;
}
.text button{
	font-family: 'TruenoBd';
	width: 15vw;
	height: 3vw;
	border: none;
	border-radius: 0;
	background-color: #ff7373;
	font-size: 1vw;
	line-height: 0.3vw;
}
.text button:hover{
	color: #ee4;
}

/* Examples */


.examples{
	margin-top: 3vw;
	height: 32.14vw;
	width: 66%;
	padding: 0;
}
.examples .row{
	height: 100%;
}

/* KYRIE */

.kyrie{
	height: 32.14vw;
	width: 32.14vw;
	margin-right: 1.79vw;
	padding: 0;
	background-color: #000;
}
.kyrie img[alt="boot"]{
	width: 32.14vw;
}
.kyrie img[alt="logotype"]{
	width: 5vw;
	position: absolute;
	top: 3vw;
	left: 3vw;
}
.kyrie img[alt="end_of_the_boot"]{
	width: 2vw;
	position: absolute;
	top: 13vw;
	left: -1.2vw;
}
.kyrie h2{
	font-family: 'TruenoLt';
	color: white;
	font-size: 1.75vw;
	position: absolute;
	top: 2.6vw;
	left: 9vw;
	text-align: center;
}
.kyrie b{
	font-family: 'TruenoBd';
	color: #4bd8cd;
	font-size: 1.75vw;
	font-weight: 900;
}
.kyrie .btn{
	border: none;
	border-radius: 0;
	width: 12.55vw;
	height: 2.86vw;
	background-color: #4bd8cd;
	color: #000;
	font-size: 1vw;
	font-weight: 600;
	position: absolute;
	top: 26.31vw;
	left: 9.82vw;
	padding: 0;
}
.kyrie .btn:hover{
	background-color: #05A394;
}

/* ARRIVALS */

.arrivals{
	padding: 0;
	width: 32.14vw;
	height: 15.18vw;
	background-color: #ff7373;
}
.arrivals img[alt="boost"]{
	width: 12.32vw;
	position: absolute;
	top: -1.25vw;
	left: -0.7vw;
}
.arrivals h2{
	font-family: 'TruenoLt';
	color: white;
	position: absolute;
	top: 3.51vw;
	left: 13.51vw;
	text-align: center;
	font-size: 1.79vw;
}
.arrivials b{
	font-family: 'TruenoBd';
}
.arrivals .btn{
	border: none;
	border-radius: 0;
	width: 8.63vw;
	height: 2.86vw;
	font-size: 1vw;
	line-height: 0.1vw;
	position: absolute;
	top: 8.81vw;
	left: 16.19vw;
	padding: 0;
}

/* Athletes */

.athletes{
	padding: 0;
	background-color: #2d2f2e;
	position: absolute;
	top: 17vw;
	left: 0;
	height: 15.18vw;
	width: 15.18vw;
}
.athletes img{
	width: 15.18vw;
	position: absolute;
	top: 0;
	left: 0;
}
.athletes h2{
	font-family: 'TruenoLt';
	position: absolute;
	top: 8.7vw;
	left: 2.86vw;
	font-weight: 400;
	text-align: center;
	font-size: 1.79vw;
}
.athletes b{
	font-family: 'TruenoBd';
	color: #ff7373;
}

/* Premium */

.premium{
	background-color: #cecece;
	height: 15.18vw;
	width: 15.18vw;
	position: absolute;
	top: 17vw;
	left: 17vw;
}
.premium img{
	width: 7.38vw;
	height: 7.38vw;
}
.premium img[alt="left"]{
	position: absolute;
	top: 7.86vw;
	left: 1vw;
}
.premium img[alt="right"]{
	position: absolute;
	top: 7.86vw;
	left: 6.9vw;
}
.premium h2{
	font-family: 'TruenoLt';
	color: #6b7072;
	font-size: 1.79vw;
	position: absolute;
	top: 2vw;
	left: 3.2vw;
}
.premium b{
	font-family: 'TruenoBd';
	color: white;
}

/* Products */

/* Navigation */

.products{
	margin-top: 6vw;
	width: 66%;
	padding: 0;
}
.products .col-auto{
	padding: 0;
	margin-right: 1.79vw;
}
.products .col-auto:last-child{
	margin: 0;
}
.products .row{
	margin-bottom: 1.79vw;
}
.products .nav{
	width: 29vw;
	margin-left: auto;
	margin-right: auto;
	margin-bottom: 3vw;
}
.products .nav-link{
	padding: 0.5vw;
}
.products .nav a, .products .nav{
	font-family: 'TruenoLt';
	color: #bdb9b5;
	font-size: 1.79vw;
}
.products .nav .active{
	font-family: 'TruenoBd';
	color: #623232;
}
.products .nav a:hover{
	text-decoration: none;
	color: black;
}

/* Cards */

.products .card{
	font-family: 'TruenoLt';
	width: 15.18vw;
	height: 20.83vw;
}
.products .card-title h1{
	color: black;
	font-size: 1.43vw;
	position: absolute;
	top: 1.61vw;
	left: 1.73vw;
}
.card .sale h1{
	color: #ff7373;
}
.sale h2{
	width: 3.63vw;
	height: 1.67vw;
	background-color: #ff7373;
	font-size: 1vw;
	text-align: center;
	padding-top: 0.25vw;
	color: white;
	position: absolute;
	top: 1.37vw;
	left: 11.45vw;
}
.products .card-subtitle h2{
	font-size: 1vw;
	color: #8a8784;
	text-decoration: line-through;
	position: absolute;
	top: 4vw;
	left: 1.73vw;
}
.products .card img{
	width: 11.9vw;
	height: 11.9vw;
	position: absolute;
	top: 1.67vw;
	left: 1.67vw;
}
.products .card-subtitle h3{
	font-size: 1vw;
	color: #8a8784;
	font-family: 'TruenoBd';
	position: absolute;
	top: 13.69vw;
	left: 1.73vw;
}
.products .card-text{
	font-size: 1vw;
	color: #8a8784;
	position: absolute;
	top: 15vw;
	left: 1.73vw;
}
.products .card-footer{
	padding: 0;
	text-align: center;
	width: 100%;
	padding-top: 0.5vw;
	background: none;
	font-size: 1vw;
	color: #bdb9b5;
	position: absolute;
	top: 18vw;
	left: 0;
}
.products .card-footer p{
	margin: 0;
	width: 100%;
}
.products .card:hover{
	border-color: black;
}

/* LOGOS */

.logos{
	margin-top: 9vw;
	width: 80%;
	padding: 0;
}
.logos .col-2 img[alt="adidas"], .logos .col-2 img[alt="nike"], .logos .col-2 img[alt="asics"], .logos .col-2 img[alt="fila"]{
	width: 5.95vw;
}
.logos .col-2 img[alt="puma"], .logos .col-2 img[alt="nb"]{
	width: 7.14vw;
}

/* Testimonials */

.comments{
	font-family: 'TruenoLt';
	padding: 0;
	margin-top: 5.95vw;
	width: 100%;
	height: 33vw;
}
.comments img[alt="background"]{
	width: 100%;
	position: absolute;
}
.users{
	padding-top: 6vw;
	width: 50%;
	margin-right: auto;
	margin-left: auto;
	text-align: center;
}
.users img{
	width: 3.57vw;
}
.users h2{
	font-family: 'TruenoBd';
	font-size: 1vw;
	color: white;
	margin: 0;
	margin-top: 0.5vw;
	margin-bottom: 0.5vw;
}
.users i{
	color: #ff7373;
	font-size: 1.2vw;
	height: 0.5vw;
}
.users .col-4{
	padding: 0;
}
.users .stars{
	text-align: center;
	width: 45%;
	margin-left: auto;
	margin-right: auto;
}
img[alt="comment"]{
	position: relative;
	top: 1.76vw;
	left: 16.5vw;
	width: 66%;
	opacity: 0.1;
}
.comments p{
	text-align: center;
	position: relative;
	top: -5.5vw;
	left: 19vw;
	color: white;
	width: 60%;
	font-size: 1vw;
}

/* NEWS */

.news{
	font-family: 'TruenoLt';
	width: 66%;
}
.news h1{
	text-align: center;
	margin-top: 6.25vw;
	font-size: 1.79vw;
	color: #623232;
	font-family: 'TruenoBd';
}
.news .col-4{
	padding: 0;
}
.news .card{
	width: 20.83vw;
	height: 20.83vw;
	color: white;
	margin-right: 1vw;
}
.news .col-4:last-child .card{
	margin: 0;
}
.news .card img{
	width: 100%;
	height: 100%;
}
.news .card-img-overlay{
	padding: 2vw;
	background: none;
	position: absolute;
	top: 10vw;
}
.news .card h2{
	font-size: 1vw;
	font-weight: bold;
	margin-bottom: 1vw;
}
.news .card p{
	font-size: 1vw;
	margin: 0;
}
.news .card .row{
	color: #ff7373;
	font-size: 0.8vw;
	line-height: 1vw;
	margin-top: 1vw;
	width: 97%;
	margin-left: auto;
	margin-right: auto;
}
.news .card img:hover{
	opacity: 0.7;
}

/* CTA */

.cta{
	font-family: 'TruenoLt';
	margin-top: 6vw;
	background-color: #ff7373;
	height: 11.9vw;
	color: white;
}
.cta table{
	width: 66%;
	height: 5vw;
	margin: auto;
	position: relative;
	top: 3vw;
}
.cta td{
	/*border: 1px solid black;*/
	margin: 1vw;
}
.cta img{
	width: 3.57vw;
}
.cta h1{
	font-family: 'TruenoBd';
	font-size: 1.79vw;
	margin: 0;
}
.cta h2{
	font-size: 1vw;
	margin: 0;
}
.cta .btn{
	font-family: 'TruenoBd';
	border: none;
	border-radius: 0;
	background-color: #623232;
	width: 12.56vw;
	height: 2.86vw;
	font-size: 1vw;
	line-height: 1vw;
	padding: 1vw;
}

/* FOOTER */

footer{
	font-family: 'TruenoLt';
	background-color: #623232;
	height: 43.51vw;
	color: white;
}

/* USPS */

.usps{
	font-family: 'TruenoLt';
	font-size: 1vw;
	text-align: center;
	width: 66%;
	margin-left: auto;
	margin-right: auto;
}
.usps .col-2{
	padding: 0;
	padding-right: 1vw;
	height: 9.61vw;
}
.usps .col-2:last-child{
	padding: 0;
}
.usps img{
	width: 2.38vw;
	margin-top: 3vw;
}
.usps img[alt="delivery"]{
	padding-top: 0.36vw;
}
.usps p{
	padding-top: 1.67vw;
}
.usps hr{
	background-color: white;
	opacity: 0.15;
	margin: 2.8vw;
	height: 0.1vw;
}

/* LINKS */

.links{
	width: 66%;
	margin-left: auto;
	margin-right: auto;
}
.links .col-2, .links .col-4{
	padding: 0;
}
.links table{
  margin-bottom: 2vw;
}
.links table td{
	padding-left: 1vw;
}
.links table td[rowspan="2"]{
	background-color: #ff7373;
	padding: 0;
}
.links img{
	width: 1.25vw;
	float: left;
	margin: 1vw;
}
.links img[alt="mail"]{
	margin-top: 1.25vw;
	margin-bottom: 1.25vw;
}
.links table h1{
	font-family: 'TruenoBd';
	font-size: 1vw;
	color: #ff7373;
	margin: 0;
}
.links table h2{
	font-size: 1vw;
	margin: 0;
}
.links h1{
	font-size: 1vw;
	font-family: 'TruenoBd';
	color: #ff7373;
}
.links h2{
	font-size: 1vw;
	margin-top: 1vw;
	margin-bottom: 0;
}
.links hr{
	background-color: white;
	opacity: 0.15;
	margin: 2.8vw;
	height: 0.1vw;
}

/* END */

.end{
	padding: 0;
	width: 66%;
	margin-left: auto;
	margin-right: auto;
}
.end .col-4{
	padding: 0;
	position: relative;  /* подробнее про position: absolute; */
  top: 0;
  left: 0;
  bottom: 0;
  right: 0;
  margin: auto;
  max-width: 100%;
  max-height: 100%;
}
.end img{
	width: 10.83vw;
	float: left;
}
.end h1{
	font-size: 1vw;
	margin: 0;
}
.end i{
	font-size: 1.7vw;
	padding-right: 1.5vw;
	color: white;
	float: right;
}
.end .fa-facebook-f{
	font-size: 1.3vw;
}