* {
  margin: 0;
  padding: 0;
  outline: none;
}

img {
  width: 100%;
}

@media screen and (min-width: 320px) {
  body {
    background-color: #f8f8f8;
  }

  .header {
    width: 100%;
    -webkit-box-sizing: border-box;
            box-sizing: border-box;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: justify;
        -ms-flex-pack: justify;
            justify-content: space-between;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    padding: 5px 10px;
    -webkit-box-shadow: 5px 5px 15px #191c23;
            box-shadow: 5px 5px 15px #191c23;
    position: fixed;
    top: 0;
    left: 0;
    height: 60px;
  }
  .header .header__navbar {
    display: none;
  }

  .main {
    margin-top: 60px;
    background-image: url("../img/main-background.jpg");
    background-position: center;
    background-size: 250%;
    background-repeat: no-repeat;
    padding: 50px 25px;
  }
  .main .main__heading {
    width: 100%;
    text-align: center;
  }
  .main .main__span {
    margin-top: 20px;
    text-align: center;
    width: 100%;
  }
  .main .main__button {
    margin-left: auto;
    margin-right: auto;
    margin-top: 20px;
    display: block;
  }

  .about-us {
    width: 90%;
    margin-top: 40px;
    margin-left: auto;
    margin-right: auto;
    background-color: white;
    -webkit-box-sizing: border-box;
            box-sizing: border-box;
    padding: 30px 20px;
    border-radius: 20px;
    -webkit-box-shadow: 0 0 15px lightgrey;
            box-shadow: 0 0 15px lightgrey;
  }
  .about-us .about-us__text {
    margin-top: 15px;
  }

  .start {
    width: 90%;
    margin-left: auto;
    margin-right: auto;
    margin-top: 40px;
  }
  .start .start__heading {
    color: #191c23;
    text-align: center;
  }
  .start .start__steps {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -ms-flex-wrap: wrap;
        flex-wrap: wrap;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
  }
  .start .start__steps .start__step {
    margin-top: 30px;
  }

  .footer {
    width: 100%;
    -webkit-box-sizing: border-box;
            box-sizing: border-box;
    padding: 15px;
    background-color: #191c23;
    margin-top: 35px;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: justify;
        -ms-flex-pack: justify;
            justify-content: space-between;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
  }

  .logo {
    width: 55%;
    max-width: 180px;
  }
  .logo .logo__image {
    width: 100%;
  }

  .burger {
    width: 40px;
    height: 30px;
    position: relative;
  }
  .burger .burger__item {
    width: 100%;
    height: 4px;
    background-color: white;
    position: absolute;
    left: 0;
  }
  .burger .burger__item:nth-child(1) {
    top: 0;
  }
  .burger .burger__item:nth-child(2) {
    top: 50%;
    -webkit-transform: translate(0, -50%);
            transform: translate(0, -50%);
  }
  .burger .burger__item:nth-child(3) {
    bottom: 0;
  }

  .hover {
    cursor: pointer;
    -webkit-transition: opacity 0.4s ease;
    transition: opacity 0.4s ease;
  }
  .hover:hover {
    opacity: 0.7;
  }

  .heading {
    font-family: Montserrat;
    font-size: 36px;
    font-weight: 700;
    color: white;
  }

  .heading_small {
    font-family: Montserrat;
    font-size: 24px;
    font-weight: 700;
    color: #363c4c;
  }

  .text {
    font-family: Montserrat;
    font-size: 14px;
    color: #363c4c;
    font-weight: 600;
  }

  .span {
    font-family: Montserrat;
    font-size: 16px;
    font-weight: 500px;
    color: white;
    line-height: 1.3;
  }

  .button {
    padding: 15px 40px;
    background-color: transparent;
    border: 2px solid #363b4e;
    border-radius: 20px;
    font-family: Montserrat;
    font-size: 16px;
    font-weight: 600;
    color: white;
    cursor: pointer;
    -webkit-transition: 0.4s ease;
    transition: 0.4s ease;
  }
  .button:hover {
    background-color: #363b4e;
  }

  .step {
    width: 100%;
    list-style: none;
    -webkit-box-sizing: border-box;
            box-sizing: border-box;
    padding: 20px;
    border: 2px solid #8794c3;
    border-radius: 25px;
  }
  .step .step__number {
    display: none;
  }
  .step .step__line {
    display: none;
  }
  .step .step__content {
    width: 100%;
  }
  .step .step__content .step__text {
    color: #8794c3;
  }
  .step .step__content .step__button {
    margin-top: 20px;
    color: #191c23;
  }
  .step .step__content .step__button:hover {
    color: white;
  }

  .socials {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
  }
  .socials .socials__item {
    width: 25px;
    list-style: none;
    margin-left: 7px;
    margin-right: 7px;
  }
}