*{
	margin: 0;
	padding: 0;
	outline: none;
}
img{
	width: 100%;
}

@media screen and (min-width: 320px){
	#wrapper{
		position: relative;
		.header{
			position: fixed;
			top: 0;
			left: 50vw;
			transform: translate(-50%, 0);
			z-index: 10;
			width: 100%;
			box-sizing: border-box;
			display: flex;
			justify-content: space-between;
			align-items: center;
			background-color: #E69256;
			padding: 20px 15px;
			height: 75px;
			.header__nav{
				display: none;
			}
			.header__socials{
				width: 80%;
			}
			.header__menu{
				width: 40px;
				height: 30px;
			}
		}
		.main{
			margin-top: 75px;
			width: 100%;
			height: 500px;
			box-sizing: border-box;
			.main__slider{
				width: 100%;
			}
		}
		.socials{
			display: flex;
			.socials__item{
				display: flex;
				align-items: center;
				margin-left: 12px;
				margin-right: 12px;
				width: 33px;
				transition: .3s ease;
				opacity: 1;
				.socials__link{
					display: flex;
					align-items: center;
					width: 100%;
					transition: .3s ease;
					&:hover{
						opacity: 0.7;
					}
				}
			}
		}
		.burger{
			cursor: pointer;
			transition: .3s ease;
			position: relative;
			&:hover{
				opacity: 0.7;
			}
			span{
				display: block;
				width: 100%;
				height: 5px;
				border-radius: 2px;
				background-color: white;
				position: absolute;
				&:nth-child(1){
					top: 0;
				}
				&:nth-child(2){
					top: 50%;
					transform: translate(0, -50%);
				}
				&:nth-child(3){
					bottom: 0;
				}
			}
		}
		.slider-full{
			height: 500px;
			overflow: hidden;
			position: relative;
			.slider-full__slides{
				width: 100%;
				overflow: hidden;
				.slider-full__slide{
					position: absolute;
					width: 100%;
					&.active{
						z-index: 3;
						transform: translate(0, 0);
					}
					&.left{
						transform: translate(-100%, 0);
						z-index: 1;
					}
					&.right{
						transform: translate(100%, 0);
						z-index: 1;
					}
				}
			}
			.slider-full__control{
				position: absolute;
				width: 100%;
				height: 500px;
				z-index: 3;
				.slider-full__prev, slider-full__next{
					display: none;
				}
				.slider-full__dots{
					position: absolute;
					bottom: 30px;
					left: 50%;
					transform: translate(-50%, 0);
					display: flex;
					justify-content: center;
					.slider-full__dot{
						user-select: none;
						width: 17px;
						height: 17px;
						border-radius: 50%;
						list-style: none;
						box-sizing: border-box;
						border: 2px solid white;
						margin-left: 10px;
						margin-right: 10px;
						cursor: pointer;
						transition: .3s ease;
						&.active{
							background-color: white;
						}
						&:hover{
							opacity: 0.7;
						}
					}
				}
			}
			.screen{
				width: 100%;
				height: 500px;
				box-sizing: border-box;
				.screen__background{
					position: relative;
					overflow: hidden;
					width: 100%;
					height: 100%;
					.screen__image{
						width: auto;
						height: 110%;
						margin-left: 50%;
						margin-top: 250px;
						transform: translate(-50%, -50%);
					}
					.screen__darkness{
						background-color: #09365B;
						width: 100%;
						height: 100%;
						z-index: 3;
						position: absolute;
						top: 0;
						left: 0;
						opacity: 0.6;
					}
				}
				.screen__content{
					width: 100%;
					position: absolute;
					top: 0;
					z-index: 3;
					margin-top: 250px;
					transform: translate(0, -55%);
					h1.screen__heading{
						font-family: Montserrat;
						color: white;
						font-weight: 600;
						text-align: center;
						width: 90%;
						margin-left: auto;
						margin-right: auto;
						font-size: 32px;
					}
					h1.screen__heading-wide{
						font-family: Montserrat;
						color: white;
						font-weight: 600;
						text-align: center;
						width: 90%;
						margin-left: auto;
						margin-right: auto;
						font-size: 32px;
						line-height: 1.5;
					}
					h2.screen__heading{
						font-family: Montserrat;
						color: white;
						font-weight: 600;
						width: 85%;
						margin-left: auto;
						margin-right: auto;
						font-size: 28px;
					}
					.screen__text{
						font-family: Montserrat;
						color: white;
						font-weight: 400;
						text-align: center;
						width: 90%;
						margin-left: auto;
						margin-right: auto;
						margin-top: 20px;
						font-size: 18px;
						line-height: 1.5;
					}
					.screen__bold{
						display: block;
						font-family: Montserrat;
						color: white;
						font-weight: 800;
						text-align: center;
						width: 90%;
						margin-left: auto;
						margin-right: auto;
						margin-top: 20px;
						font-size: 20px;
						line-height: 1.5;
					}
					.screen__list{
						margin-top: 20px;
						width: 90%;
						.screen__list-item{
							font-family: Montserrat;
							color: white;
							font-weight: 600;
							width: 85%;
							margin-left: 15%;
							font-size: 16px;
							line-height: 1.2;
							margin-top: 10px;
							list-style: none;
							position: relative;
							&::before{
								content: "";
								display: block;
								width: 7px;
								height: 7px;
								border-radius: 50%;
								background-color: white;
								position: absolute;
								top: 50%;
								left: -20px;
								transform: translate(0, -50%);
							}
						}
					}
				}
			}
		}
		.news{
			width: 100%;
			box-sizing: border-box;
			overflow: hidden;
			h1.news__heading{
				width: 90%;
				margin-left: auto;
				margin-right: auto;
				margin-top: 50px;
			}
			.news__list{
				width: 100%;
				box-sizing: border-box;
				display: flex;
				flex-wrap: wrap;
				justify-content: center;
				margin-top: 15px;
				.news__item{
					position: relative;
					width: 90%;
					max-width: 400px;
					margin-left: auto;
					margin-right: auto;
					box-sizing: border-box;
					margin-top: 30px;
					list-style: none;
					margin-bottom: 70px;
					transition: .3s ease;
					.news__image{
						width: 100%;
						position: relative;
						.news__gradient{
							transition: .3s ease;
							width: 100%;
							height: 100px;
							background: linear-gradient(transparent, #F4A261);
							position: absolute;
							bottom: 0;
							left: 0;
						}
					}
					.news__content{
						width: 100%;
						transition: .3s ease;
						position: absolute;
						bottom: -69px;
						background-color: #F4A261;
						overflow: hidden;
						height: 70px;
						display: flex;
						flex-wrap: wrap;
						h2.news__heading{
							box-sizing: border-box;
							width: calc(100% - 70px);
							line-height: 70px;
							height: 70px;
							font-family: Montserrat;
							color: #333333;
							font-size: 20px;
							padding-left: 15px;
							white-space: nowrap;
							text-overflow: ellipsis;
							overflow: hidden;
						}
						.news__open{
							user-select: none;
							width: 70px;
							height: 70px;
							position: relative;
							cursor: pointer;
							transition: .3s ease;
							span{
								user-select: none;
								transition: .3s ease;
								box-sizing: border-box;
								display: block;
								width: 15px;
								height: 15px;
								position: absolute;
								top: 40%;
								left: 50%;
								transform: translate(-50%, -50%) rotate(45deg);
								border-bottom: 3px solid #333;
								border-right: 3px solid #333;
							}
							&:hover{
								opacity: 0.7;
							}
						}
						.news__hidden{
							p.news__text{
								width: 100%;
								box-sizing: border-box;
								padding: 15px;
								padding-top: 0;
								padding-bottom: 0;
								margin-top: 0;
								font-family: Montserrat;
								color: #333;
								font-weight: 600;
								height: 95px;
								overflow: hidden;
								text-overflow: ellipsis;
							}
							.news__more{
								display: block;
								margin: 10px;
								margin-left: 15px;
								margin-bottom: 21px;
								font-family: Montserrat;
								text-decoration: none;
								color: #0A1B70;
								font-weight: 600;
								transition: .3s ease;
								&:hover{
									opacity: 0.7;
								}
							}
						}
					}
					&.active{
						box-shadow: 0 0 15px 5px lightgrey;
						.news__image{
							.news__gradient{
								height: 50px;
								bottom: 150px;
							}
						}
						.news__content{
							height: 220px;
							.news__open{
								span{
									top: 60%;
									transform: translate(-50%, -50%) rotate(225deg);
								}
							}
						}
					}
				}
			}
			.news__all{
				display: block;
				margin-top: 20px;
			}
		}
		h1.title{
			font-family: Montserrat;
			color: #333;
			font-weight: 800;
			font-size: 32px;
			text-align: center;
		}
		.about{
			width: 100%;
			box-sizing: border-box;
			display: flex;
			flex-wrap: wrap;
			justify-content: center;
			h1.about__heading{
				width: 90%;
				margin-left: auto;
				margin-right: auto;
				margin-top: 50px;
			}
			.about__image{
				margin-top: 30px;
				width: 100%;
				display: flex;
				justify-content: center;
				img{
					width: 70%;
				}
			}
			.about__content{
				width: 100%;
				h2.about__heading{
					font-family: Montserrat;
					font-size: 24px;
					color: #333333;
					width: 90%;
					margin-left: auto;
					margin-right: auto;
					text-align: center;
					margin-top: 20px;
				}
				.about__text{
					width: 90%;
					margin-left: auto;
					margin-right: auto;
					font-family: Montserrat;
					font-size: 16px;
					color: #333333;
					font-weight: 400;
					margin-top: 20px;
					text-align: justify;
				}
				.about__more{
					width: 90%;
					margin-left: auto;
					margin-right: auto;
					margin-top: 20px;
				}
			}
			.about__text_wide{
				width: 90%;
				margin-left: auto;
				margin-right: auto;
				font-family: Montserrat;
				font-size: 16px;
				color: #333333;
				font-weight: 400;
				margin-top: 20px;
				text-align: justify;
			}
		}
		.more{
			display: block;
			font-family: Montserrat;
			color: #0a1b70;
			text-decoration: none;
			font-weight: 800;
			text-align: center;
			font-size: 18px;
			transition: .3s ease;
			&:hover{
				opacity: 0.7;
			}
		}
		.portfolio{
			width: 100%;
			box-sizing: border-box;
			h1.portfolio__heading{
				margin-left: auto;
				margin-right: auto;
				margin-top: 50px;
			}
			.portfolio__slider{
				width: 100%;
				box-sizing: border-box;
			}
			.portfolio__more{
				margin-top: 70px;
				width: 90%;
				margin-left: auto;
				margin-right: auto;
			}
		}
		.slider{
			margin-top: 30px;
			width: 100%;
			position: relative;
			.slider__slides{
				width: 80%;
				margin-left: auto;
				margin-right: auto;
				overflow: hidden;
				.slider__row{
					transition: .4s ease;
					width: 100%;
					display: flex;
					.slider__slide{
						width: 90%;
						margin-left: 5%;
						margin-right: 5%;
						list-style: none;
						flex: 0 0 100%;
					}
				}
			}
			.slider__control{
				width: 100%;
				position: absolute;
				.slider__prev, .slider__next{
					display: none;
				}
				.slider__dots{
					width: 100%;
					position: absolute;
					bottom: -40px;
					left: 50%;
					transform: translate(-50%, 0);
					display: flex;
					justify-content: center;
					.slider__dot{
						cursor: pointer;
						user-select: none;
						width: 17px;
						height: 17px;
						border-radius: 50%;
						border: 1px solid #333;
						box-sizing: border-box;
						margin-left: 5px;
						margin-right: 5px;
						list-style: none;
						transition: .3s ease;
						&.active{
							background-color: #333;
						}
					}
				}
			}
		}
		.document{
			position: relative;
			.document__hidden{
				transition: .3s ease;
				position: absolute;
				width: 100%;
				height: 100%;
				top: 0;
				left: 0;
				opacity: 0;
				.document__darkness{
					width: 100%;
					height: 100%;
					background-color: #555555;
					opacity: 0.6;
				}
				.document__title{
					position: absolute;
					top: 50%;
					left: 50%;
					transform: translate(-50%, -50%);
					width: 90%;
					font-family: Montserrat;
					font-size: 28px;
					font-weight: 800;
					color: white;
					line-height: 1.3;
					text-align: center;
				}
			}
			&:hover{
				.document__hidden{
					opacity: 1;
				}
			}
		}
		.contacts{
			width: 100%;
			box-sizing: border-box;
			h1.contacts__heading{
				width: 90%;
				margin-left: auto;
				margin-right: auto;
				margin-top: 50px;
			}
			.contacts__form{
				width: 90%;
				margin-left: auto;
				margin-right: auto;
				box-sizing: border-box;
				display: flex;
				flex-wrap: wrap;
				justify-content: center;
				margin-top: 10px;
				.contacts__input{
					width: 100%;
					max-width: 350px;
					margin-top: 20px;
					height: 50px;
					border: 2px solid #999999;
					border-radius: 10px;
					box-sizing: border-box;
					padding: 15px;
					background-color: #eeeeee;
					font-family: Montserrat;
					font-size: 16px;
					color: #333;
					font-weight: 600;
					transition: .3s ease;
					&::placeholder{
						color: #777;
						font-weight: 600;
					}
					&:focus{
						border-color: #FFAC00;
						background-color: #FFE1A6;
						box-shadow: 0 0 10px 2px lightgrey;
					}
				}
				.contacts__textarea{
					width: 100%;
					margin-top: 20px;
					resize: none;
					border-radius: 10px;
					border: 2px solid #999999;
					max-width: 350px;
					box-sizing: border-box;
					padding: 15px;
					background-color: #eeeeee;
					font-family: Montserrat;
					font-size: 16px;
					color: #333;
					font-weight: 600;
					transition: .3s ease;
					&::placeholder{
						color: #777;
						font-weight: 600;
					}
					&:focus{
						border-color: #FFAC00;
						background-color: #FFE1A6;
						box-shadow: 0 0 10px 2px lightgrey;
					}
				}
				.contacts__submit{
					width: 100%;
					max-width: 350px;
					box-sizing: border-box;
					margin-top: 20px;
					height: 50px;
					border-radius: 10px;
					border: 2px solid #23395a;
					color: #23395a;
					background-color: #ffffff;
					font-family: Montserrat;
					font-size: 18px;
					color: #333;
					font-weight: 600;
					transition: .3s ease;
					cursor: pointer;
					&:hover{
						background-color: #23395a;
						color: white;
					}
				}
			}
		}
		.materials{
			width: 100%;
			box-sizing: border-box;
			.materials__heading{
				width: 90%;
				margin-left: auto;
				margin-right: auto;
				margin-top: 50px;
			}
			.materials__content{
				padding: 40px 30px;
				box-sizing: border-box;
				width: 90%;
				margin-left: auto;
				margin-right: auto;
				border-radius: 20px;
				background-color: #eeeeee;
				box-shadow: 0 0 10px 2px lightgrey;
				margin-top: 40px;
				.materials__files{
					width: 100%;
					box-sizing: border-box;
					.materials__file{
						width: 100%;
						box-sizing: border-box;
						list-style: none;
					}
				}
			}
		}
		.file{
			margin-bottom: 30px;
			display: flex;
			align-items: center;
			transition: .3s ease;
			&:hover{
				opacity: 0.7;
			}
			.file__icon{
				width: 50px;
				margin-right: 20px;
			}
			.file__name{
				font-family: Montserrat;
				font-size: 22px;
				color: #333;
				font-weight: 600;
				transition: .3s ease;
				text-decoration: none;
				width: calc(100% - 70px);
				white-space: nowrap;
				text-overflow: ellipsis;
				overflow: hidden;
				&:hover{
					color: #0a1b70;
				}
			}
		}
		.footer{
			margin-top: 50px;
			width: 100%;
			box-sizing: border-box;
			background-color: #23395a;
			height: 70px;
			.footer__text{
				font-family: Montserrat;
				font-size: 18px;
				color: white;
				font-weight: 600;
				height: 70px;
				line-height: 70px;
				text-align: center;
				width: 100%;
			}
		}


		.news-single{
			margin-left: auto;
			margin-right: auto;
			width: 90%;
			box-sizing: border-box;
			margin-top: 100px;
			display: flex;
			flex-wrap: wrap;
			justify-content: center;
			max-width: 380px;
			.news-single__heading{
				font-size: 24px;
			}
			.news-single__image{
				width: 100%;
				margin-top: 20px;
			}
			.news-single__text{
				width: 100%;
				margin-top: 20px;
				font-family: Montserrat;
				color: #333;
				font-size: 14px;
				line-height: 1.4;
				text-align: justify;
			}

			.news-single__text_wide{
				width: 100%;
				margin-top: 20px;
				font-family: Montserrat;
				color: #333;
				font-size: 14px;
				line-height: 1.4;
				text-align: justify;
			}
		}
	}
	#wrapper.news{
		.news{
			margin-top: 60px;
		}
	}
	#wrapper.about{
		.about{
			margin-top: 60px;
		}
	}
	#wrapper.portfolio{
		.portfolio{
			margin-top: 100px;
			.portfolio__list{
				max-width: 400px;
				margin-top: 10px;
				display: flex;
				flex-wrap: wrap;
				justify-content: center;
				width: 90%;
				margin-left: auto;
				margin-right: auto;
				.portfolio__item{
					width: 100%;
					list-style: none;
					margin-top: 20px;
				}
			}
			.portfolio__more{
				margin-top: 30px;
			}
		}
	}
	#wrapper.materials{
		.materials{
			margin-top: 120px;
			.materials__files{
				margin-top: 10px;
				width: 100%;
				margin-left: auto;
				margin-right: auto;
				box-sizing: border-box;
				display: flex;
				flex-wrap: wrap;
				justify-content: center;
				.materials__file{
					width: 290px;
					margin-left: 15px;
					margin-right: 15px;
					max-width: 400px;
					margin-top: 30px;
					margin-bottom: 0;
				}
			}
			.materials__more{
				margin-top: 30px;
			}
		}
		.file{
			cursor: pointer;
			background-color: #eeeeee;
			display: flex;
			flex-wrap: wrap;
			justify-content: center;
			box-sizing: border-box;
			padding: 20px;
			.file__icon{
				margin-right: 0;
				margin-top: 30px;
				width: 100%;
				display: flex;
				justify-content: center;
				img{
					width: 40%;
				}
			}
			.file__name{
				font-size: 28px;
				white-space: normal;
				text-overflow: ellipsis;
				width: 90%;
				text-align: center;
				margin-top: 20px;
				margin-bottom: 30px;
				line-height: 1.4;
				margin-left: 0;
				height: 80px;
				overflow: hidden;
			}
			&:hover{
				opacity: 1;
				background-color: #FDA26A;
				box-shadow: 0 0 15px grey;
			}
		}
	}
}

@media screen and (min-width: 425px){
	#wrapper{
		.slider-full{
			.screen{
				.screen__background{
					.screen__image{
						width: auto;
						height: 110%;
					}
				}
				.screen__content{
					h1.screen__heading{
						max-width: 500px;
					}
					h2.screen__heading{
						width: calc(90% - 50px);
						font-size: 24px;
						margin-left: 50px;
					}
					.screen__list{
						width: calc(90% - 50px);
						margin-left: 50px;
						max-width: 600px;
						.screen__list-item{
							margin-left: 0;
						}
					}
					.screen__text{
						max-width: 500px;
					}
					.screen__bold{
						max-width: 500px;
					}
				}
			}
		}
		.about{
			.about__image{
				max-width: 450px;
			}
			.about__content{
				max-width: 500px;
			}
		}
		.portfolio{
			.portfolio__slider{
				max-width: 500px;
				margin-left: auto;
				margin-right: auto;
			}
		}
		.materials{
			.materials__content{
				max-width: 500px;
			}
		}
	}
	#wrapper.materials{
		.materials{
			.materials__files{
				.materials__file{
					&:nth-child(9){
						display: none;
					}
				}
			}
		}
	}
}

@media screen and (min-width: 768px){
	#wrapper{
		.header{
			justify-content: space-between;	
			.header__nav{
				display: block;
			}
			.header__socials{
				width: 25%;
				justify-content: flex-end;	
			}
			.header__menu{
				display: none;
			}
		}
		.nav{
			width: 75%;
			.nav__navbar{
				width: 100%;
			}
		}
		.navbar{
			display: flex;
			.navbar__item{
				margin-left: 4px;
				margin-right: 4px;
				list-style: none;
				.navbar__link{
					display: block;
					font-family: Roboto;
					color: white;
					font-size: 16px;
					text-decoration: none;
					transition: .3s ease;
					&:hover{
						opacity: 0.7;
					}
				}
			}
		}
		.slider-full{
			.screen{
				.screen__background{
					.screen__image{
						width: 100%;
						height: auto;
					}
				}
				.screen__content{
					box-sizing: border-box;
					padding: 80px;
					transform: translate(0, -50%);
					h1.screen__heading{
						font-size: 36px;
						font-weight: 600;
						margin-left: 0;
						width: 80%;
						text-align: left;
						letter-spacing: 1.5px;
					}
					h1.screen__heading-wide{
						font-size: 30px;
						letter-spacing: 1px;
						width: 100%;
					}
					h2.screen__heading{
						font-size: 30px;
						font-weight: 600;
						margin-left: 0;
						width: 80%;
						text-align: left;
						letter-spacing: 1.5px;
					}
					.screen__text{
						width: 80%;
						font-size: 20px;
						margin-left: 0;
						text-align: left;
						letter-spacing: 1px;
						line-height: 1.9;
					}
					.screen__bold{
						width: 80%;
						font-size: 22px;
						margin-left: 0;
						text-align: left;
						letter-spacing: 1px;
					}
					.screen__list{
						margin-top: 30px;
						margin-left: 0;
						margin-right: 0;
						width: 80%;
						.screen__list-item{
							width: 100%;
							font-size: 18px;
							font-weight: 400;
							line-height: 1.5;
						}
					}
				}
			}
			.slider-full__control{
				.slider-full__prev{
					display: block;
					width: 20px;
					height: 20px;
					border-bottom: 3px solid white;
					border-left: 3px solid white;
					position: absolute;
					top: 50%;
					left: 20px;
					transform: translate(0, -50%) rotate(45deg);
					cursor: pointer;
					user-select: none;
					transition: .3s ease;
					&:hover{
						opacity: 0.7;
					}
				}
				.slider-full__next{
					display: block;
					width: 20px;
					height: 20px;
					border-bottom: 3px solid white;
					border-right: 3px solid white;
					position: absolute;
					top: 50%;
					right: 20px;
					transform: translate(0, -50%) rotate(-45deg);
					cursor: pointer;
					user-select: none;
					transition: .3s ease;
					&:hover{
						opacity: 0.7;
					}
				}
				.slider-full__dots{
					bottom: 40px;
					.slider-full__dot{
						margin-left: 12px;
						margin-right: 12px;
						width: 20px;
						height: 20px;
						border-width: 1px;
					}
				}
			}
		}
		.news{
			.news__list{
				display: flex;
				flex-wrap: wrap;
				justify-content: center;
				.news__item{
					width: 45%;
					margin-left: 15px;
					margin-right: 15px;
					max-width: 380px;
				}
			}
			.news__all{
				margin-top: 30px;
			}
		}
		.more{
			font-size: 20px;
		}
		.about{
			align-items: center;
			.about__image{
				width: 45%;
				max-width: 350px;
				height: auto;
				margin-top: 40px;
			}
			.about__content{
				width: 50%;
				margin-top: 40px;
				h2.about__heading{
					font-size: 20px;
					text-align: left;
					line-height: 1.4;
				}
				.about__text{
					font-size: 14px;
					text-align: left;
				}
				.about__more{
					text-align: left;
				}
			}
		}
		.portfolio{
			.portfolio__slider{
				width: 100%;
				margin-left: auto;
				margin-right: auto;
				max-width: 1024px;
			}
		}
		.slider{
			width: 100%;
			max-width: 1024px;
			.slider__slides{
				position: relative;
				z-index: 2;
				width: 85%;
				margin-top: 40px;
				overflow: hidden;
				.slider__row{
					display: flex;
					justify-content: space-between;
					.slider__slide{
						display: block;
						width: 30%;
						flex: 0 0 30%;
						margin-left: 1.5%;
						margin-right: 1.5%;
					}
				}
			}
			.slider__control{
				position: absolute;
				width: 100%;
				height: 100%;
				top: 0;
				.slider__prev{
					display: block;
					width: 15px;
					height: 15px;
					position: absolute;
					top: 50%;
					left: 20px;
					transform: translate(0, -50%) rotate(45deg);
					border-bottom: 3px solid #333;
					border-left: 3px solid #333;
					cursor: pointer;
					user-select: none;
					transition: .3s ease;
					&:hover{
						opacity: 0.7;
					}
					&.disabled{
						opacity: 0.5;
					}
				}
				.slider__next{
					display: block;
					width: 15px;
					height: 15px;
					position: absolute;
					top: 50%;
					right: 20px;
					transform: translate(0, -50%) rotate(-45deg);
					border-bottom: 3px solid #333;
					border-right: 3px solid #333;
					cursor: pointer;
					user-select: none;
					transition: .3s ease;
					&:hover{
						opacity: 0.7;
					}
					&.disabled{
						opacity: 0.5;
					}
				}
			}
		}
		.document{
			.document__hidden{
				.document__title{
					font-size: 18px;
				}
			}
		}
		.contacts{
			.contacts__form{
				.contacts__input{
					display: block;	
					width: 46%;
					margin-left: 10px;
					margin-right: 10px;
					height: 60px;
				}
				.contacts__textarea{
					max-width: 720px;
					width: 96%;
				}
				.contacts__submit{
					width: 300px;
					height: 60px;
				}
			}
		}


		.news-single{
			max-width: 700px;
			align-items: center;
			.news-single__heading{
				width: 90%;
				font-size: 28px;
			}
			.news-single__image{
				margin-top: 40px;
				width: 300px;
				margin-right: 40px;
			}
			.news-single__text{
				margin-top: 40px;
				width: calc(100% - 340px);
				text-align: left;
			}
			.news-single__text_wide{
				margin-top: 30px;
				width: 100%;
				text-align: left;
			}
		}
	}
	#wrapper.news{
		margin-top: 80px;
	}
	#wrapper.news-single{
		.news{
			.news__list{
				.news__item{
					&:nth-child(3){
						display: none;
					}
				}
			}
		}
	}
	#wrapper.about{
		.about{
			.about__image{
				width: 230px;
				margin-right: 20px;
				img{
					width: 100%;
				}
			}
			.about__content{
				width: 450px;
				h2.about__heading{
					font-size: 22px;
				}
				p.about__text{
					font-size: 16px;
					line-height: 1.4;
				}
			}
			.about__text_wide{
				margin-top: 40px;
				width: 700px;
				line-height: 1.4;
				text-align: left;
			}
		}
	}
	#wrapper.portfolio{
		.portfolio{
			margin-top: 120px;
			.portfolio__list{
				max-width: 900px;
				.portfolio__item{
					width: calc(50% - 40px);
					margin-left: 20px;
					margin-right: 20px;
					margin-top: 40px;
					&:nth-child(9){
						display: none;
					}
				}
			}
		}
	}
	#wrapper.materials{
		.materials{
			.materials__files{
				width: 920px;
			}
		}
	}
}

@media screen and (min-width: 1024px){
	#wrapper{
		position: relative;
		h1.title{
			font-size: 38px;
		}
		.more{
			font-size: 22px;
		}
		.header{
			width: 102%;
			z-index: 10;
			max-width: 1300px;
			margin-left: auto;
			margin-right: auto;
			.header__socials{
				width: 25%;
			}
		}
		.nav{
			width: 75%;
		}
		.navbar{
			.navbar__item{
				margin-left: 10px;
				margin-right: 10px;
				.navbar__link{
					font-size: 18px;
				}
			}
		}
		.socials{
			.socials__item{
				margin-left: 15px;	
				margin-right: 15px;	
			}
		}
		.main{
			max-width: 1300px;
			height: 600px;
			margin-left: auto;
			margin-right: auto;
		}
		.slider-full{
			height: 600px;
			.slider-full__slides{
				.slider-full__slide{
					height: 600px;
				}
			}
			.slider-full__control{
				height: 600px;
				.slider-full__next{
					width: 25px;
					height: 25px;
					right: 30px;
				}
				.slider-full__prev{
					width: 25px;
					height: 25px;
					left: 30px;
				}
			}
			.screen{
				height: 600px;
				.screen__background{
					.screen__image{
						width: 100%;
						margin-top: 300px;
					}
				}
				.screen__content{
					margin-top: 290px;
					padding: 100px;
					h1.screen__heading{
						width: 100%;
						font-size: 44px;
					}
					h1.screen__heading-wide{
						width: 100%;
						font-size: 44px;
					}
					h2.screen__heading{
						max-width: none;
						width: 100%;
						font-size: 40px;
					}
					.screen__list{
						max-width: none;
						width: 70%;
						max-width: 600px;
						.screen__list-item{
							width: 100%;
							font-size: 22px;
						}
					}
					.screen__text{
						width: 70%;
						font-size: 22px;
						margin-top: 35px;
						max-width: 600px;
					}
					.screen__bold{
						font-size: 24px;
						margin-top: 35px;
						max-width: none;
					}
				}
			}
		}
		.news{
			margin-top: 50px;
			.news__list{
				max-width: 900px;
				margin-left: auto;
				margin-right: auto;
				justify-content: space-between;
				.news__item{
					width: calc(50% - 20px);
					margin-left: 0;
					margin-right: 0;
					max-width: none;
					margin-top: 40px;
					margin-bottom: 80px;
					&.active{
						.news__image{
							.news__gradient{
								bottom: 140px;
							}
						}
						.news__content{
							height: 230px;
						}
						&:nth-child(3), &:nth-child(4), &:nth-child(5){
							.news__content{
								height: 220px;
							}
						}
					}
					&:nth-child(6){
						display: none;
					}
					&:nth-child(3), &:nth-child(4), &:nth-child(5){
						width: calc(33% - 20px);
						.news__content{
							height: 70px;
							bottom: -69px;
							h2.news__heading{
								height: 70px;
								line-height: 70px;
								font-size: 20px;
								padding-left: 15px;
							}
							.news__hidden{
								.news__text{
									line-height: 1.3;
									padding: 15px;
									padding-top: 0;
									padding-bottom: 0;
									height: 80px;
								}
								.news__more{
									margin-left: 15px;
									margin-top: 20px;
								}
							}
							.news__open{
								margin-right: 0;
								span{
									width: 15px;
									height: 15px;
								}
							}
						}
					}
					.news__content{
						height: 80px;
						bottom: -79px;
						justify-content: space-between;
						align-items: center;
						h2.news__heading{
							height: 80px;
							line-height: 80px;
							font-size: 24px;
							padding-left: 20px;
						}
						.news__hidden{
							p.news__text{
								padding: 20px;
								padding-top: 0;
								padding-bottom: 0;
							}
							.news__more{
								margin-left: 20px;
								margin-top: 15px;
							}
						}
						.news__open{
							width: 60px;
							height: 60px;
							margin-right: 10px;
							span{
								width: 20px;
								height: 20px;
							}
						}
					}
				}
			}
		}
		.about{
			margin-top: 50px;
			width: 95%;
			margin-left: auto;
			margin-right: auto;
			.about__image{
				max-width: 320px;
				margin-right: 30px;
				img{
					width: 100%;
				}
			}
			.about__content{
				width: 60%;
				max-width: 650px;
				h2.about__heading{
					margin-top: 0;
					font-size: 28px;
				}
				.about__text{
					font-size: 20px;
					line-height: 1.4;
				}
			}
		}
		.portfolio{
			margin-top: 100px;
			.portfolio__slider{
				max-width: 1180px;
			}
			.portfolio__more{
				margin-top: 90px;
			}
		}
		.slider{
			.slider__control{
				.slider__prev{
					width: 20px;
					height: 20px;
					left: 30px;
				}
				.slider__next{
					width: 20px;
					height: 20px;
					right: 30px;
				}
				.slider__dots{
					bottom: -60px;
					.slider__dot{
						width: 20px;
						height: 20px;
						margin-left: 7px;
						margin-right: 7px;
					}
				}
			}
		}
		.document{
			.document__hidden{
				.document__title{
					font-size: 22px;
				}
			}
		}
		.contacts{
			margin-top: 100px;
			.contacts__form{
				max-width: 1000px;
			}
		}
		.materials{
			.materials__content{
				max-width: 700px;
			}
		}
		.file{
			.file__name{
				font-size: 26px;
			}
		}
		.footer{
			margin-top: 80px;
			height: 100px;
			.footer__text{
				font-size: 26px;
				line-height: 100px;
				height: 100px;
			}
		}


		.news-single{
			margin-top: 120px;
			max-width: 1000px;
			.news-single__heading{
				font-size: 36px;
			}
			.news-single__image{
				margin-top: 50px;
				margin-top: 50px;
				width: 400px;
			}
			.news-single__text{
				margin-top: 50px;
				width: 480px;
				font-size: 18px;
				line-height: 1.6;
			}
			.news-single__text_wide{
				margin-top: 40px;
				width: 920px;
				font-size: 18px;
				line-height: 1.6;
			}
		}
	}
	#wrapper.news, #wrapper.news-single{
		.news{
			.news__list{
				.news__item{
					width: calc(33% - 20px);
					.news__content{
						height: 70px;
						bottom: -69px;
						h2.news__heading{
							height: 70px;
							line-height: 70px;
							font-size: 20px;
							padding-left: 15px;
						}
						.news__hidden{
							.news__text{
								line-height: 1.3;
								padding: 15px;
								padding-top: 0;
								padding-bottom: 0;
								height: 80px;
							}
							.news__more{
								margin-left: 15px;
							}
						}
						.news__open{
							margin-right: 0;
							span{
								width: 15px;
								height: 15px;
							}
						}
					}
					&:nth-child(3), &:nth-child(6){
						display: block;
					}
					&.active{
						.news__content{
							height: 220px;
						}
					}
				}
			}
		}
	}
	#wrapper.about{
		.about{
			.about__image{
				width: 270px;
				margin-right: 40px;
			}
			.about__content{
				width: 650px;
				h2.about__heading{
					font-size: 28px;
				}
				p.about__text{
					font-size: 20px;
					line-height: 1.6;
				}
			}
			.about__text_wide{
				margin-top: 50px;
				width: 960px;
				line-height: 1.6;
				font-size: 20px;
			}
		}
	}
	#wrapper.portfolio{
		.portfolio{
			margin-top: 150px;
			.portfolio__list{
				max-width: 1500px;
				.portfolio__item{
					width: calc(33.33% - 40px);
					&:nth-child(9){
						display: block;
					}
				}
			}
		}
	}
	#wrapper.materials{
		.materials{
			.materials__files{
				width: 1000px;
				.materials__file{
					&:nth-child(9){
						display: flex;
					}
				}
			}
		}
	}
}

@media screen and (min-width: 1440px){
	#wrapper{
		h1.title{
			font-size: 44px;
		}
		.more{
			font-size: 26px;
		}
		.header{
			height: 100px;
			padding: 20px 50px;
			max-width: 1920px;
			z-index: 10;
		}
		.navbar{
			.navbar__item{
				margin-left: 20px;
				margin-right: 20px;
				.navbar__link{
					font-size: 22px;
				}
			}
		}
		.socials{
			.socials__item{
				width: 40px;
				margin-left: 20px;
				margin-right: 20px;
			}
		}
		.main{
			margin-top: 100px;
			max-width: 1920px;
			height: calc(100vh - 100px);
			max-height: 980px;
		}
		.slider-full{
			height: calc(100vh - 100px);
			max-height: 980px;
			.slider-full__slides{
				.slider-full__slide{
					height: calc(100vh - 100px);
					max-height: 980px;
				}
			}
			.slider-full__control{
				height: calc(100vh - 100px);
				max-height: 980px;
				.slider-full__prev{
					left: 60px;
				}
				.slider-full__next{
					right: 60px;
				}
			}
			.screen{
				.screen__background{
					.screen__image{
						width: 100%;
						margin-top: min(calc(50vh - 50px), 490px);
					}
				}
				.screen__content{
					margin-top: min(calc(50vh - 50px), 490px);
					padding: 50px 150px;
					h1.screen__heading{
						font-size: 48px;
						max-width: none;
					}
					h2.screen__heading{
						font-size: 44px;
					}
					h1.screen__heading-wide{
						font-size: 48px;
					}
					.screen__text{
						margin-top: 50px;
						font-size: 28px;
						max-width: 800px;
					}
					.screen__list{
						margin-top: 50px;
						max-width: 900px;
						.screen__list-item{
							font-size: 28px;
							&::before{
								width: 10px;
								height: 10px;
								left: -30px;
							}
						}
					}
					.screen__bold{
						margin-top: 50px;
						font-size: 32px;
					}
				}
			}
		}
		.news{
			margin-top: 80px;
			.news__list{
				max-width: 1100px;
				.news__item{
					.news__content{
						.news__hidden{
							p.news__text{
								line-height: 1.5;
							}
						}
					}
				}
			}
		}
		.about{
			margin-top: 80px;
			.about__image{
				margin-top: 40px;
				max-width: 380px;
			}
			.about__content{
				margin-top: 40px;
				max-width: 700px;
				h2.about__heading{
					font-size: 32px;
				}
				.about__text{
					margin-top: 50px;
					font-size: 24px;
					line-height: 1.4;
				}
				.about__more{
					margin-top: 50px;
				}
			}
		}
		.portfolio{
			margin-top: 120px;
			.portfolio__slider{
				max-width: 1345px;
			}
		}
		.document{
			.document__hidden{
				.document__title{
					font-size: 28px;
				}
			}
		}
		.contacts{
			.contacts__form{
				max-width: 1200px;
				.contacts__input{
					margin-top: 30px;
					max-width: 460px;
					height: 70px;
					padding-left: 20px;
					font-size: 20px;
					margin-left: 15px;
					margin-right: 15px;
					border-radius: 10px;
				}
				.contacts__textarea{
					margin-top: 30px;
					max-width: 950px;
					font-size: 20px;
					padding: 20px;
					border-radius: 10px;
				}
				.contacts__submit{
					margin-top: 50px;
					font-size: 20px;
					height: 70px;
					border-radius: 10px;
				}
			}
		}
		.materials{
			margin-top: 100px;
			.materials__content{
				margin-top: 50px;
				padding: 10px 50px;
				padding-bottom: 40px;
				.materials__files{
					.materials__file{
						margin-top: 40px;
					}
				}
			}
		}
		.file{
			.file__icon{
				width: 60px;
			}
			.file__name{
				margin-left: 15px;
				font-size: 28px;
				margin-top: -2px;
			}
		}


		.news-single{
			margin-top: 150px;
			max-width: 1500px;
			.news-single__heading{
				font-size: 42px;
			}
			.news-single__image{
				width: 500px;
				margin-right: 70px;
			}
			.news-single__text{
				width: 700px;
				font-size: 24px;
				line-height: 1.6;
			}
			.news-single__text_wide{
				margin-top: 60px;
				width: 1270px;
				font-size: 24px;
				line-height: 1.6;
			}
		}
	}
	#wrapper.news{
		margin-top: 100px;
	}
	#wrapper.news-single{
		.news{
			.news__list{
				max-width: 1250px;
			}
		}
	}
	#wrapper.about{
		.about{
			margin-top: 100px;
			.about__image{
				margin-top: 70px;
				width: 350px;
				margin-right: 50px;
			}
			.about__content{
				margin-top: 70px;
				width: 850px;
				max-width: none;
				h2.about__heading{
					font-size: 36px;
				}
				p.about__text{
					font-size: 26px;
				}
			}
			.about__text_wide{
				margin-top: 70px;
				width: 1250px;
				font-size: 26px;
			}
		}
	}
	#wrapper.portfolio{
		.portfolio{
			margin-top: 180px;
		}
	}
	#wrapper.materials{
		.materials{
			margin-top: 150px;
			.materials__files{
				width: 1200px;
				.materials__file{
					margin-top: 40px;
					margin-left: 20px;
					margin-right: 20px;
				}
			}
		}
	}
}

@media screen and (min-width: 1920px){
	
}