.game-container{
	width: 840px;
	height: 840px;
	background-color: #001E32;
	position: absolute;
	top: 50%;
	left: 50%;
	transform: translate(-50%, -50%);
}
.snake-item{
	position: absolute;
	width: 40px;
	height: 40px;
	background-color: lime;
}
.food{
	position: absolute;
	width: 40px;
	height: 40px;
	background-color: orange;
}