*{
    margin: 0;
    padding: 0;
    outline: none;
    box-sizing: border-box;
}

body{
    background-color: #000;
}
img{
    width: 100%;
}

.red{
    background-color: red;
}

.blue{
    background-color: blue;
}

.green{
    background-color: green;
}

#wrapper {
    overflow-x: hidden;

    .preview{
        display: flex;
        height: 100vh;
        position: fixed;
        top: 0;
        left: 0;
        background-color: black;
        z-index: 2;
        transition: opacity .5s ease;

        .preview__heading{
            width: 100%;
            line-height: 1.3;
        }
        .preview__subheading{
            width: 100%;
            line-height: 1.4;
        }
        .preview__button{
            background-color: transparent;
            border: 1px solid white;
            border-radius: 20px;
            padding: 15px 30px;
            font-family: Montserrat;
            font-weight: medium;
            color: white;
            font-size: 20px;
            cursor: pointer;
            opacity: 0.7;
            transition: .5s ease;

            &:hover{
                opacity: 1;
                background-color: white;
                color: black;
            }
        }
    }
    .authorization{
        transition: opacity 1s ease;
        background-color: black;
        height: 100vh;
        position: fixed;
        top: 0;
        left: 0;
        z-index: 2;

        .authorization__close{
            position: absolute;
            top: 20px;
            right: 20px;
        }
        .authorization__content{
            max-width: 400px;

            .authorization__error{
                font-family: Montserrat;
                color: #ef6666;
                font-size: 16px;
            }
        }
    }
    .form{
        .form__input{
            border: none;
            border-bottom: 1px solid white;
            background-color: transparent;
            padding: 10px 15px;
            font-size: 16px;
            color: white;
            opacity: 0.7;
            transition: opacity .5s ease;

            &.error{
                border-color: #ef6666;
                color: #ef6666;
            }
            &:focus{
                opacity: 1;
            }
            &::placeholder{
                color: #989898;
            }
        }
        .form__submit{
            width: 150px;
            padding: 10px 15px;
            font-family: Montserrat;
            font-weight: medium;
            font-size: 16px;
            border-radius: 10px;
            background-color: transparent;
            border: 1px solid white;
            color: white;
            opacity: 0.7;
            transition: .5s ease;

            &:hover{
                opacity: 1;
                background-color: white;
                color: black;
            }
        }
        .form__link{
            cursor: pointer;
            font-family: Montserrat;
            font-weight: medium;
            color: white;
            font-size: 16px;
            opacity: 0.7;
            transition: opacity .5s ease;

            &:hover{
                opacity: 1;
            }
        }
    }
    .menu{
        transition: opacity 1s ease;
        display: flex;
        height: 100vh;
        position: fixed;
        top: 0;
        left: 0;
        background-color: black;
        z-index: 1;

        .menu__close{
            position: absolute;
            top: 20px;
            right: 20px;
        }
    }
    .close{
        cursor: pointer;
        width: 40px;
        height: 40px;
        opacity: 0.7;
        transition: .5s ease;

        &:hover{
            opacity: 1;
        }
        .close__line{
            width: 35px;
            height: 3px;
            background-color: white;
            position: absolute;
            top: 50%;
            left: 50%;

            &:nth-child(1){
                transform: translate(-50%, -50%) rotate(45deg);
            }
            
            &:nth-child(2){
                transform: translate(-50%, -50%) rotate(-45deg);
            }
        }
    }
    .socials{
        transition: opacity 1s ease;
        .socials__list{
            .socials__item{
                list-style: none;
                width: 70px;

                .socials__link{
                    opacity: 0.7;
                    transition: .5s ease;

                    &:hover{
                        opacity: 1;
                    }
                }
            }
        }
    }
    .auth{
        transition: opacity 1s ease;
        .auth__login{
            background-color: transparent;
            color: white;
            border: 1px solid white;
            font-family: Montserrat;
            font-weight: medium;
            padding: 15px 30px;
            font-size: 22px;
            border-radius: 20px;
            opacity: 0.7;
            transition: .5s ease;

            &:hover{
                opacity: 1;
                color: black;
                background-color: white;
            }
        }
        .auth__user{
            cursor: pointer;

            .auth__username{
                font-family: Montserrat;
                font-weight: medium;
                font-size: 22px;
                color: white;
                opacity: 0.7;
                transition: opacity .5s ease;
            }
            .auth__avatar{
                width: 50px;
                opacity: 0.7;
                margin-left: 15px;
                transition: opacity .5s ease;
            }
            &:hover{
                .auth__username, .auth__avatar{
                    opacity: 1;
                }
            }
        }
    }

    .torch{
        transition: opacity 1s ease;
        .torch__video{
            width: 20px;
        }
    }

    .volume{
        transition: opacity 1s ease;
        .volume__button{
            width: 35px;
            background-color: transparent;
            border: none;
            opacity: 0.7;
            transition: opacity .5s ease;
            cursor: pointer;
            position: relative;

            &:hover{
                opacity: 1;
            }
            &::after{
                content: "";
                display: block;
                width: 120%;
                height: 7%;
                background-color: red;
                position: absolute;
                top: 50%;
                left: 50%;
                transform: translate(-50%, -50%) rotate(45deg);
                opacity: 0;
                transition: opacity .5s ease;
            }
            &.disabled{
                &::after{
                    opacity: 1;
                }
            }
        }
    }
    .logo{
        transition: opacity 1s ease;
        .logo__link{
            max-width: 200px;
            transition: opacity .5s ease;

            &:hover{
                opacity: 0.7;
            }
        }
    }

    .burger{
        transition: opacity 1s ease;
        .burger__icon{
            width: 28px;
            height: 25px;
            position: relative;
            opacity: 0.7;
            cursor: pointer;
            transition: opacity .5s ease;

            &:hover{
                opacity: 1;
            }
            .burger__line{
                height: 3px;
                background-color: white;
                position: absolute;
                left: 50%;
                transform: translate(-50%, 0);
                
                &:nth-child(1){
                    top: 0;
                }
                &:nth-child(2){
                    top: 50%;
                    transform: translate(-50%, -50%);
                }
                &:nth-child(3){
                    bottom: 0;
                }
            }
        }
    }

    .heading{
        font-family: Montserrat;
        font-weight: bold;
        color: #c8c8c8;
        letter-spacing: 1px;
        font-size: 28px;
    }

    .heroes{
        transition: opacity 1s ease;
        .heroes__list{
            max-width: 350px;
        }
    }

    .hero{
        list-style: none;
        position: relative;

        .hero__hidden{
            position: absolute;
            top: 0;
            left: 0;
            opacity: 0;
            transition: opacity .5s ease;
            cursor: pointer;

            &:hover{
                opacity: 1;
            }
            .hero__darkness{
                position: absolute;
                top: 0;
                left: 0;
                background-color: black;
                opacity: 0.5;
            }
            .hero__title{
                position: absolute;
                top: 50%;
                left: 50%;
                transform: translate(-50%, -50%);
                font-family: Montserrat;
                font-weight: medium;
                color: #c8c8c8;
                font-size: 16px;
            }
        }
    }

    .subheading{
        font-family: Montserrat;
        font-weight: bold;
        color: #c8c8c8;
        font-size: 18px;
    }
    .annotation{
        transition: opacity 1s ease;
        .annotation__text{
            font-family: Montserrat;
            font-weight: normal;
            font-size: 14px;
            color: #999;
        }
        .annotation__quote{
            font-family: Montserrat;
            font-weight: medium;
            color: #ced63c;
            font-size: 18px;
        }
    }
    .prologue{
        .prologue__text{
            font-family: Montserrat;
            font-weight: normal;
            font-size: 14px;
            color: #999;
        }
    }
    .contact{
        transition: opacity 1s ease;
    }
    .buy, .contact{
        .buy__button, .contact__button{
            box-sizing: border-box;
            width: 200px;
            font-family: Montserrat;
            border: 1px solid #c8c8c8;
            color: #c8c8c8;
            border-radius: 15px;
            background-color: transparent;
            padding: 15px 0;
            font-size: 20px;
            cursor: pointer;
            transition: .5s ease;

            &:hover{
                background-color: #c8c8c8;
                color: black;
            }
        }
    }
    .footer{
        .footer__content{
            font-family: Montserrat;
            color: #c8c8c8;
            font-size: 16px;
        }
    }
}
#wrapper.account{
    min-height: 100vh;

    .header{
        height: 100px;
    }
    .main{
        min-height: calc(100vh - 160px);
    }
    .book{
        .book__wrapper{
            border: 1px solid #333;
            max-width: 1000px;
            height: calc(100vh - 235px);
            position: relative;

            .book__content{
                position: absolute;
                top: 0;
                left: 0;
                height: calc(100% - 60px);
                overflow: auto;
                z-index: 1;
                scrollbar-width: thin;
                scrollbar-color: #c8c8c8 black;
            }
            .book__nav{
                overflow: auto;
                height: calc(100% - 60px);
                scrollbar-width: thin;
                scrollbar-color: #c8c8c8 black;
            }
            .book__controls{
                border-top: 1px solid #333;
                height: 60px;
                position: absolute;
                left: 0;
                bottom: 0;
                background-color: black;
            }
        }
    }
    .content{
        background-color: black;
        .content__heading{
            font-family: Montserrat;
            font-weight: bold;
            color: #c8c8c8;
            font-size: 20px;
        }
        .content__text{
            font-family: Montserrat;
            font-size: 16px;
            color: #c8c8c8;
        }
    }
    .controls{
        .controls__list{
            cursor: pointer;
            width: 40px;
            opacity: 0.7;
            transition: opacity .5s ease;

            &:hover{
                opacity: 1;
            }
            &.active{
                opacity: 1;
            }
        }
    }
    .nav{
        .nav__list{
            .nav__item{
                list-style: none;
                cursor: pointer;
                font-family: Montserrat;
                color: white;
                opacity: 0.7;
                transition: opacity .5s ease;
                font-size: 16px;

                &:hover{
                    opacity: 1;
                }
                &.active{
                    opacity: 1;
                }
                &.nav__disabled{
                    cursor: auto;
                    opacity: 1;
                    font-weight: bold;
                }
            }
        }
    }
}

@media screen and (min-width: 576px) {
    #wrapper{

        .volume{
            .volume__button{
                width: 45px;
            }
        }

        .burger{
            .burger__icon{
                width: 30px;
                height: 30px;
                .burger__line{
                    height: 4px;
                }
            }
        }
        .buy, .contact{
            .buy__button, .contact__button{
                width: 220px;
                border: 2px solid #c8c8c8;
                border-radius: 20px;
                padding: 20px 0;
                font-size: 22px;
            }
        }
    }
}

@media screen and (min-width: 768px) {
    #wrapper{
        .preview{
            .preview__heading{
                width: 75%;
            }
            .preview__subheading{
                width: 75%;
            }
            .preview__button{
                padding: 15px 40px;
                font-size: 22px;
            }
        }
        .authorization{
            .authorization__content{
                max-width: 420px;
                .authorization__error{
                    font-size: 18px;
                }
            }
        }
        .form{
            .form__input{
                font-size: 18px;
            }
            .form__submit{
                width: 200px;
                padding: 15px 15px;
                font-size: 20px;
                border-radius: 20px;
            }
        }
        .volume{
            .volume__button{
                width: 35px;
            }
        }
        .socials{
            .socials__list{
                .socials__item{
                    width: 35px;
                }
            }
        }
        .auth{
            .auth__login{
                padding: 5px 15px;
                font-size: 16px;
                border-radius: 10px;

                &:hover{
                    opacity: 1;
                    color: black;
                    background-color: white;
                }
            }
            .auth__user{
                .auth__username{
                    font-size: 16px;
                }
                .auth__avatar{
                    width: 30px;
                    margin-left: 10px;
                }
                &:hover{
                    .auth__username, .auth__avatar{
                        opacity: 1;
                    }
                }
            }
        }
        .torch{
            transition: opacity 1s ease;
            .torch__video{
                width: 40px;
            }
        }
        .subheading{
            font-size: 20px;
        }
        .annotation{
            .annotation__text{
                font-size: 16px;
            }
            .annotation__quote{
                font-size: 20px;
            }
        }
        .prologue{
            .prologue__text{
                font-size: 16px;
            }
        }
        .footer{
            .footer__content{
                font-size: 18px;
            }
        }
    }
    #wrapper.account{
        .content{
            .content__heading{
                font-size: 24px;
            }
            .content__text{
                font-size: 18px;
            }
        }
    }
}

@media screen and (min-width: 992px) {
    #wrapper{
        .authorization{
            .authorization__content{
                max-width: 570px;
            }
        }
        .form{
            .form__input{
                max-width: 450px;
                font-size: 20px;
                padding: 15px;
            }
            .form__submit{
                width: 200px;
                padding: 15px 15px;
                font-size: 20px;
                border-radius: 20px;
            }
        }
        .logo{
            .logo__link{
                max-width: 270px;
            }
        }
        .volume{
            .volume__button{
                width: 50px;
            }
        }
        .socials{
            .socials__list{
                .socials__item{
                    width: 50px;
                    margin-left: 15px;
                    margin-right: 15px;
                }
            }
        }
        .auth{
            .auth__login{
                font-size: 20px;
                padding: 7px 25px;
            }
            .auth__user{
                .auth__username{
                    font-size: 20px;
                }
                .auth__avatar{
                    width: 40px;
                }
            }
        }
        .torch{
            .torch__video{
                width: 60px;
            }
        }
        .heading{
            font-size: 34px;
        }
        .heroes{
            .heroes__list{
                max-width: 450px;
            }
        }
        .hero{
            .hero__hidden{
                .hero__title{
                    font-size: 20px;
                }
            }
        }
    }
    #wrapper.account{
        .header{
            height: 141px;
        }
        .main{
            min-height: calc(100vh - 200px);
        }
        .book{
            .book__wrapper{
                height: calc(100vh - 290px);

                .book__content{
                    position: static;
                    height: 100%;
                }
                .book__nav{
                    border-left: 1px solid #333;
                    height: 100%;
                }
            }
        }
        .nav{
            .nav__list{
                .nav__item{
                    font-size: 14px;
                }
            }
        }
    }
}

@media screen and (min-width: 1200px) {
    #wrapper{
        .preview{
            .preview__heading{
                width: 65%;
            }
            .preview__subheading{
                width: 65%;
            }
        }
        .logo{
            .logo__link{
                max-width: 300px;
            }
        }
        .heroes{
            .heroes__list{
                max-width: 550px;
            }
        }
        .heading{
            font-size: 40px;
        }
        .hero{
            .hero__hidden{
                .hero__title{
                    font-size: 24px;
                }
            }
        }
        .subheading{
            font-size: 22px;
        }
        .annotation{
            .annotation__text{
                font-size: 18px;

                i{
                    font-size: 16px;
                }
            }
            .annotation__quote{
                font-size: 22px;
            }
        }
        .prologue{
            .prologue__text{
                font-size: 18px;
            }
        }
    }
    #wrapper.account{
        .header{
            height: 153px;
        }
        .main{
            min-height: calc(100vh - 215px);
        }
        .book{
            .book__wrapper{
                height: calc(100vh - 300px);
            }
        }
        .nav{
            .nav__list{
                .nav__item{
                    font-size: 16px;
                }
            }
        }
        .content{
            .content__heading{
                font-size: 28px;
            }
        }
    }
}

@media screen and (min-width: 1400px) {
    
}