*{
	padding: 0;
	margin: 0;
}
.darkness{
	width: 100vw;
	height: 100vh;
	position: absolute;
	top: 0;
	left: 0;
	background-color: rgba(0, 0, 0, 0.5);
	z-index: 3;
	transition: .5s ease;
	opacity: 0;
	display: none;
}

@media screen and (min-width: 320px){

	#main-background{
		position: absolute;
		width: 100%;
		max-width: 2048px;
		margin-left: 50%;
		transform: translate(-50%, 0);
	}
	#main-background img{
		width: 100%;
	}

	#main-wrapper{
		width: 100%;
		display: block;
		background-color: #F6F6F9;
	}

	header.main{
		background-image: url(../img/main-background.jpg);
		width: 100%;
		background-position: center center;
		background-repeat: no-repeat;
		display: flex;
		flex-wrap: wrap;
		justify-content: center;
		box-sizing: border-box;
		padding: 15px;
		max-height: 990px;
		max-width: 2048px;
		margin-bottom: 100px;
	}

	header.main .logo{
		order: 1;
		width: 80%;
		max-width: 400px;
		position: relative;
	}
	header.main .logo a{
		display: block;
		position: absolute;
		left: 50%;
		transform: translate(-50%, 0);
		height: 100%;
	}
	header.main .logo img{
		height: 100%;
	}

	header.main .nav{
		width: 20%;
		max-width: 100px;
	}
	header.main .nav .navbar{
		display: none;
	}
	header.main .nav .dropdown-burger{
		position: relative;
		cursor: pointer;
		width: 40px;
	}
	header.main .nav .dropdown-burger:hover span{
		background-color: #ccc;
	}
	header.main .nav .dropdown-burger span{
		display: block;
		width: 40px;
		height: 4px;
		background-color: #F6F6F6;
		margin: 7px 0;
		border-radius: 2px;
		transition: .3s ease;
	}
	header.main .nav .dropdown-menu{
		position: absolute;
		top: 0;
		left: 0;
		background-color: #30394C;
		width: 70%;
		transform: translate(-101%, 0);
		box-sizing: border-box;
		padding: 20px;
		z-index: 100;
		height: 100vh;
		transition: transform .5s ease;
	}
	header.main .nav .dropdown-item{
		box-sizing: border-box;
		padding: 10px;
		list-style: none;
		transition: .3s ease;
	}
	header.main .nav .dropdown-item:hover a{
		color: #ccc;
	}
	header.main .nav .dropdown-item a{
		color: #EDEDF1;
		font-size: 16px;
		text-decoration: none;
		font-family: Proxima Nova Rg;
	}

	header.main .text{
		order: 3;
		width: 90%;
		margin-top: 120px;
		margin-bottom: 120px;
		color: white;
		text-align: center;
	}
	header.main .text h1{
		font-size: 1.5em;
		font-family: Proxima Nova Th;
	}
	header.main .text p{
		font-size: 1em;
		font-family: Proxima Nova Rg;
		margin-top: 15px;
		margin-bottom: 50px;
	}
	header.main .text a{
		display: block;
		width: 250px;
		height: 50px;
		text-align: center;
		line-height: 50px;
		margin-top: 20px;
		margin-left: 50%;
		transform: translate(-50%, 0);
		border-radius: 25px;
		border: 2px solid #568DCB;
		color: #F6F6F6;
		font-size: 0.8em;
		font-family: Proxima Nova Rg;
		font-weight: bold;
		text-decoration: none;
		transition: background-color .3s ease;
	}
	header.main .text a:hover{
		background-color: #568DCB;
	}
	

	#online{
		width: 100%;
		max-width: 2048px;
		display: flex;
		justify-content: center;
		padding-bottom: 100px;
	}
	#online .avatar{
		width: 70px;
		height: 70px;
		background-color: #30394C;
		border-radius: 50%;
		position: relative;
	}
	#online .avatar .point{
		width: 20px;
		height: 20px;
		border-radius: 50%;
		background-color: #F6F6F9;
		position: absolute;
		right: 0;
		bottom: 0;
	}
	#online .avatar .point::after{
		content: "";
		width: 10px;
		height: 10px;
		border-radius: 50%;
		position: absolute;
		right: 5px;
		bottom: 5px;
		background-color: #00B770;
	}
	#online .people-online{
		padding: 10px;
	}
	#online .people-online h1{
		font-family: Proxima Nova Rg;
		font-weight: 600;
		color: #30394C;
		font-size: 1.5em;
	}
	#online .people-online span{
		font-family: 'Proxima Nova Lt';
		font-weight: 600;
		color: #00B770;
		font-size: 0.8em;
	}

	#about{
		width: 100%;
		max-width: 2048px;
		margin-left: 50%;
		transform: translate(-50%, 0);
		padding-bottom: 70px;
	}
	#about .card{
		background-color: white;
		width: 80%;
		margin-left: 50%;
		transform: translate(-50%, 0);
		border-radius: 25px;
	}
	#about .card .image{
		width: 100%;
		height: 40vw;
		background-image: url(../img/about.jpg);
		background-position: center center;
		background-repeat: no-repeat;
		background-size: 150%;
		border-radius: 25px 25px 0 0;
	}
	#about .card .text{
		padding: 20px;
	}
	#about .card .text h1{
		font-size: 1.5em;
		font-family: Proxima Nova Th;
		color: #444b61;
		letter-spacing: 1px;
	}
	#about .card .text p{
		margin-top: 15px;
		color: #363c4d;
		font-size: 0.8em;
		font-family: Proxima Nova Rg;
	}

	#start{
		width: 100%;
		max-width: 2048px;
		margin-left: 50%;
		transform: translate(-50%, 0);
		margin-top: 50px;
	}
	#start .actions{
		width: 90%;
		margin-left: 50%;
		transform: translate(-50%, 0);
	}
	#start .actions li{
		list-style: none;
		display: flex;
		flex-wrap: wrap;
		justify-content: space-between;
		position: relative;
	}
	#start .actions li .number{
		display: block;
		width: 7vw;
		height: 7vw;
		border-radius: 50%;
		border: 1px solid rgba(54, 60, 77, 0.5);
		text-align: center;
		font-size: 1.2em;
		line-height: 7vw;
		color: rgba(54, 60, 77, 0.5);
		font-family: Proxima Nova Rg;
	}
	#start .actions .text{
		width: 90%;
	}
	#start .actions .text h1{
		font-size: 1.5em;
		color: #363c4d;
		font-family: Proxima Nova Rg;
	}
	#start .actions p{
		font-size: 1em;
		color: #444b61;
		margin-top: 10px;
		font-family: Proxima Nova Lt;
	}
	#start .actions a{
		width: 286px;
		height: 59px;
		border: 2px solid #698cc8;
		border-radius: 15px;
		text-align: center;
		line-height: 59px;
		text-decoration: none;
		color: #698cc8;
		transition: .3s ease;
		font-family: Proxima Nova Rg;
		font-weight: 600;
		position: relative;
		left: 100%;
		transform: translate(-100%, 0);
		margin-top: 10px;
		margin-bottom: 20px;
	}
	#start .actions a:hover{
		background-color: #698cc8;
		color: white;
	}

	#start .bg{
		display: none;
	}

	#auth{
		display: none;
		opacity: 0;
		position: absolute;
		top: 50vh;
		left: 50vw;
		transform: translate(-50%, -50%);
		z-index: 4;
		background-color: #f6f6f9;
		width: 300px;
		height: 431px;
		box-sizing: border-box;
		border-radius: 40px;
		transition: .3s ease;
	}
	#auth .exit{
		position: absolute;
		top: 20px;
		right: 20px;
		width: 20px;
		height: 20px;
		cursor: pointer;
	}
	#auth .exit span{
		display: block;
		width: 100%;
		height: 1px;
		background-color: #698cc8;
		position: absolute;
		top: 50%;
		transform: translate(0, -50%);
		transition: .3s ease;
	}
	#auth .exit span:nth-child(1){
		transform: rotate(45deg);
	}
	#auth .exit span:nth-child(2){
		transform: rotate(-45deg);
	}
	#auth .exit:hover span{
		background-color: black;
	}

	#auth h1{
		font-size: 2em;
		font-family: Proxima Nova Rg;
		font-weight: 600;
		color: #444b61;
		text-align: center;
		padding-top: 50px;
	}
	#auth .error{
		opacity: 0;
		color: #444b61;
		font-size: 0.9em;
		text-align: center;
		font-family: Proxima Nova Rg;
		margin-top: 10px;
	}

	#auth form{
		margin-top: 10px;
		display: flex;
		flex-wrap: wrap;
		justify-content: center;
	}
	#auth form input{
		height: 50px;
		width: 250px;
		margin-top: 15px;
		box-sizing: border-box;
		font-size: 1em;
		font-family: Proxima Nova Rg;
		padding: 10px;
		border: none;
		border-radius: 15px;
		color: #363c4d;
		box-shadow: 0 0 7px rgba(0, 1, 5, 0.08);
	}
	#auth form input:focus{
		outline: none;
	}
	#auth form a{
		margin-top: 20px;
		color: #444b61;
		font-family: "Proxima Nova";
		font-size: 1em;
		font-weight: 700;
		text-decoration: none;
		width: 100%;
		text-align: center;
	}
	#auth form button{
		width: 150px;
		background-color: rgba(0, 0, 0, 0.0);
		border: 2px solid #698cc8;
		color: #698cc8;
		border-radius: 10px;
		height: 50px;
		margin-top: 20px;
		font-size: 1.1em;
		font-family: Proxima Nova Rg;
		font-weight: 600;
		cursor: pointer;
		transition: .3s ease;
	}
	#auth form button:hover{
		background-color: #698cc8;
		color: white;
		box-shadow: 0 0 7px rgba(0, 1, 5, 0.2);
	}

	footer .top{
		width: 100%;
		height: 140px;
		background-color: #363c4d;
		position: relative;
	}
	footer .top .socials{
		width: 150px;
		position: absolute;
		left: 50%;
		top: 50%;
		transform: translate(-50%, -50%);
		display: flex;
		flex-wrap: wrap;
		justify-content: space-between;
	}
	footer .top .socials .image{
		width: 60px;
		height: 60px;
		border-radius: 20px;
		background-color: #3c4254;
		position: relative;
	}
	footer .top .socials .image img{
		width: 60%;
		position: absolute;
		top: 50%;
		left: 50%;
		transform: translate(-50%, -50%);
	}
	footer .top .socials .image .hover{
		opacity: 0;
		transition: .3s ease;
	}
	footer .top .socials .image:hover .hover{
		opacity: 1;
	}
	footer .top .scroll-top{
		position: absolute;
		top: 50%;
		right: 10%;
		transform: translate(-50%, 0);
	}
	footer .top .scroll-top .chevron{
		display: block;
		width: 15px;
		height: 15px;
		border-top: 3px solid #6070b1;
		border-right: 3px solid #6070b1;
		transform: rotate(-45deg);
		cursor: pointer;
		transition: .3s ease;
	}
	footer .top .scroll-top .chevron:hover{
		border-color: #7b90e3;
	}

	footer .bottom{
		width: 100%;
		height: 90px;
		box-sizing: border-box;
		background-color: #1a1c23;
		text-align: center;
	}
	footer .bottom h1{
		padding-top: 20px;
		font-size: 1.3em;
		color: #f6f6f6;
	}
	footer .bottom span{
		display: block;
		margin-top: 10px;
		font-size: 1em;
		color: #d5d5d5;
	}
}

@media screen and (min-width: 425px){

	#about .card .text h1{
		font-size: 2em;
	}
	#about .card .text p{
		font-size: 1em;
	}

	#start .actions li .number{
		width: 30px;
		height: 30px;
		line-height: 30px;
	}

	#auth{
		width: 400px;
	}
	#auth form input{
		width: 300px;
		font-size: 1.3em;
	}
	#auth form button{
		width: 200px;
	}

}

@media screen and (min-width: 768px){

	header.main .text{
		width: 60%;
	}
	header.main .text h1{
		font-size: 2em;
	}
	header.main .text p{
		margin-bottom: 20px;
	}
	header.main .text a{
		width: 360px;
		height: 66px;
		line-height: 66px;
		border-radius: 33px;
	}

	#online .avatar{
		width: 100px;
		height: 100px;
	}
	#online .avatar .point{
		width: 25px;
		height: 25px;
	}
	#online .avatar .point::after{
		width: 15px;
		height: 15px;
	}
	#online .people-online{
		padding: 20px;
	}
	#online .people-online h1{
		font-size: 2em;
	}
	#online .people-online span{
		font-size: 1.5em;
	}

	#start .actions{
		width: 60%;
	}
	#start .actions li .number{
		width: 40px;
		height: 40px;
		line-height: 40px;
		font-size: 1.5em;
	}
	#start .actions li .text{
		width: 90%;
		box-sizing: border-box;
		padding: 5px;
	}

	footer .top .socials{
		width: 200px;
	}
	footer .top .socials .image{
		width: 75px;
		height: 75px;
		border-radius: 25px;
		background-color: #3c4254;
		position: relative;
	}

	footer .top .scroll-top{
		right: 5%;
	}
	footer .top .scroll-top .chevron{
		width: 20px;
		height: 20px;
		border-top: 4px solid #6070b1;
		border-right: 4px solid #6070b1;
	}

	#auth{
		width: 442px;
		height: 431px;
	}
	#auth .error{
		font-size: 1em;
	}

}

@media screen and (min-width: 1024px){

	header.main{
		margin-bottom: 150px;
	}
	header.main .nav .dropdown{
		display: none;
	}
	header.main .logo{
		order: 0;
		width: 20%;
		max-width: 500px;
	}
	header.main .logo a{
		display: block;
		position: absolute;
		top: 50%;
		left: 50%;
		transform: translate(-50%, -50%);
		height: 80%;
	}
	header.main .nav{
		order: 1;
		width: 75%;
		max-width: 1200px;
		z-index: 1;
	}
	header.main .nav .navbar{
		display: flex;
		flex-wrap: wrap;
		justify-content: space-around;
	}
	header.main .nav .navbar-menu{
		display: flex;
	}
	header.main .nav .navbar-menu .navbar-item{
		margin: 20px 1vw;
		margin-left: 0;
		list-style: none;
	}
	header.main .nav .navbar-menu .navbar-item a{
		color: #F6F6F6;
		text-decoration: none;
		font-family: Proxima Nova Lt;
		font-weight: 600;
		transition: .3s ease;
		font-size: 1.2em;
		padding: 5px;
	}
	header.main .nav .navbar-menu .navbar-item:hover a{
		color: #ccc;
	}

	header.main .nav .navbar .navbar-personal a{
		display: block;
		transition: background-color .3s ease;
		border: 2px solid #568DCB;
		border-radius: 15px;
		width: 180px;
		height: 50px;
		text-align: center;
		line-height: 50px;
		margin-left: 2vw;
		margin-top: 5px;
		color: #F6F6F6;
		text-decoration: none;
		font-family: Proxima Nova Lt;
		font-weight: 600;
	}
	header.main .nav .navbar .navbar-personal a:hover{
		background-color: #568DCB;
	}

	header.main .text{
		margin-top: 200px;
		margin-bottom: 240px;
		width: 60%;
		max-width: 1000px;
	}
	header.main .text h1{
		font-size: 3em;
		letter-spacing: 2px;
	}
	header.main .text p{
		margin-top: 10px;
		font-size: 1.5em;
		margin-bottom: 70px;
	}
	header.main .text a{
		font-size: 1.1em;
		border-radius: 60px;
	}

	#online{
		padding-bottom: 150px;
	}
	#online .avatar{
		width: 150px;
		height: 150px;
		background-color: #30394C;
		border-radius: 50%;
		position: relative;
	}
	#online .avatar .point{
		width: 35px;
		height: 35px;
		border-radius: 50%;
		background-color: #F6F6F9;
		position: absolute;
		right: 5px;
		bottom: 5px;
	}
	#online .avatar .point::after{
		content: "";
		width: 25px;
		height: 25px;
		border-radius: 50%;
		position: absolute;
		right: 5px;
		bottom: 5px;
		background-color: #00B770;
	}
	#online .people-online{
		padding: 40px;
	}
	#online .people-online h1{
		font-family: Proxima Nova Rg;
		font-weight: 600;
		color: #30394C;
		font-size: 36px;
	}
	#online .people-online span{
	font-family: 'Proxima Nova Lt';
	color: #00B770;
	font-size: 18px;
	margin-top: 5px;
	}

	#about{
		margin-top: 60px;
		padding-bottom: 120px;
	}
	#about .card{
		display: flex;
		flex-wrap: wrap;
		background-color: rgba(0, 0, 0, 0.0);
		position: relative;
	}
	#about .card .image{
		border-radius: 0;
		width: 50%;
		order: 1;
		background-size: 150%;
		background-position: center right;
		height: 100%;
		position: absolute;
		right: 0;
	}
	#about .card .text{
		box-sizing: border-box;
		padding: 50px 20px;
		width: 50%;
		order: 0;
		background-color: white;
		height: 100%;
	}
	#about .card .text::before{
		content: "";
		width: 200px;
		height: 200px;
		background-color: #698cc8;
		position: absolute;
		z-index: -1;
		top: -20px;
		left: -20px;
	}
	#about .card{
		width: 70%;
	}

	#start{
		margin-top: 200px;
		margin-bottom: 250px;
	}
	#start .actions li{
		height: 200px;
	}
	#start .actions li .number{
		width: 40px;
		height: 40px;
		line-height: 40px;
		margin-top: 10px;
	}
	#start .actions li:nth-child(odd) .number::before{
		content: "";
		position: absolute;
		top: 30px;
		left: -130px;
		width: 100px;
		height: 200px;
		border-radius: 100px 0 0 100px;
		border: 2px solid #698cc8;
		border-right: 2px solid #f6f6f9;
		opacity: 0.5;
	}
	#start .actions li:nth-child(2) .number::after{
		content: "";
		position: absolute;
		top: 60px;
		right: -130px;
		width: 100px;
		height: 200px;
		border-radius: 0 100px 100px 0;
		border: 2px solid #698cc8;
		border-left: none;
		opacity: 0.5;
	}

	#start .bg{
		display: block;
		width: 100%;
		overflow: hidden;
	}
	#start .bg img{
		position: absolute;
		right: 5vw;
		bottom: 1vw;
		z-index: -1;
	}

	#auth{
		width: 703px;
		height: 488px;
	}
	#auth .exit{
		right: 30px;
		top: 30px;
	}
	#auth form input{
		width: 549px;
		height: 66px;
		padding: 23px;
		font-size: 18px;
	}
	#auth form img.show{
		width: 24px;
		height: 14px;
		position: absolute;
		top: 250px;
		right: 110px;
		cursor: pointer;
	}
	#auth form a{
		width: 50%;
		margin-top: 70px;
		line-height: 66px;
		text-align: left;
		box-sizing: border-box;
		padding-left: 60px;
	}
	#auth form button{
		margin-top: 70px;
		height: 66px;
		width: 253px;
		margin-right: 45px;
	}

}

@media screen and (min-width: 1440px){

	
	header.main{
		margin-left: 50%;
		transform: translate(-50%, 0);
		margin-bottom: 200px;
	}
	
	header.main .nav .navbar-menu{
		box-sizing: border-box;
		padding-left: 2vw;
	}
	header.main .nav .navbar-menu .navbar-item{
		margin: 20px 4.3vw;
		margin-left: 0;
	}

	header.main .nav .navbar .navbar-personal a{
		margin-left: 1vw;
		width: 222px;
	}

	#online{
		margin-left: 50%;
		transform: translate(-50%, 0);
		padding-bottom: 200px;
	}

	#about .card .text::before{
		width: 250px;
		height: 250px;
		left: -40px;
		top: -40px;
	}
	#about .card .text{
		padding: 80px 60px;
	}
	#about .card .text p{
		margin-top: 30px;
		font-size: 1.2em;
	}

	#start .actions{
		width: 40%;
	}

}

@media screen and (min-width: 2000px){
	
	header.main .nav .navbar-menu .navbar-item{
		margin: 20px 30px;
		list-style: none;
	}
	header.main .nav .navbar .navbar-personal a{
		margin-left: 50px;
	}

}