*{
	padding: 0;
	margin: 0;
}
.darkness{
	width: 100%;
	height: 100vh;
	position: absolute;
	top: 0;
	left: 0;
	background-color: rgb(54, 60, 77, 0.7)
	;
	z-index: 3;
	transition: .5s ease;
	opacity: 0;
	display: none;
}

@media screen and (min-width: 320px){

	#main-background{
		position: absolute;
		width: 100%;
		max-width: 2048px;
		margin-left: 50%;
		transform: translate(-50%, 0);
	}
	#main-background img{
		width: 100%;
	}

	#main-wrapper{
		width: 100%;
		display: block;
		background-color: #F6F6F9;
		position: relative;
	}

	#main-wrapper header{
		background-image: url(../img/main-background.jpg);
		margin-bottom: 120px;
	}

	header{
		width: 100%;
		background-size: cover;
		background-position: center center;
		background-repeat: no-repeat;
		display: flex;
		flex-wrap: wrap;
		justify-content: center;
		box-sizing: border-box;
		padding: 15px;
		max-height: 990px;
		max-width: 2048px;
	}

	header .logo{
		order: 1;
		width: 80%;
		max-width: 400px;
		position: relative;
	}
	header .logo a{
		display: block;
		position: absolute;
		left: 40%;
		transform: translate(-50%, 0);
		height: 100%;
	}
	header .logo img{
		height: 100%;
	}

	header .nav{
		width: 20%;
		max-width: 100px;
	}
	header .nav .navbar{
		display: none;
	}
	header .nav .dropdown-burger{
		position: relative;
		cursor: pointer;
		width: 40px;
	}
	header .nav .dropdown-burger:hover span{
		background-color: #ccc;
	}
	header .nav .dropdown-burger span{
		display: block;
		width: 40px;
		height: 4px;
		background-color: #F6F6F6;
		margin: 7px 0;
		border-radius: 2px;
		transition: .3s ease;
	}
	header .nav .dropdown-menu{
		position: absolute;
		top: 0;
		left: 0;
		background-color: #30394C;
		width: 70%;
		transform: translate(-101%, 0);
		box-sizing: border-box;
		padding: 20px;
		z-index: 100;
		height: 100vh;
		transition: transform .5s ease;
	}
	header .nav .dropdown-item{
		box-sizing: border-box;
		padding: 10px;
		list-style: none;
		transition: .3s ease;
	}
	header .nav .dropdown-item:hover a{
		color: #ccc;
	}
	header .nav .dropdown-item a{
		color: #EDEDF1;
		font-size: 16px;
		text-decoration: none;
		font-family: Proxima Nova Rg;
	}

	header .text{
		order: 3;
		width: 90%;
		margin-top: 120px;
		margin-bottom: 120px;
		color: white;
		text-align: center;
	}
	header .text h1{
		font-size: 1.5em;
		font-family: Proxima Nova Th;
	}
	header .text p{
		font-size: 1em;
		font-family: Proxima Nova Rg;
		margin-top: 15px;
		margin-bottom: 50px;
	}
	header .text a.start, header .text a.connect{
		display: block;
		width: 250px;
		height: 50px;
		text-align: center;
		line-height: 50px;
		margin-top: 20px;
		margin-left: 50%;
		transform: translate(-50%, 0);
		border-radius: 25px;
		border: 2px solid #568DCB;
		color: #F6F6F6;
		font-size: 0.8em;
		font-family: Proxima Nova Rg;
		font-weight: bold;
		text-decoration: none;
		transition: background-color .3s ease;
	}
	header .text a.start:hover, header .text a.connect:hover{
		background-color: #568DCB;
	}
	

	#online{
		width: 100%;
		max-width: 2048px;
		display: flex;
		justify-content: center;
		padding-bottom: 100px;
	}
	#online .avatar{
		width: 70px;
		height: 70px;
		background-color: #30394C;
		border-radius: 50%;
		position: relative;
	}
	#online .avatar .point{
		width: 20px;
		height: 20px;
		border-radius: 50%;
		background-color: #F6F6F9;
		position: absolute;
		right: 0;
		bottom: 0;
	}
	#online .avatar .point::after{
		content: "";
		width: 10px;
		height: 10px;
		border-radius: 50%;
		position: absolute;
		right: 5px;
		bottom: 5px;
		background-color: #00B770;
	}
	#online .people-online{
		padding: 10px;
	}
	#online .people-online h1{
		font-family: Proxima Nova Rg;
		font-weight: 600;
		color: #30394C;
		font-size: 1.5em;
	}
	#online .people-online span{
		font-family: 'Proxima Nova Lt';
		font-weight: 600;
		color: #00B770;
		font-size: 0.8em;
	}

	#about{
		width: 100%;
		max-width: 2048px;
		margin-left: 50%;
		transform: translate(-50%, 0);
		padding-bottom: 70px;
	}
	#about .card{
		background-color: white;
		width: 80%;
		margin-left: 50%;
		transform: translate(-50%, 0);
		border-radius: 25px;
	}
	#about .card .image{
		width: 100%;
		height: 40vw;
		background-image: url(../img/about.jpg);
		background-position: center center;
		background-repeat: no-repeat;
		background-size: 150%;
		border-radius: 25px 25px 0 0;
	}
	#about .card .text{
		padding: 20px;
	}
	#about .card .text h1{
		font-size: 1.5em;
		font-family: Proxima Nova Th;
		color: #444b61;
		letter-spacing: 1px;
	}
	#about .card .text p{
		margin-top: 15px;
		color: #363c4d;
		font-size: 0.8em;
		font-family: Proxima Nova Rg;
	}

	#start{
		width: 100%;
		max-width: 2048px;
		margin-left: 50%;
		transform: translate(-50%, 0);
		margin-top: 50px;
	}
	#start .actions{
		width: 90%;
		margin-left: 50%;
		transform: translate(-50%, 0);
	}
	#start .actions li{
		list-style: none;
		display: flex;
		flex-wrap: wrap;
		justify-content: space-between;
		position: relative;
	}
	#start .actions li .number{
		display: block;
		width: 7vw;
		height: 7vw;
		border-radius: 50%;
		border: 1px solid rgba(54, 60, 77, 0.5);
		text-align: center;
		font-size: 1.2em;
		line-height: 7vw;
		color: rgba(54, 60, 77, 0.5);
		font-family: Proxima Nova Rg;
	}
	#start .actions .text{
		width: 90%;
	}
	#start .actions .text h1{
		font-size: 1.5em;
		color: #363c4d;
		font-family: Proxima Nova Rg;
	}
	#start .actions .text h1 u{
		text-decoration: none;
		border-bottom: 2px solid #698cc8;
	}
	#start .actions p{
		font-size: 1em;
		color: #444b61;
		margin-top: 10px;
		font-family: Proxima Nova Lt;
	}
	#start .actions a{
		width: 286px;
		height: 59px;
		border: 2px solid #698cc8;
		border-radius: 15px;
		text-align: center;
		line-height: 59px;
		text-decoration: none;
		color: #698cc8;
		transition: .3s ease;
		font-family: Proxima Nova Rg;
		font-weight: 600;
		position: relative;
		left: 100%;
		transform: translate(-100%, 0);
		margin-top: 10px;
		margin-bottom: 20px;
	}
	#start .actions a:hover{
		background-color: #698cc8;
		color: white;
	}

	#start .bg{
		display: none;
	}

	#auth{
		display: none;
		opacity: 0;
		position: absolute;
		top: 50vh;
		left: 50vw;
		transform: translate(-50%, -50%);
		z-index: 4;
		background-color: #f6f6f9;
		width: 300px;
		height: 431px;
		box-sizing: border-box;
		border-radius: 40px;
		transition: .3s ease;
	}
	.exit{
		position: absolute;
		top: 20px;
		right: 20px;
		width: 25px;
		height: 25px;
		cursor: pointer;
	}
	.exit span{
		display: block;
		width: 100%;
		height: 1px;
		background-color: #698cc8;
		position: absolute;
		top: 50%;
		transform: translate(0, -50%);
		transition: .3s ease;
	}
	.exit span:nth-child(1){
		transform: rotate(45deg);
	}
	.exit span:nth-child(2){
		transform: rotate(-45deg);
	}
	.exit:hover span{
		background-color: black;
	}

	#auth h1{
		font-size: 2em;
		font-family: Proxima Nova Th;
		color: #444b61;
		padding-top: 70px;
		width: 77%;
		margin-left: 50%;
		transform: translate(-50%, 0);
	}
	#auth .error{
		opacity: 0;
		color: #444b61;
		font-size: 0.9em;
		text-align: center;
		font-family: Proxima Nova Rg;
		margin-top: 5px;
	}

	#auth form{
		margin-top: 5px;
		display: flex;
		flex-wrap: wrap;
		justify-content: center;
	}
	#auth form input::placeholder{
		color: #cdced2;
	}
	#auth form input{
		height: 50px;
		width: 250px;
		margin-top: 25px;
		box-sizing: border-box;
		font-size: 1em;
		font-family: Proxima Nova Lt;
		font-weight: 600;
		padding: 10px;
		border: none;
		border-radius: 15px;
		color: #363c4d;
		opacity: 0.7;
		transition: .3s ease;
	}
	#auth form input:focus, #auth form input.filled{
		outline: none;
		opacity: 1;
		box-shadow: 0 0 7px rgba(0, 1, 5, 0.08);
	}
	#auth form img.show{
		opacity: 0.5;
		width: 30px;
		height: 30px;
		position: absolute;
		top: 245px;
		right: 40px;
		cursor: pointer;
		transition: .3s ease;
	}
	#auth form a{
		margin-top: 10px;
		color: #444b61;
		font-family: "Proxima Nova Rg";
		font-size: 1.1em;
		font-weight: 700;
		text-decoration: none;
		width: 100%;
		text-align: center;
	}
	#auth form button{
		width: 150px;
		background-color: rgba(0, 0, 0, 0.0);
		border: 2px solid #698cc8;
		color: #698cc8;
		border-radius: 15px;
		height: 50px;
		margin-top: 10px;
		font-size: 1.1em;
		font-family: Proxima Nova Rg;
		font-weight: 600;
		cursor: pointer;
		transition: .3s ease;
	}
	#auth form button:hover{
		background-color: #698cc8;
		color: white;
		box-shadow: 0 0 7px rgba(0, 1, 5, 0.2);
	}

	footer .top{
		width: 100%;
		height: 140px;
		background-color: #363c4d;
		position: relative;
		max-width: 2048px;
		left: 50%;
		transform: translate(-50%, 0);
	}
	footer .top .socials{
		width: 150px;
		position: absolute;
		left: 50%;
		top: 50%;
		transform: translate(-50%, -50%);
		display: flex;
		flex-wrap: wrap;
		justify-content: space-between;
	}
	footer .top .socials .image{
		width: 60px;
		height: 60px;
		border-radius: 20px;
		background-color: #3c4254;
		position: relative;
	}
	footer .top .socials .image img{
		width: 60%;
		position: absolute;
		top: 50%;
		left: 50%;
		transform: translate(-50%, -50%);
	}
	footer .top .socials .image .hover{
		opacity: 0;
		transition: .3s ease;
	}
	footer .top .socials .image:hover .hover{
		opacity: 1;
	}
	footer .top .scroll-top{
		position: absolute;
		top: 50%;
		right: 10%;
		transform: translate(-50%, 0);
	}
	footer .top .scroll-top .chevron{
		display: block;
		width: 15px;
		height: 15px;
		border-top: 3px solid #6070b1;
		border-right: 3px solid #6070b1;
		transform: rotate(-45deg);
		cursor: pointer;
		transition: .3s ease;
	}
	footer .top .scroll-top .chevron:hover{
		border-color: #7b90e3;
	}

	footer .bottom{
		width: 100%;
		height: 90px;
		box-sizing: border-box;
		background-color: #1a1c23;
		text-align: center;
		position: relative;
		max-width: 2048px;
		left: 50%;
		transform: translate(-50%, 0);
	}
	footer .bottom h1{
		padding-top: 25px;
		font-size: 1.1em;
		color: #f6f6f6;
		font-family: Proxima Nova Rg;
		font-weight: 600;
	}
	footer .bottom span{
		display: block;
		margin-top: 5px;
		font-size: 1em;
		font-family: Proxima Nova Rg;
		color: #d5d5d5;
	}

	/* -------------------------- DONATE ---------------------- */

	#donate-wrapper{
		width: 100%;
		display: block;
		background-color: #F6F6F9;
	}

	#donate-wrapper header{
		background-image: url(../img/donate-background.png);
		margin-bottom: 0;
	}
	#donate-wrapper header .text{
		margin-top: 50px;
		margin-bottom: 20px;
	}
	#donate-wrapper header .text p{
		margin-bottom: 20px;
	}
	header .image-pig{
		margin-bottom: 10px;
	}
	header form{
		width: 110%;
		margin-left: 50%;
		transform: translate(-50%, 0);
		display: flex;
		flex-wrap: wrap;
		justify-content: center;
	}
	header form input{
		width: 250px;
		height: 50px;
		border-radius: 15px;
		border: none;
		opacity: 0.7;
		margin-top: 15px;
		box-sizing: border-box;
		padding: 23px;
		font-size: 1em;
		font-family: Proxima Nova Lt;
		font-weight: 600;
		color: #363c4d;
		transition: .3s ease;
	}
	header form input::placeholder{
		color: rgba(54,60,77, 0.7);
	}
	header form input:focus, header form input.filled, header form input:focus::placeholder, header form input.filled::placeholder{
		outline: none;
		opacity: 1;
		color: rgba(54,60,77, 1);
	}
	header form input.error{
		color: #30394C;
		opacity: 1;
	}

	header form .agreement{
		width: 100%;
		font-family: Proxima Nova Rg;
		font-size: 1em;
		line-height: 20px;
		margin-top: 20px;
		color: #f6f6f6;
		display: flex;
		justify-content: center;
	}
	header form .agreement .confirm{
		display: block;
		width: 20px;
		height: 20px;
		cursor: pointer;
		margin-top: 10px;

	}
	header form .agreement .confirm input{
		display: none;
	}
	header form .agreement .confirm .visible{
		display: block;
		width: 20px;
		height: 20px;
		background-color: rgba(255, 255, 255, 0.2);
		border-radius: 5px;
		position: relative;
	}
	header form .agreement .confirm .visible .tick{
		display: block;
		width: 10px;
		height: 5px;
		border-left: 3px solid white;
		border-bottom: 3px solid white;
		position: absolute;
		top: 40%;
		left: 50%;
		transform: translate(-50%, -50%) rotate(-45deg);
		opacity: 0;
		transition: .3s ease;
	}
	header form .agreement p{
		font-family: Proxima Nova Rg;
		font-size: 0.9em;
		line-height: 20px;
		margin-top: 10px;
		color: #f6f6f6;
		box-sizing: border-box;
		padding-left: 5px;
	}
	header form .agreement a{
		color: #f6f6f6;
		font-family: Proxima Nova Rg;
		font-size: 0.9em;
		line-height: 20px;
	}
	header form button{
		width: 194px;
		height: 50px;
		border-radius: 15px;
		border: 2px solid #698cc8;
		background-color: rgba(0, 0, 0, 0.0);
		color: #698cc8;
		font-family: Proxima Nova Rg;
		font-weight: 600;
		transition: .3s ease;
		cursor: pointer;
	}
	header form button:hover{
		background-color: #698cc8;
		color: white;
	}

	#success, #error{
		display: none;
		opacity: 0;
		position: absolute;
		top: 50vh;
		left: 50vw;
		transform: translate(-50%, -50%);
		background-color: #f6f6f9;
		width: 300px;
		height: 431px;
		border-radius: 40px;
		transition: .3s ease;
	}
	#success img, #error img{
		margin-top: 50px;
		margin-left: 50%;
		transform: translate(-50%, 0);
	}
	#success h1, #error h1{
		font-size: 2em;
		font-family: Proxima Nova Th;
		color: #444b61;
		text-align: center;
		padding-top: 10px;
	}
	#success p, #error p{
		font-size: 1em;
		font-family: Proxima Nova Lt;
		width: 90%;
		margin-left: 50%;
		transform: translate(-50%, 0);
		margin-top: 20px;
		color: #444b61;
		text-align: center;
	}

	/* --------------------------- UCP ------------------------------ */

	#ucp-wrapper{
		width: 100%;
		display: block;
		background-color: #F6F6F9;
		position: relative;
	}
	#ucp-wrapper header{
		background-image: url(../img/UCP-background.png);
		background-position: center bottom;
		background-size: cover;
		max-height: 2000px;
	}
	#ucp-wrapper header .dropdown-burger span{
		background-color: #363c4d;
	}
	#ucp-wrapper .text{
		width: 100%;
		margin-top: 110px;
	}
	#ucp-wrapper .text h1{
		color: #363c4d;
		font-size: 2em;
		font-family: Proxima Nova Th;
	}
	#ucp-wrapper .text .stats{
		background-color: white;
		border-radius: 20px;
		width: 310px;
		margin-left: 50%;
		transform: translate(-50%, 0);
		height: 455px;
		margin-top: 65px;
		box-sizing: border-box;
		padding: 20px;
		overflow: hidden;
		position: relative;
	}
	#ucp-wrapper .text .stats h1{
		font-size: 1.8em;
		text-align: left;
	}

	#ucp-wrapper .text .stats .pages-nav{
		display: flex;
		flex-wrap: wrap;
		margin-top: 20px;
	}
	#ucp-wrapper .text .stats .pages-nav li{
		color: #aeaeae;
		font-family: Proxima Nova Lt;
		font-weight: 300;
		list-style: none;
		margin-right: 5px;
		cursor: pointer;
		transition: .3s ease;
		border-bottom: 1px solid white;
		font-size: 15px;
	}
	#ucp-wrapper .text .stats .pages-nav li.active{
		color: #2bb673;
		border-bottom: 1px solid #2bb673;
	}
	#ucp-wrapper .text .stats .pages .page{
		display: none;
	}
	#ucp-wrapper .text .stats .pages .page.current{
		display: block;
		color: black;
	}

	/* UCP Main page */

	#ucp-wrapper .text .stats .pages .main-page ul{
		display: flex;
		flex-wrap: wrap;
		margin-top: 15px;
		color: #444b61;
		font-family: Proxima Nova Rg;
	}
	#ucp-wrapper .text .stats .pages .main-page ul h2{
		font-size: 12px;
		font-weight: 400;
	}
	#ucp-wrapper .text .stats .pages .main-page ul li{
		font-size: 15px;
		width: 100%;
		display: flex;
		justify-content: space-between;
	}

	/* UCP Property page */

	#ucp-wrapper .text .stats .pages .property-page ul{
		display: flex;
		flex-wrap: wrap;
		width: 100%;
		color: #444b61;
		font-family: Proxima Nova Rg;
		margin-top: 25px;
	}
	#ucp-wrapper .text .stats .pages .property-page ul span{
		display: block;
		width: 100%;
		text-align: left;
		font-size: 0.8em;
		margin-bottom: 5px;
	}
	#ucp-wrapper .text .stats .pages .property-page ul .empty{
		font-size: 0.9em;
	}

	/* UCP Payments page */

	#ucp-wrapper .text .stats .pages .payments-page .sort p{
		display: flex;
		flex-wrap: wrap;
		color: #444b61;
		font-family: Proxima Nova Rg;
		font-size: 0.7em;
		margin-bottom: 0;
	}
	#ucp-wrapper .text .stats .pages .payments-page .sort p span{
		margin: 0 5px;
		cursor: pointer;
	}
	#ucp-wrapper .text .stats .pages .payments-page .sort p span:nth-child(1){
		margin-left: 10px;
	}
	#ucp-wrapper .text .stats .pages .payments-page .sort p span:not(.enabled){
		color: #a8a8a8;
	}
	#ucp-wrapper .text .stats .pages .payments-page .slider{
		margin-top: 10px;
	}
	#ucp-wrapper .text .stats .pages .payments-page .slide{
		list-style: none;
		transition: .3s ease;
	}
	#ucp-wrapper .text .stats .pages .payments-page .slide ul li{
		font-family: Proxima Nova Rg;
		font-size: 0.7em;
		text-align: left;
		list-style: none;
		margin-top: 2px;
		color: #3F4A62;
	}
	#ucp-wrapper .text .stats .pages .payments-page .slide ul li .sum{
		color: #2bb673;
	}
	#ucp-wrapper .text .stats .pages .payments-page .prev{
		width: 5px;
		height: 5px;
		border-bottom: 2px solid #698cc8;
		border-left: 2px solid #698cc8;
		transform: rotate(45deg);
		position: absolute;
		bottom: 30px;
		left: 130px;
		cursor: pointer;
		transition: .3s ease;
	}
	#ucp-wrapper .text .stats .pages .payments-page .prev.disabled{
		opacity: 0.3;
	}
	#ucp-wrapper .text .stats .pages .payments-page .next{
		width: 5px;
		height: 5px;
		border-bottom: 2px solid #698cc8;
		border-right: 2px solid #698cc8;
		transform: rotate(-45deg);
		position: absolute;
		bottom: 30px;
		left: 175px;
		cursor: pointer;
		transition: .3s ease;
	}
	#ucp-wrapper .text .stats .pages .payments-page .next.disabled{
		opacity: 0.3;
	}
	#ucp-wrapper .text .stats .pages .payments-page .current{
		margin: 0;
		position: absolute;
		bottom: 23px;
		left: 50%;
		transform: translate(-50%, 0);
		color: #698cc8;
		font-family: Proxima Nova Rg;
		font-size: 1em;
	}
	#ucp-wrapper .text .stats .pages .payments-page .slider > a{
		display: none;
	}

	/* UCP Leaders page */

	#ucp-wrapper .text .stats .pages .leaders-page .slider{
		margin-top: 20px;
	}
	#ucp-wrapper .text .stats .pages .leaders-page .slide{
		display: flex;
		flex-wrap: wrap;
		transition: .3s ease;
	}
	#ucp-wrapper .text .stats .pages .leaders-page .slide .h{
		width: 100%;
		display: flex;
		font-family: "Proxima Nova Rg";
		color: #444b61;
		font-size: 0.7em;
		margin-bottom: 5px;
	}
	#ucp-wrapper .text .stats .pages .leaders-page .slide .h .nick{
		width: 100px;
		text-align: left;
	}
	#ucp-wrapper .text .stats .pages .leaders-page .slide .h .organization{
		width: 80px;
		text-align: left;
	}
	#ucp-wrapper .text .stats .pages .leaders-page .slide ul li{
		list-style: none;
		display: flex;
		font-family: "Proxima Nova Rg";
		color: #444b61;
		font-size: 0.7em;
		justify-content: space-between;
	}
	#ucp-wrapper .text .stats .pages .leaders-page .slide ul li .nick{
		width: 70px;
		text-align: left;
	}
	#ucp-wrapper .text .stats .pages .leaders-page .slide ul li .nick.online{
		color: #2bb673;
	}
	#ucp-wrapper .text .stats .pages .leaders-page .slide ul li .organization{
		width: 140px;
		text-align: center;
	}
	#ucp-wrapper .text .stats .pages .leaders-page .prev{
		width: 5px;
		height: 5px;
		border-bottom: 2px solid #698cc8;
		border-left: 2px solid #698cc8;
		transform: rotate(45deg);
		position: absolute;
		bottom: 30px;
		left: 130px;
		cursor: pointer;
		transition: .3s ease;
	}
	#ucp-wrapper .text .stats .pages .leaders-page .prev.disabled{
		opacity: 0.3;
	}
	#ucp-wrapper .text .stats .pages .leaders-page .next{
		width: 5px;
		height: 5px;
		border-bottom: 2px solid #698cc8;
		border-right: 2px solid #698cc8;
		transform: rotate(-45deg);
		position: absolute;
		bottom: 30px;
		left: 170px;
		cursor: pointer;
		transition: .3s ease;
	}
	#ucp-wrapper .text .stats .pages .leaders-page .next.disabled{
		opacity: 0.3;
	}
	#ucp-wrapper .text .stats .pages .leaders-page .current{
		margin: 0;
		position: absolute;
		bottom: 23px;
		left: 50%;
		transform: translate(-50%, 0);
		color: #698cc8;
		font-family: Proxima Nova Rg;
		font-size: 1em;
	}

	/* UCP buttons */

	#ucp-wrapper .text .stats > .help{
		display: none;
	}

	/* UCP Skins */

	#ucp-wrapper .text .skin{
		width: 310px;
		height: 500px;
		margin-left: 50%;
		transform: translate(-50%, 0);
		background-color: white;
		border-radius: 20px;
		margin-top: 70px;
		box-sizing: border-box;
		padding: 20px;
	}
	#ucp-wrapper .text .skin .slide{
		transition: .3s ease;
		display: flex;
		flex-wrap: wrap;
	}
	#ucp-wrapper .text .skin h1{
		text-align: left;
		color: #363c4d;
		font-family: Proxima Nova Th;
		font-size: 2em;
		width: 100%;
	}
	#ucp-wrapper .text .skin p{
		font-family: Proxima Nova Rg;
		font-size: 1.1em;
		color: #363c4d;
		text-align: left;
		margin: 0;
		margin-top: 10px;
		width: 100%;
	}
	#ucp-wrapper .text .skin img{
		position: absolute;
		top: 55%;
		left: 50%;
		transform: translate(-50%, -50%);
		z-index: -1;
	}
	#ucp-wrapper .text .skin .prev{
		width: 15px;
		height: 15px;
		border-bottom: 4px solid #698cc8;
		border-left: 4px solid #698cc8;
		position: absolute;
		top: 50%;
		transform: translate(0, -50%) rotate(45deg);
		left: 40px;
		cursor: pointer;
		transition: .3s ease;
	}
	#ucp-wrapper .text .skin .prev.disabled{
		opacity: 0.3;
	}
	#ucp-wrapper .text .skin .next{
		width: 15px;
		height: 15px;
		border-bottom: 4px solid #698cc8;
		border-right: 4px solid #698cc8;
		position: absolute;
		top: 50%;
		transform: translate(0, -50%) rotate(-45deg);
		right: 40px;
		cursor: pointer;
		transition: .3s ease;
	}
	#ucp-wrapper .text .skin .next.disabled{
		opacity: 0.3;
	}

	/* UCP help buttons */

	#ucp-wrapper .help{
		margin-top: 55px;
		display: flex;
		flex-wrap: wrap;
		justify-content: center;
		width: 222px;
		margin-left: 50%;
		transform: translate(-50%, 0);
	}
	#ucp-wrapper .help a{
		display: block;
		border: 2px solid #558DCB;
		color: #558DCB;
		width: 222px;
		height: 50px;
		font-family: Proxima Nova Rg;
		font-weight: 700;
		line-height: 50px;
		text-align: center;
		text-decoration: none;
		border-radius: 15px;
		margin-top: 35px;
		transition: .3s ease;
	}
	#ucp-wrapper .help a:hover{
		background-color: #558DCB;
		color: white;
	}
	#ucp-wrapper .help a:nth-child(3){
		border: 2px solid #30394C;
		color: #30394C;
	}
	#ucp-wrapper .help a:nth-child(3):hover{
		background-color: #30394C;
		color: white;
	}

}

@media screen and (min-width: 425px){

	#about .card .text h1{
		font-size: 2em;
	}
	#about .card .text p{
		font-size: 1em;
	}

	#start .actions li .number{
		width: 30px;
		height: 30px;
		line-height: 30px;
	}

	#auth{
		width: 400px;
	}
	#auth form input{
		width: 300px;
		font-size: 1.3em;
	}
	#auth form button{
		width: 200px;
	}
	#auth form img.show{
		top: 245px;
		right: 70px;
	}

	/* -------------------------- DONATE ---------------------- */

	#donate-wrapper header .text{
		margin-top: 70px;
		margin-bottom: 70px;
	}
	header form{
		max-width: 500px;
	}
	header form input{
		width: 300px;
	}

	#success{
		width: 400px;
	}
	#success img{
		margin-top: 70px;
	}
	#success h1{
		margin-top: 20px;
	}
	#success p{
		width: 75%;
		margin-top: 30px;
	}

	/* --------------------------- UCP ------------------------------ */

	#ucp-wrapper .text .stats{
		width: 400px;
		height: 550px;
		padding: 20px;
	}

	#ucp-wrapper .text .stats .pages-nav li{
		display: block;
		text-align: center;
		line-height: 25px;
		margin-right: 20px;
	}
	#ucp-wrapper .text .stats .pages-nav li.active{
		font-size: 18px;
	}

	/* UCP Main page */

	#ucp-wrapper .text .stats .pages .main-page ul{
		margin-top: 20px;
	}
	#ucp-wrapper .text .stats .pages .main-page ul h2{
		font-size: 0.9em;
		margin-bottom: 5px;
	}
	#ucp-wrapper .text .stats .pages .main-page ul li{
		font-size: 1.1em;
	}

	/* UCP Property page */

	#ucp-wrapper .text .stats .pages .property-page ul{
		margin-top: 35px;
	}
	#ucp-wrapper .text .stats .pages .property-page ul span{
		font-size: 0.9em;
	}
	#ucp-wrapper .text .stats .pages .property-page ul .empty{
		font-size: 1.1em;
	}

	/* UCP Payments page */

	#ucp-wrapper .text .stats .pages .payments-page .sort p{
		font-size: 0.9em;
	}
	#ucp-wrapper .text .stats .pages .payments-page .slider{
		margin-top: 15px;
	}
	#ucp-wrapper .text .stats .pages .payments-page .slide ul li{
		font-size: 0.9em;
		margin-top: 3px;
	}
	#ucp-wrapper .text .stats .pages .payments-page .prev{
		width: 7px;
		height: 7px;
		left: 170px;
	}
	#ucp-wrapper .text .stats .pages .payments-page .next{
		width: 7px;
		height: 7px;
		left: 220px;
	}
	#ucp-wrapper .text .stats .pages .payments-page .current{
		font-size: 1.2em;
	}

	/* UCP Leaders page */

	#ucp-wrapper .text .stats .pages .leaders-page .slide .h{
		font-size: 0.9em;
	}
	#ucp-wrapper .text .stats .pages .leaders-page .slide .h .nick{
		width: 130px;
	}
	#ucp-wrapper .text .stats .pages .leaders-page .slide .h .organization{
		width: 100px;
	}
	#ucp-wrapper .text .stats .pages .leaders-page .slide ul li{
		font-size: 1em;
	}
	#ucp-wrapper .text .stats .pages .leaders-page .slide ul li .nick{
		width: 100px;
	}
	#ucp-wrapper .text .stats .pages .leaders-page .slide ul li .organization{
		width: 160px;
	}
	#ucp-wrapper .text .stats .pages .leaders-page .prev{
		width: 7px;
		height: 7px;
		left: 170px;
	}
	#ucp-wrapper .text .stats .pages .leaders-page .next{
		width: 7px;
		height: 7px;
		left: 220px;
	}
	#ucp-wrapper .text .stats .pages .leaders-page .current{
		font-size: 1.2em;
	}

	/* UCP Skins */

	#ucp-wrapper .text .skin{
		width: 400px;
		height: 600px;
		padding: 40px;
	}

}

@media screen and (min-width: 768px){

	header .text{
		width: 60%;
	}
	header .text h1{
		font-size: 2em;
	}
	header .text p{
		margin-bottom: 20px;
	}
	header .text a.start, header .text a.connect{
		width: 360px;
		height: 66px;
		line-height: 66px;
		border-radius: 33px;
	}

	#online .avatar{
		width: 100px;
		height: 100px;
	}
	#online .avatar .point{
		width: 25px;
		height: 25px;
	}
	#online .avatar .point::after{
		width: 15px;
		height: 15px;
	}
	#online .people-online{
		padding: 20px;
	}
	#online .people-online h1{
		font-size: 2em;
	}
	#online .people-online span{
		font-size: 1.5em;
	}

	#start .actions{
		width: 60%;
	}
	#start .actions li .number{
		width: 40px;
		height: 40px;
		line-height: 40px;
		font-size: 1.5em;
	}
	#start .actions li .text{
		width: 90%;
		box-sizing: border-box;
		padding: 5px;
	}

	footer .top .socials{
		width: 200px;
	}
	footer .top .socials .image{
		width: 75px;
		height: 75px;
		border-radius: 25px;
		background-color: #3c4254;
		position: relative;
	}

	footer .top .scroll-top{
		right: 5%;
	}
	footer .top .scroll-top .chevron{
		width: 20px;
		height: 20px;
		border-top: 4px solid #6070b1;
		border-right: 4px solid #6070b1;
	}

	#auth{
		width: 442px;
		height: 431px;
	}
	#auth .error{
		font-size: 1em;
	}
	#auth form img.show{
		top: 250px;
		right: 90px;
	}

	/* -------------------------- DONATE ---------------------- */

	#donate-wrapper header .text{
		margin-top: 100px;
		margin-bottom: 100px;
	}
	header form .agreement p{
		font-size: 1em;
	}
	header form .agreement a{
		font-size: 1em;
	}
	header form input{
		width: 550px;
		height: 66px;
	}
	header form .agreement{
		width: 100%;
		justify-content: left;
	}
	header form button{
		width: 254px;
		height: 66px;
		font-size: 1.1em;
		margin-top: 10px;
	}

	#success, #error{
		width: 515px;
		height: 350px;
	}
	#success img, #error img{
		margin-top: 50px;
	}
	#success h1, #error h1{
		margin-top: 10px;
		font-size: 28px;
	}
	#success p, #error p{
		margin-top: 20px;
	}

	/* --------------------------- UCP ------------------------------ */

	#ucp-wrapper .text .stats{
		width: 500px;
		height: 600px;
		padding: 40px;
	}

	#ucp-wrapper .text .stats .pages-nav li{
		margin-right: 20px;
	}
	#ucp-wrapper .text .stats .pages-nav li.active{
		font-size: 20px;
	}

	/* UCP Payments page */

	#ucp-wrapper .text .stats .pages .payments-page .slide ul li{
		font-size: 1em;
		margin-top: 2px;
	}
	#ucp-wrapper .text .stats .pages .payments-page .prev{
		left: 220px;
	}
	#ucp-wrapper .text .stats .pages .payments-page .next{
		left: 270px;
	}

	/* UCP Leaders page */

	#ucp-wrapper .text .stats .pages .leaders-page .slide .h .nick{
		width: 170px;
	}
	#ucp-wrapper .text .stats .pages .leaders-page .slide .h .organization{
		width: 130px;
	}
	#ucp-wrapper .text .stats .pages .leaders-page .slide ul li .nick{
		width: 110px;
	}
	#ucp-wrapper .text .stats .pages .leaders-page .slide ul li .organization{
		width: 220px;
	}
	#ucp-wrapper .text .stats .pages .leaders-page .prev{
		left: 220px;
	}
	#ucp-wrapper .text .stats .pages .leaders-page .next{
		left: 270px;
	}

}

@media screen and (min-width: 1024px){

	header{
		margin-bottom: 150px;
	}
	header .nav .dropdown{
		display: none;
	}
	header .logo{
		order: 0;
		width: 20%;
		max-width: 500px;
	}
	header .logo a{
		display: block;
		position: absolute;
		top: 50%;
		left: 50%;
		transform: translate(-50%, -50%);
		height: 80%;
	}
	header .nav{
		order: 1;
		width: 75%;
		max-width: 1200px;
		z-index: 1;
	}
	header .nav .navbar{
		display: flex;
		flex-wrap: wrap;
		justify-content: space-around;
	}
	header .nav .navbar-menu{
		display: flex;
	}
	header .nav .navbar-menu .navbar-item{
		margin: 20px 1vw;
		margin-left: 0;
		list-style: none;
	}
	header .nav .navbar-menu .navbar-item a{
		color: #F6F6F6;
		text-decoration: none;
		font-family: Proxima Nova Lt;
		font-weight: 600;
		transition: .3s ease;
		font-size: 1.2em;
		padding: 5px;
	}
	header .nav .navbar-menu .navbar-item:hover a{
		color: #ccc;
	}
	header .nav .navbar-menu .navbar-item.active a{
		border-bottom: 2px solid rgba(255, 255, 255, 0.5);
	}

	header .nav .navbar .navbar-personal a{
		display: block;
		transition: background-color .3s ease;
		border: 2px solid #568DCB;
		border-radius: 15px;
		width: 180px;
		height: 50px;
		text-align: center;
		line-height: 50px;
		margin-left: 2vw;
		margin-top: 5px;
		color: #F6F6F6;
		text-decoration: none;
		font-family: Proxima Nova Lt;
		font-weight: 600;
	}
	header .nav .navbar .navbar-personal a:hover{
		background-color: #568DCB;
	}

	header .text{
		margin-top: 210px;
		margin-bottom: 240px;
		width: 60%;
		max-width: 1000px;
	}
	header .text h1{
		font-size: 3em;
		letter-spacing: 2px;
	}
	header .text p{
		margin-top: 10px;
		font-size: 1.5em;
		margin-bottom: 70px;
	}
	header .text a.start, header .text a.connect{
		font-size: 1.1em;
		border-radius: 60px;
	}

	#online{
		padding-bottom: 150px;
	}
	#online .avatar{
		width: 150px;
		height: 150px;
		background-color: #30394C;
		border-radius: 50%;
		position: relative;
	}
	#online .avatar .point{
		width: 35px;
		height: 35px;
		border-radius: 50%;
		background-color: #F6F6F9;
		position: absolute;
		right: 5px;
		bottom: 5px;
	}
	#online .avatar .point::after{
		content: "";
		width: 25px;
		height: 25px;
		border-radius: 50%;
		position: absolute;
		right: 5px;
		bottom: 5px;
		background-color: #00B770;
	}
	#online .people-online{
		padding: 40px;
	}
	#online .people-online h1{
		font-family: Proxima Nova Rg;
		font-weight: 600;
		color: #30394C;
		font-size: 36px;
	}
	#online .people-online span{
		font-family: 'Proxima Nova Lt';
		color: #00B770;
		font-size: 18px;
		margin-top: 5px;
	}

	#about{
		margin-top: 60px;
		padding-bottom: 120px;
	}
	#about .card{
		display: flex;
		flex-wrap: wrap;
		background-color: rgba(0, 0, 0, 0.0);
		position: relative;
	}
	#about .card .image{
		border-radius: 0;
		width: 50%;
		order: 1;
		background-size: 150%;
		background-position: center right;
		height: 100%;
		position: absolute;
		right: 0;
	}
	#about .card .text{
		box-sizing: border-box;
		padding: 50px 20px;
		width: 50%;
		order: 0;
		background-color: white;
		height: 100%;
	}
	#about .card .text::before{
		content: "";
		width: 200px;
		height: 200px;
		background-color: #698cc8;
		position: absolute;
		z-index: -1;
		top: -20px;
		left: -20px;
	}
	#about .card{
		width: 70%;
	}

	#start{
		margin-top: 200px;
		margin-bottom: 250px;
	}
	#start .actions li{
		height: 230px;
	}
	#start .actions li .number{
		width: 40px;
		height: 40px;
		line-height: 40px;
		margin-top: 10px;
	}
	#start .actions li:nth-child(odd) .number::before{
		content: "";
		position: absolute;
		top: 30px;
		left: -130px;
		width: 115px;
		height: 230px;
		border-radius: 115px 0 0 115px;
		border: 2px solid #698cc8;
		border-right: 2px solid #f6f6f9;
		opacity: 0.5;
	}
	#start .actions li:nth-child(2) .number::after{
		content: "";
		position: absolute;
		top: 60px;
		right: -130px;
		width: 115px;
		height: 230px;
		border-radius: 0 115px 115px 0;
		border: 2px solid #698cc8;
		border-left: none;
		opacity: 0.5;
	}
	#start .actions p{
		font-size: 1.1em;
	}
	#start .actions a{
		margin-top: 20px;
	}

	#start .bg{
		display: block;
		width: 100%;
		overflow: hidden;
	}
	#start .bg img{
		position: absolute;
		right: 5vw;
		bottom: 1vw;
		z-index: -1;
	}

	#auth{
		width: 703px;
		height: 488px;
	}
	#auth .exit{
		right: 30px;
		top: 30px;
	}
	#auth form input{
		width: 549px;
		height: 66px;
		padding: 23px;
		font-size: 18px;
	}
	#auth form img.show{
		top: 275px;
		right: 100px;
	}
	#auth form a{
		width: 50%;
		margin-top: 50px;
		line-height: 66px;
		text-align: left;
		box-sizing: border-box;
		padding-left: 60px;
	}
	#auth form button{
		margin-top: 50px;
		height: 66px;
		width: 253px;
		margin-right: 45px;
	}

	/* -------------------------- DONATE ---------------------- */

	#donate-wrapper header .text{
		margin-top: 150px;
		margin-bottom: 150px;
		width: 40%;
	}
	#donate-wrapper header .text h1{
		font-size: 2em;
	}
	#donate-wrapper header .text p{
		font-size: 1.1em;
	}
	header .text .image-pig{
		margin-bottom: 30px;
	}
	header form input{
		margin-top: 30px;
		font-size: 1.2em;
	}
	#donate-wrapper header form .agreement p{
		font-size: 1em;
		padding-left: 15px;
	}

	#success, #error{
		width: 703px;
		height: 478px;
	}
	#success img{
		width: 150px;
		margin-top: 80px;
	}
	#error img{
		width: 200px;
		margin-top: 80px;
	}
	#success h1, #error h1{
		margin-top: 30px;
		font-size: 28px;
	}
	#success p, #error p{
		margin-top: 20px;
		font-size: 1.1em;
		width: 60%;
	}

	/* --------------------------- UCP ------------------------------ */
	
	#ucp-wrapper header{
		margin-bottom: 0;
	}
	#ucp-wrapper header .nav .navbar-menu .navbar-item a{
		color: #363c4d;
	}
	#ucp-wrapper header .nav .navbar-menu .navbar-item a:hover{
		color: #7E8495;
	}
	#ucp-wrapper header .navbar-personal a{
		background-color: #558DCB;
		color: white;
	}
	#ucp-wrapper header .navbar-personal a:hover{
		background-color: #558DCB;
		color: white;
	}
	#ucp-wrapper .text{
		width: auto;
		display: grid;
		grid-template-columns: 500px 400px;
		grid-column-gap: 30px;
		grid-template-rows: 75px 500px 130px;
		grid-template-areas:
		"heading heading"
		"stats skin"
		"stats help"
		;
	}
	#ucp-wrapper .text > h1{
		grid-area: heading;
		margin-top: 0;
	}
	#ucp-wrapper .text .stats{
		grid-area: stats;
		height: 100%;
		width: 100%;
		margin: 0;
		transform: translate(0, 0);
	}
	#ucp-wrapper .text .skin{
		grid-area: skin;
		height: 100%;
		width: 100%;
		margin: 0;
		transform: translate(0, 0);
	}
	#ucp-wrapper .text > .help{
		grid-area: help;
		margin-top: 0;
	}
	#ucp-wrapper .text .stats .pages .main-page > .help{
		width: 420px;
		display: flex;
		flex-wrap: wrap;
		justify-content: space-between;
		margin-top: 10px;
		position: absolute;
		bottom: 40px;
		left: 0;
	}
	#ucp-wrapper .text .stats .pages .main-page > .help a{
		margin-top: 0;
		width: 200px;
	}
	#ucp-wrapper .text > .help a:nth-child(1), #ucp-wrapper .text > .help a:nth-child(2){
		display: none;
	}

}

@media screen and (min-width: 1440px){

	header{
		margin-left: 50%;
		transform: translate(-50%, 0);
		margin-bottom: 200px;
	}
	
	header .nav .navbar-menu{
		box-sizing: border-box;
		padding-left: 2vw;
	}
	header .nav .navbar-menu .navbar-item{
		margin: 20px 4.3vw;
		margin-left: 0;
	}

	header .nav .navbar .navbar-personal a{
		margin-left: 1vw;
		width: 222px;
	}

	#online{
		margin-left: 50%;
		transform: translate(-50%, 0);
		padding-bottom: 200px;
	}

	#about .card .text::before{
		width: 250px;
		height: 250px;
		left: -40px;
		top: -40px;
	}
	#about .card .text{
		padding: 80px 60px;
	}
	#about .card .text p{
		margin-top: 30px;
		font-size: 1.2em;
	}

	#start .actions{
		width: 40%;
	}

	/* -------------------------- DONATE ---------------------- */

	#donate-wrapper header .text{
		margin-top: 210px;
		margin-bottom: 210px;
	}

	/* --------------------------- UCP ------------------------------ */

	#ucp-wrapper .text{
		grid-template-columns: 600px 400px;
		grid-column-gap: 45px;
		grid-template-rows: 75px 610px 160px;
		grid-template-areas:
		"heading heading"
		"stats skin"
		"stats help"
		;
	}
	#ucp-wrapper .text .stats{
		padding: 55px;
	}
	#ucp-wrapper .text .stats .pages .main-page > .help{
		bottom: 50px;
		width: 100%;
		box-sizing: border-box;
		padding: 0 55px;
	}
	#ucp-wrapper .text > .help{
		margin-top: 20px;
	}
	#ucp-wrapper .text .stats h1{
		font-size: 36px;
	}
	#ucp-wrapper .text .stats .pages-nav{
		margin-top: 45px;
	}
	#ucp-wrapper .text .stats .pages-nav li{
		font-size: 18px;
		line-height: 24px;
		margin-right: 25px;
	}
	#ucp-wrapper .text .stats .pages-nav li.active{
		font-size: 24px;
	}
	#ucp-wrapper .text .stats .pages .main-page ul h2{
		font-size: 14px;
	}
	#ucp-wrapper .text .stats .pages .main-page ul li{
		font-size: 18px;
	}

	#ucp-wrapper .text .stats .pages .property-page ul span{
		font-size: 14px;
	}
	#ucp-wrapper .text .stats .pages .property-page ul .empty{
		font-size: 18px;
	}

	#ucp-wrapper .text .stats .pages .payments-page .sort p{
		font-size: 14px;
		margin-top: 40px;
	}
	#ucp-wrapper .text .stats .pages .payments-page .slide ul li{
		font-size: 18px;
		line-height: 24px;
		margin-top: 0;
	}
	#ucp-wrapper .text .stats .pages .payments-page .prev{
		left: 270px;
		bottom: 97px;
	}
	#ucp-wrapper .text .stats .pages .payments-page .current{
		bottom: 90px;
	}
	#ucp-wrapper .text .stats .pages .payments-page .next{
		left: 320px;
		bottom: 97px;
	}
	#ucp-wrapper .text .stats .pages .payments-page .slider > a{
		display: block;
		position: absolute;
		width: 222px;
		height: 50px;
		border: 2px solid #558DCB;
		background-color: rgba(0, 0, 0, 0.0);
		border-radius: 15px;
		left: 50%;
		transform: translate(-50%, 0);
		bottom: 20px;
		color: #558DCB;
		cursor: pointer;
		transition: .3s ease;
		font-size: 16px;
		font-family: Proxima Nova Rg;
		font-weight: 700;
		text-decoration: none;
		line-height: 50px;
	}
	#ucp-wrapper .text .stats .pages .payments-page .slider > a:hover{
		background-color: #558DCB;
		color: white;
	}


	#ucp-wrapper .text .stats .pages .leaders-page .slide .h .nick{
		width: 220px;
	}
	#ucp-wrapper .text .stats .pages .leaders-page .slide .h .organization{
		width: 160px;
	}
	#ucp-wrapper .text .stats .pages .leaders-page .slide ul li{
		font-size: 18px;
		margin-top: 0;
		line-height: 24px;
	}
	#ucp-wrapper .text .stats .pages .leaders-page .slide ul li .nick{
		width: 130px;
	}
	#ucp-wrapper .text .stats .pages .leaders-page .slide ul li .organization{
		width: 275px;
	}
	#ucp-wrapper .text .stats .pages .leaders-page .prev{
		left: 270px;
		bottom: 57px;
	}
	#ucp-wrapper .text .stats .pages .leaders-page .current{
		bottom: 50px;
	}
	#ucp-wrapper .text .stats .pages .leaders-page .next{
		left: 320px;
		bottom: 57px;
	}

}

@media screen and (min-width: 2000px){
	
	header .nav .navbar-menu .navbar-item{
		margin: 20px 30px;
		list-style: none;
	}
	header .nav .navbar .navbar-personal a{
		margin-left: 50px;
	}

}