*{
	margin: 0;
	padding: 0;
	outline: none;
}

img{
	width: 100%;
}

@media screen and(min-width: 320px) {

	#wrapper{
		width: 100%;
		box-sizing: border-box;
		overflow: hidden;

		.main{
			width: 100vw;
			height: 100vh;
			box-sizing: border-box;
			overflow: hidden;

			.main__header{
				width: 100%;
				box-sizing: border-box;
				position: absolute;
				top: 0;
				left: 0;
				z-index: 5;
			}

			.main__screen{
				width: 100vw;
				height: 100vh;
			}
		}

		.about{
			margin-top: 100px;
			width: 100%;
			box-sizing: border-box;

			.about__image{
				display: block;
				margin-left: auto;
				width: 75%;
				margin-right: -6%;
			}

			.about__content{
				position: relative;
				margin-top: -44vw;
				width: 80%;
				margin-left: 10%;
				background-color: white;
				z-index: 1;
				border-radius: 30px;
				box-shadow: 0 0 30px grey;
				box-sizing: border-box;
				padding: 40px;

				.about__heading{
					font-size: 32px;
					color: #333;
					font-family: Montserrat;
					font-weight: 500;
				}

				.about__text{
					margin-top: 15px;
					font-family: Montserrat;
					font-weight: 400;
					font-size: 18px;
					hyphens: manual;
				}

				.about__more{
					width: 100%;
					margin-top: 20px;
				}
			}
		}

		.adv{
			width: 100%;
			box-sizing: border-box;
			margin-top: 40px;

			.adv__heading{
				width: 100%;
			}

			.adv__list{
				display: flex;	
				flex-wrap: wrap;
				justify-content: center;	
				align-items: center;
				margin-top: 30px;

				.adv__item{
					width: 90%;
					margin-left: auto;
					margin-right: auto;
				}
			}
		}

		.reviews{
			width: 100%;
			box-sizing: border-box;
			margin-top: 110px;

			.reviews__slider{
				width: 100%;
				box-sizing: border-box;
				max-width: 450px;
				margin-left: auto;
				margin-right: auto;
			}
		}

		.actions{
			width: 100%;
			box-sizing: border-box;
			margin-top: 75px;

			.actions__list{
				margin-top: 10px;

				.actions__action{
					margin-top: 35px;
				}
			}
		}

		.footer{
			margin-top: 180px;
			background-color: #000024;
			padding: 20px;

			.footer__logo{
				display: block;
				width: 62%;
				margin-left: auto;
				margin-right: auto;
				padding-top: 25px;
			}

			.footer__heading{
				width: 100%;
				text-align: center;
				font-family: Montserrat;
				font-weight: 500;
				font-size: 32px;
				color: white;
				margin-top: 50px;
			}

			.footer__span{
				width: 100%;
				display: block;
				font-family: Montserrat;
				font-weight: 500;
				font-size: 28px;
				color: white;
				text-align: center;
				margin-top: 65px;
			}

			.footer__socials{
				display: flex;
				flex-wrap: wrap;
				justify-content: center;
				margin-bottom: 80px;

				.footer__social{
					display: block;
					margin-top: 50px;
					width: 80px;
					margin-left: 15px;
					margin-right: 15px;
				}
			}
		}

		.header{
			padding: 10px 15px;
			display: flex;
			flex-wrap: wrap;
			justify-content: space-between;

			.header__logo{
				width: 41%;
				max-width: 150px;
			}

			.header__burger{
				width: min(20%, 80px);
				height: 45px;
				position: relative;
				cursor: pointer;
				margin-top: 32px;
				margin-right: 30px;

				span{
					display: block;
					box-sizing: border-box;
					width: 52px;
					height: 7px;
					background-color: white;
					position: absolute;

					&:nth-child(1){
						left: 50%;
						top: 0;
						transform: translate(-50%, 0);
					}
					&:nth-child(2){
						left: 50%;
						top: 50%;
						transform: translate(-50%, -50%);
					}
					&:nth-child(3){
						left: 50%;
						bottom: 0;
						transform: translate(-50%, 0);
					}
				}
			}
		}

		.navbar{
			display: none;
		}

		.logo{
			box-sizing: border-box;

			.logo__image{
				width: 100%;
			}
		}

		.screen{
			box-sizing: border-box;

			.screen__content{
				width: 80%;
				box-sizing: border-box;
				padding: 20px;
				position: absolute;
				top: 54%;
				left: 50%;
				transform: translate(-50%, -50%);
				z-index: 3;
				text-shadow: 0 0 40px black;

				.screen__heading{
					display: none;
				}

				.screen__heading_small{
					width: 100%;
					text-align: center;
					font-family: Montserrat;
					font-weight: 500;
					text-transform: uppercase;
					color: white;
					font-size: min(15vw, 58px);
				}
			}

			.screen__slider{
				width: 100vw;
				height: 100vh;
				box-sizing: border-box;
			}

			.screen__down{
				display: block;
				position: absolute;
				bottom: 35px;
				left: 50%;
				transform: translate(-50%, 0);
				z-index: 3;
			}
		}

		.slider{
			.slider__slides{
				position: relative;

				.slider__slide{
					display: none;
					&:nth-child(1){
						display: flex;
						flex-wrap: wrap;
						justify-content: center;
					}
				}
			}

			.slider__nav{
				margin-top: 36px;
				width: 100%;
				box-sizing: border-box;
				display: flex;
				flex-wrap: wrap;
				justify-content: center;

				.slider__dot{
					display: block;
					width: 17px;
					height: 17px;
					border-radius: 50%;
					border: 2px solid #777;
					margin-left: 10px;
					margin-right: 10px;

					&.active{
						background-color: #777;
					}
				}
			}
		}

		.slider-full{
			.slider-full__slides{
				width: 100vw;
				height: 100vh;
				position: relative;

				.slider-full__darkness{
					display: block;
					position: absolute;
					width: 100vw;
					height: 100vh;
					position: absolute;
					top: 50%;
					left: 50%;
					transform: translate(-50%, -50%);
					z-index: 1;
					background-color: rgba(19, 20, 48, 0.7);
				}

				.slider-full__slide{
					width: 100vw;
					height: 100vh;
					position: absolute;
					top: 50%;
					left: 50%;
					transform: translate(-50%, -50%);
					display: none;

					&:nth-child(1), &:nth-child(2){
						display: block;
						width: 100vw;
						height: 100vh;
					}

					.slider-full__image{
						height: 100vh;
						width: auto;
						position: absolute;
						top: 50%;
						left: 50%;
						transform: translate(-50%, -50%);
					}
				}
			}

			.slider-full__nav{
				position: absolute;
				top: 85.5%;
				left: 50%;
				transform: translate(-50%, -50%);
				z-index: 3;
				display: flex;

				.slider-full__dot{
					cursor: pointer;
					width: 16px;
					height: 16px;
					border-radius: 50%;
					background-color: transparent;
					border: 2px solid white;
					display: block;
					margin-left: 12px;
					margin-right: 12px;

					&.active{
						background-color: white;
					}
				}
			}
		}

		.down{
			span{
				display: block;
				width: 25px;
				height: 25px;
				transform: rotate(45deg);
				border: 5px solid white;
				border-top: none;
				border-left: none;
				cursor: pointer;
			}
		}

		.more{
			display: flex;
			align-items: center;
			cursor: pointer;

			.more__text{
				display: block;
				font-family: Montserrat;
				font-size: 20px;
				font-weight: 500;
				color: #6415BE;
			}

			.more__arrow{
				width: 25px;
				margin-left: 10px;
				margin-top: 2px;
			}
		}

		.heading{
			font-family: Montserrat;
			font-size: 42px;
			font-weight: 500;
			color: #333;
			text-align: center;
		}

		.advantage{
			max-width: 450px;
			box-sizing: border-box;
			display: flex;
			flex-wrap: wrap;
			justify-content: center;
			margin-top: 70px;

			.advantage__icon{
				width: min(42%, 150px);
				margin-left: auto;
				margin-right: auto;
			}

			.advantage__heading{
				width: 100%;
				font-family: Montserrat;
				font-size: 38px;
				font-weight: 500;
				color: #333;
				text-align: center;
				margin-top: 28px;
			}

			.advantage__text{
				width: 90%;
				margin-top: 20px;
				font-family: Montserrat;
				font-weight: 400;
				font-size: 20px;
				text-align: center;
			}
		}

		.card{
			position: relative;
			width: 88%;
			display: block;
			margin-left: auto;
			margin-right: auto;
			box-sizing: border-box;
			margin-top: 65px;
			background-color: white;
			border-radius: 30px;
			box-shadow: 0 0 30px grey;
			padding: 30px;

			.card__image{
				width: 40%;
				border-radius: 30%;
			}

			.card__title{
				width: 100%;
				font-family: Montserrat;
				font-size: 26px;
				color: #333;
				font-weight: 500;
				text-align: center;
				margin-top: 20px;
			}

			.card__rating{
				width: 100%;
				margin-top: 20px;
			}

			.card__text{
				font-family: Montserrat;
				font-weight: 400;
				font-size: 20px;
				color: #333;
				margin-top: 25px;
				margin-bottom: 20px;
			}

			.card__quotes{
				width: 33px;
				position: absolute;
				top: 7%;
				right: 17%;
				opacity: 0.6;
			}
		}

		.rating{
			display: flex;
			justify-content: center;

			.rating__star{
				width: 35px;
				margin-left: 5px;
				margin-right: 5px;
			}
		}

	}

}

@media screen and(min-width: 550px) {

	#wrapper{


		.about{
			margin-top: 70px;
			.about__image{
				width: 55%;
				margin-right: -3%;
			}
			.about__content{
				width: 70%;
				margin-left: 15%;

				.about__heading{
					font-size: 26px;
				}

				.about__text{
					font-size: 16px;
				}
			}
		}

		.adv{
			.adv__list{
				margin-top: 0;
			}
		}

		.actions{
			width: 80%;
			margin-left: auto;
			margin-right: auto;

			.actions__list{
				.actions__action{
					display: block;
				}
			}
		}

		.footer{
			margin-top: 60px;

			.footer__logo{
				width: 150px;
			}

			.footer__heading{
				font-size: 24px;
				margin-top: 20px;
			}

			.footer__span{
				font-size: 20px;
				margin-top: 30px;
			}

			.footer__socials{
				.footer__social{
					width: 50px;
				}
			}
		}

		.card{
			width: 65%;
			margin-top: 30px;

			.card__title{
				font-size: 20px;
			}

			.card__rating{
				margin-top: 10px;
			}

			.card__text{
				font-size: 16px;
			}

			.card__quotes{
				width: 20px;
			}
		}

		.rating{
			.rating__star{
				width: 23px;
			}
		}

		.advantage{
			margin-top: 50px;

			.advantage__icon{
				width: 120px;
			}

			.advantage__heading{
				font-size: 28px;
			}

			.advantage__text{
				font-size: 16px;
				width: 60%;
			}
		}

		.header{
			.header__logo{
				width: 120px;
			}

			.header__burger{
				width: 60px;
				height: 40px;

				span{
					height: 5px;
				}
			}
		}

		.screen{
			.screen__content{
				.screen__heading_small{
					display: none;
				}
				.screen__heading{
					width: 90%;
					margin-left: auto;
					margin-right: auto;
					text-align: center;
					display: block;
					font-family: Montserrat;
					font-weight: 500;
					font-size: 40px;
					text-transform: uppercase;
					position: absolute;
					color: white;
					top: 50%;
					left: 50%;
					transform: translate(-50%, -50%);
				}
			}
		}

		.slider-full{
			.slider-full__nav{
				top: 78%;
				.slider-full__dot{
					width: 12px;
					height: 12px;
					border-width: 1px;
				}
			}
		}

		.slider{
			.slider__nav{
				.slider__dot{
					width: 12px;
					height: 12px;
					border-width: 1px;
				}
			}
		}

		.down{
			span{
				width: 20px;
				height: 20px;
				border-width: 4px;
			}
		}

		.more{
			.more__text{
				font-size: 18px;
			}

			.more__arrow{
				width: 20px;
			}
		}

		.heading{
			font-size: 32px;
		}
	}

}

@media screen and(min-width: 768px) {

	#wrapper{

		.reviews{
			.reviews__slider{
				max-width: 800px;
			}
		}

		.header{
			padding: 20px;
			align-items: center;
			justify-content: flex-start;
			.header__logo{
				width: 100px;
			}
			.header__burger{
				display: none;
			}
		}

		.about{
			.about__image{
				width: 40%;
				margin-right: 0;
			}

			.about__content{
				padding: 50px;
				margin-top: -30vw;
				width: 65%;
				margin-left: 17.5%;

				.about__heading{
					font-size: 32px;
				}

				.about__text{
					font-size: 20px;
					margin-top: 20px;
				}

				.about__more{
					margin-top: 25px;
				}
			}
		}

		.adv{
			margin-top: 80px;

			.adv__list{
				margin-top: 30px;
				.adv__item{
					width: 50%;
				}
			}
		}

		.navbar{
			display: block;
			margin-left: 5%;

			.navbar__list{
				display: flex;
				flex-wrap: wrap;
				justify-content: center;
				align-items: center;

				.navbar__item{
					display: block;
					margin-left: 7px;	
					margin-right: 7px;

					.navbar__link{
						font-family: Montserrat;
						font-size: 18px;
						color: white;
						font-weight: 400;
						text-decoration: none;
					}
				}
			}
		}

		.screen{
			.screen__content{
				.screen__heading{
					font-size: 48px;
				}
			}
		}

		.slider-full{
			.slider-full__nav{
				flex-direction: column;
				top: 54%;
				right: 30px;
				left: auto;
				width: 12px;
				transform: translate(0, -50%);

				.slider-full__dot{
					margin-left: 0;
					margin-right: 0;
					margin-top: 7px;
					margin-bottom: 7px;
				}
			}
		}

		.card{
			width: 50%;
		}

		.actions{
			width: 100%;
			box-sizing: border-box;
			padding: 20px;
			.actions__list{
				display: flex;
				flex-wrap: wrap;
				justify-content: space-between;
				.actions__action{
					width: 30%;
				}
			}
		}

		.more{
			.more__text{
				font-size: 22px;
			}
			.more__arrow{
				width: 25px;
			}
		}

		.heading{
			font-size: 42px;
		}

		.footer{
			display: flex;
			flex-wrap: wrap;
			align-items: center;
			justify-content: center;

			.footer__logo{
				width: 120px;
				padding: 0;
				margin: 0;
			}
			.footer__heading{
				width: 50%;
				font-size: 22px;
				margin: 0;
				font-size: 20px;
			}
			.footer__span{
				margin-top: 0;
				font-size: 18px;
			}
			.footer__socials{
				width: 30%;
				margin: 0;
				justify-content: space-around;

				.footer__social{
					margin-top: 20px;
					width: 40px;
				}
			}
		}
	}

}

@media screen and(min-width: 1024px) {

	#wrapper{
		.header{
			.header__logo{
				width: 120px;
			}
		}

		.navbar{
			margin-left: 15%;

			.navbar__list{
				.navbar__item{
					margin-left: 10px;
					margin-right: 10px;
				}
			}
		}

		.screen{
			.screen__content{
				top: 50%;
			}
		}

		.slider-full{
			.slider-full__nav{
				top: 50%;
				right: 50px;
			}
		}

		.about{
			margin-top: 100px;
			.about__image{
				margin-right: 5%;
			}
			.about__content{
				width: 50%;
				margin-left: 25%;
			}
		}

		.adv{
			margin-top: 90px;

			.adv__list{
				.adv__item{
					width: 30%;
				}
			}
		}

		.advantage{
			.advantage__icon{
				width: 130px;
			}
			.advantage__text{
				width: 90%;
			}
		}

		.slider{
			.slider__slides{
				.slider__slide:nth-child(1){
					justify-content: flex-start;
				}
			}
		}

		.reviews{
			.reviews__slider{
				max-width: 900px;
			}
		}

		.slider-full{
			.slider-full__slides{
				.slider-full__slide{
					.slider-full__image{
						width: 150%;
						height: auto;
					}
				}
			}
		}

		.card{
			padding: 50px;

			.card__image{
				position: absolute;
				width: 120px;
				top: 50px;
				right: 30px;
				border-radius: 20px;
			}

			.card__title{
				margin-top: 20px;
				font-size: 26px;
				text-align: left;
			}

			.card__text{
				margin-top: 60px;
				width: 85%;
				font-size: 20px;
			}

			.card__rating{
				margin-top: 20px;
			}

			.card__quotes{
				right: 30px;
				bottom: 30px;
				top: auto;
				left: auto;
				width: 40px;
			}
		}

		.rating{
			justify-content: flex-start;
			margin-left: -10px;
			.rating__star{
				width: 30px;
			}
		}

		.footer{
			.footer__socials{
				width: 220px;
			}
		}
	}

}

@media screen and(min-width: 1440px) {

	#wrapper{
		.main{
			.main__header{
				left: 50%;
				max-width: 1200px;
				transform: translate(-50%, 0);
			}
		}

		.header{
			.header__logo{
				width: 150px;
			}
		}

		.navbar{
			width: 710px;
			margin-left: 200px;

			.navbar__list{
				justify-content: space-between;

				.navbar__item{
					margin: 0;

					.navbar__link{
						font-size: 22px;
					}
				}
			}
		}

		.slider-full{
			.slider-full__slides{
				.slider-full__slide{
					.slider-full__image{
						width: 120%;
					}
				}
			}
		}

		.screen{
			.screen__content{
				.screen__heading{
					font-size: 78px;
				}
			}
		}

		.about{
			.about__image{
				width: 400px;
				margin-right: calc((100vw - 750px) / 2 - 250px);
			}
			.about__content{
				padding: 80px;
				margin-top: -300px;
				width: 750px;
				margin-left: calc((100vw - 650px) / 2);

				.about__heading{
					font-size: 54px;
				}

				.about__text{
					font-size: 24px;
				}

				.about__more{
					margin-top: 40px;
				}
			}
		}

		.more{
			.more__text{
				font-size: 28px;
			}
			.more__arrow{
				width: 30px;
			}
		}

		.adv{
			max-width: 1600px;
			margin-left: auto;
			margin-right: auto;
			.adv__list{
				.adv__item{
					max-width: none;
				}
			}
		}

		.advantage{
			.advantage__icon{
				width: 150px;
			}
			.advantage__heading{
				font-size: 32px;
			}
			.advantage__text{
				font-size: 20px;
			}
		}

		.reviews{
			.reviews__slider{
				margin-top: 60px;
				max-width: 1100px;
			}
		}
		.card{
			width: 50%;

			.card__title{
				font-size: 32px;
				margin-top: 30px;
			}

			.card__image{
				width: 150px;
			}

			.card__text{
				margin-top: 80px;
				font-size: 22px;
			}
		}
		.rating{
			.rating__star{
				width: 35px;
			}
		}

		.slider{
			.slider__nav{
				.slider__dot{
					width: 20px;
					height: 20px;
				}
			}
		}

		.heading{
			font-size: 50px;
		}

		.actions{
			margin-left: auto;
			margin-right: auto;
			max-width: 1600px;
		}

		.footer{
			.footer__logo{
				width: 150px;
			}
			.footer__heading{
				width: 900px;
				font-size: 32px;
			}
			.footer__socials{
				width: 300px;
				justify-content: space-between;
				.footer__social{
					margin-top: 20px;
					width: 50px;
				}
			}
			.footer__span{
				font-size: 26px;
			}
		}
	}

}