@font-face{
	font-family: Montserrat;
	src: url(../fonts/montserrat/montserrat.ttf);
	font-weight: normal;
	font-style: none;
}
@font-face{
	font-family: Roboto;
	src: url(../fonts/roboto/Roboto.ttf);
	font-weight: normal;
	font-style: none;
}

@media screen and (min-width: 320px){

	*{
		margin: 0;
		padding: 0;
	}
	main, footer{
		display: none;
	}

	header .top{
		width: 100%;
		height: 50px;
		background-color: #F5F5F5;
	}
	header .top .content{
		width: 80%;
		height: 50px;
		margin: auto;
		display: grid;
		grid-template-rows: 1fr 1fr;
		grid-template-columns: 1fr 1fr;
		grid-template-areas:
		"help mail"
		"help callback";
		grid-gap: 5px;
		max-width: 1500px;
	}
	header .top .content .help{
		grid-area: help;
	}
	header .top .content .help a{
		text-decoration: none;
		color: #8C8C8C;
		font-size: 14px;
		line-height: 50px;
		cursor: pointer;
		transition: color 0.5s ease;
		font-family: Roboto;
	}
	header .top .content .help a:hover{
		color: #FAB702;
	}
	header .top .content .mail{
		grid-area: mail;
	}
	header .top .content .mail i{
		font-size: 12px;
		color: #696969;
	}
	header .top .content .mail i span{
		color: #696969;
		font-size: 12px;
		width: 100%;
		text-align: center;
		cursor: pointer;
		transition: color 0.5s ease;
		font-family: Roboto;
	}
	header .top .content .mail i:hover{
		color: #FAB702;
	}
	header .top .content .callback{
		grid-area: callback;
	}
	header .top .content .callback i{
		font-size: 12px;
		color: #696969;
	}
	header .top .content .callback i span{
		color: #696969;
		font-size: 12px;
		width: 100%;
		text-align: center;
		cursor: pointer;
		transition: color 0.5s ease;
		font-family: Roboto;
	}
	header .top .content .callback i:hover{
		color: #FAB702;
	}

	header .bottom{
		width: 100%;
		height: 60px;
		background-color: #eee;
	}
	header .bottom .content{
		width: 80%;
		max-width: 1500px;
		margin: auto;
		display: flex;
		flex-wrap: wrap;
	}
	header .bottom .content .logo{
		width: 35%;
		order: first;
	}
	header .bottom .content .logo img{
		width: 80px;
		position: relative;
		top: 25px;
		transform: translate(0, -50%);
	}
	header .bottom .content .nav{
		width: 10%;
		order: 2;

	}
	header .bottom .content .nav .navbar i{
		position: relative;
		top: 30px;
		transform: translate(0, -50%);
		float: right;
		cursor: pointer;
	}
	header .bottom .content .nav .navbar .items{
		display: none;
	}
	header .bottom .content .nav .navbar .dropdown{
		position: absolute;
		top: 110px;
		left: 0;
		width: 100%;
		background-color: #eee;
		padding-bottom: 10px;
		display: none;
	}
	header .bottom .content .nav .navbar .dropdown .dropdown-item a{
		display: block;
		text-decoration: none;
		color: #5F6470;
		font-size: 16px;
		text-align: right;
		width: 80%;
		margin: auto;
		padding: 10px;
	}
	header .bottom .content .search{
		width: 55%;
		display: flex;
		flex-wrap: wrap;
		order: 1;
	}
	header .bottom .content .search label{
		width: 100%;
	}
	header .bottom .content .search i{
		position: relative;
		top: 30px;
		transform: translate(0, -50%);
		cursor: pointer;
	}
	header .bottom .content .search input{
		width: 0px;
		position: relative;
		top: 30px;
		transform: translate(0, -50%);
		border: none;
		height: 20px;
		box-sizing: border-box;
		padding-left: 5px;
		font-size: 12px;
		font-family: Roboto;
	}
	header .bottom .content .search input:focus{
		box-shadow: 10px 5px 20px lightgrey;
	}

}

@media screen and (min-width: 425px){

	header .top{
		height: 30px;
	}
	header .top .content{
		display: flex;
		flex-wrap: wrap;
		justify-content: space-between;
	}
	header .top .content .help{
		width: 33%;
	}
	header .top .content .help a{
		line-height: 30px;
		font-size: 12px;
	}
	header .top .content .mail{
		width: 33%;
	}
	header .top .content .mail i{
		line-height: 30px;
	}
	header .top .content .mail i span{
		font-size: 11px;
	}
	header .top .content .callback{
		width: 33%;
	}
	header .top .content .callback i{
		line-height: 30px;
	}
	header .top .content .callback i span{
		font-size: 11px;
	}

	header .bottom .content .nav .navbar .dropdown{
		top: 90px;
	}
	
}

@media screen and (min-width: 768px){

	header .top .content .help{
		width: 50%;
	}
	header .top .content .help a{
		font-size: 14px;
	}
	header .top .content .mail{
		width: 25%;
	}
	header .top .content .mail i{
		font-size: 14px;
	}
	header .top .content .callback{
		width: 25%;
	}
	header .top .content .callback i{
		font-size: 14px;
	}

	header .bottom .content .logo{
		width: 25%;
	}
	header .bottom .content .logo img{
		width: 100px;
	}
	header .bottom .content .nav{
		order: 1;
		width: 55%;
	}
	header .bottom .content .nav .navbar i{
		display: none;
	}
	header .bottom .content .nav .dropdown{
		display: none;
	}
	header .bottom .content .nav .navbar .items{
		display: flex;
		justify-content: center;
	}
	header .bottom .content .nav .navbar .items .navbar-item{
		margin: 0 10px;
		cursor: pointer;
		line-height: 60px;
	}
	header .bottom .content .nav .navbar .items .navbar-item a{
		text-decoration: none;
		color: #5F6470;
		transition: color 0.5s ease;
	}
	header .bottom .content .nav .navbar .items .navbar-item a:hover{
		color: #FAB702;
	}
	header .bottom .content .search{
		order: 2;
		width: 20%;
	}
	header .bottom .content .search input{
		height: 30px;
		font-size: 14px;
	}
	header .bottom .content .search i{
		top: 25px;
		font-size: 18px;
	}
	
}

@media screen and (min-width: 1024px){

	header .top .content .help{
		width: 60%;
	}
	header .top .content .mail{
		width: 20%;
	}
	header .top .content .callback{
		width: 20%;
	}

	header .bottom .content .nav{
		width: 45%;
	}
	header .bottom .content .search{
		width: 30%;
	}
	
}

@media screen and (min-width: 1440px){

	header .top .content .help{
		width: 75%;
	}
	header .top .content .mail{
		width: 12%;
	}
	header .top .content .callback{
		width: 12%;
	}

	header .bottom .content .logo{
		width: 15%;
	}
	header .bottom .content .logo img{
		width: 120px;
	}
	header .bottom .content .nav{
		width: 65%;
	}
	header .bottom .content .nav .navbar .items .navbar-item{
		margin: 0 20px;
	}
	header .bottom .content .nav .navbar .items .navbar-item a{
		font-size: 20px;
	}
	header .bottom .content .search{
		width: 20%;
	}
	
}

@media screen and (min-width: 2560px){


	
}