* {
  margin: 0;
  padding: 0;
  outline: none;
}

img {
  width: 100%;
}

@media screen and (min-width: 320px) {
  #wrapper {
    position: relative;
  }
  #wrapper .header {
    position: fixed;
    top: 0;
    left: 50vw;
    -webkit-transform: translate(-50%, 0);
            transform: translate(-50%, 0);
    z-index: 10;
    width: 100%;
    -webkit-box-sizing: border-box;
            box-sizing: border-box;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: justify;
        -ms-flex-pack: justify;
            justify-content: space-between;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    background-color: #E69256;
    padding: 20px 15px;
    height: 75px;
  }
  #wrapper .header .header__nav {
    display: none;
  }
  #wrapper .header .header__socials {
    width: 80%;
  }
  #wrapper .header .header__menu {
    width: 40px;
    height: 30px;
  }
  #wrapper .main {
    margin-top: 75px;
    width: 100%;
    height: 500px;
    -webkit-box-sizing: border-box;
            box-sizing: border-box;
  }
  #wrapper .main .main__slider {
    width: 100%;
  }
  #wrapper .socials {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
  }
  #wrapper .socials .socials__item {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    margin-left: 12px;
    margin-right: 12px;
    width: 33px;
    -webkit-transition: 0.3s ease;
    transition: 0.3s ease;
    opacity: 1;
  }
  #wrapper .socials .socials__item .socials__link {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    width: 100%;
    -webkit-transition: 0.3s ease;
    transition: 0.3s ease;
  }
  #wrapper .socials .socials__item .socials__link:hover {
    opacity: 0.7;
  }
  #wrapper .burger {
    cursor: pointer;
    -webkit-transition: 0.3s ease;
    transition: 0.3s ease;
    position: relative;
  }
  #wrapper .burger:hover {
    opacity: 0.7;
  }
  #wrapper .burger span {
    display: block;
    width: 100%;
    height: 5px;
    border-radius: 2px;
    background-color: white;
    position: absolute;
  }
  #wrapper .burger span:nth-child(1) {
    top: 0;
  }
  #wrapper .burger span:nth-child(2) {
    top: 50%;
    -webkit-transform: translate(0, -50%);
            transform: translate(0, -50%);
  }
  #wrapper .burger span:nth-child(3) {
    bottom: 0;
  }
  #wrapper .slider-full {
    height: 500px;
    overflow: hidden;
    position: relative;
  }
  #wrapper .slider-full .slider-full__slides {
    width: 100%;
    overflow: hidden;
  }
  #wrapper .slider-full .slider-full__slides .slider-full__slide {
    position: absolute;
    width: 100%;
  }
  #wrapper .slider-full .slider-full__slides .slider-full__slide.active {
    z-index: 3;
    -webkit-transform: translate(0, 0);
            transform: translate(0, 0);
  }
  #wrapper .slider-full .slider-full__slides .slider-full__slide.left {
    -webkit-transform: translate(-100%, 0);
            transform: translate(-100%, 0);
    z-index: 1;
  }
  #wrapper .slider-full .slider-full__slides .slider-full__slide.right {
    -webkit-transform: translate(100%, 0);
            transform: translate(100%, 0);
    z-index: 1;
  }
  #wrapper .slider-full .slider-full__control {
    position: absolute;
    width: 100%;
    height: 500px;
    z-index: 3;
  }
  #wrapper .slider-full .slider-full__control .slider-full__prev, #wrapper .slider-full .slider-full__control slider-full__next {
    display: none;
  }
  #wrapper .slider-full .slider-full__control .slider-full__dots {
    position: absolute;
    bottom: 30px;
    left: 50%;
    -webkit-transform: translate(-50%, 0);
            transform: translate(-50%, 0);
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
  }
  #wrapper .slider-full .slider-full__control .slider-full__dots .slider-full__dot {
    -webkit-user-select: none;
       -moz-user-select: none;
        -ms-user-select: none;
            user-select: none;
    width: 17px;
    height: 17px;
    border-radius: 50%;
    list-style: none;
    -webkit-box-sizing: border-box;
            box-sizing: border-box;
    border: 2px solid white;
    margin-left: 10px;
    margin-right: 10px;
    cursor: pointer;
    -webkit-transition: 0.3s ease;
    transition: 0.3s ease;
  }
  #wrapper .slider-full .slider-full__control .slider-full__dots .slider-full__dot.active {
    background-color: white;
  }
  #wrapper .slider-full .slider-full__control .slider-full__dots .slider-full__dot:hover {
    opacity: 0.7;
  }
  #wrapper .slider-full .screen {
    width: 100%;
    height: 500px;
    -webkit-box-sizing: border-box;
            box-sizing: border-box;
  }
  #wrapper .slider-full .screen .screen__background {
    position: relative;
    overflow: hidden;
    width: 100%;
    height: 100%;
  }
  #wrapper .slider-full .screen .screen__background .screen__image {
    width: auto;
    height: 110%;
    margin-left: 50%;
    margin-top: 250px;
    -webkit-transform: translate(-50%, -50%);
            transform: translate(-50%, -50%);
  }
  #wrapper .slider-full .screen .screen__background .screen__darkness {
    background-color: #09365B;
    width: 100%;
    height: 100%;
    z-index: 3;
    position: absolute;
    top: 0;
    left: 0;
    opacity: 0.6;
  }
  #wrapper .slider-full .screen .screen__content {
    width: 100%;
    position: absolute;
    top: 0;
    z-index: 3;
    margin-top: 250px;
    -webkit-transform: translate(0, -55%);
            transform: translate(0, -55%);
  }
  #wrapper .slider-full .screen .screen__content h1.screen__heading {
    font-family: Montserrat;
    color: white;
    font-weight: 600;
    text-align: center;
    width: 90%;
    margin-left: auto;
    margin-right: auto;
    font-size: 32px;
  }
  #wrapper .slider-full .screen .screen__content h1.screen__heading-wide {
    font-family: Montserrat;
    color: white;
    font-weight: 600;
    text-align: center;
    width: 90%;
    margin-left: auto;
    margin-right: auto;
    font-size: 32px;
    line-height: 1.5;
  }
  #wrapper .slider-full .screen .screen__content h2.screen__heading {
    font-family: Montserrat;
    color: white;
    font-weight: 600;
    width: 85%;
    margin-left: auto;
    margin-right: auto;
    font-size: 28px;
  }
  #wrapper .slider-full .screen .screen__content .screen__text {
    font-family: Montserrat;
    color: white;
    font-weight: 400;
    text-align: center;
    width: 90%;
    margin-left: auto;
    margin-right: auto;
    margin-top: 20px;
    font-size: 18px;
    line-height: 1.5;
  }
  #wrapper .slider-full .screen .screen__content .screen__bold {
    display: block;
    font-family: Montserrat;
    color: white;
    font-weight: 800;
    text-align: center;
    width: 90%;
    margin-left: auto;
    margin-right: auto;
    margin-top: 20px;
    font-size: 20px;
    line-height: 1.5;
  }
  #wrapper .slider-full .screen .screen__content .screen__list {
    margin-top: 20px;
    width: 90%;
  }
  #wrapper .slider-full .screen .screen__content .screen__list .screen__list-item {
    font-family: Montserrat;
    color: white;
    font-weight: 600;
    width: 85%;
    margin-left: 15%;
    font-size: 16px;
    line-height: 1.2;
    margin-top: 10px;
    list-style: none;
    position: relative;
  }
  #wrapper .slider-full .screen .screen__content .screen__list .screen__list-item::before {
    content: "";
    display: block;
    width: 7px;
    height: 7px;
    border-radius: 50%;
    background-color: white;
    position: absolute;
    top: 50%;
    left: -20px;
    -webkit-transform: translate(0, -50%);
            transform: translate(0, -50%);
  }
  #wrapper .news {
    width: 100%;
    -webkit-box-sizing: border-box;
            box-sizing: border-box;
    overflow: hidden;
  }
  #wrapper .news h1.news__heading {
    width: 90%;
    margin-left: auto;
    margin-right: auto;
    margin-top: 50px;
  }
  #wrapper .news .news__list {
    width: 100%;
    -webkit-box-sizing: border-box;
            box-sizing: border-box;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -ms-flex-wrap: wrap;
        flex-wrap: wrap;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    margin-top: 15px;
  }
  #wrapper .news .news__list .news__item {
    position: relative;
    width: 90%;
    max-width: 400px;
    margin-left: auto;
    margin-right: auto;
    -webkit-box-sizing: border-box;
            box-sizing: border-box;
    margin-top: 30px;
    list-style: none;
    margin-bottom: 70px;
    -webkit-transition: 0.3s ease;
    transition: 0.3s ease;
  }
  #wrapper .news .news__list .news__item .news__image {
    width: 100%;
    position: relative;
  }
  #wrapper .news .news__list .news__item .news__image .news__gradient {
    -webkit-transition: 0.3s ease;
    transition: 0.3s ease;
    width: 100%;
    height: 100px;
    background: -webkit-gradient(linear, left top, left bottom, from(transparent), to(#F4A261));
    background: linear-gradient(transparent, #F4A261);
    position: absolute;
    bottom: 0;
    left: 0;
  }
  #wrapper .news .news__list .news__item .news__content {
    width: 100%;
    -webkit-transition: 0.3s ease;
    transition: 0.3s ease;
    position: absolute;
    bottom: -69px;
    background-color: #F4A261;
    overflow: hidden;
    height: 70px;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -ms-flex-wrap: wrap;
        flex-wrap: wrap;
  }
  #wrapper .news .news__list .news__item .news__content h2.news__heading {
    -webkit-box-sizing: border-box;
            box-sizing: border-box;
    width: calc(100% - 70px);
    line-height: 70px;
    height: 70px;
    font-family: Montserrat;
    color: #333333;
    font-size: 20px;
    padding-left: 15px;
    white-space: nowrap;
    text-overflow: ellipsis;
    overflow: hidden;
  }
  #wrapper .news .news__list .news__item .news__content .news__open {
    -webkit-user-select: none;
       -moz-user-select: none;
        -ms-user-select: none;
            user-select: none;
    width: 70px;
    height: 70px;
    position: relative;
    cursor: pointer;
    -webkit-transition: 0.3s ease;
    transition: 0.3s ease;
  }
  #wrapper .news .news__list .news__item .news__content .news__open span {
    -webkit-user-select: none;
       -moz-user-select: none;
        -ms-user-select: none;
            user-select: none;
    -webkit-transition: 0.3s ease;
    transition: 0.3s ease;
    -webkit-box-sizing: border-box;
            box-sizing: border-box;
    display: block;
    width: 15px;
    height: 15px;
    position: absolute;
    top: 40%;
    left: 50%;
    -webkit-transform: translate(-50%, -50%) rotate(45deg);
            transform: translate(-50%, -50%) rotate(45deg);
    border-bottom: 3px solid #333;
    border-right: 3px solid #333;
  }
  #wrapper .news .news__list .news__item .news__content .news__open:hover {
    opacity: 0.7;
  }
  #wrapper .news .news__list .news__item .news__content .news__hidden p.news__text {
    width: 100%;
    -webkit-box-sizing: border-box;
            box-sizing: border-box;
    padding: 15px;
    padding-top: 0;
    padding-bottom: 0;
    margin-top: 0;
    font-family: Montserrat;
    color: #333;
    font-weight: 600;
    height: 95px;
    overflow: hidden;
    text-overflow: ellipsis;
  }
  #wrapper .news .news__list .news__item .news__content .news__hidden .news__more {
    display: block;
    margin: 10px;
    margin-left: 15px;
    margin-bottom: 21px;
    font-family: Montserrat;
    text-decoration: none;
    color: #0A1B70;
    font-weight: 600;
    -webkit-transition: 0.3s ease;
    transition: 0.3s ease;
  }
  #wrapper .news .news__list .news__item .news__content .news__hidden .news__more:hover {
    opacity: 0.7;
  }
  #wrapper .news .news__list .news__item.active {
    -webkit-box-shadow: 0 0 15px 5px lightgrey;
            box-shadow: 0 0 15px 5px lightgrey;
  }
  #wrapper .news .news__list .news__item.active .news__image .news__gradient {
    height: 50px;
    bottom: 150px;
  }
  #wrapper .news .news__list .news__item.active .news__content {
    height: 220px;
  }
  #wrapper .news .news__list .news__item.active .news__content .news__open span {
    top: 60%;
    -webkit-transform: translate(-50%, -50%) rotate(225deg);
            transform: translate(-50%, -50%) rotate(225deg);
  }
  #wrapper .news .news__all {
    display: block;
    margin-top: 20px;
  }
  #wrapper h1.title {
    font-family: Montserrat;
    color: #333;
    font-weight: 800;
    font-size: 32px;
    text-align: center;
  }
  #wrapper .about {
    width: 100%;
    -webkit-box-sizing: border-box;
            box-sizing: border-box;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -ms-flex-wrap: wrap;
        flex-wrap: wrap;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
  }
  #wrapper .about h1.about__heading {
    width: 90%;
    margin-left: auto;
    margin-right: auto;
    margin-top: 50px;
  }
  #wrapper .about .about__image {
    margin-top: 30px;
    width: 100%;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
  }
  #wrapper .about .about__image img {
    width: 70%;
  }
  #wrapper .about .about__content {
    width: 100%;
  }
  #wrapper .about .about__content h2.about__heading {
    font-family: Montserrat;
    font-size: 24px;
    color: #333333;
    width: 90%;
    margin-left: auto;
    margin-right: auto;
    text-align: center;
    margin-top: 20px;
  }
  #wrapper .about .about__content .about__text {
    width: 90%;
    margin-left: auto;
    margin-right: auto;
    font-family: Montserrat;
    font-size: 16px;
    color: #333333;
    font-weight: 400;
    margin-top: 20px;
    text-align: justify;
  }
  #wrapper .about .about__content .about__more {
    width: 90%;
    margin-left: auto;
    margin-right: auto;
    margin-top: 20px;
  }
  #wrapper .about .about__text_wide {
    width: 90%;
    margin-left: auto;
    margin-right: auto;
    font-family: Montserrat;
    font-size: 16px;
    color: #333333;
    font-weight: 400;
    margin-top: 20px;
    text-align: justify;
  }
  #wrapper .more {
    display: block;
    font-family: Montserrat;
    color: #0a1b70;
    text-decoration: none;
    font-weight: 800;
    text-align: center;
    font-size: 18px;
    -webkit-transition: 0.3s ease;
    transition: 0.3s ease;
  }
  #wrapper .more:hover {
    opacity: 0.7;
  }
  #wrapper .portfolio {
    width: 100%;
    -webkit-box-sizing: border-box;
            box-sizing: border-box;
  }
  #wrapper .portfolio h1.portfolio__heading {
    margin-left: auto;
    margin-right: auto;
    margin-top: 50px;
  }
  #wrapper .portfolio .portfolio__slider {
    width: 100%;
    -webkit-box-sizing: border-box;
            box-sizing: border-box;
  }
  #wrapper .portfolio .portfolio__more {
    margin-top: 70px;
    width: 90%;
    margin-left: auto;
    margin-right: auto;
  }
  #wrapper .slider {
    margin-top: 30px;
    width: 100%;
    position: relative;
  }
  #wrapper .slider .slider__slides {
    width: 80%;
    margin-left: auto;
    margin-right: auto;
    overflow: hidden;
  }
  #wrapper .slider .slider__slides .slider__row {
    -webkit-transition: 0.4s ease;
    transition: 0.4s ease;
    width: 100%;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
  }
  #wrapper .slider .slider__slides .slider__row .slider__slide {
    width: 90%;
    margin-left: 5%;
    margin-right: 5%;
    list-style: none;
    -webkit-box-flex: 0;
        -ms-flex: 0 0 100%;
            flex: 0 0 100%;
  }
  #wrapper .slider .slider__control {
    width: 100%;
    position: absolute;
  }
  #wrapper .slider .slider__control .slider__prev, #wrapper .slider .slider__control .slider__next {
    display: none;
  }
  #wrapper .slider .slider__control .slider__dots {
    width: 100%;
    position: absolute;
    bottom: -40px;
    left: 50%;
    -webkit-transform: translate(-50%, 0);
            transform: translate(-50%, 0);
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
  }
  #wrapper .slider .slider__control .slider__dots .slider__dot {
    cursor: pointer;
    -webkit-user-select: none;
       -moz-user-select: none;
        -ms-user-select: none;
            user-select: none;
    width: 17px;
    height: 17px;
    border-radius: 50%;
    border: 1px solid #333;
    -webkit-box-sizing: border-box;
            box-sizing: border-box;
    margin-left: 5px;
    margin-right: 5px;
    list-style: none;
    -webkit-transition: 0.3s ease;
    transition: 0.3s ease;
  }
  #wrapper .slider .slider__control .slider__dots .slider__dot.active {
    background-color: #333;
  }
  #wrapper .document {
    position: relative;
  }
  #wrapper .document .document__hidden {
    -webkit-transition: 0.3s ease;
    transition: 0.3s ease;
    position: absolute;
    width: 100%;
    height: 100%;
    top: 0;
    left: 0;
    opacity: 0;
  }
  #wrapper .document .document__hidden .document__darkness {
    width: 100%;
    height: 100%;
    background-color: #555555;
    opacity: 0.6;
  }
  #wrapper .document .document__hidden .document__title {
    position: absolute;
    top: 50%;
    left: 50%;
    -webkit-transform: translate(-50%, -50%);
            transform: translate(-50%, -50%);
    width: 90%;
    font-family: Montserrat;
    font-size: 28px;
    font-weight: 800;
    color: white;
    line-height: 1.3;
    text-align: center;
  }
  #wrapper .document:hover .document__hidden {
    opacity: 1;
  }
  #wrapper .contacts {
    width: 100%;
    -webkit-box-sizing: border-box;
            box-sizing: border-box;
  }
  #wrapper .contacts h1.contacts__heading {
    width: 90%;
    margin-left: auto;
    margin-right: auto;
    margin-top: 50px;
  }
  #wrapper .contacts .contacts__form {
    width: 90%;
    margin-left: auto;
    margin-right: auto;
    -webkit-box-sizing: border-box;
            box-sizing: border-box;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -ms-flex-wrap: wrap;
        flex-wrap: wrap;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    margin-top: 10px;
  }
  #wrapper .contacts .contacts__form .contacts__input {
    width: 100%;
    max-width: 350px;
    margin-top: 20px;
    height: 50px;
    border: 2px solid #999999;
    border-radius: 10px;
    -webkit-box-sizing: border-box;
            box-sizing: border-box;
    padding: 15px;
    background-color: #eeeeee;
    font-family: Montserrat;
    font-size: 16px;
    color: #333;
    font-weight: 600;
    -webkit-transition: 0.3s ease;
    transition: 0.3s ease;
  }
  #wrapper .contacts .contacts__form .contacts__input::-webkit-input-placeholder {
    color: #777;
    font-weight: 600;
  }
  #wrapper .contacts .contacts__form .contacts__input::-moz-placeholder {
    color: #777;
    font-weight: 600;
  }
  #wrapper .contacts .contacts__form .contacts__input:-ms-input-placeholder {
    color: #777;
    font-weight: 600;
  }
  #wrapper .contacts .contacts__form .contacts__input::-ms-input-placeholder {
    color: #777;
    font-weight: 600;
  }
  #wrapper .contacts .contacts__form .contacts__input::placeholder {
    color: #777;
    font-weight: 600;
  }
  #wrapper .contacts .contacts__form .contacts__input:focus {
    border-color: #FFAC00;
    background-color: #FFE1A6;
    -webkit-box-shadow: 0 0 10px 2px lightgrey;
            box-shadow: 0 0 10px 2px lightgrey;
  }
  #wrapper .contacts .contacts__form .contacts__textarea {
    width: 100%;
    margin-top: 20px;
    resize: none;
    border-radius: 10px;
    border: 2px solid #999999;
    max-width: 350px;
    -webkit-box-sizing: border-box;
            box-sizing: border-box;
    padding: 15px;
    background-color: #eeeeee;
    font-family: Montserrat;
    font-size: 16px;
    color: #333;
    font-weight: 600;
    -webkit-transition: 0.3s ease;
    transition: 0.3s ease;
  }
  #wrapper .contacts .contacts__form .contacts__textarea::-webkit-input-placeholder {
    color: #777;
    font-weight: 600;
  }
  #wrapper .contacts .contacts__form .contacts__textarea::-moz-placeholder {
    color: #777;
    font-weight: 600;
  }
  #wrapper .contacts .contacts__form .contacts__textarea:-ms-input-placeholder {
    color: #777;
    font-weight: 600;
  }
  #wrapper .contacts .contacts__form .contacts__textarea::-ms-input-placeholder {
    color: #777;
    font-weight: 600;
  }
  #wrapper .contacts .contacts__form .contacts__textarea::placeholder {
    color: #777;
    font-weight: 600;
  }
  #wrapper .contacts .contacts__form .contacts__textarea:focus {
    border-color: #FFAC00;
    background-color: #FFE1A6;
    -webkit-box-shadow: 0 0 10px 2px lightgrey;
            box-shadow: 0 0 10px 2px lightgrey;
  }
  #wrapper .contacts .contacts__form .contacts__submit {
    width: 100%;
    max-width: 350px;
    -webkit-box-sizing: border-box;
            box-sizing: border-box;
    margin-top: 20px;
    height: 50px;
    border-radius: 10px;
    border: 2px solid #23395a;
    color: #23395a;
    background-color: #ffffff;
    font-family: Montserrat;
    font-size: 18px;
    color: #333;
    font-weight: 600;
    -webkit-transition: 0.3s ease;
    transition: 0.3s ease;
    cursor: pointer;
  }
  #wrapper .contacts .contacts__form .contacts__submit:hover {
    background-color: #23395a;
    color: white;
  }
  #wrapper .materials {
    width: 100%;
    -webkit-box-sizing: border-box;
            box-sizing: border-box;
  }
  #wrapper .materials .materials__heading {
    width: 90%;
    margin-left: auto;
    margin-right: auto;
    margin-top: 50px;
  }
  #wrapper .materials .materials__content {
    padding: 40px 30px;
    -webkit-box-sizing: border-box;
            box-sizing: border-box;
    width: 90%;
    margin-left: auto;
    margin-right: auto;
    border-radius: 20px;
    background-color: #eeeeee;
    -webkit-box-shadow: 0 0 10px 2px lightgrey;
            box-shadow: 0 0 10px 2px lightgrey;
    margin-top: 40px;
  }
  #wrapper .materials .materials__content .materials__files {
    width: 100%;
    -webkit-box-sizing: border-box;
            box-sizing: border-box;
  }
  #wrapper .materials .materials__content .materials__files .materials__file {
    width: 100%;
    -webkit-box-sizing: border-box;
            box-sizing: border-box;
    list-style: none;
  }
  #wrapper .file {
    margin-bottom: 30px;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    -webkit-transition: 0.3s ease;
    transition: 0.3s ease;
  }
  #wrapper .file:hover {
    opacity: 0.7;
  }
  #wrapper .file .file__icon {
    width: 50px;
    margin-right: 20px;
  }
  #wrapper .file .file__name {
    font-family: Montserrat;
    font-size: 22px;
    color: #333;
    font-weight: 600;
    -webkit-transition: 0.3s ease;
    transition: 0.3s ease;
    text-decoration: none;
    width: calc(100% - 70px);
    white-space: nowrap;
    text-overflow: ellipsis;
    overflow: hidden;
  }
  #wrapper .file .file__name:hover {
    color: #0a1b70;
  }
  #wrapper .footer {
    margin-top: 50px;
    width: 100%;
    -webkit-box-sizing: border-box;
            box-sizing: border-box;
    background-color: #23395a;
    height: 70px;
  }
  #wrapper .footer .footer__text {
    font-family: Montserrat;
    font-size: 18px;
    color: white;
    font-weight: 600;
    height: 70px;
    line-height: 70px;
    text-align: center;
    width: 100%;
  }
  #wrapper .news-single {
    margin-left: auto;
    margin-right: auto;
    width: 90%;
    -webkit-box-sizing: border-box;
            box-sizing: border-box;
    margin-top: 100px;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -ms-flex-wrap: wrap;
        flex-wrap: wrap;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    max-width: 380px;
  }
  #wrapper .news-single .news-single__heading {
    font-size: 24px;
  }
  #wrapper .news-single .news-single__image {
    width: 100%;
    margin-top: 20px;
  }
  #wrapper .news-single .news-single__text {
    width: 100%;
    margin-top: 20px;
    font-family: Montserrat;
    color: #333;
    font-size: 14px;
    line-height: 1.4;
    text-align: justify;
  }
  #wrapper .news-single .news-single__text_wide {
    width: 100%;
    margin-top: 20px;
    font-family: Montserrat;
    color: #333;
    font-size: 14px;
    line-height: 1.4;
    text-align: justify;
  }
  #wrapper.news .news {
    margin-top: 60px;
  }
  #wrapper.about .about {
    margin-top: 60px;
  }
  #wrapper.portfolio .portfolio {
    margin-top: 100px;
  }
  #wrapper.portfolio .portfolio .portfolio__list {
    max-width: 400px;
    margin-top: 10px;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -ms-flex-wrap: wrap;
        flex-wrap: wrap;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    width: 90%;
    margin-left: auto;
    margin-right: auto;
  }
  #wrapper.portfolio .portfolio .portfolio__list .portfolio__item {
    width: 100%;
    list-style: none;
    margin-top: 20px;
  }
  #wrapper.portfolio .portfolio .portfolio__more {
    margin-top: 30px;
  }
}
@media screen and (min-width: 425px) {
  #wrapper .slider-full .screen .screen__background .screen__image {
    width: auto;
    height: 110%;
  }
  #wrapper .slider-full .screen .screen__content h1.screen__heading {
    max-width: 500px;
  }
  #wrapper .slider-full .screen .screen__content h2.screen__heading {
    width: calc(90% - 50px);
    font-size: 24px;
    margin-left: 50px;
  }
  #wrapper .slider-full .screen .screen__content .screen__list {
    width: calc(90% - 50px);
    margin-left: 50px;
    max-width: 600px;
  }
  #wrapper .slider-full .screen .screen__content .screen__list .screen__list-item {
    margin-left: 0;
  }
  #wrapper .slider-full .screen .screen__content .screen__text {
    max-width: 500px;
  }
  #wrapper .slider-full .screen .screen__content .screen__bold {
    max-width: 500px;
  }
  #wrapper .about .about__image {
    max-width: 450px;
  }
  #wrapper .about .about__content {
    max-width: 500px;
  }
  #wrapper .portfolio .portfolio__slider {
    max-width: 500px;
    margin-left: auto;
    margin-right: auto;
  }
  #wrapper .materials .materials__content {
    max-width: 500px;
  }
}
@media screen and (min-width: 768px) {
  #wrapper .header {
    -webkit-box-pack: justify;
        -ms-flex-pack: justify;
            justify-content: space-between;
  }
  #wrapper .header .header__nav {
    display: block;
  }
  #wrapper .header .header__socials {
    width: 25%;
    -webkit-box-pack: end;
        -ms-flex-pack: end;
            justify-content: flex-end;
  }
  #wrapper .header .header__menu {
    display: none;
  }
  #wrapper .nav {
    width: 75%;
  }
  #wrapper .nav .nav__navbar {
    width: 100%;
  }
  #wrapper .navbar {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
  }
  #wrapper .navbar .navbar__item {
    margin-left: 4px;
    margin-right: 4px;
    list-style: none;
  }
  #wrapper .navbar .navbar__item .navbar__link {
    display: block;
    font-family: Roboto;
    color: white;
    font-size: 16px;
    text-decoration: none;
    -webkit-transition: 0.3s ease;
    transition: 0.3s ease;
  }
  #wrapper .navbar .navbar__item .navbar__link:hover {
    opacity: 0.7;
  }
  #wrapper .slider-full .screen .screen__background .screen__image {
    width: 100%;
    height: auto;
  }
  #wrapper .slider-full .screen .screen__content {
    -webkit-box-sizing: border-box;
            box-sizing: border-box;
    padding: 80px;
    -webkit-transform: translate(0, -50%);
            transform: translate(0, -50%);
  }
  #wrapper .slider-full .screen .screen__content h1.screen__heading {
    font-size: 36px;
    font-weight: 600;
    margin-left: 0;
    width: 80%;
    text-align: left;
    letter-spacing: 1.5px;
  }
  #wrapper .slider-full .screen .screen__content h1.screen__heading-wide {
    font-size: 30px;
    letter-spacing: 1px;
    width: 100%;
  }
  #wrapper .slider-full .screen .screen__content h2.screen__heading {
    font-size: 30px;
    font-weight: 600;
    margin-left: 0;
    width: 80%;
    text-align: left;
    letter-spacing: 1.5px;
  }
  #wrapper .slider-full .screen .screen__content .screen__text {
    width: 80%;
    font-size: 20px;
    margin-left: 0;
    text-align: left;
    letter-spacing: 1px;
    line-height: 1.9;
  }
  #wrapper .slider-full .screen .screen__content .screen__bold {
    width: 80%;
    font-size: 22px;
    margin-left: 0;
    text-align: left;
    letter-spacing: 1px;
  }
  #wrapper .slider-full .screen .screen__content .screen__list {
    margin-top: 30px;
    margin-left: 0;
    margin-right: 0;
    width: 80%;
  }
  #wrapper .slider-full .screen .screen__content .screen__list .screen__list-item {
    width: 100%;
    font-size: 18px;
    font-weight: 400;
    line-height: 1.5;
  }
  #wrapper .slider-full .slider-full__control .slider-full__prev {
    display: block;
    width: 20px;
    height: 20px;
    border-bottom: 3px solid white;
    border-left: 3px solid white;
    position: absolute;
    top: 50%;
    left: 20px;
    -webkit-transform: translate(0, -50%) rotate(45deg);
            transform: translate(0, -50%) rotate(45deg);
    cursor: pointer;
    -webkit-user-select: none;
       -moz-user-select: none;
        -ms-user-select: none;
            user-select: none;
    -webkit-transition: 0.3s ease;
    transition: 0.3s ease;
  }
  #wrapper .slider-full .slider-full__control .slider-full__prev:hover {
    opacity: 0.7;
  }
  #wrapper .slider-full .slider-full__control .slider-full__next {
    display: block;
    width: 20px;
    height: 20px;
    border-bottom: 3px solid white;
    border-right: 3px solid white;
    position: absolute;
    top: 50%;
    right: 20px;
    -webkit-transform: translate(0, -50%) rotate(-45deg);
            transform: translate(0, -50%) rotate(-45deg);
    cursor: pointer;
    -webkit-user-select: none;
       -moz-user-select: none;
        -ms-user-select: none;
            user-select: none;
    -webkit-transition: 0.3s ease;
    transition: 0.3s ease;
  }
  #wrapper .slider-full .slider-full__control .slider-full__next:hover {
    opacity: 0.7;
  }
  #wrapper .slider-full .slider-full__control .slider-full__dots {
    bottom: 40px;
  }
  #wrapper .slider-full .slider-full__control .slider-full__dots .slider-full__dot {
    margin-left: 12px;
    margin-right: 12px;
    width: 20px;
    height: 20px;
    border-width: 1px;
  }
  #wrapper .news .news__list {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -ms-flex-wrap: wrap;
        flex-wrap: wrap;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
  }
  #wrapper .news .news__list .news__item {
    width: 45%;
    margin-left: 15px;
    margin-right: 15px;
    max-width: 380px;
  }
  #wrapper .news .news__all {
    margin-top: 30px;
  }
  #wrapper .more {
    font-size: 20px;
  }
  #wrapper .about {
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
  }
  #wrapper .about .about__image {
    width: 45%;
    max-width: 350px;
    height: auto;
    margin-top: 40px;
  }
  #wrapper .about .about__content {
    width: 50%;
    margin-top: 40px;
  }
  #wrapper .about .about__content h2.about__heading {
    font-size: 20px;
    text-align: left;
    line-height: 1.4;
  }
  #wrapper .about .about__content .about__text {
    font-size: 14px;
    text-align: left;
  }
  #wrapper .about .about__content .about__more {
    text-align: left;
  }
  #wrapper .portfolio .portfolio__slider {
    width: 100%;
    margin-left: auto;
    margin-right: auto;
    max-width: 1024px;
  }
  #wrapper .slider {
    width: 100%;
    max-width: 1024px;
  }
  #wrapper .slider .slider__slides {
    position: relative;
    z-index: 2;
    width: 85%;
    margin-top: 40px;
    overflow: hidden;
  }
  #wrapper .slider .slider__slides .slider__row {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: justify;
        -ms-flex-pack: justify;
            justify-content: space-between;
  }
  #wrapper .slider .slider__slides .slider__row .slider__slide {
    display: block;
    width: 30%;
    -webkit-box-flex: 0;
        -ms-flex: 0 0 30%;
            flex: 0 0 30%;
    margin-left: 1.5%;
    margin-right: 1.5%;
  }
  #wrapper .slider .slider__control {
    position: absolute;
    width: 100%;
    height: 100%;
    top: 0;
  }
  #wrapper .slider .slider__control .slider__prev {
    display: block;
    width: 15px;
    height: 15px;
    position: absolute;
    top: 50%;
    left: 20px;
    -webkit-transform: translate(0, -50%) rotate(45deg);
            transform: translate(0, -50%) rotate(45deg);
    border-bottom: 3px solid #333;
    border-left: 3px solid #333;
    cursor: pointer;
    -webkit-user-select: none;
       -moz-user-select: none;
        -ms-user-select: none;
            user-select: none;
    -webkit-transition: 0.3s ease;
    transition: 0.3s ease;
  }
  #wrapper .slider .slider__control .slider__prev:hover {
    opacity: 0.7;
  }
  #wrapper .slider .slider__control .slider__prev.disabled {
    opacity: 0.5;
  }
  #wrapper .slider .slider__control .slider__next {
    display: block;
    width: 15px;
    height: 15px;
    position: absolute;
    top: 50%;
    right: 20px;
    -webkit-transform: translate(0, -50%) rotate(-45deg);
            transform: translate(0, -50%) rotate(-45deg);
    border-bottom: 3px solid #333;
    border-right: 3px solid #333;
    cursor: pointer;
    -webkit-user-select: none;
       -moz-user-select: none;
        -ms-user-select: none;
            user-select: none;
    -webkit-transition: 0.3s ease;
    transition: 0.3s ease;
  }
  #wrapper .slider .slider__control .slider__next:hover {
    opacity: 0.7;
  }
  #wrapper .slider .slider__control .slider__next.disabled {
    opacity: 0.5;
  }
  #wrapper .document .document__hidden .document__title {
    font-size: 18px;
  }
  #wrapper .contacts .contacts__form .contacts__input {
    display: block;
    width: 46%;
    margin-left: 10px;
    margin-right: 10px;
    height: 60px;
  }
  #wrapper .contacts .contacts__form .contacts__textarea {
    max-width: 720px;
    width: 96%;
  }
  #wrapper .contacts .contacts__form .contacts__submit {
    width: 300px;
    height: 60px;
  }
  #wrapper .news-single {
    max-width: 700px;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
  }
  #wrapper .news-single .news-single__heading {
    width: 90%;
    font-size: 28px;
  }
  #wrapper .news-single .news-single__image {
    margin-top: 40px;
    width: 300px;
    margin-right: 40px;
  }
  #wrapper .news-single .news-single__text {
    margin-top: 40px;
    width: calc(100% - 340px);
    text-align: left;
  }
  #wrapper .news-single .news-single__text_wide {
    margin-top: 30px;
    width: 100%;
    text-align: left;
  }
  #wrapper.news {
    margin-top: 80px;
  }
  #wrapper.news-single .news .news__list .news__item:nth-child(3) {
    display: none;
  }
  #wrapper.about .about .about__image {
    width: 230px;
    margin-right: 20px;
  }
  #wrapper.about .about .about__image img {
    width: 100%;
  }
  #wrapper.about .about .about__content {
    width: 450px;
  }
  #wrapper.about .about .about__content h2.about__heading {
    font-size: 22px;
  }
  #wrapper.about .about .about__content p.about__text {
    font-size: 16px;
    line-height: 1.4;
  }
  #wrapper.about .about .about__text_wide {
    margin-top: 40px;
    width: 700px;
    line-height: 1.4;
    text-align: left;
  }
  #wrapper.portfolio .portfolio {
    margin-top: 120px;
  }
  #wrapper.portfolio .portfolio .portfolio__list {
    max-width: 900px;
  }
  #wrapper.portfolio .portfolio .portfolio__list .portfolio__item {
    width: calc(50% - 40px);
    margin-left: 20px;
    margin-right: 20px;
    margin-top: 40px;
  }
  #wrapper.portfolio .portfolio .portfolio__list .portfolio__item:nth-child(9) {
    display: none;
  }
}
@media screen and (min-width: 1024px) {
  #wrapper {
    position: relative;
  }
  #wrapper h1.title {
    font-size: 38px;
  }
  #wrapper .more {
    font-size: 22px;
  }
  #wrapper .header {
    width: 102%;
    z-index: 10;
    max-width: 1300px;
    margin-left: auto;
    margin-right: auto;
  }
  #wrapper .header .header__socials {
    width: 25%;
  }
  #wrapper .nav {
    width: 75%;
  }
  #wrapper .navbar .navbar__item {
    margin-left: 10px;
    margin-right: 10px;
  }
  #wrapper .navbar .navbar__item .navbar__link {
    font-size: 18px;
  }
  #wrapper .socials .socials__item {
    margin-left: 15px;
    margin-right: 15px;
  }
  #wrapper .main {
    max-width: 1300px;
    height: 600px;
    margin-left: auto;
    margin-right: auto;
  }
  #wrapper .slider-full {
    height: 600px;
  }
  #wrapper .slider-full .slider-full__slides .slider-full__slide {
    height: 600px;
  }
  #wrapper .slider-full .slider-full__control {
    height: 600px;
  }
  #wrapper .slider-full .slider-full__control .slider-full__next {
    width: 25px;
    height: 25px;
    right: 30px;
  }
  #wrapper .slider-full .slider-full__control .slider-full__prev {
    width: 25px;
    height: 25px;
    left: 30px;
  }
  #wrapper .slider-full .screen {
    height: 600px;
  }
  #wrapper .slider-full .screen .screen__background .screen__image {
    width: 100%;
    margin-top: 300px;
  }
  #wrapper .slider-full .screen .screen__content {
    margin-top: 290px;
    padding: 100px;
  }
  #wrapper .slider-full .screen .screen__content h1.screen__heading {
    width: 100%;
    font-size: 44px;
  }
  #wrapper .slider-full .screen .screen__content h1.screen__heading-wide {
    width: 100%;
    font-size: 44px;
  }
  #wrapper .slider-full .screen .screen__content h2.screen__heading {
    max-width: none;
    width: 100%;
    font-size: 40px;
  }
  #wrapper .slider-full .screen .screen__content .screen__list {
    max-width: none;
    width: 70%;
    max-width: 600px;
  }
  #wrapper .slider-full .screen .screen__content .screen__list .screen__list-item {
    width: 100%;
    font-size: 22px;
  }
  #wrapper .slider-full .screen .screen__content .screen__text {
    width: 70%;
    font-size: 22px;
    margin-top: 35px;
    max-width: 600px;
  }
  #wrapper .slider-full .screen .screen__content .screen__bold {
    font-size: 24px;
    margin-top: 35px;
    max-width: none;
  }
  #wrapper .news {
    margin-top: 50px;
  }
  #wrapper .news .news__list {
    max-width: 900px;
    margin-left: auto;
    margin-right: auto;
    -webkit-box-pack: justify;
        -ms-flex-pack: justify;
            justify-content: space-between;
  }
  #wrapper .news .news__list .news__item {
    width: calc(50% - 20px);
    margin-left: 0;
    margin-right: 0;
    max-width: none;
    margin-top: 40px;
    margin-bottom: 80px;
  }
  #wrapper .news .news__list .news__item.active .news__image .news__gradient {
    bottom: 140px;
  }
  #wrapper .news .news__list .news__item.active .news__content {
    height: 230px;
  }
  #wrapper .news .news__list .news__item.active:nth-child(3) .news__content, #wrapper .news .news__list .news__item.active:nth-child(4) .news__content, #wrapper .news .news__list .news__item.active:nth-child(5) .news__content {
    height: 220px;
  }
  #wrapper .news .news__list .news__item:nth-child(6) {
    display: none;
  }
  #wrapper .news .news__list .news__item:nth-child(3), #wrapper .news .news__list .news__item:nth-child(4), #wrapper .news .news__list .news__item:nth-child(5) {
    width: calc(33% - 20px);
  }
  #wrapper .news .news__list .news__item:nth-child(3) .news__content, #wrapper .news .news__list .news__item:nth-child(4) .news__content, #wrapper .news .news__list .news__item:nth-child(5) .news__content {
    height: 70px;
    bottom: -69px;
  }
  #wrapper .news .news__list .news__item:nth-child(3) .news__content h2.news__heading, #wrapper .news .news__list .news__item:nth-child(4) .news__content h2.news__heading, #wrapper .news .news__list .news__item:nth-child(5) .news__content h2.news__heading {
    height: 70px;
    line-height: 70px;
    font-size: 20px;
    padding-left: 15px;
  }
  #wrapper .news .news__list .news__item:nth-child(3) .news__content .news__hidden .news__text, #wrapper .news .news__list .news__item:nth-child(4) .news__content .news__hidden .news__text, #wrapper .news .news__list .news__item:nth-child(5) .news__content .news__hidden .news__text {
    line-height: 1.3;
    padding: 15px;
    padding-top: 0;
    padding-bottom: 0;
    height: 80px;
  }
  #wrapper .news .news__list .news__item:nth-child(3) .news__content .news__hidden .news__more, #wrapper .news .news__list .news__item:nth-child(4) .news__content .news__hidden .news__more, #wrapper .news .news__list .news__item:nth-child(5) .news__content .news__hidden .news__more {
    margin-left: 15px;
    margin-top: 20px;
  }
  #wrapper .news .news__list .news__item:nth-child(3) .news__content .news__open, #wrapper .news .news__list .news__item:nth-child(4) .news__content .news__open, #wrapper .news .news__list .news__item:nth-child(5) .news__content .news__open {
    margin-right: 0;
  }
  #wrapper .news .news__list .news__item:nth-child(3) .news__content .news__open span, #wrapper .news .news__list .news__item:nth-child(4) .news__content .news__open span, #wrapper .news .news__list .news__item:nth-child(5) .news__content .news__open span {
    width: 15px;
    height: 15px;
  }
  #wrapper .news .news__list .news__item .news__content {
    height: 80px;
    bottom: -79px;
    -webkit-box-pack: justify;
        -ms-flex-pack: justify;
            justify-content: space-between;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
  }
  #wrapper .news .news__list .news__item .news__content h2.news__heading {
    height: 80px;
    line-height: 80px;
    font-size: 24px;
    padding-left: 20px;
  }
  #wrapper .news .news__list .news__item .news__content .news__hidden p.news__text {
    padding: 20px;
    padding-top: 0;
    padding-bottom: 0;
  }
  #wrapper .news .news__list .news__item .news__content .news__hidden .news__more {
    margin-left: 20px;
    margin-top: 15px;
  }
  #wrapper .news .news__list .news__item .news__content .news__open {
    width: 60px;
    height: 60px;
    margin-right: 10px;
  }
  #wrapper .news .news__list .news__item .news__content .news__open span {
    width: 20px;
    height: 20px;
  }
  #wrapper .about {
    margin-top: 50px;
    width: 95%;
    margin-left: auto;
    margin-right: auto;
  }
  #wrapper .about .about__image {
    max-width: 320px;
    margin-right: 30px;
  }
  #wrapper .about .about__image img {
    width: 100%;
  }
  #wrapper .about .about__content {
    width: 60%;
    max-width: 650px;
  }
  #wrapper .about .about__content h2.about__heading {
    margin-top: 0;
    font-size: 28px;
  }
  #wrapper .about .about__content .about__text {
    font-size: 20px;
    line-height: 1.4;
  }
  #wrapper .portfolio {
    margin-top: 100px;
  }
  #wrapper .portfolio .portfolio__slider {
    max-width: 1180px;
  }
  #wrapper .portfolio .portfolio__more {
    margin-top: 90px;
  }
  #wrapper .slider .slider__control .slider__prev {
    width: 20px;
    height: 20px;
    left: 30px;
  }
  #wrapper .slider .slider__control .slider__next {
    width: 20px;
    height: 20px;
    right: 30px;
  }
  #wrapper .slider .slider__control .slider__dots {
    bottom: -60px;
  }
  #wrapper .slider .slider__control .slider__dots .slider__dot {
    width: 20px;
    height: 20px;
    margin-left: 7px;
    margin-right: 7px;
  }
  #wrapper .document .document__hidden .document__title {
    font-size: 22px;
  }
  #wrapper .contacts {
    margin-top: 100px;
  }
  #wrapper .contacts .contacts__form {
    max-width: 1000px;
  }
  #wrapper .materials .materials__content {
    max-width: 700px;
  }
  #wrapper .file .file__name {
    font-size: 26px;
  }
  #wrapper .footer {
    margin-top: 80px;
    height: 100px;
  }
  #wrapper .footer .footer__text {
    font-size: 26px;
    line-height: 100px;
    height: 100px;
  }
  #wrapper .news-single {
    margin-top: 120px;
    max-width: 1000px;
  }
  #wrapper .news-single .news-single__heading {
    font-size: 36px;
  }
  #wrapper .news-single .news-single__image {
    margin-top: 50px;
    margin-top: 50px;
    width: 400px;
  }
  #wrapper .news-single .news-single__text {
    margin-top: 50px;
    width: 480px;
    font-size: 18px;
    line-height: 1.6;
  }
  #wrapper .news-single .news-single__text_wide {
    margin-top: 40px;
    width: 920px;
    font-size: 18px;
    line-height: 1.6;
  }
  #wrapper.news .news .news__list .news__item, #wrapper.news-single .news .news__list .news__item {
    width: calc(33% - 20px);
  }
  #wrapper.news .news .news__list .news__item .news__content, #wrapper.news-single .news .news__list .news__item .news__content {
    height: 70px;
    bottom: -69px;
  }
  #wrapper.news .news .news__list .news__item .news__content h2.news__heading, #wrapper.news-single .news .news__list .news__item .news__content h2.news__heading {
    height: 70px;
    line-height: 70px;
    font-size: 20px;
    padding-left: 15px;
  }
  #wrapper.news .news .news__list .news__item .news__content .news__hidden .news__text, #wrapper.news-single .news .news__list .news__item .news__content .news__hidden .news__text {
    line-height: 1.3;
    padding: 15px;
    padding-top: 0;
    padding-bottom: 0;
    height: 80px;
  }
  #wrapper.news .news .news__list .news__item .news__content .news__hidden .news__more, #wrapper.news-single .news .news__list .news__item .news__content .news__hidden .news__more {
    margin-left: 15px;
  }
  #wrapper.news .news .news__list .news__item .news__content .news__open, #wrapper.news-single .news .news__list .news__item .news__content .news__open {
    margin-right: 0;
  }
  #wrapper.news .news .news__list .news__item .news__content .news__open span, #wrapper.news-single .news .news__list .news__item .news__content .news__open span {
    width: 15px;
    height: 15px;
  }
  #wrapper.news .news .news__list .news__item:nth-child(3), #wrapper.news .news .news__list .news__item:nth-child(6), #wrapper.news-single .news .news__list .news__item:nth-child(3), #wrapper.news-single .news .news__list .news__item:nth-child(6) {
    display: block;
  }
  #wrapper.news .news .news__list .news__item.active .news__content, #wrapper.news-single .news .news__list .news__item.active .news__content {
    height: 220px;
  }
  #wrapper.about .about .about__image {
    width: 270px;
    margin-right: 40px;
  }
  #wrapper.about .about .about__content {
    width: 650px;
  }
  #wrapper.about .about .about__content h2.about__heading {
    font-size: 28px;
  }
  #wrapper.about .about .about__content p.about__text {
    font-size: 20px;
    line-height: 1.6;
  }
  #wrapper.about .about .about__text_wide {
    margin-top: 50px;
    width: 960px;
    line-height: 1.6;
    font-size: 20px;
  }
  #wrapper.portfolio .portfolio {
    margin-top: 150px;
  }
  #wrapper.portfolio .portfolio .portfolio__list {
    max-width: 1500px;
  }
  #wrapper.portfolio .portfolio .portfolio__list .portfolio__item {
    width: calc(33.33% - 40px);
  }
  #wrapper.portfolio .portfolio .portfolio__list .portfolio__item:nth-child(9) {
    display: block;
  }
}
@media screen and (min-width: 1440px) {
  #wrapper h1.title {
    font-size: 44px;
  }
  #wrapper .more {
    font-size: 26px;
  }
  #wrapper .header {
    height: 100px;
    padding: 20px 50px;
    max-width: 1920px;
    z-index: 10;
  }
  #wrapper .navbar .navbar__item {
    margin-left: 20px;
    margin-right: 20px;
  }
  #wrapper .navbar .navbar__item .navbar__link {
    font-size: 22px;
  }
  #wrapper .socials .socials__item {
    width: 40px;
    margin-left: 20px;
    margin-right: 20px;
  }
  #wrapper .main {
    margin-top: 100px;
    max-width: 1920px;
    height: calc(100vh - 100px);
    max-height: 980px;
  }
  #wrapper .slider-full {
    height: calc(100vh - 100px);
    max-height: 980px;
  }
  #wrapper .slider-full .slider-full__slides .slider-full__slide {
    height: calc(100vh - 100px);
    max-height: 980px;
  }
  #wrapper .slider-full .slider-full__control {
    height: calc(100vh - 100px);
    max-height: 980px;
  }
  #wrapper .slider-full .slider-full__control .slider-full__prev {
    left: 60px;
  }
  #wrapper .slider-full .slider-full__control .slider-full__next {
    right: 60px;
  }
  #wrapper .slider-full .screen .screen__background .screen__image {
    width: 100%;
    margin-top: min(50vh - 50px, 490px);
  }
  #wrapper .slider-full .screen .screen__content {
    margin-top: min(50vh - 50px, 490px);
    padding: 50px 150px;
  }
  #wrapper .slider-full .screen .screen__content h1.screen__heading {
    font-size: 48px;
    max-width: none;
  }
  #wrapper .slider-full .screen .screen__content h2.screen__heading {
    font-size: 44px;
  }
  #wrapper .slider-full .screen .screen__content h1.screen__heading-wide {
    font-size: 48px;
  }
  #wrapper .slider-full .screen .screen__content .screen__text {
    margin-top: 50px;
    font-size: 28px;
    max-width: 800px;
  }
  #wrapper .slider-full .screen .screen__content .screen__list {
    margin-top: 50px;
    max-width: 900px;
  }
  #wrapper .slider-full .screen .screen__content .screen__list .screen__list-item {
    font-size: 28px;
  }
  #wrapper .slider-full .screen .screen__content .screen__list .screen__list-item::before {
    width: 10px;
    height: 10px;
    left: -30px;
  }
  #wrapper .slider-full .screen .screen__content .screen__bold {
    margin-top: 50px;
    font-size: 32px;
  }
  #wrapper .news {
    margin-top: 80px;
  }
  #wrapper .news .news__list {
    max-width: 1100px;
  }
  #wrapper .news .news__list .news__item .news__content .news__hidden p.news__text {
    line-height: 1.5;
  }
  #wrapper .about {
    margin-top: 80px;
  }
  #wrapper .about .about__image {
    margin-top: 40px;
    max-width: 380px;
  }
  #wrapper .about .about__content {
    margin-top: 40px;
    max-width: 700px;
  }
  #wrapper .about .about__content h2.about__heading {
    font-size: 32px;
  }
  #wrapper .about .about__content .about__text {
    margin-top: 50px;
    font-size: 24px;
    line-height: 1.4;
  }
  #wrapper .about .about__content .about__more {
    margin-top: 50px;
  }
  #wrapper .portfolio {
    margin-top: 120px;
  }
  #wrapper .portfolio .portfolio__slider {
    max-width: 1345px;
  }
  #wrapper .document .document__hidden .document__title {
    font-size: 28px;
  }
  #wrapper .contacts .contacts__form {
    max-width: 1200px;
  }
  #wrapper .contacts .contacts__form .contacts__input {
    margin-top: 30px;
    max-width: 460px;
    height: 70px;
    padding-left: 20px;
    font-size: 20px;
    margin-left: 15px;
    margin-right: 15px;
    border-radius: 10px;
  }
  #wrapper .contacts .contacts__form .contacts__textarea {
    margin-top: 30px;
    max-width: 950px;
    font-size: 20px;
    padding: 20px;
    border-radius: 10px;
  }
  #wrapper .contacts .contacts__form .contacts__submit {
    margin-top: 50px;
    font-size: 20px;
    height: 70px;
    border-radius: 10px;
  }
  #wrapper .materials {
    margin-top: 100px;
  }
  #wrapper .materials .materials__content {
    margin-top: 50px;
    padding: 10px 50px;
    padding-bottom: 40px;
  }
  #wrapper .materials .materials__content .materials__files .materials__file {
    margin-top: 40px;
  }
  #wrapper .file .file__icon {
    width: 60px;
  }
  #wrapper .file .file__name {
    margin-left: 15px;
    font-size: 28px;
    margin-top: -2px;
  }
  #wrapper .news-single {
    margin-top: 150px;
    max-width: 1500px;
  }
  #wrapper .news-single .news-single__heading {
    font-size: 42px;
  }
  #wrapper .news-single .news-single__image {
    width: 500px;
    margin-right: 70px;
  }
  #wrapper .news-single .news-single__text {
    width: 700px;
    font-size: 24px;
    line-height: 1.6;
  }
  #wrapper .news-single .news-single__text_wide {
    margin-top: 60px;
    width: 1270px;
    font-size: 24px;
    line-height: 1.6;
  }
  #wrapper.news {
    margin-top: 100px;
  }
  #wrapper.news-single .news .news__list {
    max-width: 1250px;
  }
  #wrapper.about .about {
    margin-top: 100px;
  }
  #wrapper.about .about .about__image {
    margin-top: 70px;
    width: 350px;
    margin-right: 50px;
  }
  #wrapper.about .about .about__content {
    margin-top: 70px;
    width: 850px;
    max-width: none;
  }
  #wrapper.about .about .about__content h2.about__heading {
    font-size: 36px;
  }
  #wrapper.about .about .about__content p.about__text {
    font-size: 26px;
  }
  #wrapper.about .about .about__text_wide {
    margin-top: 70px;
    width: 1250px;
    font-size: 26px;
  }
  #wrapper.portfolio .portfolio {
    margin-top: 180px;
  }
}