
html, body {
	background: #e3ae7b url(./images/background.jpg) no-repeat 50% 0 fixed;
	font: normal 11px tahoma, helvetica, arial, sans-serif;
	-webkit-background-size: cover;
	-moz-background-size: cover;
	-o-background-size: cover;
	background-size: cover;
	color: #555555;
	position: relative;
	padding-bottom: 6px;
}

a {
	text-decoration:none;
	color:#666666;
}

a:hover {
	color:#ff6b23 !important;
	text-decoration:none;
}

.container {
	width:1100px;
	margin:0px auto;
	position:relative;
}

.toplinks {
	background:#151515;
    -moz-border-radius-topleft:10px;
	height: 20px;
    -moz-border-radius-topright:10px;
}

.topul {
	list-style-type:none;
	margin:0px;
	margin-left:10px;
	padding:0px;
	padding-top:10px;
	padding-bottom:10px;
}

.topul li {
	display:inline;
}

.topul a {
	padding:10px;
	color:white;
	font-weight:bold;
	text-decoration:none;
	font-size:12pt;
}

.topul a:hover {
	/*background:white;
	border-top:1px solid black;*/
	background:url(images/point.png) no-repeat bottom center;
	color:#ff6b23;
}

.content {
	background-color: #eeeeee;
	/*background: url(images/newsrep.png) repeat-y;*/
	border-bottom: 1px solid #202020;
}

.ucp-main {
	width: 75%;
	padding: 10px;
	background-color: #eeeeee;
}

.ucp-title {
	font-size: 19pt;
	padding: 0px;
	margin-bottom: 0px;
}

.ucp-subtitle {
	font-size: 14pt;
	padding: 0px;
	margin-bottom: 30px;
}

.news {
	padding:20px;
	padding-top:10px;
	padding-bottom:10px;
	width:68.5%;
	float:left;
	text-align:justify;
}

.sidebar {
	width:26.9%;
	float:right;
	color:white;
}

.title {
	border-bottom:1px solid #c5c5c5;
	padding:10px;
	padding-top:5px;
	padding-left:40px;
	background:url(images/page.png) no-repeat left;
	position:relative;
	top:-2px;
}

.com_title {
	border-bottom:1px solid #c5c5c5;
	padding:10px;
	padding-top:5px;
	padding-left:40px;
	background:url(images/comments.png) no-repeat left;
	position:relative;
	top:-2px;
}

.title2 {
	border-bottom:1px solid #c5c5c5;
	padding:10px;
	padding-top:5px;
	padding-left:40px;
	background:url(images/page.png) no-repeat left;
	position:relative;
	top:-2px;
	margin-bottom:15px;
}

.error {
	background:url(images/error.png) no-repeat left !important;
}

.com_title2 {
	border-bottom:1px solid #c5c5c5;
	padding:10px;
	padding-top:5px;
	padding-left:40px;
	background:url(images/comments.png) no-repeat left;
	position:relative;
	top:-2px;
	margin-bottom:5px;
}

.text {
	border-bottom:1px solid #c5c5c5;
	padding:15px;
	padding-left:0px;
	padding-right:0px;
	margin-bottom:5px;
}

.ttitle {
	font-size:12pt;
	font-weight:bold;
	color:#ff6b23;
	text-decoration:none;
}

.title .tlink, .title2 .tlink {
	font-size:12pt;
	font-weight:bold;
	color:#ff6b23;
	text-decoration:none;
}
#zagolovok{
	font-size:12pt;
	font-weight:bold;
	color:#ff6b23;
	text-decoration:none;
}
.title .tlink:hover, .title2 .tlink:hover {
	color:#323232 !important;
}

.title .author, .title2 .author {
	padding-left:10px;
	text-align:center;
}

/*.title .comments, */.title2 .comments {
	float:right;
}

.comments .img {
	background:url(images/comment.jpg) no-repeat left;
	min-height:12px;
	min-width:14px;
	float:left;
	position:relative;
	top:3px;
	left:-3px;
}

.sidelinks {
	margin:0px;
	padding:0px;
	width:100%;
	background-color:#3c3c3c;
	list-style-type:none;
}

.sidelinks .ulinktitle {
	padding-left:10px;
	font-size:12pt;
}

.sidelinks li {
	border-bottom:1px solid #202020;
	border-top:1px solid #545454;
	padding:5px;
	padding-left:20px;
}

.sidelinks a {
	color:#e5e5e5;
	text-decoration:none;
}

#div1 {
	float:left;
}
	
.footer {
	border-top: 2px solid #545454;
	background: #3c3c3c url(images/footergrad.png) repeat-x bottom;
	padding: 10px;
	height: 55px;
	color: white;
	font-size: 9pt;
	-moz-border-radius-bottomleft: 10px;
	-moz-border-radius-bottomright: 10px;
}

.footer img
{
	float: left;
	padding-right: 10px;
}

ul {
	margin:0px;
	margin-left:20px;
	padding:0px;
	padding-left:7px;
	list-style-type:disc;

}


.paginate {
	text-align:center;
}

.comment_author {
	font-weight:bold;
}

.comment_box {
	padding:5px;
	border:1px solid #d6d6d6;
	margin-bottom:5px;
	background-color:#f8f8f8;
	margin-top:5px;
}

.comment_warn {
	background-color:#c9f9d7;
	border:1px solid green;
	padding:5px;
}

.comment_warn span {
	position:relative;
	top:-9px;
	left:5px;
}

/*input, textarea {
	padding:5px;
	font-family: "Segoe UI", Tahoma, Geneva, sans-serif;
}*/
#footer a {
	color: #FFFFFF;
}

table.banlog 	{ width: 610px; color: #000000; font-size: 12px; border-right:1px solid #ccc; border-bottom:1px solid #ccc; }
table.banlog th	{ background:#FFEFBB; padding:6px; border-left:1px solid #ccc; border-top:1px solid #ccc; }
table.banlog td	{ padding:6px; border-left:1px solid #ccc; border-top:1px solid #ccc; }

table.donate 	{ width: 600px; color: #000000; font-size: 12px; border-right:1px solid #ccc; border-bottom:1px solid #ccc; }
table.donate td	{ padding:6px; border-left:1px solid #ccc; border-top:1px solid #ccc; }

h1.banlog { 
width: 910px;
font-size: 18px;
font-family: Verdana, Arial, Helvetica, sans-serif; 
color: #233366; 
}

.logos img {
opacity: 0.5;
padding:0px 10px;
/*max-width: 12; max-height:12; */
border: none;
}

.logos img:hover {
filter:alpha(opacity=95); 
moz-opacity: 0.95; 
opacity: 0.95;

}