*{
    margin: 0;
    padding: 0;
}
input, button{
    outline: none;
}
button{
    cursor: pointer;
}
img{
    width: 100%;
}
body{
    background-color: white;
    overflow-x: hidden;
}
html{
    overflow-x: hidden;
}
li{
    list-style: none;
}

@media screen and (min-width: 320px) {

    @mixin w100{
        width: 100%;
        box-sizing: border-box;
    }
    .page{
        @include w100;
    }
    .dropdown{
        @include w100;
        display: block;
        background-color: rgba(0, 0, 0, 0.6);
        width: 100vw;
        height: 100vh;
        position: fixed;
        z-index: 10;
        transition: .4s ease;
        .dropdown__wrapper{
            width: 90%;
            height: auto;
            background-color: white;
            box-sizing: border-box;
            position: absolute;
            top: 0;
            right: 0;
            .dropdown__top{
                width: 100%;
                background-color: #FF2929;
                display: flex;
                box-sizing: border-box;
                align-items: center;
                justify-content: space-between;
                padding: 7px 15px;
                .dropdown__title{
                    font-family: 'SF Pro Display';
                    font-size: 22px;
                    font-weight: 400;
                    color: white;
                }
                .dropdown__arrow{
                    width: 28px;
                    height: 28px;
                    border-radius: 50%;
                    background-color: white;
                    box-sizing: border-box;
                    padding: 5px;
                    transition: .4s ease;
                    cursor: pointer;
                    img{
                        margin-top: -1px;
                    }
                    &:hover{
                        opacity: 0.6;
                    }
                }
            }
            .dropdown__items{
                margin-top: 15px;
                padding: 20px;
                display: flex;
                flex-wrap: wrap;
                justify-content: center;
                .dropdown__item{
                    width: 100%;
                    height: 45px;
                    text-align: center;
                    .dropdown__link{
                        font-family: 'SF Pro Display';
                        font-weight: 400;
                        color: #353535;
                        font-size: 18px;
                        text-decoration: none;
                    }
                    &:hover{
                        opacity: 0.6;
                    }
                }
            }
            .dropdown__contact{
                text-align: center;
                .contact__row{
                    margin-top: 5px;
                }
            }
            .dropdown__socials{
                margin-top: 20px;
                margin-bottom: 20px;
            }
        }
    }
    .callback{
        @include w100;
        display: block;
        background-color: rgba(0, 0, 0, 0.6);
        width: 100vw;
        height: 100vh;
        position: fixed;
        z-index: 10;
        transition: .4s ease;
        .callback__wrapper{
            cursor: pointer;
            max-width: 500px;
            width: 90%;
            height: auto;
            background-color: white;
            box-sizing: border-box;
            position: absolute;
            top: 50%;
            left: 50%;
            transform: translate(-50%, -50%);
            max-height: 90vh;
            overflow: auto;
            .callback__top{
                width: 100%;
                box-sizing: border-box;
                padding: 10px 20px;
                background-color: #FF2929;
                position: relative;
                .callback__title{
                    width: 100%;
                    text-align: center;
                    font-family: 'SF Pro Display';
                    font-size: 22px;
                    color: white;
                    font-weight: 400;
                }
                .callback__close{
                    position: absolute;
                    top: 7px;
                    right: 7px;
                    width: 16px;
                    height: 16px;
                    border: 1px solid white;
                    border-radius: 50%;
                    transition: .4s ease;
                    span{
                        display: block;
                        height: 1px;
                        width: 10px;
                        background-color: white;
                        position: absolute;
                        top: 48%;
                        left: 48%;
                        &:nth-child(1){
                            transform: translate(-50%, -50%) rotate(45deg);
                        }
                        &:nth-child(2){
                            transform: translate(-50%, -50%) rotate(-45deg);
                        }
                    }
                    &:hover{
                        opacity: 0.6;
                    }
                }
            }
            .callback__subtitle{
                display: block;
                width: 100%;
                box-sizing: border-box;
                padding: 10px 20px;
                text-align: center;
                font-family: 'SF Pro Display';
                font-size: 14px;
                font-weight: 700;
            }
            .callback__form{
                width: 100%;
                box-sizing: border-box;
                padding: 20px;
                padding-top: 10px;
                display: flex;
                flex-wrap: wrap;
                justify-content: center;
                .callback__input{
                    @include w100;
                    margin-top: 10px;
                    position: relative;
                    input{
                        @include w100;
                        height: 50px;
                        padding: 15px;
                        border: none;
                        border-radius: 2px;
                        font-family: 'SF Pro Display';
                        font-weight: 500;
                        font-size: 16px;
                        color: #353535;
                        border: 1px solid #818181;
                        &:focus ~ .placeholder, &:valid ~ .placeholder{
                            display: none;
                        }
                    }
                    .placeholder{
                        position: absolute;
                        top: 50%;
                        left: 15px;
                        font-family: 'SF Pro Display';
                        font-weight: 400;
                        font-size: 16px;
                        color: #818181;
                        transform: translate(0, -50%);
                        b{
                            color: #FF2929;
                        }
                    }
                }
                .callback__textarea{
                    width: 100%;
                    margin-top: 10px;
                    border: 1px solid #818181;
                    resize: none;
                    height: 160px;
                    border-radius: 2px;
                    box-sizing: border-box;
                    padding: 15px;
                    font-family: 'SF Pro Display';
                    font-size: 16px;
                }
                .callback__button{
                    margin-top: 25px;
                }
                .callback__small{
                    font-family: 'SF Pro Display';
                    font-size: 12px;
                    color: #A5A5A5;
                    text-align: center;
                    margin-top: 15px;
                }
            }
        }
    }
    .preview{
        @include w100;
        background-image: url("../img/preview-bg.png");
        background-size: cover;
        background-position: center;
        display: flex;
        flex-wrap: wrap;
        position: relative;
        padding-bottom: 40px;
        .preview__header{
            top: 15px;
            left: 15px;
        }
        .preview__text{
            @include w100;
            margin-top: 120px;
            padding: 15px;
            .preview__slogan{
                font-size: 14px;
                font-family: 'SF Pro Display';
                color: #FF2929;
            }
            .preview__title{
                font-size: 22px;
                font-family: 'SF Pro Display';
                font-weight: 900;
                color: #353535;
                margin-top: 15px;
                line-height: 27px;
            }
            .preview__subtitle{
                font-size: 16px;
                font-family: 'SF Pro Display';
                color: #353535;
                margin-top: 15px;
                line-height: 1.37;
                b{
                    color: #FF2929;
                }
            }
            .preview__button{
                margin-top: 25px;
            }
            .preview__socials{
                display: flex;
                margin-top: 25px;
                justify-content: flex-start;
            }
        }
        .preview__image{
            display: none;
        }
    }
    .banner{
        position: relative;
        @include w100;
        .banner__red{
            @include w100;
            padding: 20px;
            background-image: url("../img/red-bg.png");
            background-size: cover;
            background-position: center;
            height: 300px;
            .banner__fire{
                width: 60px;
                margin-left: auto;
                margin-right: auto;
                margin-top: 15px;
            }
            .banner__cry{
                font-family: 'SF Pro Display';
                font-size: 36px;
                color: white;
                width: 100%;
                text-align: center;
                margin-top: 10px;
            }
        }
        .banner__white{
            @include w100;
            padding: 20px;
            background-image: url("../img/white-bg.png");
            background-size: cover;
            background-position: center;
            height: 300px;
            .banner__title{
                font-family: 'SF Pro Display';
                font-size: 28px;
                width: 90%;
                margin-left: auto;
                margin-right: auto;
                text-align: center;
                margin-top: 100px;
                color: #353535;
                line-height: 34px;
                b{
                    color: #FF2929;
                }
            }
            .banner__span{
                display: block;
                width: 80%;
                margin-left: auto;
                margin-right: auto;
                text-align: center;
                margin-top: 10px;
                font-family: 'SF Pro Display';
                font-size: 16px;
                line-height: 22px;
                color: #5E5E5E;
            }
        }
        .banner__circle{
            position: absolute;
            top: 50%;
            left: 50%;
            transform: translate(-50%, -50%);
        }
    }
    .size{
        @include w100;
        padding: 20px;
        display: flex;
        flex-wrap: wrap;
        .size__content{
            order: 0;
            .size__title{
                margin-left: auto;
                margin-right: auto;
                margin-top: 5px;
            }
            .size__text{
                margin-top: 15px;
            }
            .size__button{
                margin-left: auto;
                margin-right: auto;
                margin-top: 15px;
            }
        }
        .size__image{
            order: 1;
            width: 90%;
            margin-left: auto;
            margin-right: auto;
            margin-top: 30px;
            img:nth-child(1){
                display: none;
            }
        }
    }
    .material{
        @include w100;
        margin-top: 20px;
        background-color: #FF2929;
        padding: 20px;
        .material__text{
            width: 100%;
            .material__title{
                width: 100%;
                text-align: center;
                font-family: 'SF Pro Display';
                font-size: 22px;
                color: white;
                font-weight: 400;
                &:after{
                    content: "";
                    display: block;
                    width: 20%;
                    height: 1px;
                    background-color: white;
                    margin-left: auto;
                    margin-right: auto;
                    margin-top: 5px;
                }
            }
            .material__subtitle{
                width: 100%;
                font-family: 'SF Pro Display';
                color: white;
                font-size: 16px;
                font-weight: 400;
                margin-top: 10px;
            }
        }
        .material__image{
            display: none;
        }
    }
    .sliding{
        @include w100;
        padding: 20px;
        .sliding__content{
            @include w100;
            .sliding__title{
                margin-top: 10px;
            }
            .sliding__bold{
                margin-top: 15px;
            }
            .sliding__text{
                margin-top: 10px;
                margin-bottom: 5px;
            }
            .sliding__parts{
                @include w100;
                display: flex;
                flex-wrap: wrap;
                justify-content: center;
                .sliding__part{
                    width: 100%;
                    text-align: center;
                    margin-top: 15px;
                    font-family: 'SF Pro Display';
                    font-weight: 700;
                    font-size: 16px;
                    color: #353535;
                    b{
                        color: #FF2929;
                    }
                }
            }
            .sliding__bold_hide{
                display: none;
            }
            .sliding__button{
                margin-left: auto;
                margin-right: auto;
                margin-top: 15px;
            }
        }
        .sliding__image{
            @include w100;
            margin-top: 30px;
            img:nth-child(1){
                display: none;
            }
        }
    }
    .buy{
        @include w100;
        padding: 20px;
        background-image: url("../img/steps-bg.png");
        background-size: auto 100%;
        background-position: center;
        .buy__steps{
            @include w100;
            .buy__step{
                margin-top: 25px;
                &:nth-child(3) .step__image{
                    width: 190px;
                }
            }
        }
    }
    .contacts{
        @include w100;
        padding: 15px;
        background-image: url("../img/form-bg.png");
        background-size: cover;
        background-position: center;
        .contacts__title{
            color: white;
            &:after{
                height: 2px;
            }
        }
        .contacts__text{
            font-weight: 500;
            margin-top: 10px;
        }
        .contacts__form{
            margin-top: 15px;
            @include w100;
            .contacts__input{
                @include w100;
                margin-top: 10px;
                position: relative;
                input{
                    @include w100;
                    height: 50px;
                    padding: 15px;
                    border: none;
                    border-radius: 2px;
                    font-family: 'SF Pro Display';
                    font-weight: 500;
                    font-size: 16px;
                    color: #353535;
                    &:focus ~ .placeholder, &:valid ~ .placeholder{
                        display: none;
                    }
                }
                .placeholder{
                    position: absolute;
                    top: 50%;
                    left: 15px;
                    font-family: 'SF Pro Display';
                    font-weight: 400;
                    font-size: 16px;
                    color: #818181;
                    transform: translate(0, -50%);
                    b{
                        color: #FF2929;
                    }
                }
            }
            .contacts__button{
                margin-left: auto;
                margin-right: auto;
                margin-top: 20px;
                padding: 10px 20px;
            }
        }
        .contacts__bold{
            margin-top: 20px;
        }
        .contacts__socials{
            margin-top: 15px;
        }
        .contacts__lite{
            display: block;
            width: 100%;
            text-align: center;
            font-family: 'SF Pro Display';
            font-size: 11px;
            margin-top: 10px;
            color: #A5A5A5;
        }
    }
    .variants{
        @include w100;
        padding: 20px;
        .variants__title{
            margin-top: 10px;
        }
        .variants__items{
            @include w100;
            display: flex;
            flex-wrap: wrap;
            justify-content: center;
            align-items: center;
            .variants__item{
                width: 45%;
                margin-left: 1.75%;
                margin-right: 1.75%;
                margin-top: 20px;
                .variants__span{
                    display: block;
                    width: 100%;
                    text-align: center;
                    font-family: 'SF Pro Display';
                    font-weight: 700;
                    color: #353535;
                    font-size: 14px;
                    margin-top: 5px;
                }
            }
        }
    }
    .main-color{
        @include w100;
        padding: 20px;
        .main-color__title{
            margin-top: 10px;
        }
        .main-color__subtitle{
            margin-top: 15px;
        }
        .main-color__colors{
            @include w100;
            display: flex;
            flex-wrap: wrap;
            justify-content: center;
            .main-color__color{
                margin-top: 20px;
                width: 45%;
                margin-left: 1.75%;
                margin-right: 1.75%;
            }
        }
    }
    .profile-color{
        @include w100;
        padding: 20px;
        .profile-color__colors{
            @include w100;
            display: flex;
            flex-wrap: wrap;
            justify-content: center;
            .profile-color__color{
                margin-top: 20px;
                width: 45%;
                margin-left: 1.75%;
                margin-right: 1.75%;
            }
        }
    }
    .our-projects{
        @include w100;
        padding: 20px;
        .our-projects__examples{
            margin-top: 20px;
            display: flex;
            width: 100%;
            overflow: auto;
            padding-bottom: 20px;
            &::-webkit-scrollbar{
                width: 15px;
                height: 15px;
                border-radius: 5px;
            }
            &::-webkit-scrollbar-track{
                background-color: white;
                border-radius: 5px;
                border-bottom: 1px solid rgba(0, 0, 0, 0.1);
            }
            &::-webkit-scrollbar-thumb{
                background-color: #FF2929;
                border-radius: 5px;
            }
        }
    }
    .advantages{
        @include w100;
        padding: 20px;
        background-image: url("../img/adv-bg.png");
        background-size: cover;
        background-position: center;
        .advantages__list{
            margin-top: 20px;
            .advantages__item{
                margin-top: 20px;
            }
        }
    }
    .images{
        @include w100;
        padding: 20px;
        img{
            margin-top: 20px;
            &:nth-child(1){
                border-radius: 5px;
            }
        }
    }
    .certificates{
        @include w100;
        padding: 20px;
        .certificates__list{
            margin-top: 20px;
            display: flex;
            width: 100%;
            overflow: auto;
            padding-bottom: 20px;
            &::-webkit-scrollbar{
                width: 15px;
                height: 15px;
                border-radius: 5px;
            }
            &::-webkit-scrollbar-track{
                background-color: white;
                border-radius: 5px;
                border-bottom: 1px solid rgba(0, 0, 0, 0.1);
            }
            &::-webkit-scrollbar-thumb{
                background-color: #FF2929;
                border-radius: 5px;
            }
        }
    }
    .footer{
        @include w100;
        margin-top: 30px;
        background-color: #2D2D2D;
        padding: 20px;
        .footer__span{
            display: block;
            font-family: 'SF Pro Display';
            font-size: 14px;
            color: #C7C7C7;
            text-align: center;
            font-weight: 400;
        }
    }

    .header{
        width: calc(100% - 30px);
        box-sizing: border-box;
        padding: 10px;
        position: absolute;
        background-color: white;
        display: flex;
        justify-content: space-between;
        align-items: center;
        box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
        .header__navbar{
            display: none;
        }
        .header__contact{
            display: flex;
            flex-wrap: wrap;
            .contact__row{
                display: block;
                text-align: right;
                width: 100%;
                font-size: 14px;
                line-height: 1.3;
            }
        }
        .header__dropdown-burger{
            display: none;
            cursor: pointer;
            width: 45px;
            height: 45px;
            background-color: red;
            border-radius: 50%;
            position: relative;
            transition: .4s ease;
            span{
                width: 25px;
                height: 3px;
                background-color: white;
                position: absolute;
                left: 50%;
                transform: translate(-50%, 0);
            }
            span:nth-child(1){
                top: 11px;
            }
            span:nth-child(2){
                top: 21px;
                width: 15px;
                right: 0;
                left: auto;
                transform: translate(-70%, 0);
            }
            span:nth-child(3){
                bottom: 11px;
            }
            &:hover{
                opacity: 0.5;
            }
        }
    }
    .logo{
        width: auto;
        display: flex;
        align-items: center;
        .logo__image{
            transform: translate(0, 2px);
            width: 150px;
            margin-right: 10px;
        }
        .logo__span{
            font-family: 'SF Pro Display';
            font-weight: 700;
            font-size: 18px;
            color: #FF2929;
        }
    }
    .button{
        cursor: pointer;
        transition: .4s ease;
        width: auto;
        height: 40px;
        padding: 0 15px;
        display: flex;
        align-items: center;
        background-color: #FF2929;
        border-radius: 20px;
        border: none;
        box-shadow: 0px 2px 0px #D91313;
        .button__play{
            width: 25px;
            margin-right: 10px;
            margin-top: 3px;
        }
        .button__span{
            font-family: 'SF Pro Display';
            font-size: 16px;
            line-height: 40px;
            margin-top: 1px;
            color: white;
            font-weight: 700;
        }
        &:hover{
            opacity: 0.5;
        }
    }
    .circle{
        width: 190px;
        .circle__image{
            width: 100%;
        }
        .circle__text{
            width: 100%;
            position: absolute;
            top: 50%;
            left: 50%;
            transform: translate(-50%, -50%);
            .circle__title{
                width: 100%;
                font-family: 'SF Pro Display';
                font-size: 30px;
                font-weight: 700;
                color: white;
                text-align: center;
            }
            .circle__subtitle{
                display: block;
                width: 100%;
                font-family: 'SF Pro Display';
                font-size: 18px;
                color: white;
                font-weight: 700;
                text-align: center;
                margin-top: 5px;
            }
        }
    }
    h1.title{
        width: 100%;
        text-align: center;
        font-family: 'SF Pro Display';
        font-size: 22px;
        font-weight: 400;
        color: #353535;
        line-height: 28px;
        &:after{
            content: "";
            display: block;
            width: 20%;
            height: 5px;
            background-color: #FF2929;
            margin-left: auto;
            margin-right: auto;
            border-radius: 5px;
            margin-top: 10px;
        }
    }
    h2.title{
        width: 100%;
        text-align: center;
        font-family: 'SF Pro Display';
        font-size: 20px;
        font-weight: 400;
        color: #353535;
        line-height: 28px;
        &:after{
            content: "";
            display: block;
            width: 20%;
            height: 2px;
            background-color: #FF2929;
            margin-left: auto;
            margin-right: auto;
            border-radius: 5px;
            margin-top: 10px;
        }
    }
    .text{
        width: 100%;
        text-align: center;
        font-family: 'SF Pro Display';
        font-size: 16px;
        color: #353535;
        font-weight: 400;
    }
    .text_white{
        color: white;
    }
    .bold{
        display: block;
        width: 100%;
        font-family: 'SF Pro Display';
        font-size: 14px;
        font-weight: 700;
        color: #353535;
        text-align: center;
    }
    .bold_white{
        color: white;
        font-size: 16px;
    }
    .step{
        width: 100%;
        .step__image{
            width: 150px;
            margin-left: auto;
            margin-right: auto;
        }
        .step__title{
            width: 100%;
            text-align: center;
            margin-top: 10px;
            font-family: 'SF Pro Display';
            font-weight: 400;
            color: #FF2929;
            font-size: 24px;
            line-height: 38px;
            b{
                font-size: 38px;
                font-weight: 700;
                margin-right: 10px;
            }
        }
        .step__subtitle{
            width: 80%;
            margin-left: auto;
            margin-right: auto;
            font-size: 18px;
            line-height: 1.5;
        }
    }
    .socials{
        @include w100;
        display: flex;
        flex-wrap: wrap;
        justify-content: center;
        align-items: center;
        .socials__span{
            width: 100%;
            font-family: 'SF Pro Display';
            font-size: 18px;
            color: #353535;
            font-weight: 500;
        }
        .socials__item{
            margin-top: 15px;
            width: 40px;
            margin-left: 7px;
            margin-right: 7px;
            transition: .4s ease;
            &:hover{
                opacity: 0.5;
            }
        }
    }
    .color{
        .color__image{
            width: 100%;
        }
        .color__span{
            width: 100%;
            display: block;
            text-align: center;
            font-family: 'SF Pro Display';
            font-weight: 500;
            color: #353535;
            font-size: 14px;
        }
    }
    .example{
        height: 380px;
        margin-right: 5%;
        position: relative;
        img{
            width: auto;
            height: 100%;
        }
        &:nth-child(7){
            margin-right: 0;
        }
        .example__price{
            width: auto;
            position: absolute;
            bottom: 0;
            left: 50%;
            transform: translate(-50%, 0);
            padding: 15px 25px;
            background-color: #FF2929;
            font-family: 'SF Pro Display';
            font-size: 16px;
            font-weight: 700;
            color: white;
            white-space: nowrap;
        }
    }
    .adv-item{
        @include w100;
        position: relative;
        .adv-item__text{
            position: absolute;
            top: 50%;
            left: 50%;
            transform: translate(-50%, -50%);
            font-family: 'SF Pro Display';
            color: white;
            width: 80%;
            text-align: center;
            line-height: 27px;
            .adv-item__bold{
                font-size: 20px;
                font-weight: 700;
            }
            .adv-item__small{
                font-weight: 400;
                font-size: 20px;
            }
        }
    }
    .cert-item{
        min-width: 80%;
        margin-right: 5%;
        position: relative;
        &:nth-child(4){
            margin-right: 0;
        }
    }
    .contact{
        width: auto;
        .contact__row{
            font-family: 'SF Pro Display';
            font-size: 18px;
            font-weight: 400;
            line-height: 24px;
            color: #353535;
            text-decoration: none;
        }
    }

}
@media screen and (min-width: 768px) {
    
    @mixin w100{
        width: 100%;
        box-sizing: border-box;
    }

    .dropdown{
        display: none;
    }
    .callback{
        .callback__wrapper{
            width: 70%;
            .callback__top{
                .callback__title{
                    font-size: 40px;
                }
                .callback__close{
                    width: 30px;
                    height: 30px;
                    border-width: 2px;
                    span{
                        top: 50%;
                        left: 50%;
                        width: 20px;
                        height: 2px;
                    }
                }
            }
            .callback__subtitle{
                width: 90%;
                margin-left: auto;
                margin-right: auto;
                font-size: 20px;
            }
            .callback__form{
                .callback__input{
                    input{
                        font-size: 18px;
                        height: 60px;
                    }
                    .placeholder{
                        font-size: 18px;
                    }
                }
                .callback__textarea{
                    font-size: 18px;
                }
            }
        }
    }
    .preview{
        display: flex;
        align-items: center;
        justify-content: space-between;
        padding-bottom: 0;
        .preview__header{
            top: 20px;
            left: 20px;
        }
        .preview__text{
            box-sizing: border-box;
            padding: 20px;
            width: 50%;
            margin-top: 0;
            margin-top: 100px;
        }
        .preview__image{
            box-sizing: border-box;
            padding: 20px;
            margin-top: 100px;
            display: block;
            width: 50%;
            img{
                display: block;
                &:nth-child(1){
                    display: none;
                }
            }
        }
    }
    .banner{
        margin-top: 20px;
        display: flex;
        .banner__red{
            width: 50%;
            height: 150px;
            display: flex;
            justify-content: center;
            align-items: center;
            .banner__fire{
                display: flex;
                align-items: center;
                width: 60px;
                height: 150px;
                margin: 0;
                margin-right: 15px;
                margin-left: -12%;
            }
            .banner__cry{
                width: auto;
                font-size: 32px;
            }
            .banner__circle{
                width: 150px;
                height: 150px;
            }
        }
        .banner__white{
            width: 50%;
            height: 150px;
            display: flex;
            flex-wrap: wrap;
            justify-content: center;
            align-items: center;
            .banner__title{
                width: 70%;
                margin-top: 0;
                text-align: right;
                font-size: 26px;
                margin-left: 12%;
            }
            .banner__span{
                width: 70%;
                margin-top: 0;
                text-align: right;
                margin-left: 12%;
            }
        }
    }
    .size{
        margin-top: 10px;
        display: flex;
        align-items: center;
        justify-content: space-between;
        .size__image{
            order: 0;
            width: 48%;
            margin: 0;
        }
        .size__content{
            order: 1;
            width: 48%;
            .size__text{
                margin-top: 20px;
            }
            .size__button{
                margin-top: 20px;
            }
        }
    }
    .material{
        display: flex;
        justify-content: space-between;
        align-items: center;
        .material__text{
            width: 65%;
            .material__title{
                width: auto;
                text-align: left;
                font-size: 24px;
                &:after{
                    margin-left: 0;
                    margin-right: 0;
                    width: 60px;
                    margin-top: 10px;
                }
            }
            .material__subtitle{
                margin-top: 15px;
            }
        }
        .material__image{
            display: block;
            width: 30%;
            img{
                transform: scale(1.5);
            }
        }
    }
    .sliding{
        margin-top: 40px;
        margin-bottom: 50px;
        display: flex;
        align-items: center;
        justify-content: space-between;
        .sliding__content{
            width: 45%;
            .sliding__bold_hide{
                display: block;
            }
            .sliding__title{
                margin-top: 0;
            }
        }
        .sliding__image{
            width: 50%;
        }
    }
    .buy{
        padding-top: 30px;
        padding-bottom: 30px;
        .buy__steps{
            display: flex;
            justify-content: space-between;
        }
    }
    .contacts{
        padding: 20px;
        .contacts__form{
            margin-top: 20px;
            display: flex;
            align-items: center;
            justify-content: space-between;
            .contacts__input{
                margin-top: 0;
                width: auto;
                flex-grow: 1;
                margin-right: 20px;
            }
            .contacts__button{
                margin: 0;
                white-space: nowrap;
            }
        }
        .contacts__bold{
            margin-top: 30px;
        }
    }
    .variants{
        .variants__items{
            justify-content: center;
            .variants__item{
                width: 30%;
                margin-left: 1.5%;
                margin-right: 1.5%;
            }
        }
    }
    .main-color{
        .main-color__colors{
            flex-wrap: nowrap;
        }
    }
    .profile-color{
        .profile-color__colors{
            flex-wrap: nowrap;
        }
    }
    .our-projects{
        .our-projects__examples{
            display: flex;
            margin-top: 50px;
        }
    }
    .advantages{
        .advantages__list{
            display: flex;
        }
    }
    .images{
        padding: 20px 10%;
        display: flex;
        justify-content: center;
        flex-wrap: wrap;
        img{
            margin-top: 30px;
        }
        img:nth-child(1){
            width: 80%;
            margin-left: auto;
            margin-right: auto;
        }
    }
    .certificates{
        .certificates__list{
            flex-wrap: nowrap;
        }
    }

    .header{
        .header__contact{
            display: block;
        }
    }
    .logo{
        .logo__image{
            width: 160px;
        }
        .logo__span{
            font-size: 22px;
        }
    }
    .contact{
        width: auto;
        .contact__row{
            font-family: 'SF Pro Display';
            font-size: 18px;
            font-weight: 400;
            line-height: 24px;
            color: #353535;
        }
    }
    .circle{
        width: 150px;
        height: 150px;
        .circle__text{
            .circle__title{
                font-size: 24px;
            }
            .circle__subtitle{
                font-size: 18px;
            }
        }
    }
    h1.title{
        font-size: 28px;
        line-height: 1.5;
        &:after{
            margin-top: 20px;
        }
    }
    .text{
        font-size: 16px;
    }
    .button{
        padding: 25px 30px;
        height: 50px;
        border-radius: 50px;
    }
    .step{
        width: 30%;
        .step__image{
            height: 150px;
        }
        .step__subtitle{
            font-size: 16px;
        }
    }
    .socials{
        .socials__item{
            width: 30px;
        }
    }
    .color{
        .color__span_huge{
            font-size: 18px;
            margin-top: 15px;
        }
    }
    .example{
        height: 400px;
        transition: .4s ease;
    }
    .adv-item{
        margin-left: 2%;
        margin-right: 2%;
        .adv-item__text{
            .adv-item__bold{
                font-size: 18px;
            }
            .adv-item__small{
                font-size: 16px;
            }
        }
    }
    .cert-item{
        min-width: auto;
    }

}
@media screen and (min-width: 1024px) {
    
    @mixin w100{
        width: 100%;
        box-sizing: border-box;
    }
    .preview{
        .preview__header{
            top: 25px;
            left: 25px;
        }
        .preview__text{
            padding: 25px;
            width: 45%;
            .preview__slogan{
                font-size: 20px;
            }
            .preview__title{
                font-size: 30px;
                line-height: 1.35;
            }
            .preview__subtitle{
                font-size: 18px;
                line-height: 1.35;
                margin-top: 20px;
                b{
                    font-size: 22px;
                }
            }
            .preview__button{
                margin-top: 25px;
            }
            .preview__socials{
                display: flex;
                width: auto;
                justify-content: flex-start;
                margin-top: 15px;
            }
        }
        .preview__image{
            width: 55%;
            margin-top: 0;
            padding: 0;
            position: relative;
            img:nth-child(1){
                display: block;
                position: absolute;
                transform: scale(0.74);
                top: 13%;
            }
            img:nth-child(2){
                display: block;
            }
        }
    }
    .banner{
        .banner__red{
            height: 160px;
            .banner__fire{
                width: 80px;
                margin-right: 20px;
            }
            .banner__cry{
                font-size: 42px;
            }
        }
        .banner__white{
            height: 160px;
            padding-top: 60px;
            padding-bottom: 60px;
            .banner__title{
                font-size: 26px;
                width: 86%;
            }
            .banner__span{
                font-size: 17px;
                width: 86%;
            }
        }
    }
    .size{
        .size__image{
            width: 45%;
            margin-left: 2%;
            position: relative;
            img:nth-child(1){
                display: block;
                position: absolute;
                top: 25%;
                left: 10%;
                transform: scale(1.31);
            }
        }
        .size__content{
            width: 45%;
        }
    }
    .material{
        .material__text{
            width: 70%;
            padding: 35px;
            .material__title{
                font-size: 26px;
            }
            .material__subtitle{
                font-size: 18px;
            }
        }
        .material__image{
            width: 25%;
        }
    }
    .sliding{
        .sliding__image{
            position: relative;
            img:nth-child(1){
                display: block;
                position: absolute;
                transform: scale(1.066);
                top: 1%;
                left: -6%;
            }
            img:nth-child(2){
                display: block;
            }
        }
    }
    .variants{
        .variants__items{
            .variants__item{
                .variants__span{
                    font-size: 18px;
                }
            }
        }
    }
    .contacts{
        .contacts__form{
            .contacts__button{
                padding-left: 30px;
                padding-right: 30px;
            }
        }
    }
    .main-color{
        margin-top: 30px;
    }
    .profile-color{
        margin-top: 30px;
    }
    .our-projects{
        margin-top: 30px;
    }
    .images{
        padding: 30px 15%;
    }
    
    .header{
        z-index: 1;
        width: calc(100% - 50px);
        .header__navbar{
            display: flex;
        }
        .header__dropdown-burger{
            display: none;
        }
        .header__contact{
            .contact__row{
                font-size: 18px;
            }
        }
    }
    .navbar{
        display: flex;
        .navbar__item{
            margin-left: 5px;
            margin-right: 5px;
            a{
                text-decoration: none;
                font-family: 'SF Pro Display';
                font-size: 15px;
                color: #353535;
                transition: .4s ease;
                &:hover{
                    color: #FF2929;
                }
            }
        }
    }
    .button{
        height: 60px;
        .button__play{
            width: 30px;
        }
        .button__span{
            font-size: 18px;
        }
    }
    .circle{
        width: 160px;
        height: 160px;
        .circle__text{
            .circle__title{
                font-size: 26px;
            }
            .circle__subtitle{
                font-size: 20px;
            }
        }
    }
    h1.title{
        font-size: 40px;
        &:after{
            width: 70px;
            height: 8px;
        }
    }
    h2.title{
        font-size: 26px;
        &:after{
            width: 60px;
        }
    }
    .bold{
        font-size: 18px;
    }
    .text{
        font-size: 18px;
    }
    .socials{
        .socials__item{
            width: 35px;
        }
    }
    .color{
        .color__span{
            font-size: 17px;
        }
        .color__span_huge{
            font-size: 18px;
        }
    }
    .adv-item{
        margin-left: 10px;
        margin-right: 10px;
        .adv-item__text{
            .adv-item__bold{
                font-size: 20px;
                line-height: 1.35;
            }
            .adv-item__small{
                font-size: 18px;
            }
        }
    }

}
@media screen and (min-width: 1440px) {
   
    .preview{
        max-width: 1800px;
        margin-left: auto;
        margin-right: auto;
        justify-content: flex-end;
        align-items: normal;
        .preview__header{
            top: 30px;
            left: 50%;
            transform: translate(-50%, 0);
        }
        .preview__image{
            width: 58%;
        }
        .preview__text{
            margin-top: 13%;
            width: 42%;
            max-width: calc(1720px - 58%);
            position: relative;
            .preview__slogan{
                font-size: 26px;
            }
            .preview__title{
                font-size: 40px;
            }
            .preview__subtitle{
                font-size: 22px;
            }
            .preview__socials{
                position: absolute;
                bottom: 30px;
                left: 30px;
            }
        }
    }
    .banner{
        max-width: 1800px;
        margin-left: auto;
        margin-right: auto;
        .banner__white{
            justify-content: center;
            .banner__title{
                margin-right: 20%;
            }
            .banner__span{
                margin-right: 20%;
            }
        }
    }
    .size{
        max-width: 1800px;
        margin-left: auto;
        margin-right: auto;
        .size__content{
            .size__text{
                margin-top: 30px;
            }
            .size__button{
                margin-top: 35px;
            }
        }
    }
    .material{
        max-width: 1800px;
        margin-left: auto;
        margin-right: auto;
        .material__image{
            max-width: 300px;
        }
        .material__text{
            .material__title{
                font-size: 40px;
            }
            .material__subtitle{
                font-size: 22px;
            }
        }
    }
    .sliding{
        margin-top: 80px;
        margin-bottom: 110px;
        max-width: 1800px;
        margin-left: auto;
        margin-right: auto;
        .sliding__content{
            .sliding__bold{
                margin-top: 30px;
            }
            .sliding__parts{
                .sliding__part{
                    font-size: 28px;
                }
            }
            .sliding__button{
                margin-top: 25px;
            }
        }
    }
    .buy{
        max-width: 1800px;
        margin-left: auto;
        margin-right: auto;
        .buy__steps{
            .buy__step:nth-child(3) .step__image{
                width: 350px;
            }
        }
    }
    .contacts{
        max-width: 1800px;
        margin-left: auto;
        margin-right: auto;
        padding: 30px 20%;
    }
    .variants{
        max-width: 1800px;
        margin-left: auto;
        margin-right: auto;
    }
    .main-color{
        margin-left: auto;
        margin-right: auto;
        max-width: 1800px;
    }
    .profile-color{
        margin-left: auto;
        margin-right: auto;
        max-width: 1800px;
    }
    .our-projects{
        margin-top: 40px;
        margin-left: auto;
        margin-right: auto;
        max-width: 1800px;
    }
    .advantages{
        margin-top: 40px;
        margin-left: auto;
        margin-right: auto;
        max-width: 1800px;
    }
    .images{
        padding: 35px 20%;
        max-width: 1800px;
        margin-left: auto;
        margin-right: auto;
        img{
            margin-top: 35px;
        }
    }
    .certificates{

        margin-top: 40px;
        margin-left: auto;
        margin-right: auto;
        max-width: 1800px;
    }

    .header{
        max-width: 1600px;
        padding-left: 30px;
        padding-right: 30px;
        height: 90px;
    }
    .logo{
        .logo__image{
            margin-right: 15px;
        }
    }
    .navbar{
        .navbar__item{
            margin-left: 15px;
            margin-right: 15px;
            a{
                font-size: 18px;
            }
        }
    }
    .contact{
        .contact__row{
            font-size: 22px;
            line-height: 1.35;
        }
    }
    h1.title{
        font-size: 60px;
    }
    h2.title{
        font-size: 40px;
        &:after{
            margin-top: 20px;
        }
    }
    .text{
        font-size: 20px;
    }
    .bold{
        font-size: 22px;
    }
    .text{
        font-size: 20px;
    }
    .step{
        width: 30%;
        .step__image{
            width: 280px;
            height: 300px;
        }
        .step__title{
            font-size: 55px;
            b{
                font-size: 60px;
            }
        }
        .step__subtitle{
            margin-top: 20px;
            font-size: 22px;
        }
    }
    .color{
        .color__span{
            font-size: 24px;
            font-weight: 400;
        }
        .color__span_huge{
            font-size: 28px;
            margin-top: 20px;
        }
    }
    .footer{
        .footer__span{
            font-size: 18px;
        }
    }
    .example{
        height: 550px;
    }

}