*{
	margin: 0;
	padding: 0;
	outline: none;
}

@media screen and (min-width: 320px){
	
	#dropdown{
		position: fixed;
		top: 0;
		left: 0;
		width: 100%;
		height: 100%;
		background-color: rgba(0, 0, 0, 0.7);
		z-index: 10;
		transition: .3s ease;
	}
	#dropdown .content{
		width: 300px;
		border-radius: 20px;
		background-color: white;
		box-sizing: border-box;
		padding: 20px;
		position: absolute;
		top: 50%;
		left: 50%;
		transform: translate(-50%, -50%);
	}
	#dropdown .content .close{
		position: absolute;
		top: 20px;
		right: 20px;
		width: 20px;
		height: 20px;
		cursor: pointer;
	}
	#dropdown .content .close:hover span{
		background-color: #777;
	}
	#dropdown .content .close span{
		width: 20px;
		position: absolute;
		top: 50%;
		left: 50%;
		height: 5px;
		background-color: #333;
		transition: .3s ease;
	}
	#dropdown .content .close span:nth-child(1){
		transform: translate(-50%, -50%) rotate(45deg);
	}
	#dropdown .content .close span:nth-child(2){
		transform: translate(-50%, -50%) rotate(-45deg);
	}
	#dropdown .content .navbar{
		display: flex;
		justify-content: center;
		flex-wrap: wrap;
		margin-top: 30px;
	}
	#dropdown .content .navbar .navbar-item{
		width: 100%;
		text-align: center;
		list-style: none;
		height: 30px;
	}
	#dropdown .content .navbar .navbar-item a{
		font-size: 16px;
		font-family: Noto;
		color: black;
		text-decoration: none;
	}
	#dropdown .icons{
		display: flex;
		justify-content: center;
		width: 100%;
		margin-top: 30px;
	}
	#dropdown .icons .icon{
		margin-left: 15px;
		margin-right: 15px;
		width: 30px;
		list-style: none;
	}
	#dropdown .icons .icon img{
		width: 100%;
	}
	header{
		width: 100%;
		box-sizing: border-box;
		padding: 20px;
		display: flex;
		flex-wrap: wrap;
		justify-content: space-between;
		align-items: center;
		background-image: url(../img/main-bg.png);
		background-repeat: no-repeat;
		background-size: 100%;
		background-position: top left;
	}
	header .logo{
		width: 50px;
	}
	header .logo img{
		width: 100%;
	}
	header .navbar{
		display: none;
	}
	header .icons{
		display: none;
	}
	header .dropdown-menu{
		width: 30px;
		height: 30px;
		position: relative;
		cursor: pointer;
	}
	header .dropdown-menu span{
		width: 30px;
		height: 5px;
		background-color: #333;
		position: absolute;
		left: 0;
		transition: .3s ease;
	}
	header .dropdown-menu span:nth-child(1){
		top: 0;
	}
	header .dropdown-menu span:nth-child(2){
		top: 50%;
		transform: translate(0, -50%);
	}
	header .dropdown-menu span:nth-child(3){
		bottom: 0;
	}
	header .dropdown-menu:hover span{
		background-color: #777;
	}
	header .main{
		width: 100%;
		display: flex;
		flex-wrap: wrap;
		margin-top: 20px;
	}
	header .main .text{
		width: 100%;
	}
	header .main .text h1{
		text-align: center;
		font-family: Noto;
		font-size: 28px;
	}
	header .main .text p{
		margin-top: 10px;
		font-family: Noto;
		font-size: 16px;
		text-align: center;
	}
	header .main .image{
		width: 100%;
		margin-top: 20px;
	}
	header .main .image img{
		width: 100%;
	}

	#webs{
		width: 100%;
		box-sizing: border-box;
		padding: 20px;
		display: flex;
		flex-wrap: wrap;
		justify-content: space-between;
	}
	#webs h1{
		width: 100%;
		text-align: center;
		font-family: Noto;
		font-size: 22px;
	}
	#webs .image{
		width: 100%;
		margin-top: 20px;
	}
	#webs .image img{
		width: 100%;
	}
	#webs .text{
		margin-top: 10px;
		width: 100%;
	}
	#webs .text .items{
		width: 100%;
		display: flex;
		flex-wrap: wrap;
	}
	#webs .text .items .item{
		list-style: none;
		width: 100%;
		display: flex;
		flex-wrap: wrap;
		justify-content: space-between;
		align-items: center;
		margin-top: 20px;
	}
	#webs .text .items .item::before{
		content: "";
		display: block;
		width: 9.5px;
		height: 15px;
		background-image: url(../img/ruby.png);
		background-size: 100%;
		background-repeat: no-repeat;
		background-position: center;
	}
	#webs .text .items .item .question{
		width: calc(100% - 20px);
		font-size: 14px;
		font-weight: bold;
		font-family: Noto;
	}
	#webs .text .items .item .answer{
		width: 100%;
		padding-left: 20px;
		font-size: 12px;
		font-family: Noto;
		margin-top: 10px;
	}

	#elems{
		width: 100%;
		box-sizing: border-box;
		padding: 20px;
		margin-top: 20px;
		overflow: hidden;
	}
	#elems h1{
		font-size: 22px;
		font-family: Noto;
		text-align: center;
	}
	#elems .items .item{
		list-style: none;
		position: relative;
		margin-top: 40px;
	}
	#elems .items .item .image{
		width: 100%;
	}
	#elems .items .item .image img{
		width: 100%;
	}
	#elems .items .item .text{
		margin-top: 10px;
	}
	#elems .items .item .text p{
		font-size: 12px;
		margin-top: 10px;
		font-family: Noto;
	}
	#elems .items .item .text p b{
		color: #ff041f;
	}
	#elems .items .item .text span{
		font-size: 12px;
		font-family: Noto;
		font-weight: bold;
		margin-top: 10px;
		color: #ff041f;
		display: block;
	}
	#elems .items .item .text h2{
		font-size: 14px;
		font-weight: bold;
		font-family: Noto;
	}

	#reviews{
		width: 100%;
		box-sizing: border-box;
		padding: 20px;
		background-image: url(../img/reviews-img.png);
		background-size: 50%;
		background-position: right center;
		background-repeat: no-repeat;
	}
	#reviews h1{
		text-align: center;
		font-size: 22px;
		font-family: Noto;
	}
	#reviews .cards{
		width: 100%;
		display: flex;
		justify-content: center;
		flex-wrap: wrap;
		margin-top: 10px;
	}
	#reviews .cards .card{
		width: 100%;
		position: relative;
		margin-top: 20px;
		list-style: none;
	}
	#reviews .cards .card .image{
		width: 100%;
	}
	#reviews .cards .card .image img{
		width: 100%;
	}
	#reviews .cards .card .text{
		width: 80%;
		position: absolute;
		left: 20px;
		bottom: 20px;
		color: white;
		font-family: Noto;
		font-size: 14px;
	}
	#reviews .cards .card a{
		position: absolute;
		top: 50%;
		left: 50%;
		transform: translate(-50%, -50%);
	}
	#reviews .cards .card a img{
		width: 25px;
	}

	#alg{
		width: 100%;
		padding: 20px;
		margin-top: 20px;
		box-sizing: border-box;
		background-image: url(../img/alg-1.png);
		background-size: 40%;
		background-repeat: no-repeat;
		background-position: left bottom;
	}
	#alg h1{
		text-align: center;
		font-family: Noto;
		font-size: 22px;
	}
	#alg .cards{
		display: flex;
		flex-wrap: wrap;
		justify-content: center;
		margin-top: 10px;
	}
	#alg .cards .card{
		width: 100%;
		list-style: none;
		display: flex;
		flex-wrap: wrap;
		justify-content: space-between;
		margin-top: 20px;
		position: relative;
	}
	#alg .cards .card .image{
		width: 100%;
	}
	#alg .cards .card .image img{
		width: 100%;
	}
	#alg .cards .card .text{
		width: 100%;
		margin-top: 10px;
		text-align: center;
		font-size: 16px;
		font-family: Noto;
	}
	#alg .cards .card .number{
		font-size: 100px;
		font-family: Noto;
		position: absolute;
		font-weight: bold;
		z-index: -1;
	}
	#alg .cards .card:nth-child(1) .number{
		color: #FFE8BB;
		bottom: -10px;
		right: 20px;
	}
	#alg .cards .card:nth-child(2) .number{
		color: #D9EEFF;
		bottom: -10px;
		left: 20px;
	}
	#alg .cards .card:nth-child(3) .number{
		color: #C0C0F6;
		bottom: -10px;
		right: 20px;
	}

	footer{
		padding: 20px;
		width: 100%;
		box-sizing: border-box;
		margin-top: 30px;
		background-color: #2E2D2D;
		display: flex;
		justify-content: space-between;
		align-items: center;
	}
	footer .text{
		font-family: Noto;
		font-size: 14px;
		color: white;
	}
	footer .icons{
		display: flex;
	}
	footer .icons .icon{
		width: 20px;
		margin-left: 10px;
		margin-right: 10px;
		list-style: none;
		position: relative;
	}
	footer .icons .icon img{
		width: 100%;
		position: absolute;
		top: 50%;
		transform: translate(0, -50%);
	}

}
@media screen and (min-width: 768px){
	
	header{
		padding: 30px;
	}
	header .logo{
		width: 60px;
	}
	header .navbar{
		display: flex;
	}
	header .navbar .navbar-item{
		margin-left: 10px;
		margin-right: 10px;
		list-style: none;
	}
	header .navbar .navbar-item a{
		font-size: 16px;
		font-family: Noto;
		text-decoration: none;
		color: black;
	}
	header .icons{
		display: flex;
	}
	header .icons .icon{
		margin-left: 10px;
		margin-right: 10px;
		width: 20px;
		list-style: none;
	}
	header .icons .icon img{
		width: 100%;
	}
	header .dropdown-menu{
		display: none;
	}
	header .main{
		align-items: center;
		margin-top: 20px;
	}
	header .main .text{
		width: 50%;
		margin-right: 15px;
	}
	header .main .text h1{
		text-align: left;
		font-size: 28px;
	}
	header .main .text p{
		text-align: left;
		margin-top: 20px;
		font-size: 14px;
	}
	header .main .image{
		width: 40%;
	}

	#webs{
		padding: 30px;
		justify-content: flex-start;
		align-items: center;
	}
	#webs h1{
		font-size: 28px;
		margin-top: 30px;
	}
	#webs .image{
		margin-top: 40px;
		width: 50%;
		margin-right: 15px;
	}
	#webs .text{
		margin-top: 40px;
		width: 40%;	
	}
	#webs .text .items .item{
		margin-top: 10px;
	}
	#webs .text .items .item .question{
		font-size: 12px;
	}
	#webs .text .items .item .answer{
		font-size: 10px;
		margin-top: 5px;
	}

	#elems{
		padding: 30px;
	}
	#elems h1{
		font-size: 28px;
	}
	#elems .items .item{
		margin-top: 15%;
	}
	#elems .items .item .image{
		position: absolute;
		z-index: -1;
	}
	#elems .items .item .text{
		margin-top: 50px;
	}
	#elems .items .item:nth-child(1) .text{
		width: 50%;
		margin-left: 10%;
	}
	#elems .items .item:nth-child(1) .image{
		width: 60%;
		left: 40%;
		top: 50%;
		transform: translate(0, -50%);
	}
	#elems .items .item:nth-child(2) .text{
		width: 50%;
		margin-left: 45%;
	}
	#elems .items .item:nth-child(2) .image{
		width: 40%;
		left: 0;
		top: 50%;
		transform: translate(0, -50%);
	}
	#elems .items .item:nth-child(3) .text{
		width: 50%;
		margin-left: 10%;
	}
	#elems .items .item:nth-child(3) .image{
		width: 40%;
		left: 60%;
		top: 50%;
		transform: translate(0, -50%);
	}
	#elems .items .item:nth-child(4) .text{
		width: 50%;
		margin-left: 45%;
	}
	#elems .items .item:nth-child(4) .image{
		width: 50%;
		left: 0%;
		top: 50%;
		transform: translate(0, -50%);
	}
	#elems .items .item:nth-child(5) .text{
		width: 50%;
		margin-left: 15%;
	}
	#elems .items .item:nth-child(5) .text:nth-child(3){
		margin-left: 35%;
	}
	#elems .items .item:nth-child(5) .image{
		width: 90%;
		left: 5%;
		top: 50%;
		transform: translate(0, -50%);
	}
	#elems .items .item:nth-child(6) .text{
		width: 50%;
		margin-left: 45%;
	}
	#elems .items .item:nth-child(6) .image{
		width: 50%;
		left: 10%;
		top: 50%;
		transform: translate(0, -50%);
	}
	#elems .items .item:nth-child(6){
		margin-top: 20%;
	}

	#reviews{
		padding: 30px;
		margin-top: 30px;
		background-size: 30%;
	}
	#reviews h1{
		font-size: 28px;
	}
	#reviews .cards{
		margin-top: 20px;
	}
	#reviews .cards .card{
		width: 300px;
		margin-left: 10px;
		margin-right: 10px;
	}

	#alg{
		padding: 30px;
		margin-top: 30px;
		background-image: url(../img/alg-1.png),
											url(../img/alg-2.png);
		background-size: 20%, 30%;
		background-position: left bottom, right bottom;
	}
	#alg h1{
		font-size: 28px;
	}
	#alg .cards .card{
		align-items: center;
		justify-content: center;
	}
	#alg .cards .card .image{
		width: 30%;
		margin-right: 10px;
	}
	#alg .cards .card .text{
		width: 50%;
		margin-right: 10px;
	}
	#alg .cards .card:nth-child(2) .text{
		order: 0;
	}
	#alg .cards .card:nth-child(2) .image{
		order: 1;
	}
	#alg .cards .card .number{
		top: -40%;
		z-index: 1;
	}

}
@media screen and (min-width: 1024px){
	
	header{
		padding: 30px 60px;
	}
	header .logo{
		width: 80px;
	}
	header .navabar .navbar-item{
		margin-left: 15px;
		margin-right: 15px;
	}
	header .navbar .navbar-item a{
		font-size: 18px;
	}
	header .icons .icon{
		width: 30px;
		margin-left: 15px;
		margin-right: 15px;
	}
	header .main .text{
		width: 45%;
	}
	header .main .text h1{
		font-size: 36px;
	}
	header .main .text p{
		font-size: 16px;
	}
	header .main .image{
		width: 45%;
	}

	#webs{
		margin-top: 50px;
	}
	#webs h1{
		font-size: 32px;
	}
	#webs .image{
		width: 45%;
		margin-top: 50px;
	}
	#webs .text{
		width: 50%;
		margin-top: 50px;
	}
	#webs .text .items .item .question{
		font-size: 18px;
	}
	#webs .text .items .item .answer{
		font-size: 14px;
	}

	#elems{
		margin-top: 50px;
	}
	#elems h1{
		font-size: 32px;
	}
	#elems .items .item{
		margin-top: 10%;
	}
	#elems .items .item .text{
		margin-top: 70px;
	}
	#elems .items .item .text p{
		margin-top: 30px;
		font-size: 14px;
	}
	#elems .items .item .text span{
		font-size: 14px;
		margin-top: 30px;
	}
	#elems .items .item .text h2{
		font-size: 22px;
	}
	#elems .items .item:nth-child(5){
		margin-top: 20%;
	}
	#elems .items .item:nth-child(6){
		margin-top: 25%;
	}

	#reviews{
		margin-top: 30px;
	}
	#reviews h1{
		font-size: 32px;
	}

	#alg{
		margin-top: 30px;
	}
	#alg h1{
		font-size: 32px;
	}
	#alg .cards .card{
		justify-content: center;
	}
	#alg .cards .card .image{
		width: 35%;
		margin-right: 5%;
	}
	#alg .cards .card .text{
		width: 50%;
		font-size: 18px;
		text-align: left;
		margin-right: 5%;
	}
	#alg .cards .card .number{
		font-size: 150px;
	}
	#alg .cards .card:nth-child(1) .number{
		right: 20px;
		top: -70px;
	}
	#alg .cards .card:nth-child(2) .number{
		left: -20px;
	}

	footer{
		padding: 30px 60px;
	}
	footer .text{
		font-size: 18px;
	}
	footer .icons .icon{
		width: 30px;
		margin-left: 15px;
		margin-right: 15px;
	}

}
@media screen and (min-width: 1440px){
	
	header{
		max-width: 1440px;
		margin-left: auto;
		margin-right: auto;
	}
	header .main{
		margin-bottom: 50px;
	}
	header .main .text h1{
		font-size: 64px;
	}
	header .main .text p{
		font-size: 22px;
		margin-top: 50px;
	}

	#webs{
		max-width: 1440px;
		margin-left: auto;
		margin-right: auto;
		margin-top: 130px;
	}
	#webs h1{
		font-size: 48px;
	}
	#webs .image{
		margin-right: 50px;
	}
	#webs .text .items .item{
		margin-top: 30px;
	}
	#webs .text .items .item .question{
		font-size: 22px;
		width: calc(100% - 30px);
		padding-left: 20px;
		box-sizing: border-box;
	}
	#webs .text .items .item::before{
		width: 19px;
		height: 30px;
		margin-right: 0;
	}
	#webs .text .items .item .answer{
		font-size: 20px;
		padding-left: 50px;
		box-sizing: border-box;
	}

	#elems{
		margin-top: 130px;
		max-width: 1440px;
		margin-left: auto;
		margin-right: auto;
	}
	#elems h1{
		font-size: 48px;
	}
	#elems .items .item{
		margin-top: 160px;
	}
	#elems .items .item .text p{
		font-size: 20px;
		margin-top: 50px;
	}
	#elems .items .item .text span{
		font-size: 20px;
	}
	#elems .items .item:nth-child(5) .text:nth-child(3){
		width: 40%;
	}
	#elems .items .item:nth-child(6){
		margin-top: 200px;
	}

	#reviews{
		max-width: 1440px;
		margin-left: auto;
		margin-right: auto;
		margin-top: 130px;
	}
	#reviews h1{
		font-size: 48px;
	}
	#reviews .cards .card{
		width: 550px;
	}
	#reviews .cards .card .text{
		font-size: 24px;
	}
	#reviews .cards .card a img{
		width: 50px;
	}

	#alg{
		max-width: 1440px;
		margin-left: auto;
		margin-right: auto;
		margin-top: 130px;
	}
	#alg h1{
		font-size: 48px;
	}
	#alg .cards .card{
		margin-top: 50px;
	}
	#alg .cards .card .image{
		width: 30%;
	}
	#alg .cards .card .text{
		width: 40%;
		font-size: 22px;
	}
	#alg .cards .card .number{
		font-size: 250px;
	}
	#alg .cards .card:nth-child(1) .number{
		top: -110px;
		right: 70px;
	}
	#alg .cards .card:nth-child(2) .number{
		top: -180px;
		left: 10px;
	}
	#alg .cards .card:nth-child(3) .number{
		top: -180px;
		right: 70px;
	}

	footer{
		max-width: 1440px;
		margin-left: auto;
		margin-right: auto;
		padding: 30px 100px;
	}

}