@font-face {
	font-family: "GTEestiProText";
	src: url("../fonts/GT-Eesti-Pro-Text-Bold.OTF") format("opentype");
	font-weight: 700;
}

@font-face {
	font-family: "GTEestiProText";
	src: url("../fonts/GT-Eesti-Pro-Text-Regular.OTF") format("opentype");
	font-weight: 500;
}

body {
	font-family: 'GTEestiProText', Arial, sans-serif;
}

button {
	outline: transparent;

	&:focus {
		outline: transparent;
	}
}

.btn {
	display: inline-flex;
	width: auto;
	align-items: center;
	justify-content: center;
	min-height: 27px;
	line-height: 1.17;
	position: relative;
	box-sizing: border-box;
	padding: 2px 15px;
	font-family: GTEestiProText, Arial, sans-serif;
	font-size: 14px;
	text-align: center;
	text-decoration: none;
	vertical-align: middle;
	border: 1px solid transparent;
	border-radius: 2px;
	transition: all .08s ease-in-out;
	user-select: none;
	margin-top: auto;
	border: 2px solid #005bff;
	font-weight: 700;
	outline: none;
	min-height: 32px;
	color: #fff;
	background-color: #005bff;

	&:hover {
		color: #fff;
		background-color: #004ed6;
	}
}

.container {
	max-width: 1280px;
	width: 100%;
}

.category {
	&-title {
		font-size: 30px;
		font-weight: 400;
		margin-bottom: 0;
	}

	&-count {
		margin-left: 4px;
		font-size: 12px;
		color: #999;
	}
}

nav {
	margin: 10px 0;

	.logo {
		display: block;
		height: 28px;
		width: 156px;
		margin-left: 15px;
		margin-right: 15px;
		background-repeat: no-repeat;
		background-size: contain;
		background-position: 0;
		background-image: url("../img/logo.png");
	}

	.catalog {
		position: absolute;
		display: none;
		top: 40px;
		left: 0;
		z-index: 120;
		background: #ffffff;
		border: 2px solid #005bff;
		width: 118px;

		ul {
			list-style: none;
			margin: 0;
			padding: 10px;
			text-align: center;

			li {
				border-bottom: 1px solid #000;

				&:last-child {
					border-bottom: none;
				}

				&:hover {
					background-color: #333;
					color: #c5c5c5
				}
			}
		}

		&-button {
			flex-basis: 135px;
			cursor: pointer;
			position: relative;

			button {
				width: 118px;
				height: 40px;
				border-radius: 3px;
				background-color: #005bff;
				color: #fff;
				font-weight: 700;
				padding: 0;
				border: 0;
				display: flex;
				align-items: center;
				justify-content: center;
				font-size: 14px;
				line-height: 18px;
				font-family: GTEestiProDisplay, Arial, sans-serif;
				cursor: pointer;
			}

			&_burger {
				width: 24px;
				height: 24px;
				margin-right: 12px;
				background-image: url("data:image/svg+xml;charset=utf-8,%3Csvg xmlns='http://www.w3.org/2000/svg' width='24' height='24'%3E%3Cpath fill='%23fff' d='M9 5h12a1 1 0 010 2H9a1 1 0 110-2zm0 6h12a1 1 0 010 2H9a1 1 0 010-2zm0 6h6a1 1 0 010 2H9a1 1 0 010-2zM3.5 7.5a1.5 1.5 0 110-3 1.5 1.5 0 010 3zm0 6a1.5 1.5 0 110-3 1.5 1.5 0 010 3zm0 6a1.5 1.5 0 110-3 1.5 1.5 0 010 3z'/%3E%3C/svg%3E");
			}
		}
	}

	.search {
		display: flex;
		position: relative;
		flex-grow: 1;

		&-wrapper {
			justify-content: flex-start;
			border: 2px solid #005bff;
			border-right-width: 0;
			border-radius: 3px 0 0 3px;
			align-items: stretch;
			height: 40px;
			width: 100%;

			&_input {
				width: 100%;
				height: 100%;
				box-sizing: border-box;
				margin: 0;
				padding: 0 0 0 8px;
				border: 1px solid transparent;
				font-size: 14px;
				font-family: GTEestiProText, Arial, sans-serif;
				color: #001a34;
				line-height: 18px;
				outline: none;
				vertical-align: middle;
				border-radius: 2px 0 0 2px;
				text-overflow: ellipsis;
				box-shadow: none;
			}
		}

		&-btn {
			height: 40px;
			display: flex;
			align-items: center;
			min-width: 76px;
			border-top-right-radius: 3px;
			border-bottom-right-radius: 3px;
			overflow: hidden;
			background-color: #005bff;

			button {
				cursor: pointer;
				border-color: transparent;
				height: 100%;
				width: 100%;
				background-color: #005bff;
				border: none;

				&::before {
					content: "";
					display: inline-block;
					vertical-align: middle;
					width: 24px;
					height: 24px;
					color: #fff;
					background-image: url("data:image/svg+xml;charset=utf-8,%3Csvg xmlns='http://www.w3.org/2000/svg' width='24' height='24'%3E%3Cpath fill='%23fff' d='M9.996 17.991a7.996 7.996 0 117.995-7.995 1 1 0 01-2 0 5.996 5.996 0 10-1.756 4.24l.707-.708 7.115 7.115a1 1 0 01-1.414 1.414l-5.745-5.745a7.967 7.967 0 01-4.902 1.68z'/%3E%3C/svg%3E");
				}
			}
		}
	}
}

#cart {
	height: 56px;
	width: 76px;
	position: relative;
	box-sizing: border-box;
	display: flex;
	flex-direction: column;
	align-content: center;
	align-items: center;
	justify-content: flex-start;
	padding-top: 8px;
	margin: 0 15px;

	.counter {
		position: absolute;
		top: 0;
		right: 0;
		height: 16px;
		border-radius: 8px;
		padding: 0 8px;
		background-color: #f91155;
		color: #fff;
		font-size: 12px;
		line-height: 16px;
		font-family: GTEestiProDisplay, Arial, sans-serif;
		font-weight: 700;
	}

	.icon {
		width: 24px;
		height: 24px;
		margin-bottom: 1px;
		color: #001a34;
		display: inline-block;
		max-width: 64px;
		max-height: 64px;
		pointer-events: none;
		outline: none;
		line-height: 0;
		flex-shrink: 0;
		overflow: hidden;
	}

	.desc {
		color: #001a34;
		font-family: GTEestiProDisplay, Arial, sans-serif;
		font-size: 14px;
		line-height: 18px;
	}
}

.filter {
	display: flex;
	flex-direction: column;
	font-weight: 700;
	margin-top: 15%;

	&-price {
		&_title {
			display: block;
			font-size: 14px;
			line-height: 13px;
			margin-bottom: 10px;
			font-weight: 700;
		}

		&_range {
			display: flex;
			margin-bottom: 7px;
			width: 100%;
		}

		&_input-wrapper {
			padding-right: 4px;
			padding-left: 0;
			display: flex;
			flex: 0 0 50%;
			align-items: baseline;
			box-sizing: border-box;
		}

		&_label {
			display: block;
			font-size: 14px;
			padding: 0 3px 0 0;
			color: #999;
			flex: 0 0 auto;
		}

		&_input {
			width: 100%;
			max-width: calc(100% - 18px);
			flex: 1 1 auto;
			font-size: 14px;
			padding: 4px 5px 6px;
			outline: 2px solid transparent;
			border: 1px solid #c5c5c5;
			border-radius: 2px;
			background: #fff;
			height: 27px;
			box-sizing: border-box;
			box-shadow: none;
		}
	}

	&-check {
		font-weight: 500;

		&_label {
			display: block;
			min-height: 16px;
			position: relative;
			padding-left: 21px;
			color: #4d5f71;
			font-family: GTEestiProText, Arial, sans-serif;
			font-size: 14px;
			line-height: 19px;
			cursor: pointer;
			user-select: none;

			&-text {
				display: inline-block;
				vertical-align: top;
				line-height: 100%;
				margin-top: 1px;

			}

			.active {
				font-weight: 700;
			}
		}

		&_checkbox {
			opacity: 0;
			position: absolute;
			cursor: pointer;
		}

		&_checkmark {
			width: 15px;
			height: 15px;
			position: absolute;
			top: 0;
			left: 0;
			box-sizing: border-box;
			background: #fff;
			border: 1px solid #005bff;
			border-radius: 2px;

			&.checked::after {
				display: block;
			}

			&:after {
				display: none;
				width: 15px;
				height: 15px;
				position: absolute;
				top: -4px;
				left: 2px;
				content: "";
				background-image: url("data:image/svg+xml;charset=utf-8,%3Csvg viewBox='0 0 15 15' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath d='M5.3 15L15 1.2 13.7 0 5.1 12.3 1.1 8 0 9.4 5.3 15z' fill='%23005bff'/%3E%3C/svg%3E");
			}
		}
	}
}

.card {
	border: 1px solid #ededed;
	border-radius: 0;

	&-img {
		&-wrapper {
			position: relative;
			display: flex;
			margin: 0 auto;
			height: 230px;
			width: 100%;
		}

		&-top {
			position: absolute;
			top: 0;
			right: 0;
			bottom: 0;
			left: 0;
			width: 100%;
			height: 230px;
			margin: auto;
			max-width: 200px;
			max-height: 200px;
			background-position: center;
			background-size: contain;
			background-repeat: no-repeat;
		}
	}

	&-sale {
		position: absolute;
		top: 10px;
		left: 8px;
		color: #ffffff;
		background-color: #9f3584;
		font-weight: bold;
		padding: 4px 8px;
		font-size: 14px;
		border-radius: 4px;
		margin-right: 8px;
		z-index: 111;
	}

	&-title {
		height: 50px;
		overflow: hidden;
		font-size: 16px;
		line-height: 1.38;
		padding-bottom: 6px;
		position: relative;
		z-index: 4;
	}

	&-body {
		display: flex;
		flex-direction: column;
	}

	&-price {
		font-size: 22px;
		font-weight: 700;
		letter-spacing: .3px;
	}


}

.cart {
	display: none;
	position: fixed;
	top: 0;
	left: 0;
	width: 100%;
	height: 100%;
	background-color: #00000050;
	z-index: 130;

	&-body {
		position: relative;
		margin: auto;
		width: 1024px;
		min-height: 200px;
		max-height: 640px;
		background-color: #fff;
		padding: 25px;
		overflow: auto;
		border-radius: 3px;
	}

	&-title {
		font-size: 28px;
		color: #4d5f71
	}

	&-wrapper {
		display: flex;
		justify-content: center;
		flex-wrap: wrap;
		margin: 25px 0;
		border: 1px solid #4d5f713f;
		border-radius: 3px;
		padding: 20px;

		#cart-empty {
			font-size: 24px;
			color: #4d5f71
		}

		.card {
			width: 33%;

			@media (max-width: 992px) {
				width: 50%;
			}

			@media (max-width: 768px) {
				width: 70%;
			}
		}
	}

	&-close {
		position: absolute;
		top: 25px;
		right: 25px;
		cursor: pointer;
		height: 25px;
		width: 25px;
		background-image: url("data:image/svg+xml;charset=utf-8,%3Csvg xmlns='http://www.w3.org/2000/svg' width='24' height='24'%3E%3Cpath fill='005bff' d='M12 10.587l6.293-6.294a1 1 0 111.414 1.414l-6.293 6.295 6.293 6.294a1 1 0 11-1.414 1.414L12 13.416 5.707 19.71a1 1 0 01-1.414-1.414l6.293-6.294-6.293-6.295a1 1 0 011.414-1.414L12 10.587z'/%3E%3C/svg%3E");
	}

	&-total {
		font-size: 18px;

		span {
			color: #077c24;
		}
	}

	&-confirm {
		display: block;
		margin-left: auto;
	}

}