* {
  margin: 0;
  padding: 0;
}

input, button {
  outline: none;
}

button {
  cursor: pointer;
}

img {
  width: 100%;
}

body {
  background-color: white;
  overflow-x: hidden;
}

html {
  overflow-x: hidden;
}

li {
  list-style: none;
}

@media screen and (min-width: 320px) {
  .page {
    width: 100%;
    box-sizing: border-box;
  }

  .dropdown {
    width: 100%;
    box-sizing: border-box;
    display: block;
    background-color: rgba(0, 0, 0, 0.6);
    width: 100vw;
    height: 100vh;
    position: fixed;
    z-index: 10;
    transition: 0.4s ease;
  }
  .dropdown .dropdown__wrapper {
    width: 90%;
    height: auto;
    background-color: white;
    box-sizing: border-box;
    position: absolute;
    top: 0;
    right: 0;
  }
  .dropdown .dropdown__wrapper .dropdown__top {
    width: 100%;
    background-color: #FF2929;
    display: flex;
    box-sizing: border-box;
    align-items: center;
    justify-content: space-between;
    padding: 7px 15px;
  }
  .dropdown .dropdown__wrapper .dropdown__top .dropdown__title {
    font-family: "SF Pro Display";
    font-size: 22px;
    font-weight: 400;
    color: white;
  }
  .dropdown .dropdown__wrapper .dropdown__top .dropdown__arrow {
    width: 28px;
    height: 28px;
    border-radius: 50%;
    background-color: white;
    box-sizing: border-box;
    padding: 5px;
    transition: 0.4s ease;
    cursor: pointer;
  }
  .dropdown .dropdown__wrapper .dropdown__top .dropdown__arrow img {
    margin-top: -1px;
  }
  .dropdown .dropdown__wrapper .dropdown__top .dropdown__arrow:hover {
    opacity: 0.6;
  }
  .dropdown .dropdown__wrapper .dropdown__items {
    margin-top: 15px;
    padding: 20px;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
  }
  .dropdown .dropdown__wrapper .dropdown__items .dropdown__item {
    width: 100%;
    height: 45px;
    text-align: center;
  }
  .dropdown .dropdown__wrapper .dropdown__items .dropdown__item .dropdown__link {
    font-family: "SF Pro Display";
    font-weight: 400;
    color: #353535;
    font-size: 18px;
    text-decoration: none;
  }
  .dropdown .dropdown__wrapper .dropdown__items .dropdown__item:hover {
    opacity: 0.6;
  }
  .dropdown .dropdown__wrapper .dropdown__contact {
    text-align: center;
  }
  .dropdown .dropdown__wrapper .dropdown__contact .contact__row {
    margin-top: 5px;
  }
  .dropdown .dropdown__wrapper .dropdown__socials {
    margin-top: 20px;
    margin-bottom: 20px;
  }

  .callback {
    width: 100%;
    box-sizing: border-box;
    display: block;
    background-color: rgba(0, 0, 0, 0.6);
    width: 100vw;
    height: 100vh;
    position: fixed;
    z-index: 10;
    transition: 0.4s ease;
  }
  .callback .callback__wrapper {
    cursor: pointer;
    max-width: 500px;
    width: 90%;
    height: auto;
    background-color: white;
    box-sizing: border-box;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    max-height: 90vh;
    overflow: auto;
  }
  .callback .callback__wrapper .callback__top {
    width: 100%;
    box-sizing: border-box;
    padding: 10px 20px;
    background-color: #FF2929;
    position: relative;
  }
  .callback .callback__wrapper .callback__top .callback__title {
    width: 100%;
    text-align: center;
    font-family: "SF Pro Display";
    font-size: 22px;
    color: white;
    font-weight: 400;
  }
  .callback .callback__wrapper .callback__top .callback__close {
    position: absolute;
    top: 7px;
    right: 7px;
    width: 16px;
    height: 16px;
    border: 1px solid white;
    border-radius: 50%;
    transition: 0.4s ease;
  }
  .callback .callback__wrapper .callback__top .callback__close span {
    display: block;
    height: 1px;
    width: 10px;
    background-color: white;
    position: absolute;
    top: 48%;
    left: 48%;
  }
  .callback .callback__wrapper .callback__top .callback__close span:nth-child(1) {
    transform: translate(-50%, -50%) rotate(45deg);
  }
  .callback .callback__wrapper .callback__top .callback__close span:nth-child(2) {
    transform: translate(-50%, -50%) rotate(-45deg);
  }
  .callback .callback__wrapper .callback__top .callback__close:hover {
    opacity: 0.6;
  }
  .callback .callback__wrapper .callback__subtitle {
    display: block;
    width: 100%;
    box-sizing: border-box;
    padding: 10px 20px;
    text-align: center;
    font-family: "SF Pro Display";
    font-size: 14px;
    font-weight: 700;
  }
  .callback .callback__wrapper .callback__form {
    width: 100%;
    box-sizing: border-box;
    padding: 20px;
    padding-top: 10px;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
  }
  .callback .callback__wrapper .callback__form .callback__input {
    width: 100%;
    box-sizing: border-box;
    margin-top: 10px;
    position: relative;
  }
  .callback .callback__wrapper .callback__form .callback__input input {
    width: 100%;
    box-sizing: border-box;
    height: 50px;
    padding: 15px;
    border: none;
    border-radius: 2px;
    font-family: "SF Pro Display";
    font-weight: 500;
    font-size: 16px;
    color: #353535;
    border: 1px solid #818181;
  }
  .callback .callback__wrapper .callback__form .callback__input input:focus ~ .placeholder, .callback .callback__wrapper .callback__form .callback__input input:valid ~ .placeholder {
    display: none;
  }
  .callback .callback__wrapper .callback__form .callback__input .placeholder {
    position: absolute;
    top: 50%;
    left: 15px;
    font-family: "SF Pro Display";
    font-weight: 400;
    font-size: 16px;
    color: #818181;
    transform: translate(0, -50%);
  }
  .callback .callback__wrapper .callback__form .callback__input .placeholder b {
    color: #FF2929;
  }
  .callback .callback__wrapper .callback__form .callback__textarea {
    width: 100%;
    margin-top: 10px;
    border: 1px solid #818181;
    resize: none;
    height: 160px;
    border-radius: 2px;
    box-sizing: border-box;
    padding: 15px;
    font-family: "SF Pro Display";
    font-size: 16px;
  }
  .callback .callback__wrapper .callback__form .callback__button {
    margin-top: 25px;
  }
  .callback .callback__wrapper .callback__form .callback__small {
    font-family: "SF Pro Display";
    font-size: 12px;
    color: #A5A5A5;
    text-align: center;
    margin-top: 15px;
  }

  .preview {
    width: 100%;
    box-sizing: border-box;
    background-image: url("../img/preview-bg.png");
    background-size: cover;
    background-position: center;
    display: flex;
    flex-wrap: wrap;
    position: relative;
    padding-bottom: 40px;
  }
  .preview .preview__header {
    top: 15px;
    left: 15px;
  }
  .preview .preview__text {
    width: 100%;
    box-sizing: border-box;
    margin-top: 120px;
    padding: 15px;
  }
  .preview .preview__text .preview__slogan {
    font-size: 14px;
    font-family: "SF Pro Display";
    color: #FF2929;
  }
  .preview .preview__text .preview__title {
    font-size: 22px;
    font-family: "SF Pro Display";
    font-weight: 900;
    color: #353535;
    margin-top: 15px;
    line-height: 27px;
  }
  .preview .preview__text .preview__subtitle {
    font-size: 16px;
    font-family: "SF Pro Display";
    color: #353535;
    margin-top: 15px;
    line-height: 1.37;
  }
  .preview .preview__text .preview__subtitle b {
    color: #FF2929;
  }
  .preview .preview__text .preview__button {
    margin-top: 25px;
  }
  .preview .preview__text .preview__socials {
    display: flex;
    margin-top: 25px;
    justify-content: flex-start;
  }
  .preview .preview__image {
    display: none;
  }

  .banner {
    position: relative;
    width: 100%;
    box-sizing: border-box;
  }
  .banner .banner__red {
    width: 100%;
    box-sizing: border-box;
    padding: 20px;
    background-image: url("../img/red-bg.png");
    background-size: cover;
    background-position: center;
    height: 300px;
  }
  .banner .banner__red .banner__fire {
    width: 60px;
    margin-left: auto;
    margin-right: auto;
    margin-top: 15px;
  }
  .banner .banner__red .banner__cry {
    font-family: "SF Pro Display";
    font-size: 36px;
    color: white;
    width: 100%;
    text-align: center;
    margin-top: 10px;
  }
  .banner .banner__white {
    width: 100%;
    box-sizing: border-box;
    padding: 20px;
    background-image: url("../img/white-bg.png");
    background-size: cover;
    background-position: center;
    height: 300px;
  }
  .banner .banner__white .banner__title {
    font-family: "SF Pro Display";
    font-size: 28px;
    width: 90%;
    margin-left: auto;
    margin-right: auto;
    text-align: center;
    margin-top: 100px;
    color: #353535;
    line-height: 34px;
  }
  .banner .banner__white .banner__title b {
    color: #FF2929;
  }
  .banner .banner__white .banner__span {
    display: block;
    width: 80%;
    margin-left: auto;
    margin-right: auto;
    text-align: center;
    margin-top: 10px;
    font-family: "SF Pro Display";
    font-size: 16px;
    line-height: 22px;
    color: #5E5E5E;
  }
  .banner .banner__circle {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
  }

  .size {
    width: 100%;
    box-sizing: border-box;
    padding: 20px;
    display: flex;
    flex-wrap: wrap;
  }
  .size .size__content {
    order: 0;
  }
  .size .size__content .size__title {
    margin-left: auto;
    margin-right: auto;
    margin-top: 5px;
  }
  .size .size__content .size__text {
    margin-top: 15px;
  }
  .size .size__content .size__button {
    margin-left: auto;
    margin-right: auto;
    margin-top: 15px;
  }
  .size .size__image {
    order: 1;
    width: 90%;
    margin-left: auto;
    margin-right: auto;
    margin-top: 30px;
  }
  .size .size__image img:nth-child(1) {
    display: none;
  }

  .material {
    width: 100%;
    box-sizing: border-box;
    margin-top: 20px;
    background-color: #FF2929;
    padding: 20px;
  }
  .material .material__text {
    width: 100%;
  }
  .material .material__text .material__title {
    width: 100%;
    text-align: center;
    font-family: "SF Pro Display";
    font-size: 22px;
    color: white;
    font-weight: 400;
  }
  .material .material__text .material__title:after {
    content: "";
    display: block;
    width: 20%;
    height: 1px;
    background-color: white;
    margin-left: auto;
    margin-right: auto;
    margin-top: 5px;
  }
  .material .material__text .material__subtitle {
    width: 100%;
    font-family: "SF Pro Display";
    color: white;
    font-size: 16px;
    font-weight: 400;
    margin-top: 10px;
  }
  .material .material__image {
    display: none;
  }

  .sliding {
    width: 100%;
    box-sizing: border-box;
    padding: 20px;
  }
  .sliding .sliding__content {
    width: 100%;
    box-sizing: border-box;
  }
  .sliding .sliding__content .sliding__title {
    margin-top: 10px;
  }
  .sliding .sliding__content .sliding__bold {
    margin-top: 15px;
  }
  .sliding .sliding__content .sliding__text {
    margin-top: 10px;
    margin-bottom: 5px;
  }
  .sliding .sliding__content .sliding__parts {
    width: 100%;
    box-sizing: border-box;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
  }
  .sliding .sliding__content .sliding__parts .sliding__part {
    width: 100%;
    text-align: center;
    margin-top: 15px;
    font-family: "SF Pro Display";
    font-weight: 700;
    font-size: 16px;
    color: #353535;
  }
  .sliding .sliding__content .sliding__parts .sliding__part b {
    color: #FF2929;
  }
  .sliding .sliding__content .sliding__bold_hide {
    display: none;
  }
  .sliding .sliding__content .sliding__button {
    margin-left: auto;
    margin-right: auto;
    margin-top: 15px;
  }
  .sliding .sliding__image {
    width: 100%;
    box-sizing: border-box;
    margin-top: 30px;
  }
  .sliding .sliding__image img:nth-child(1) {
    display: none;
  }

  .buy {
    width: 100%;
    box-sizing: border-box;
    padding: 20px;
    background-image: url("../img/steps-bg.png");
    background-size: auto 100%;
    background-position: center;
  }
  .buy .buy__steps {
    width: 100%;
    box-sizing: border-box;
  }
  .buy .buy__steps .buy__step {
    margin-top: 25px;
  }
  .buy .buy__steps .buy__step:nth-child(3) .step__image {
    width: 190px;
  }

  .contacts {
    width: 100%;
    box-sizing: border-box;
    padding: 15px;
    background-image: url("../img/form-bg.png");
    background-size: cover;
    background-position: center;
  }
  .contacts .contacts__title {
    color: white;
  }
  .contacts .contacts__title:after {
    height: 2px;
  }
  .contacts .contacts__text {
    font-weight: 500;
    margin-top: 10px;
  }
  .contacts .contacts__form {
    margin-top: 15px;
    width: 100%;
    box-sizing: border-box;
  }
  .contacts .contacts__form .contacts__input {
    width: 100%;
    box-sizing: border-box;
    margin-top: 10px;
    position: relative;
  }
  .contacts .contacts__form .contacts__input input {
    width: 100%;
    box-sizing: border-box;
    height: 50px;
    padding: 15px;
    border: none;
    border-radius: 2px;
    font-family: "SF Pro Display";
    font-weight: 500;
    font-size: 16px;
    color: #353535;
  }
  .contacts .contacts__form .contacts__input input:focus ~ .placeholder, .contacts .contacts__form .contacts__input input:valid ~ .placeholder {
    display: none;
  }
  .contacts .contacts__form .contacts__input .placeholder {
    position: absolute;
    top: 50%;
    left: 15px;
    font-family: "SF Pro Display";
    font-weight: 400;
    font-size: 16px;
    color: #818181;
    transform: translate(0, -50%);
  }
  .contacts .contacts__form .contacts__input .placeholder b {
    color: #FF2929;
  }
  .contacts .contacts__form .contacts__button {
    margin-left: auto;
    margin-right: auto;
    margin-top: 20px;
    padding: 10px 20px;
  }
  .contacts .contacts__bold {
    margin-top: 20px;
  }
  .contacts .contacts__socials {
    margin-top: 15px;
  }
  .contacts .contacts__lite {
    display: block;
    width: 100%;
    text-align: center;
    font-family: "SF Pro Display";
    font-size: 11px;
    margin-top: 10px;
    color: #A5A5A5;
  }

  .variants {
    width: 100%;
    box-sizing: border-box;
    padding: 20px;
  }
  .variants .variants__title {
    margin-top: 10px;
  }
  .variants .variants__items {
    width: 100%;
    box-sizing: border-box;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
  }
  .variants .variants__items .variants__item {
    width: 45%;
    margin-left: 1.75%;
    margin-right: 1.75%;
    margin-top: 20px;
  }
  .variants .variants__items .variants__item .variants__span {
    display: block;
    width: 100%;
    text-align: center;
    font-family: "SF Pro Display";
    font-weight: 700;
    color: #353535;
    font-size: 14px;
    margin-top: 5px;
  }

  .main-color {
    width: 100%;
    box-sizing: border-box;
    padding: 20px;
  }
  .main-color .main-color__title {
    margin-top: 10px;
  }
  .main-color .main-color__subtitle {
    margin-top: 15px;
  }
  .main-color .main-color__colors {
    width: 100%;
    box-sizing: border-box;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
  }
  .main-color .main-color__colors .main-color__color {
    margin-top: 20px;
    width: 45%;
    margin-left: 1.75%;
    margin-right: 1.75%;
  }

  .profile-color {
    width: 100%;
    box-sizing: border-box;
    padding: 20px;
  }
  .profile-color .profile-color__colors {
    width: 100%;
    box-sizing: border-box;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
  }
  .profile-color .profile-color__colors .profile-color__color {
    margin-top: 20px;
    width: 45%;
    margin-left: 1.75%;
    margin-right: 1.75%;
  }

  .our-projects {
    width: 100%;
    box-sizing: border-box;
    padding: 20px;
  }
  .our-projects .our-projects__examples {
    margin-top: 20px;
    display: flex;
    width: 100%;
    overflow: auto;
    padding-bottom: 20px;
  }
  .our-projects .our-projects__examples::-webkit-scrollbar {
    width: 15px;
    height: 15px;
    border-radius: 5px;
  }
  .our-projects .our-projects__examples::-webkit-scrollbar-track {
    background-color: white;
    border-radius: 5px;
    border-bottom: 1px solid rgba(0, 0, 0, 0.1);
  }
  .our-projects .our-projects__examples::-webkit-scrollbar-thumb {
    background-color: #FF2929;
    border-radius: 5px;
  }

  .advantages {
    width: 100%;
    box-sizing: border-box;
    padding: 20px;
    background-image: url("../img/adv-bg.png");
    background-size: cover;
    background-position: center;
  }
  .advantages .advantages__list {
    margin-top: 20px;
  }
  .advantages .advantages__list .advantages__item {
    margin-top: 20px;
  }

  .images {
    width: 100%;
    box-sizing: border-box;
    padding: 20px;
  }
  .images img {
    margin-top: 20px;
  }
  .images img:nth-child(1) {
    border-radius: 5px;
  }

  .certificates {
    width: 100%;
    box-sizing: border-box;
    padding: 20px;
  }
  .certificates .certificates__list {
    margin-top: 20px;
    display: flex;
    width: 100%;
    overflow: auto;
    padding-bottom: 20px;
  }
  .certificates .certificates__list::-webkit-scrollbar {
    width: 15px;
    height: 15px;
    border-radius: 5px;
  }
  .certificates .certificates__list::-webkit-scrollbar-track {
    background-color: white;
    border-radius: 5px;
    border-bottom: 1px solid rgba(0, 0, 0, 0.1);
  }
  .certificates .certificates__list::-webkit-scrollbar-thumb {
    background-color: #FF2929;
    border-radius: 5px;
  }

  .footer {
    width: 100%;
    box-sizing: border-box;
    margin-top: 30px;
    background-color: #2D2D2D;
    padding: 20px;
  }
  .footer .footer__span {
    display: block;
    font-family: "SF Pro Display";
    font-size: 14px;
    color: #C7C7C7;
    text-align: center;
    font-weight: 400;
  }

  .header {
    width: calc(100% - 30px);
    box-sizing: border-box;
    padding: 10px;
    position: absolute;
    background-color: white;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    align-items: center;
    box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
  }
  .header .header__navbar {
    display: none;
  }
  .header .header__contact {
    display: none;
  }
  .header .header__dropdown-burger {
    cursor: pointer;
    width: 45px;
    height: 45px;
    background-color: red;
    border-radius: 50%;
    position: relative;
    transition: 0.4s ease;
  }
  .header .header__dropdown-burger span {
    width: 25px;
    height: 3px;
    background-color: white;
    position: absolute;
    left: 50%;
    transform: translate(-50%, 0);
  }
  .header .header__dropdown-burger span:nth-child(1) {
    top: 11px;
  }
  .header .header__dropdown-burger span:nth-child(2) {
    top: 21px;
    width: 15px;
    right: 0;
    left: auto;
    transform: translate(-70%, 0);
  }
  .header .header__dropdown-burger span:nth-child(3) {
    bottom: 11px;
  }
  .header .header__dropdown-burger:hover {
    opacity: 0.5;
  }

  .logo {
    width: auto;
    display: flex;
    align-items: center;
  }
  .logo .logo__image {
    transform: translate(0, 2px);
    width: 150px;
    margin-right: 10px;
  }
  .logo .logo__span {
    font-family: "SF Pro Display";
    font-weight: 700;
    font-size: 18px;
    color: #FF2929;
  }

  .button {
    cursor: pointer;
    transition: 0.4s ease;
    width: auto;
    height: 40px;
    padding: 0 15px;
    display: flex;
    align-items: center;
    background-color: #FF2929;
    border-radius: 20px;
    border: none;
    box-shadow: 0px 2px 0px #D91313;
  }
  .button .button__play {
    width: 25px;
    margin-right: 10px;
    margin-top: 3px;
  }
  .button .button__span {
    font-family: "SF Pro Display";
    font-size: 16px;
    line-height: 40px;
    margin-top: 1px;
    color: white;
    font-weight: 700;
  }
  .button:hover {
    opacity: 0.5;
  }

  .circle {
    width: 190px;
  }
  .circle .circle__image {
    width: 100%;
  }
  .circle .circle__text {
    width: 100%;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
  }
  .circle .circle__text .circle__title {
    width: 100%;
    font-family: "SF Pro Display";
    font-size: 30px;
    font-weight: 700;
    color: white;
    text-align: center;
  }
  .circle .circle__text .circle__subtitle {
    display: block;
    width: 100%;
    font-family: "SF Pro Display";
    font-size: 18px;
    color: white;
    font-weight: 700;
    text-align: center;
    margin-top: 5px;
  }

  h1.title {
    width: 100%;
    text-align: center;
    font-family: "SF Pro Display";
    font-size: 22px;
    font-weight: 400;
    color: #353535;
    line-height: 28px;
  }
  h1.title:after {
    content: "";
    display: block;
    width: 20%;
    height: 5px;
    background-color: #FF2929;
    margin-left: auto;
    margin-right: auto;
    border-radius: 5px;
    margin-top: 10px;
  }

  h2.title {
    width: 100%;
    text-align: center;
    font-family: "SF Pro Display";
    font-size: 20px;
    font-weight: 400;
    color: #353535;
    line-height: 28px;
  }
  h2.title:after {
    content: "";
    display: block;
    width: 20%;
    height: 2px;
    background-color: #FF2929;
    margin-left: auto;
    margin-right: auto;
    border-radius: 5px;
    margin-top: 10px;
  }

  .text {
    width: 100%;
    text-align: center;
    font-family: "SF Pro Display";
    font-size: 16px;
    color: #353535;
    font-weight: 400;
  }

  .text_white {
    color: white;
  }

  .bold {
    display: block;
    width: 100%;
    font-family: "SF Pro Display";
    font-size: 14px;
    font-weight: 700;
    color: #353535;
    text-align: center;
  }

  .bold_white {
    color: white;
    font-size: 16px;
  }

  .step {
    width: 100%;
  }
  .step .step__image {
    width: 150px;
    margin-left: auto;
    margin-right: auto;
  }
  .step .step__title {
    width: 100%;
    text-align: center;
    margin-top: 10px;
    font-family: "SF Pro Display";
    font-weight: 400;
    color: #FF2929;
    font-size: 24px;
    line-height: 38px;
  }
  .step .step__title b {
    font-size: 38px;
    font-weight: 700;
    margin-right: 10px;
  }
  .step .step__subtitle {
    width: 80%;
    margin-left: auto;
    margin-right: auto;
    font-size: 18px;
    line-height: 1.5;
  }

  .socials {
    width: 100%;
    box-sizing: border-box;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
  }
  .socials .socials__span {
    width: 100%;
    font-family: "SF Pro Display";
    font-size: 18px;
    color: #353535;
    font-weight: 500;
  }
  .socials .socials__item {
    margin-top: 15px;
    width: 40px;
    margin-left: 7px;
    margin-right: 7px;
    transition: 0.4s ease;
  }
  .socials .socials__item:hover {
    opacity: 0.5;
  }

  .color .color__image {
    width: 100%;
  }
  .color .color__span {
    width: 100%;
    display: block;
    text-align: center;
    font-family: "SF Pro Display";
    font-weight: 500;
    color: #353535;
    font-size: 14px;
  }

  .example {
    height: 380px;
    margin-right: 5%;
    position: relative;
  }
  .example img {
    width: auto;
    height: 100%;
  }
  .example:nth-child(7) {
    margin-right: 0;
  }
  .example .example__price {
    width: auto;
    position: absolute;
    bottom: 0;
    left: 50%;
    transform: translate(-50%, 0);
    padding: 15px 25px;
    background-color: #FF2929;
    font-family: "SF Pro Display";
    font-size: 16px;
    font-weight: 700;
    color: white;
    white-space: nowrap;
  }

  .adv-item {
    width: 100%;
    box-sizing: border-box;
    position: relative;
  }
  .adv-item .adv-item__text {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    font-family: "SF Pro Display";
    color: white;
    width: 80%;
    text-align: center;
    line-height: 27px;
  }
  .adv-item .adv-item__text .adv-item__bold {
    font-size: 20px;
    font-weight: 700;
  }
  .adv-item .adv-item__text .adv-item__small {
    font-weight: 400;
    font-size: 20px;
  }

  .cert-item {
    min-width: 80%;
    margin-right: 5%;
    position: relative;
  }
  .cert-item:nth-child(4) {
    margin-right: 0;
  }

  .contact {
    width: auto;
  }
  .contact .contact__row {
    font-family: "SF Pro Display";
    font-size: 18px;
    font-weight: 400;
    line-height: 24px;
    color: #353535;
  }
}
@media screen and (min-width: 768px) {
  .dropdown {
    display: none;
  }

  .callback .callback__wrapper {
    width: 70%;
  }
  .callback .callback__wrapper .callback__top .callback__title {
    font-size: 40px;
  }
  .callback .callback__wrapper .callback__top .callback__close {
    width: 30px;
    height: 30px;
    border-width: 2px;
  }
  .callback .callback__wrapper .callback__top .callback__close span {
    top: 50%;
    left: 50%;
    width: 20px;
    height: 2px;
  }
  .callback .callback__wrapper .callback__subtitle {
    width: 90%;
    margin-left: auto;
    margin-right: auto;
    font-size: 20px;
  }
  .callback .callback__wrapper .callback__form .callback__input input {
    font-size: 18px;
    height: 60px;
  }
  .callback .callback__wrapper .callback__form .callback__input .placeholder {
    font-size: 18px;
  }
  .callback .callback__wrapper .callback__form .callback__textarea {
    font-size: 18px;
  }

  .preview {
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding-bottom: 0;
  }
  .preview .preview__header {
    top: 20px;
    left: 20px;
  }
  .preview .preview__text {
    box-sizing: border-box;
    padding: 20px;
    width: 50%;
    margin-top: 0;
    margin-top: 100px;
  }
  .preview .preview__image {
    box-sizing: border-box;
    padding: 20px;
    margin-top: 100px;
    display: block;
    width: 50%;
  }
  .preview .preview__image img {
    display: block;
  }
  .preview .preview__image img:nth-child(1) {
    display: none;
  }

  .banner {
    margin-top: 20px;
    display: flex;
  }
  .banner .banner__red {
    width: 50%;
    height: 150px;
    display: flex;
    justify-content: center;
    align-items: center;
  }
  .banner .banner__red .banner__fire {
    display: flex;
    align-items: center;
    width: 60px;
    height: 150px;
    margin: 0;
    margin-right: 15px;
    margin-left: -12%;
  }
  .banner .banner__red .banner__cry {
    width: auto;
    font-size: 32px;
  }
  .banner .banner__red .banner__circle {
    width: 150px;
    height: 150px;
  }
  .banner .banner__white {
    width: 50%;
    height: 150px;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
  }
  .banner .banner__white .banner__title {
    width: 70%;
    margin-top: 0;
    text-align: right;
    font-size: 26px;
    margin-left: 12%;
  }
  .banner .banner__white .banner__span {
    width: 70%;
    margin-top: 0;
    text-align: right;
    margin-left: 12%;
  }

  .size {
    margin-top: 10px;
    display: flex;
    align-items: center;
    justify-content: space-between;
  }
  .size .size__image {
    order: 0;
    width: 48%;
    margin: 0;
  }
  .size .size__content {
    order: 1;
    width: 48%;
  }
  .size .size__content .size__text {
    margin-top: 20px;
  }
  .size .size__content .size__button {
    margin-top: 20px;
  }

  .material {
    display: flex;
    justify-content: space-between;
    align-items: center;
  }
  .material .material__text {
    width: 65%;
  }
  .material .material__text .material__title {
    width: auto;
    text-align: left;
    font-size: 24px;
  }
  .material .material__text .material__title:after {
    margin-left: 0;
    margin-right: 0;
    width: 60px;
    margin-top: 10px;
  }
  .material .material__text .material__subtitle {
    margin-top: 15px;
  }
  .material .material__image {
    display: block;
    width: 30%;
  }
  .material .material__image img {
    transform: scale(1.5);
  }

  .sliding {
    margin-top: 40px;
    margin-bottom: 50px;
    display: flex;
    align-items: center;
    justify-content: space-between;
  }
  .sliding .sliding__content {
    width: 45%;
  }
  .sliding .sliding__content .sliding__bold_hide {
    display: block;
  }
  .sliding .sliding__content .sliding__title {
    margin-top: 0;
  }
  .sliding .sliding__image {
    width: 50%;
  }

  .buy {
    padding-top: 30px;
    padding-bottom: 30px;
  }
  .buy .buy__steps {
    display: flex;
    justify-content: space-between;
  }

  .contacts {
    padding: 20px;
  }
  .contacts .contacts__form {
    margin-top: 20px;
    display: flex;
    align-items: center;
    justify-content: space-between;
  }
  .contacts .contacts__form .contacts__input {
    margin-top: 0;
    width: auto;
    flex-grow: 1;
    margin-right: 20px;
  }
  .contacts .contacts__form .contacts__button {
    margin: 0;
    white-space: nowrap;
  }
  .contacts .contacts__bold {
    margin-top: 30px;
  }

  .variants .variants__items {
    justify-content: center;
  }
  .variants .variants__items .variants__item {
    width: 30%;
    margin-left: 1.5%;
    margin-right: 1.5%;
  }

  .main-color .main-color__colors {
    flex-wrap: nowrap;
  }

  .profile-color .profile-color__colors {
    flex-wrap: nowrap;
  }

  .our-projects .our-projects__examples {
    display: flex;
    margin-top: 50px;
  }

  .advantages .advantages__list {
    display: flex;
  }

  .images {
    padding: 20px 10%;
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
  }
  .images img {
    margin-top: 30px;
  }
  .images img:nth-child(1) {
    width: 80%;
    margin-left: auto;
    margin-right: auto;
  }

  .certificates .certificates__list {
    flex-wrap: nowrap;
  }

  .header .header__contact {
    display: block;
  }

  .logo .logo__image {
    width: 160px;
  }
  .logo .logo__span {
    font-size: 22px;
  }

  .contact {
    width: auto;
  }
  .contact .contact__row {
    font-family: "SF Pro Display";
    font-size: 18px;
    font-weight: 400;
    line-height: 24px;
    color: #353535;
  }

  .circle {
    width: 150px;
    height: 150px;
  }
  .circle .circle__text .circle__title {
    font-size: 24px;
  }
  .circle .circle__text .circle__subtitle {
    font-size: 18px;
  }

  h1.title {
    font-size: 28px;
    line-height: 1.5;
  }
  h1.title:after {
    margin-top: 20px;
  }

  .text {
    font-size: 16px;
  }

  .button {
    padding: 25px 30px;
    height: 50px;
    border-radius: 50px;
  }

  .step {
    width: 30%;
  }
  .step .step__image {
    height: 150px;
  }
  .step .step__subtitle {
    font-size: 16px;
  }

  .socials .socials__item {
    width: 30px;
  }

  .color .color__span_huge {
    font-size: 18px;
    margin-top: 15px;
  }

  .example {
    height: 400px;
    transition: 0.4s ease;
  }

  .adv-item {
    margin-left: 2%;
    margin-right: 2%;
  }
  .adv-item .adv-item__text .adv-item__bold {
    font-size: 18px;
  }
  .adv-item .adv-item__text .adv-item__small {
    font-size: 16px;
  }

  .cert-item {
    min-width: auto;
  }
}
@media screen and (min-width: 1024px) {
  .preview .preview__header {
    top: 25px;
    left: 25px;
  }
  .preview .preview__text {
    padding: 25px;
    width: 45%;
  }
  .preview .preview__text .preview__slogan {
    font-size: 20px;
  }
  .preview .preview__text .preview__title {
    font-size: 30px;
    line-height: 1.35;
  }
  .preview .preview__text .preview__subtitle {
    font-size: 18px;
    line-height: 1.35;
    margin-top: 20px;
  }
  .preview .preview__text .preview__subtitle b {
    font-size: 22px;
  }
  .preview .preview__text .preview__button {
    margin-top: 25px;
  }
  .preview .preview__text .preview__socials {
    display: flex;
    width: auto;
    justify-content: flex-start;
    margin-top: 15px;
  }
  .preview .preview__image {
    width: 55%;
    margin-top: 0;
    padding: 0;
    position: relative;
  }
  .preview .preview__image img:nth-child(1) {
    display: block;
    position: absolute;
    transform: scale(0.74);
    top: 13%;
  }
  .preview .preview__image img:nth-child(2) {
    display: block;
  }

  .banner .banner__red {
    height: 160px;
  }
  .banner .banner__red .banner__fire {
    width: 80px;
    margin-right: 20px;
  }
  .banner .banner__red .banner__cry {
    font-size: 42px;
  }
  .banner .banner__white {
    height: 160px;
    padding-top: 60px;
    padding-bottom: 60px;
  }
  .banner .banner__white .banner__title {
    font-size: 26px;
    width: 86%;
  }
  .banner .banner__white .banner__span {
    font-size: 17px;
    width: 86%;
  }

  .size .size__image {
    width: 45%;
    margin-left: 2%;
    position: relative;
  }
  .size .size__image img:nth-child(1) {
    display: block;
    position: absolute;
    top: 25%;
    left: 10%;
    transform: scale(1.31);
  }
  .size .size__content {
    width: 45%;
  }

  .material .material__text {
    width: 70%;
    padding: 35px;
  }
  .material .material__text .material__title {
    font-size: 26px;
  }
  .material .material__text .material__subtitle {
    font-size: 18px;
  }
  .material .material__image {
    width: 25%;
  }

  .sliding .sliding__image {
    position: relative;
  }
  .sliding .sliding__image img:nth-child(1) {
    display: block;
    position: absolute;
    transform: scale(1.066);
    top: 1%;
    left: -6%;
  }
  .sliding .sliding__image img:nth-child(2) {
    display: block;
  }

  .variants .variants__items .variants__item .variants__span {
    font-size: 18px;
  }

  .contacts .contacts__form .contacts__button {
    padding-left: 30px;
    padding-right: 30px;
  }

  .main-color {
    margin-top: 30px;
  }

  .profile-color {
    margin-top: 30px;
  }

  .our-projects {
    margin-top: 30px;
  }

  .images {
    padding: 30px 15%;
  }

  .header {
    z-index: 1;
    width: calc(100% - 50px);
  }
  .header .header__navbar {
    display: flex;
  }
  .header .header__dropdown-burger {
    display: none;
  }

  .navbar {
    display: flex;
  }
  .navbar .navbar__item {
    margin-left: 5px;
    margin-right: 5px;
  }
  .navbar .navbar__item a {
    text-decoration: none;
    font-family: "SF Pro Display";
    font-size: 15px;
    color: #353535;
    transition: 0.4s ease;
  }
  .navbar .navbar__item a:hover {
    color: #FF2929;
  }

  .button {
    height: 60px;
  }
  .button .button__play {
    width: 30px;
  }
  .button .button__span {
    font-size: 18px;
  }

  .circle {
    width: 160px;
    height: 160px;
  }
  .circle .circle__text .circle__title {
    font-size: 26px;
  }
  .circle .circle__text .circle__subtitle {
    font-size: 20px;
  }

  h1.title {
    font-size: 40px;
  }
  h1.title:after {
    width: 70px;
    height: 8px;
  }

  h2.title {
    font-size: 26px;
  }
  h2.title:after {
    width: 60px;
  }

  .bold {
    font-size: 18px;
  }

  .text {
    font-size: 18px;
  }

  .socials .socials__item {
    width: 35px;
  }

  .color .color__span {
    font-size: 17px;
  }
  .color .color__span_huge {
    font-size: 18px;
  }

  .adv-item {
    margin-left: 10px;
    margin-right: 10px;
  }
  .adv-item .adv-item__text .adv-item__bold {
    font-size: 20px;
    line-height: 1.35;
  }
  .adv-item .adv-item__text .adv-item__small {
    font-size: 18px;
  }
}
@media screen and (min-width: 1440px) {
  .preview {
    max-width: 1800px;
    margin-left: auto;
    margin-right: auto;
    justify-content: flex-end;
    align-items: normal;
  }
  .preview .preview__header {
    top: 30px;
    left: 50%;
    transform: translate(-50%, 0);
  }
  .preview .preview__image {
    width: 58%;
  }
  .preview .preview__text {
    margin-top: 13%;
    width: 42%;
    max-width: calc(1720px - 58%);
    position: relative;
  }
  .preview .preview__text .preview__slogan {
    font-size: 26px;
  }
  .preview .preview__text .preview__title {
    font-size: 40px;
  }
  .preview .preview__text .preview__subtitle {
    font-size: 22px;
  }
  .preview .preview__text .preview__socials {
    position: absolute;
    bottom: 30px;
    left: 30px;
  }

  .banner {
    max-width: 1800px;
    margin-left: auto;
    margin-right: auto;
  }
  .banner .banner__white {
    justify-content: center;
  }
  .banner .banner__white .banner__title {
    margin-right: 20%;
  }
  .banner .banner__white .banner__span {
    margin-right: 20%;
  }

  .size {
    max-width: 1800px;
    margin-left: auto;
    margin-right: auto;
  }
  .size .size__content .size__text {
    margin-top: 30px;
  }
  .size .size__content .size__button {
    margin-top: 35px;
  }

  .material {
    max-width: 1800px;
    margin-left: auto;
    margin-right: auto;
  }
  .material .material__image {
    max-width: 300px;
  }
  .material .material__text .material__title {
    font-size: 40px;
  }
  .material .material__text .material__subtitle {
    font-size: 22px;
  }

  .sliding {
    margin-top: 80px;
    margin-bottom: 110px;
    max-width: 1800px;
    margin-left: auto;
    margin-right: auto;
  }
  .sliding .sliding__content .sliding__bold {
    margin-top: 30px;
  }
  .sliding .sliding__content .sliding__parts .sliding__part {
    font-size: 28px;
  }
  .sliding .sliding__content .sliding__button {
    margin-top: 25px;
  }

  .buy {
    max-width: 1800px;
    margin-left: auto;
    margin-right: auto;
  }
  .buy .buy__steps .buy__step:nth-child(3) .step__image {
    width: 350px;
  }

  .contacts {
    max-width: 1800px;
    margin-left: auto;
    margin-right: auto;
    padding: 30px 20%;
  }

  .variants {
    max-width: 1800px;
    margin-left: auto;
    margin-right: auto;
  }

  .main-color {
    margin-left: auto;
    margin-right: auto;
    max-width: 1800px;
  }

  .profile-color {
    margin-left: auto;
    margin-right: auto;
    max-width: 1800px;
  }

  .our-projects {
    margin-top: 40px;
    margin-left: auto;
    margin-right: auto;
    max-width: 1800px;
  }

  .advantages {
    margin-top: 40px;
    margin-left: auto;
    margin-right: auto;
    max-width: 1800px;
  }

  .images {
    padding: 35px 20%;
    max-width: 1800px;
    margin-left: auto;
    margin-right: auto;
  }
  .images img {
    margin-top: 35px;
  }

  .certificates {
    margin-top: 40px;
    margin-left: auto;
    margin-right: auto;
    max-width: 1800px;
  }

  .header {
    max-width: 1600px;
    padding-left: 30px;
    padding-right: 30px;
    height: 90px;
  }

  .logo .logo__image {
    margin-right: 15px;
  }

  .navbar .navbar__item {
    margin-left: 15px;
    margin-right: 15px;
  }
  .navbar .navbar__item a {
    font-size: 18px;
  }

  .contact .contact__row {
    font-size: 22px;
    line-height: 1.35;
  }

  h1.title {
    font-size: 60px;
  }

  h2.title {
    font-size: 40px;
  }
  h2.title:after {
    margin-top: 20px;
  }

  .text {
    font-size: 20px;
  }

  .bold {
    font-size: 22px;
  }

  .text {
    font-size: 20px;
  }

  .step {
    width: 30%;
  }
  .step .step__image {
    width: 280px;
    height: 300px;
  }
  .step .step__title {
    font-size: 55px;
  }
  .step .step__title b {
    font-size: 60px;
  }
  .step .step__subtitle {
    margin-top: 20px;
    font-size: 22px;
  }

  .color .color__span {
    font-size: 24px;
    font-weight: 400;
  }
  .color .color__span_huge {
    font-size: 28px;
    margin-top: 20px;
  }

  .footer .footer__span {
    font-size: 18px;
  }

  .example {
    height: 550px;
  }
}

/*# sourceMappingURL=style.css.map */
