* {
  margin: 0;
  padding: 0;
}

input, button {
  outline: none;
}

button {
  cursor: pointer;
}

img {
  width: 100%;
}

body {
  background-color: #F9F9F9;
}

li {
  list-style: none;
}

@media screen and (min-width: 320px) {
  .page {
    width: 100%;
    box-sizing: border-box;
  }

  .dropdown {
    width: 100%;
    box-sizing: border-box;
    display: none;
    opacity: 0;
  }

  .preview {
    width: 100%;
    box-sizing: border-box;
    background-image: url("../img/preview-bg.png");
    background-size: cover;
    background-position: center;
    display: flex;
    flex-wrap: wrap;
    position: relative;
    padding-bottom: 90px;
  }
  .preview .preview__header {
    top: 15px;
    left: 15px;
  }
  .preview .preview__text {
    width: 100%;
    box-sizing: border-box;
    margin-top: 120px;
    padding: 15px;
  }
  .preview .preview__text .preview__slogan {
    font-size: 14px;
    font-family: "SF Pro Display";
    color: #FF2929;
  }
  .preview .preview__text .preview__title {
    font-size: 22px;
    font-family: "SF Pro Display";
    font-weight: 900;
    color: #353535;
    margin-top: 5px;
    line-height: 27px;
  }
  .preview .preview__text .preview__subtitle {
    font-size: 16px;
    font-family: "SF Pro Display";
    color: #353535;
    margin-top: 5px;
    line-height: 1.37;
  }
  .preview .preview__text .preview__subtitle b {
    color: #FF2929;
  }
  .preview .preview__text .preview__button {
    margin-top: 15px;
  }
  .preview .preview__text .preview__socials {
    display: none;
  }
  .preview .preview__image {
    display: none;
  }

  .banner {
    margin-top: 20px;
    position: relative;
    width: 100%;
    box-sizing: border-box;
  }
  .banner .banner__red {
    width: 100%;
    box-sizing: border-box;
    padding: 20px;
    background-image: url("../img/red-bg.png");
    background-size: cover;
    background-position: center;
    height: 300px;
  }
  .banner .banner__red .banner__fire {
    width: 60px;
    margin-left: auto;
    margin-right: auto;
    margin-top: 15px;
  }
  .banner .banner__red .banner__cry {
    font-family: "SF Pro Display";
    font-size: 36px;
    color: white;
    width: 100%;
    text-align: center;
    margin-top: 10px;
  }
  .banner .banner__white {
    width: 100%;
    box-sizing: border-box;
    padding: 20px;
    background-image: url("../img/white-bg.png");
    background-size: cover;
    background-position: center;
    height: 300px;
  }
  .banner .banner__white .banner__title {
    font-family: "SF Pro Display";
    font-size: 28px;
    width: 90%;
    margin-left: auto;
    margin-right: auto;
    text-align: center;
    margin-top: 100px;
    color: #353535;
    line-height: 34px;
  }
  .banner .banner__white .banner__title b {
    color: #FF2929;
  }
  .banner .banner__white .banner__span {
    display: block;
    width: 80%;
    margin-left: auto;
    margin-right: auto;
    text-align: center;
    margin-top: 10px;
    font-family: "SF Pro Display";
    font-size: 16px;
    line-height: 22px;
    color: #5E5E5E;
  }
  .banner .banner__circle {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
  }

  .size {
    width: 100%;
    box-sizing: border-box;
    padding: 20px;
    display: flex;
    flex-wrap: wrap;
  }
  .size .size__content {
    order: 0;
  }
  .size .size__content .size__title {
    margin-left: auto;
    margin-right: auto;
    margin-top: 5px;
  }
  .size .size__content .size__text {
    margin-top: 15px;
  }
  .size .size__content .size__button {
    margin-left: auto;
    margin-right: auto;
    margin-top: 15px;
  }
  .size .size__image {
    order: 1;
    width: 90%;
    margin-left: auto;
    margin-right: auto;
    margin-top: 30px;
  }
  .size .size__image img:nth-child(1) {
    display: none;
  }

  .material {
    width: 100%;
    box-sizing: border-box;
    margin-top: 20px;
    background-color: #FF2929;
    padding: 20px;
  }
  .material .material__text {
    width: 100%;
  }
  .material .material__text .material__title {
    width: 100%;
    text-align: center;
    font-family: "SF Pro Display";
    font-size: 22px;
    color: white;
    font-weight: 400;
  }
  .material .material__text .material__title:after {
    content: "";
    display: block;
    width: 20%;
    height: 1px;
    background-color: white;
    margin-left: auto;
    margin-right: auto;
    margin-top: 5px;
  }
  .material .material__text .material__subtitle {
    width: 100%;
    font-family: "SF Pro Display";
    color: white;
    font-size: 16px;
    font-weight: 400;
    margin-top: 10px;
  }
  .material .material__image {
    display: none;
  }

  .sliding {
    width: 100%;
    box-sizing: border-box;
    padding: 20px;
  }
  .sliding .sliding__content {
    width: 100%;
    box-sizing: border-box;
  }
  .sliding .sliding__content .sliding__title {
    margin-top: 10px;
  }
  .sliding .sliding__content .sliding__bold {
    margin-top: 15px;
  }
  .sliding .sliding__content .sliding__text {
    margin-top: 10px;
    margin-bottom: 5px;
  }
  .sliding .sliding__content .sliding__parts {
    width: 100%;
    box-sizing: border-box;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
  }
  .sliding .sliding__content .sliding__parts .sliding__part {
    width: 100%;
    text-align: center;
    margin-top: 15px;
    font-family: "SF Pro Display";
    font-weight: 700;
    font-size: 16px;
    color: #353535;
  }
  .sliding .sliding__content .sliding__parts .sliding__part b {
    color: #FF2929;
  }
  .sliding .sliding__content .sliding__bold_hide {
    display: none;
  }
  .sliding .sliding__content .sliding__button {
    margin-left: auto;
    margin-right: auto;
    margin-top: 15px;
  }
  .sliding .sliding__image {
    width: 100%;
    box-sizing: border-box;
    margin-top: 30px;
  }
  .sliding .sliding__image img:nth-child(1) {
    display: none;
  }

  .buy {
    width: 100%;
    box-sizing: border-box;
    padding: 20px;
    background-image: url("../img/steps-bg.png");
    background-size: auto 100%;
    background-position: center;
  }
  .buy .buy__steps {
    width: 100%;
    box-sizing: border-box;
  }
  .buy .buy__steps .buy__step {
    margin-top: 25px;
  }
  .buy .buy__steps .buy__step:nth-child(3) .step__image {
    width: 190px;
  }

  .contacts {
    width: 100%;
    box-sizing: border-box;
    padding: 15px;
    margin-top: 20px;
    background-image: url("../img/form-bg.png");
    background-size: cover;
    background-position: center;
  }
  .contacts .contacts__title {
    color: white;
  }
  .contacts .contacts__title:after {
    height: 2px;
  }
  .contacts .contacts__text {
    font-weight: 500;
    margin-top: 10px;
  }
  .contacts .contacts__form {
    margin-top: 15px;
    width: 100%;
    box-sizing: border-box;
  }
  .contacts .contacts__form .contacts__input {
    width: 100%;
    box-sizing: border-box;
    margin-top: 10px;
    position: relative;
  }
  .contacts .contacts__form .contacts__input input {
    width: 100%;
    box-sizing: border-box;
    height: 50px;
    padding: 15px;
    border: none;
    border-radius: 2px;
    font-family: "SF Pro Display";
    font-weight: 500;
    font-size: 16px;
    color: #353535;
  }
  .contacts .contacts__form .contacts__input input:focus ~ .placeholder, .contacts .contacts__form .contacts__input input:valid ~ .placeholder {
    display: none;
  }
  .contacts .contacts__form .contacts__input .placeholder {
    position: absolute;
    top: 50%;
    left: 15px;
    font-family: "SF Pro Display";
    font-weight: 400;
    font-size: 16px;
    color: #818181;
    transform: translate(0, -50%);
  }
  .contacts .contacts__form .contacts__input .placeholder b {
    color: #FF2929;
  }
  .contacts .contacts__form .contacts__button {
    margin-left: auto;
    margin-right: auto;
    margin-top: 20px;
    padding: 10px 20px;
  }
  .contacts .contacts__bold {
    margin-top: 20px;
  }
  .contacts .contacts__socials {
    margin-top: 15px;
  }
  .contacts .contacts__lite {
    display: block;
    width: 100%;
    text-align: center;
    font-family: "SF Pro Display";
    font-size: 11px;
    margin-top: 10px;
    color: #A5A5A5;
  }

  .variants {
    width: 100%;
    box-sizing: border-box;
    padding: 20px;
  }
  .variants .variants__title {
    margin-top: 10px;
  }
  .variants .variants__items {
    width: 100%;
    box-sizing: border-box;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
  }
  .variants .variants__items .variants__item {
    width: 45%;
    margin-left: 1.75%;
    margin-right: 1.75%;
    margin-top: 20px;
  }
  .variants .variants__items .variants__item .variants__span {
    display: block;
    width: 100%;
    text-align: center;
    font-family: "SF Pro Display";
    font-weight: 700;
    color: #353535;
    font-size: 14px;
    margin-top: 5px;
  }

  .main-color {
    width: 100%;
    box-sizing: border-box;
    padding: 20px;
  }
  .main-color .main-color__title {
    margin-top: 10px;
  }
  .main-color .main-color__subtitle {
    margin-top: 15px;
  }
  .main-color .main-color__colors {
    width: 100%;
    box-sizing: border-box;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
  }
  .main-color .main-color__colors .main-color__color {
    margin-top: 20px;
    width: 45%;
    margin-left: 1.75%;
    margin-right: 1.75%;
  }

  .profile-color {
    width: 100%;
    box-sizing: border-box;
    padding: 20px;
  }
  .profile-color .profile-color__colors {
    width: 100%;
    box-sizing: border-box;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
  }
  .profile-color .profile-color__colors .profile-color__color {
    margin-top: 20px;
    width: 45%;
    margin-left: 1.75%;
    margin-right: 1.75%;
  }

  .our-projects {
    width: 100%;
    box-sizing: border-box;
    padding: 20px;
  }
  .our-projects .our-projects__examples {
    margin-top: 20px;
    display: flex;
    width: 100%;
    overflow: auto;
    padding-bottom: 20px;
  }
  .our-projects .our-projects__examples::-webkit-scrollbar {
    width: 15px;
    height: 15px;
    border-radius: 5px;
  }
  .our-projects .our-projects__examples::-webkit-scrollbar-track {
    background-color: white;
    border-radius: 5px;
    border-bottom: 1px solid rgba(0, 0, 0, 0.1);
  }
  .our-projects .our-projects__examples::-webkit-scrollbar-thumb {
    background-color: #FF2929;
    border-radius: 5px;
  }

  .advantages {
    width: 100%;
    box-sizing: border-box;
    padding: 20px;
    background-image: url("../img/adv-bg.png");
    background-size: cover;
    background-position: center;
  }
  .advantages .advantages__list {
    margin-top: 20px;
  }
  .advantages .advantages__list .advantages__item {
    margin-top: 20px;
  }

  .certificates {
    width: 100%;
    box-sizing: border-box;
    padding: 20px;
  }
  .certificates .certificates__list {
    margin-top: 20px;
    display: flex;
    width: 100%;
    overflow: auto;
    padding-bottom: 20px;
  }
  .certificates .certificates__list::-webkit-scrollbar {
    width: 15px;
    height: 15px;
    border-radius: 5px;
  }
  .certificates .certificates__list::-webkit-scrollbar-track {
    background-color: white;
    border-radius: 5px;
    border-bottom: 1px solid rgba(0, 0, 0, 0.1);
  }
  .certificates .certificates__list::-webkit-scrollbar-thumb {
    background-color: #FF2929;
    border-radius: 5px;
  }

  .footer {
    width: 100%;
    box-sizing: border-box;
    margin-top: 30px;
    background-color: #2D2D2D;
    padding: 20px;
  }
  .footer .footer__span {
    display: block;
    font-family: "SF Pro Display";
    font-size: 14px;
    color: #C7C7C7;
    text-align: center;
    font-weight: 400;
  }

  .header {
    width: calc(100% - 30px);
    box-sizing: border-box;
    padding: 10px;
    position: absolute;
    background-color: white;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    align-items: center;
    box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
  }
  .header .header__navbar {
    display: none;
  }
  .header .header__contact {
    display: none;
  }
  .header .header__dropdown-burger {
    cursor: pointer;
    width: 45px;
    height: 45px;
    background-color: red;
    border-radius: 50%;
    position: relative;
    transition: 0.4s ease;
  }
  .header .header__dropdown-burger span {
    width: 25px;
    height: 3px;
    background-color: white;
    position: absolute;
    left: 50%;
    transform: translate(-50%, 0);
  }
  .header .header__dropdown-burger span:nth-child(1) {
    top: 11px;
  }
  .header .header__dropdown-burger span:nth-child(2) {
    top: 21px;
    width: 15px;
    right: 0;
    left: auto;
    transform: translate(-70%, 0);
  }
  .header .header__dropdown-burger span:nth-child(3) {
    bottom: 11px;
  }
  .header .header__dropdown-burger:hover {
    opacity: 0.5;
  }

  .logo {
    width: auto;
    display: flex;
    align-items: center;
  }
  .logo .logo__image {
    width: 40px;
    height: 40px;
    margin-right: 10px;
  }
  .logo .logo__span {
    font-family: "SF Pro Display";
    font-weight: 700;
    font-size: 18px;
    color: #FF2929;
  }

  .button {
    cursor: pointer;
    transition: 0.4s ease;
    width: auto;
    height: 40px;
    padding: 10px 15px;
    display: flex;
    align-items: center;
    background-color: #FF2929;
    border-radius: 20px;
    border: none;
    box-shadow: 0px 2px 0px #D91313;
  }
  .button .button__play {
    width: 25px;
    margin-right: 10px;
    margin-top: 3px;
  }
  .button .button__span {
    font-family: "SF Pro Display";
    font-size: 16px;
    color: white;
    font-weight: 700;
  }
  .button:hover {
    opacity: 0.5;
  }

  .circle {
    width: 190px;
  }
  .circle .circle__image {
    width: 100%;
  }
  .circle .circle__text {
    width: 100%;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
  }
  .circle .circle__text .circle__title {
    width: 100%;
    font-family: "SF Pro Display";
    font-size: 30px;
    font-weight: 700;
    color: white;
    text-align: center;
  }
  .circle .circle__text .circle__subtitle {
    display: block;
    width: 100%;
    font-family: "SF Pro Display";
    font-size: 18px;
    color: white;
    font-weight: 700;
    text-align: center;
    margin-top: 5px;
  }

  h1.title {
    width: 100%;
    text-align: center;
    font-family: "SF Pro Display";
    font-size: 22px;
    font-weight: 400;
    color: #353535;
    line-height: 28px;
  }
  h1.title:after {
    content: "";
    display: block;
    width: 20%;
    height: 5px;
    background-color: #FF2929;
    margin-left: auto;
    margin-right: auto;
    border-radius: 5px;
    margin-top: 10px;
  }

  h2.title {
    width: 100%;
    text-align: center;
    font-family: "SF Pro Display";
    font-size: 20px;
    font-weight: 400;
    color: #353535;
    line-height: 28px;
  }
  h2.title:after {
    content: "";
    display: block;
    width: 20%;
    height: 2px;
    background-color: #FF2929;
    margin-left: auto;
    margin-right: auto;
    border-radius: 5px;
    margin-top: 10px;
  }

  .text {
    width: 100%;
    text-align: center;
    font-family: "SF Pro Display";
    font-size: 16px;
    color: #353535;
    font-weight: 400;
  }

  .text_white {
    color: white;
  }

  .bold {
    display: block;
    width: 100%;
    font-family: "SF Pro Display";
    font-size: 14px;
    font-weight: 700;
    color: #353535;
    text-align: center;
  }

  .bold_white {
    color: white;
    font-size: 16px;
  }

  .step {
    width: 100%;
  }
  .step .step__image {
    width: 150px;
    margin-left: auto;
    margin-right: auto;
  }
  .step .step__title {
    width: 100%;
    text-align: center;
    margin-top: 10px;
    font-family: "SF Pro Display";
    font-weight: 400;
    color: #FF2929;
    font-size: 24px;
    line-height: 38px;
  }
  .step .step__title b {
    font-size: 38px;
    font-weight: 700;
    margin-right: 10px;
  }
  .step .step__subtitle {
    width: 80%;
    margin-left: auto;
    margin-right: auto;
    font-size: 18px;
    line-height: 1.5;
  }

  .socials {
    width: 100%;
    box-sizing: border-box;
    display: flex;
    justify-content: center;
    align-items: center;
  }
  .socials .socials__item {
    width: 40px;
    margin-left: 7px;
    margin-right: 7px;
    transition: 0.4s ease;
  }
  .socials .socials__item:hover {
    opacity: 0.5;
  }

  .color .color__image {
    width: 100%;
  }
  .color .color__span {
    width: 100%;
    display: block;
    text-align: center;
    font-family: "SF Pro Display";
    font-weight: 500;
    color: #353535;
    font-size: 14px;
  }

  .example {
    min-width: 80%;
    margin-right: 5%;
    position: relative;
  }
  .example:nth-child(4) {
    margin-right: 0;
  }
  .example .example__price {
    width: auto;
    position: absolute;
    bottom: 5px;
    left: 50%;
    transform: translate(-50%, 0);
    padding: 15px 25px;
    background-color: #FF2929;
    font-family: "SF Pro Display";
    font-size: 16px;
    font-weight: 700;
    color: white;
    white-space: nowrap;
  }

  .adv-item {
    width: 100%;
    box-sizing: border-box;
    position: relative;
  }
  .adv-item .adv-item__text {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    font-family: "SF Pro Display";
    color: white;
    width: 80%;
    text-align: center;
    line-height: 27px;
  }
  .adv-item .adv-item__text .adv-item__bold {
    font-size: 20px;
    font-weight: 700;
  }
  .adv-item .adv-item__text .adv-item__small {
    font-weight: 400;
    font-size: 20px;
  }

  .cert-item {
    min-width: 80%;
    margin-right: 5%;
    position: relative;
  }
  .cert-item:nth-child(4) {
    margin-right: 0;
  }
}

/*# sourceMappingURL=style.css.map */
