*{
	margin: 0;
	padding: 0;
}
button, input, textarea{
	outline: none;
}

@media screen and (min-width: 320px){

	#dropdown{
		position: absolute;
		width: 100vw;
		height: 100vh;
		background-color: rgba(0, 0, 0, 0.7);
		z-index: 10;
		transition: .5s ease;
	}
	#dropdown .content{
		position: absolute;
		top: 50%;
		left: 50%;
		transform: translate(-50%, -50%);
		width: 300px;
		background-color: white;
		border-radius: 15px;
	}
	#dropdown .content .close{
		position: absolute;
		top: 10px;
		right: 10px;
		width: 30px;
		height: 30px;
		cursor: pointer;
	}
	#dropdown .content .close span{
		width: 100%;
		height: 3px;
		background-color: black;
		position: absolute;
		top: 50%;
		left: 50%;
		transition: .3s ease;
	}
	#dropdown .content .close span:nth-child(1){
		transform: translate(-50%, -50%) rotate(45deg);
	}
	#dropdown .content .close span:nth-child(2){
		transform: translate(-50%, -50%) rotate(-45deg);
	}
	#dropdown .content .close:hover span{
		background-color: #777;
	}
	#dropdown .content .items{
		display: flex;
		flex-wrap: wrap;
		margin-top: 40px;
	}
	#dropdown .content .items .item{
		width: 100%;
		list-style: none;
	}
	#dropdown .content .items .item a{
		display: block;
		width: 100%;
		text-align: center;
		font-size: 18px;
		font-family: Noto Bd;
		text-decoration: none;
		color: #232D42;
		box-sizing: border-box;
		padding: 10px;
		cursor: pointer;
		transition: .3s ease;
	}
	#dropdown .content .items .item a:hover{
		color: #777;
	}
	#dropdown .content .button{
		width: 100%;
		display: flex;
		justify-content: center;
		margin-top: 20px;
		margin-bottom: 30px;
	}
	#dropdown .content .button button{
		width: 120px;
		height: 50px;
		background-color: rgba(0, 0, 0, 0.0);
		border: 2px solid #32C788;
		border-radius: 25px;
		color: #32C788;
		font-size: 18px;
		font-family: Noto;
		cursor: pointer;
		transition: .3s ease;
	}
	#dropdown .content .button button:hover{
		background-color: #32C788;
		color: white;
	}

	header{
		width: 100%;
		box-sizing: border-box;
		padding: 20px;
		display: flex;
		justify-content: space-between;
	}
	header .logo{
		width: 120px;
		position: relative;
	}
	header .logo img{
		width: 100%;
		position: absolute;
		top: 50%;
		transform: translate(0, -50%);
	}
	header .navbar{
		display: none;
	}
	header .dropdown-menu{
		width: 30px;
		height: 27px;
		position: relative;
		cursor: pointer;
	}
	header .dropdown-menu span{
		display: block;
		width: 100%;
		height: 4px;
		background-color: #32C788;
		position: absolute;
		right: 0;
		transition: .3s ease;
	}
	header .dropdown-menu span:nth-child(1){
		top: 0;
	}
	header .dropdown-menu span:nth-child(2){
		width: 80%;
		top: 50%;
		transform: translate(0, -50%);
	}
	header .dropdown-menu span:nth-child(3){
		bottom: 0;
	}
	header .dropdown-menu:hover span{
		opacity: 0.8;
	}
	header .button{
		display: none;
	}

	#main .bg{
		display: none;
	}
	#main .content span{
		display: none;
	}
	#main .content h1{
		padding: 20px;
		background-image: url(../img/main-bg.png);
		background-size: 100%;
		background-repeat: no-repeat;
		background-position: center;
		color: white;
		font-family: Roboto Bd;
		font-size: 64px;
	}
	#main .content p{
		margin-top: 10px;
		color: #808796;
		padding: 20px;
		font-family: Noto;
		font-size: 16px;
	}
	#main .buttons{
		display: flex;
		justify-content: space-between;
		padding: 20px;
	}
	#main .buttons .more{
		padding: 17px 20px;
		background-color: rgba(0, 0, 0, 0.0);
		border: 2px solid #FFBFBE;
		color: #FFBFBE;
		font-size: 16px;
		font-family: Noto;
		border-radius: 55px;
		cursor: pointer;
		transition: .3s ease;
	}
	#main .buttons .more:hover{
		color: black;
		background-color: #FFBFBE;
	}
	#main .buttons .buy{
		font-size: 16px;
		font-family: Noto;
		border-radius: 55px;
		padding: 17px 20px;
		background-color: #32C788;
		border: none;
		color: white;
		cursor: pointer;
	}

	#adv{
		margin-top: 15px;
	}
	#adv .cards{
		display: flex;
		flex-wrap: wrap;
		justify-content: center;
	}
	#adv .cards .h{
		display: none;
	}
	#adv .cards .card{
		width: 310px;
		height: 310px;
		margin-left: auto;
		margin-right: auto;
		list-style: none;
		box-shadow: 0px 10px 30px rgba(0, 0, 0, 0.05);
		margin-top: 15px;
		box-sizing: border-box;
		padding: 20px 50px;
		border-radius: 15px;
		background-color: white;
	}
	#adv .cards .card img{
		width: 90px;
		border-radius: 5px;
	}
	#adv .cards .card h1{
		font-family: Roboto Bd;
		font-size: 24px;
		margin-top: 15px;
		color: #232D42;
	}
	#adv .cards .card p{
		margin-top: 10px;
		line-height: 1.8;
		font-family: Noto;
		font-size: 16px;
		color: #808796;
	}
	#adv .cards .card a{
		margin-top: 20px;
		display: block;
		color: #32C788;
		font-family: Noto;
		font-size: 16px;
		text-decoration: none;
	}
	#adv .more{
		margin-top: 20px;
		width: 100%;
		display: flex;
		justify-content: center;
	}
	#adv .more button{
		background-color: rgba(0, 0, 0, 0.0);
		border: none;
		color: #32C788;
		font-family: Noto Bd;
		font-size: 18px;
		text-decoration: underline;
	}
	#adv .circles{
		display: none;
	}

	#doctors{
		margin-top: 20px;
		width: 100%;
		box-sizing: border-box;
		padding: 10px;
		display: flex;
		flex-wrap: wrap;
	}
	#doctors .h{
		width: 100%;
	}
	#doctors .h h1{
		font-family: Roboto Bd;
		font-size: 40px;
		text-align: center;
		color: #232D42;
	}
	#doctors .h .line {
		display: block;
		width: 86px;
		height: 2px;
		background-color: #232D42;
		margin-left: auto;
		margin-right: auto;
		margin-top: 20px;
	}
	#doctors .image{
		width: 100%;
	}
	#doctors .image img{
		margin-top: 30px;
		width: 100%;
	}
	#doctors .text h2{
		margin-top: 20px;
		color: #232D42;
		font-family: Roboto Bd;
		font-size: 24px;
	}
	#doctors .text p{
		font-family: Noto;
		color: #808796;
		line-height: 1.8;
		margin-top: 15px;
	}
	#doctors .text .line{
		width: 86px;
		height: 2px;
		background-color: #232D42;
		margin-top: 25px;
		margin-bottom: 10px;
	}
	#doctors .buy{
		width: 100%;
		display: flex;
		justify-content: center;
		margin-top: 30px;
	}
	#doctors .buy button{
		border: none;
		background-color: #32C788;
		color: white;
		font-family: Noto Bd;
		font-size: 16px;
		padding: 11px 21px;
		border-radius: 30px;
		cursor: pointer;
	}

	#parts{
		margin-top: 20px;
	}
	#parts h1{
		text-align: center;
		color: #232D42;
		font-family: Roboto Bd;
		font-size: 40px;
	}
	#parts .line{
		width: 86px;
		height: 2px;
		background-color: #232D42;
		margin-left: auto;
		margin-right: auto;
		margin-top: 20px;
	}
	#parts .cards{
		margin-top: 30px;
	}
	#parts .cards .card{
		width: 100%;
		box-sizing: border-box;
		border-radius: 0 0 15px 15px;
		box-shadow: 0px 10px 30px rgba(0, 0, 0, 0.05);
		margin-top: 25px;
	}
	#parts .cards .card img{
		width: 100%;
	}
	#parts .cards .card h2{
		padding: 0 30px;
		margin-top: 20px;
		color: #232D42;
		font-family: Roboto Bd;
		font-size: 24px;
	}
	#parts .cards .card ul{
		margin-top: 10px;
		padding: 0 30px;
	}
	#parts .cards .card ul li{
		color: #808796;
		line-height: 1.8;
		font-family: Noto;
		font-size: 16px;
		list-style: none;
	}

	#buy{
		margin-top: 25px;
	}
	#buy h1{
		color: #232D42;
		font-family: Roboto Bd;
		font-size: 40px;
		text-align: center;
	}
	#buy .line{
		width: 86px;
		height: 2px;
		background-color: #232D42;
		margin-left: auto;
		margin-right: auto;
		margin-top: 20px;
	}
	#buy .navbar{
		margin-top: 30px;
		width: 100%;
		display: flex;
		flex-wrap: wrap;
		justify-content: center;
	}
	#buy .navbar .navbar-item{
		width: 90%;
		margin-left: auto;
		margin-right: auto;
		box-sizing: border-box;
		background-color: white;
		padding: 30px;
		text-align: center;
		font-family: Roboto Bd;
		font-size: 20px;
		color: #232D42;
		transition: .3s ease;
		list-style: none;
		cursor: pointer;
	}
	#buy .navbar .navbar-item.active{
		background-color: #32C788;
		color: white;
	}
	#buy .pages{
		position: relative;
		width: 100%;
		box-sizing: border-box;
		padding: 15px;
	}
	#buy .pages .page{
		top: 0;
		left: 0;
		list-style: none;
	}
	#buy .pages .page .cards{
		display: flex;
		flex-wrap: wrap;
		justify-content: center;
	}
	#buy .pages .page .cards .card{
		width: 100%;
		box-sizing: border-box;
		padding: 10px;
		margin-top: 15px;
		list-style: none;
	}
	#buy .pages .page .cards .card img{
		width: 100%;
	}
	#buy .pages .page .cards .card span{
		color: #808796;
		font-family: Noto;
		font-size: 16px;
		line-height: 1.8;
		text-align: center;
		display: block;
	}
	#buy .pages .page .cards .card .price{
		text-align: center;
		font-family: Roboto Bd;
		font-size: 24px;
		color: #232D42;
		margin-top: 15px;
	}
	#buy .pages .page .cards .card .order{
		width: 100%;
		display: flex;
		justify-content: center;
		margin-top: 20px;
	}
	#buy .pages .page .cards .card .order button{
		padding: 17px 30px;
		border-radius: 30px;
		border: none;
		background-color: #32C788;
		color: white;
		font-family: Noto;
		font-size: 16px;
		cursor: pointer;
	}

	#articles{
		margin-top: 40px;
	}
	#articles h1{
		color: #232D42;
		font-family: Roboto Bd;
		font-size: 40px;
		text-align: center;
	}
	#articles .line{
		width: 86px;
		height: 2px;
		background-color: #232D42;
		margin-left: auto;
		margin-right: auto;
		margin-top: 20px;
	}
	#articles .cards{
		display: flex;
		flex-wrap: wrap;
		justify-content: center;
	}
	#articles .cards .card{
		margin-top: 30px;
		width: 100%;
		box-sizing: border-box;
		padding: 0 10px;
		box-shadow: 0px 10px 30px rgba(0, 0, 0, 0.05);
	}
	#articles .cards .card img{
		width: 100%;
	}
	#articles .cards .card h2{
		font-size: 24px;
		font-family: Roboto Bd;
		margin-top: 30px;
		color: #232D42;
	}
	#articles .cards .card p{
		margin-top: 20px;
		color: #808796;
		font-family: Noto;
		line-height: 1.8;
	}
	#articles .cards .card .cat{
		margin-top: 20px;
		margin-bottom: 30px;
		display: flex;
		justify-content: space-between;
	}
	#articles .cards .card .cat button{
		padding: 10px 15px;
		border: none;
		font-size: 14px;
		font-family: Noto;
		border-radius: 30px;
	}
	#articles .cards .card .cat button.red{
		background-color: #FFBFBE;
		color: #FF4946;
	}
	#articles .cards .card .cat button.green{
		background-color: #A6FFD9;
		color: #32C788;
	}
	#articles .cards .card .cat button.blue{
		background-color: #C1EFFF;
		color: #579FFF;
	}

	#callback{
		margin-top: 50px;
	}
	#callback h1{
		font-size: 40px;
		font-family: Roboto Bd;
		text-align: center;
		color: #232D42;
	}
	#callback .line{
		width: 86px;
		height: 2px;
		background-color: #232D42;
		margin-left: auto;
		margin-right: auto;
		margin-top: 20px;
	}
	#callback form{
		margin-top: 10px;
		width: 90%;
		margin-left: auto;
		margin-right: auto;
		display: flex;
		flex-wrap: wrap;
		justify-content: center;
	}
	#callback form input{
		width: 100%;
		text-align: center;
		font-family: Noto;
		font-size: 16px;
		color: #232D42;
		box-sizing: border-box;
		padding: 25px;
		border-radius: 15px;
		box-shadow: 0px 10px 30px rgba(0, 0, 0, 0.05);
		border: none;
		margin-top: 20px;
	}
	#callback form input::placeholder{
		color: #808796;
	}
	#callback form textarea{
		width: 100%;
		text-align: center;
		height: 120px;
		box-sizing: border-box;
		padding-top: 10px;
		margin-top: 20px;
		border: none;
		border-radius: 15px;
		box-shadow: 0px 10px 30px rgba(0, 0, 0, 0.05);
		font-family: Noto;
		font-size: 16px;
		color: #232D42;
	}
	#callback form textarea::placeholder{
		color: #808796;
	}
	#callback form button{
		width: 150px;
		height: 55px;
		background-color: rgba(0, 0, 0, 0.0);
		border: 2px solid #32C788;
		border-radius: 30px;
		box-sizing: border-box;
		font-family: Noto Bd;
		font-size: 16px;
		color: #32C788;
		cursor: pointer;
		transition: .3s ease;
		margin-top: 30px;
		margin-bottom: 100px;
	}
	#callback form button:hover{
		color: white;
		background-color: #32C788;
	}

	footer{
		background-color: #F5F5F5;
		width: 100%;
		box-sizing: border-box;
		padding-top: 50px;
		padding-bottom: 60px;
	}
	footer .socials{
		display: flex;
		justify-content: space-between;
		width: 60%;
		margin-left: auto;
		margin-right: auto;
	}
	footer .socials .icons{
		display: flex;
		justify-content: space-between;
		width: 100%;
	}
	footer .socials .icons img{
		height: 30px;
	}
	footer .socials h1{
		display: none;
	}
	footer .col{
		display: none;
	}
	footer .not-sure{
		margin-top: 50px;
	}
	footer .not-sure h2{
		text-align: center;
		color: #232D42;
		font-family: Noto Bd;
		font-size: 18px;
	}
	footer .not-sure .button{
		width: 100%;
		box-sizing: border-box;
		display: flex;
		justify-content: center;
		margin-top: 20px;
	}
	footer .not-sure .button button{
		width: 200px;
		height: 55px;
		background-color: rgba(0, 0, 0, 0.0);
		border: 2px solid #232D42;
		color: #232D42;
		font-family: Noto Bd;
		font-size: 16px;
		border-radius: 30px;
		cursor: pointer;
		transition: .3s ease;
	}
	footer .not-sure .button button:hover{
		background-color: #232D42;
		color: white;
	}

}
@media screen and (min-width: 375px){

	#main .buttons button:nth-child(1){
		padding: 17px 30px;
	}
	#main .buttons button:nth-child(2){
		padding: 17px 30px;
	}

	#adv .cards .card{
		width: 320px;
		height: 320px;
	}
	#adv .more{
		margin-top: 30px;
	}

	#articles .cards .card .cat button{
		font-size: 16px;
		padding: 10px 15px;
	}

}
@media screen and (min-width: 768px){

	header .navbar{
		display: flex;
	}
	header .navbar .navbar-item{
		list-style: none;
		line-height: 40px;
		margin-left: 10px;
		margin-right: 10px;
	}
	header .navbar .navbar-item a{
		text-decoration: none;
		color: black;
		font-family: Noto;
	}
	header .dropdown-menu{
		display: none;
	}
	header .button{
		display: flex;
		justify-content: flex-end;
		width: 30%;
	}
	header .button button{
		width: 100px;
		height: 40px;
		background-color: #32C788;
		color: white;
		border: none;
		cursor: pointer;
		border-radius: 20px;
		font-family: Noto;
		font-size: 16px;
	}

	#main .bg{
		display: block;
		position: absolute;
		top: 10px;
		right: 10px;
		z-index: -1;
		width: 30%;
	}
	#main .bg img{
		width: 100%;
	}
	#main .content{
		width: 60%;
		box-sizing: border-box;
		padding: 20px;
	}
	#main .content span{
		display: block;
		background-color: #FFEAC1;
		color: #FF8957;
		width: 180px;
		text-align: center;
		height: 40px;
		font-size: 16px;
		line-height: 40px;
		font-family: Noto;
		border-radius: 20px;
		box-sizing: border-box;
	}
	#main .content h1{
		background: none;
		padding: 0;
		color: #232D42;
		font-size: 50px;
		margin-top: 30px;
	}
	#main .content p{
		padding: 0;
		margin-top: 30px;
	}
	#main .buttons{
		width: 45%;
	}

	#adv{
		padding-top: 120px;
		position: relative;
	}
	#adv .cards .h{
		display: block;
		width: 320px;
		height: 320px;
		background-color: rgba(0, 0, 0, 0.0);
		margin-left: auto;
		margin-right: auto;
		margin-top: 15px;
		padding: 20px 50px;
		padding-top: 5px;
		box-sizing: border-box;
	}
	#adv .cards .h .line{
		width: 86px;
		height: 2px;
		background-color: #232D42;
	}
	#adv .cards .h h1{
		margin-top: 40px;
		font-family: Roboto Bd;
		font-size: 30px;
		color: #232D42;
	}
	#adv .cards .h p{
		color: #808796;
		font-family: Noto;
		font-size: 14px;
		line-height: 1.8;
		margin-top: 20px;
	}
	#adv .cards .h button{
		margin-top: 30px;
		width: 120px;
		height: 55px;
		background-color: #32C788;
		border-radius: 30px;
		border: none;
		font-size: 16px;
		font-family: Noto;
		color: white;
		cursor: pointer;
	}
	#adv .cards .card a{
		display: none;
	}
	#adv .circles{
		display: block;
	}
	#adv .circles span{
		display: block;
		width: 120px;
		height: 120px;
		border-radius: 50%;
		position: absolute;
		z-index: -1;
	}
	#adv .circles span:nth-child(1){
		background-color: #FFBFBE;
		top: 1%;
		left: 50%;
	}
	#adv .circles span:nth-child(2){
		background-color: #C1EFFF;
		top: 13%;
		left: 45%;
	}
	#adv .circles span:nth-child(3){
		background-color: #FFEAC1;
		top: 30%;
		left: 0;
	}
	#adv .circles span:nth-child(4){
		background-color: #FFEAC1;
		top: 40%;
		right: 0;
	}
	#adv .circles span:nth-child(5){
		background-color: #FFBFBE;
		top: 45%;
		left: 60%;
	}
	#adv .more{
		display: none;
	}

	#doctors{
		margin-top: 120px;
		justify-content: space-between;
		background-image: url(../img/doctors-bg.png);
		background-repeat: no-repeat;
		background-size: 40%;
		background-position: center left;
		position: relative;
	}
	#doctors .h .line{
		margin-bottom: 30px;
	}
	#doctors .image{
		width: 45%;
		position: relative;
	}
	#doctors .image img{
		margin: 0;
		position: absolute;
		top: 50%;
		transform: translate(0, -50%);
		margin-top: 20px;
	}
	#doctors .text{
		width: 45%;
	}
	#doctors .text h2{
		font-size: 20px;
	}
	#doctors .text p{
		line-height: normal;
		font-size: 12px;
	}
	#doctors .text .line{
		display: none;
	}
	#doctors .buy{
		width: 100%;
		margin-top: 50px;
	}
	#doctors .circles span{
		position: absolute;
		z-index: -1;
		width: 100px;
		height: 100px;
		border-radius: 50%;
		display: block;
	}
	#doctors .circles span:nth-child(1){
		background-color: rgba(255, 191, 190, 0.7);
		top: 20%;
		right: 10%;
	}
	#doctors .circles span:nth-child(2){
		background-color: #C1EFFF;
		top: 45%;
		left: 55%;
	}
	#doctors .circles span:nth-child(3){
		background-color: #FFEAC1;
		top: 75%;
		right: 15%;
	}

	#parts{
		margin-top: 120px;
		position: relative;
	}
	#parts .cards{
		display: flex;
		flex-wrap: wrap;
		justify-content: space-between;
	}
	#parts .cards .card{
		width: 30%;
		list-style: none;
		padding-bottom: 20px;
		background-color: white;
	}
	#parts .cards .card img{
		border-radius: 15px 15px 0px 0px;
	}
	#parts .cards .card h2{
		font-size: 20px;
	}
	#parts .cards .card ul li{
		font-size: 14px;
	}
	#parts .circles span{
		display: block;
		width: 120px;
		height: 120px;
		border-radius: 50%;
		position: absolute;
		z-index: -1;
	}
	#parts .circles span:nth-child(1){
		background-color: #FFEAC1;
		top: 5%;
		left: 5%;
	}
	#parts .circles span:nth-child(2){
		background-color: #FFBFBE;
		top: 70%;
		left: 20%;
	}
	#parts .circles span:nth-child(3){
		background-color: #FFEAC1;
		top: 70%;
		left: 40%;
	}
	#parts .circles span:nth-child(4){
		background-color: #C1EFFF;
		top: 40%;
		left: 55%;
	}
	#parts .circles span:nth-child(5){
		background-color: #FFBFBE;
		top: 70%;
		left: 70%;
	}
	#parts .circles span:nth-child(6){
		background-color: #C1EFFF;
		top: 5%;
		right: 5%;
	}

	#buy{
		margin-top: 120px;
		position: relative;
	}
	#buy .navbar{
		display: flex;
		background-color: white;
		border-radius: 45px;
		box-shadow: 0px 10px 30px rgba(0, 0, 0, 0.05);
	}
	#buy .navbar .navbar-item{
		display: block;
		width: 30%;
		border-radius: 45px;
	}
	#buy .pages .page .cards{
		display: flex;
		justify-content: space-between;
		margin-top: 30px;
	}
	#buy .pages .page .cards .card{
		width: 30%;
	}
	#buy .pages .page .cards .card span{
		font-size: 14px;
	}
	#buy .pages .page .cards .card .order button{
		background-color: rgba(0, 0, 0, 0.0);
		border: 2px solid #32C788;
		color: #32C788;
		transition: .3s ease;
	}
	#buy .pages .page .cards .card .order button:hover{
		color: white;
		background-color: #32C788;
	}
	#buy .circles span{
		display: block;
		width: 120px;
		height: 120px;
		position: absolute;
		z-index: -1;
		border-radius: 50%;
	}
	#buy .circles span:nth-child(1){
		background-color: #FFBFBE;
		top: 5%;
		left: 5%;
	}
	#buy .circles span:nth-child(2){
		background-color: #C1EFFF;
		top: 80%;
		left: 5%;
	}
	#buy .circles span:nth-child(3){
		background-color: #FFEAC1;
		top: 50%;
		left: 20%;
	}
	#buy .circles span:nth-child(4){
		background-color: #FFBFBE;
		top: 65%;
		left: 35%;
	}
	#buy .circles span:nth-child(5){
		background-color: #C1EFFF;
		top: 45%;
		left: 40%;
	}
	#buy .circles span:nth-child(6){
		background-color: #FFBFBE;
		top: 15%;
		left: 60%;
	}
	#buy .circles span:nth-child(7){
		background-color: #C1EFFF;
		bottom: 5%;
		left: 80%;
	}
	#buy .circles span:nth-child(8){
		background-color: #FFEAC1;
		top: 25%;
		right: 5%;
	}

	#articles{
		margin-top: 120px;
		position: relative;
	}
	#articles .cards{
		display: flex;
		justify-content: space-between;
	}
	#articles .cards .card{
		width: 30%;
		list-style: none;
		border-radius: 15px;
		background-color: white;
	}
	#articles .cards .card h2{
		font-size: 20px;
	}
	#articles .cards .card p{
		line-height: normal;
	}
	#articles .cards .card .cat button{
		font-size: 10px;
	}
	#articles .circles span{
		display: block;
		position: absolute;
		width: 120px;
		height: 120px;
		border-radius: 50%;
		z-index: -1;
	}
	#articles .circles span:nth-child(1){
		background-color: #FFEAC1;
		top: 15%;
		left: 5%;
	}
	#articles .circles span:nth-child(2){
		background-color: #C1EFFF;
		bottom: 5%;
		left: 20%;
	}
	#articles .circles span:nth-child(3){
		background-color: #C1EFFF;
		top: 10%;
		left: 50%;
	}
	#articles .circles span:nth-child(4){
		background-color: #FFBFBE;
		top: 50%;
		left: 55%;
	}
	#articles .circles span:nth-child(5){
		background-color: #FFEAC1;
		top: 40%;
		right: 10%;
	}

	#callback{
		position: relative;
		margin-top: 100px;
	}
	#callback .circles span{
		display: block;
		position: absolute;
		width: 120px;
		height: 120px;
		border-radius: 50%;
		z-index: -1;
	}
	#callback .circles span:nth-child(1){
		background-color: #FFEAC1;
		top: 15%;
		left: 15%;
	}
	#callback .circles span:nth-child(2){
		background-color: #FFBFBE;
		top: 90%;
		left: 5%;
	}
	#callback .circles span:nth-child(3){
		background-color: #C1EFFF;
		top: 50%;
		left: 30%;
	}
	#callback .circles span:nth-child(4){
		background-color: #FFBFBE;
		top: 10%;
		left: 60%;
	}
	#callback .circles span:nth-child(5){
		background-color: #FFEAC1;
		top: 90%;
		left: 60%;
	}
	#callback .circles span:nth-child(6){
		background-color: #FFEAC1;
		top: 5%;
		right: 10%;
	}
	#callback .circles span:nth-child(7){
		background-color: #C1EFFF;
		top: 70%;
		right: 15%;
	}

	footer{
		display: flex;
		justify-content: space-around;
	}
	footer .socials{
		width: 20%;
		margin: 0;
		display: block;
	}
	footer .socials h1{
		display: block;
		width: 100%;
		font-family: Noto;
		font-size: 16px;
		color: #232D42;
		height: 30px;
	}
	footer .socials .icons{
		margin-top: 30px;
	}
	footer .col{
		display: block;
		width: 15%;
	}
	footer .col li{
		width: 100%;
		list-style: none;
		height: 20px;
		padding: 5px 0;
	}
	footer .col li.h a{
		font-family: Noto Bd;
	}
	footer .col li a{
		color: #232D42;
		text-decoration: none;
		font-size: 16px;
		font-family: Noto;
		height: 20px;
	}
	footer .not-sure{
		width: 25%;
		margin: 0;
	}

}
@media screen and (min-width: 1024px){

	header{
		padding: 40px;
	}
	header .logo{
		width: 135px;
	}
	header .navbar .navbar-item a{
		font-size: 16px;
	}
	header .button{
		width: 40%;
	}

	#main .bg{
		width: 40%;
	}
	#main .buttons{
		justify-content: flex-start;
	}
	#main .buttons button{
		margin-right: 15px;
	}

	#doctors{
		justify-content: space-around;
	}
	#doctors .image{
		width: 40%;
	}
	#doctors .text{
		width: 50%;
	}
	#doctors .text p{
		line-height: 1.8;
		font-size: 16px;
	}

	#articles .cards .card .cat button{
		font-size: 14px;
	}

}
@media screen and (min-width: 1440px){

	header{
		max-width: 1440px;
		margin-left: auto;
		margin-right: auto;
	}

	#main{
		max-width: 1440px;
		margin-left: auto;
		margin-right: auto;
	}
	#main .bg{
		width: 47%;
	}
	#main .content h1{
		font-size: 64px;
		width: 60%;
	}
	#main .content p{
		font-size: 16px;
		line-height: 1.8;
		width: 60%;
	}

	#adv{
		max-width: 1440px;
		margin-left: auto;
		margin-right: auto;
		margin-top: 120px;
	}
	#adv .cards .h{
		width: 370px;
		height: 370px;
	}
	#adv .cards .card{
		width: 370px;
		height: 370px;
		padding: 75px 50px;
	}
	#adv .circles span:nth-child(1){
		left: 40%;
	}

	#doctors{
		max-width: 1440px;
		margin-left: auto;
		margin-right: auto;
	}
	#doctors .h .line{
		margin-bottom: 60px;
	}
	#doctors .text h2{
		font-size: 24px;
		margin-bottom: 30px;
		margin-top: 60px;
	}
	#doctors .image{
		width: 45%;
	}
	#doctors .text{
		width: 45%;
	}
	#doctors .image img{
		width: 80%;
		top: 50%;
		left: 50%;
		transform: translate(-50%, -50%);
	}

	#parts{
		max-width: 1440px;
		margin-left: auto;
		margin-right: auto;
	}

	#buy{
		max-width: 1440px;
		margin-left: auto;
		margin-right: auto;
	}
	#buy .pages .page .cards .card span{
		margin-top: 30px;
		font-size: 16px;
	}

	#articles{
		max-width: 1440px;
		margin-left: auto;
		margin-right: auto;
	}
	#articles .cards .card{
		padding: 0;
	}
	#articles .cards .card h2{
		padding: 0 15px;
	}
	#articles .cards .card p{
		padding: 0 15px;
	}
	#articles .cards .card .cat{
		padding: 0 15px;
	}
	#articles .cards .card .cat{
		justify-content: flex-start;
	}
	#articles .cards .card .cat button{
		margin-right: 25px;
	}

	#callback{
		max-width: 1440px;
		margin-left: auto;
		margin-right: auto;
		margin-top: 150px;
	}
	#callback form{
		width: 50%;
		margin-left: auto;
		margin-right: auto;
	}

	footer{
		max-width: 1440px;
		margin-left: auto;
		margin-right: auto;
	}

}