*{
	margin: 0;
	padding: 0;
}
body{
	background-color: #161423;
	/*overflow: hidden;*/
}
video{
	outline: none;
}

@media screen and (min-width: 320px){

	#dropdown{
		opacity: 0;
		display: none;
		width: 100vw;
		height: 100vh;
		position: absolute;
		top: 0;
		left: 0;
		z-index: 10;
		background-color: rgba(0, 0, 0, 0.5);
		transition: .5s ease;
	}
	#dropdown .dropdown-close{
		position: absolute;
		top: 35px;
		right: 20px;
		width: 25px;
		height: 25px;
		cursor: pointer;
	}
	#dropdown .dropdown-close span{
		display: block;
		width: 25px;
		height: 4px;
		background-color: white;
		position: absolute;
		top: 50%;
		left: 50%;
		transition: .3s ease;
	}
	#dropdown .dropdown-close span:nth-child(1){
		transform: translate(-50%, -50%) rotate(45deg);
	}
	#dropdown .dropdown-close span:nth-child(2){
		transform: translate(-50%, -50%) rotate(-45deg);
	}
	#dropdown .dropdown-close:hover span{
		background-color: #ccc;
	}
	#dropdown .dropdown-items{
		position: absolute;
		right: 20px;
		top: 120px;
		width: 70%;
	}
	#dropdown .dropdown-items .dropdown-item{
		list-style: none;
		padding: 10px 25px;
		text-transform: uppercase;
		color: white;
		text-align: right;
		font-family: Source Sb;
		font-size: 24px;
		position: relative;
		cursor: pointer;
	}
	#dropdown .dropdown-items .dropdown-item.active{
		color: #ACE125;
	}
	#dropdown .dropdown-items .dropdown-item img{
		position: absolute;
		width: 7px;
		right: 5px;
		top: 50%;
		transform: translate(0, -50%);
	}
	#dropdown .buttons{
		width: 100%;
		position: absolute;
		top: 360px;
		display: flex;
		justify-content: center;
		flex-wrap: wrap;
	}
	#dropdown .buttons .button{
		width: 100%;
		display: flex;
		justify-content: center;
	}
	#dropdown .buttons .button button{
		width: 160px;
		height: 50px;
		display: flex;
		justify-content: space-around;
		border-radius: 10px;
		border: none;
		line-height: 50px;
		cursor: pointer;
		margin-bottom: 15px;
	}
	#dropdown .buttons .button:nth-child(1) button{
		background-color: #ACE125;
		color: white;
		font-size: 18px;
		font-family: Roboto Sb;
	}
	#dropdown .buttons .button:nth-child(2) button{
		background-color: rgba(0, 0, 0, 0.0);
		color: #ACE125;
		font-size: 18px;
		font-family: Roboto Sb;
		border: 2px solid #ACE125;
	}
	#dropdown .buttons .button button img{
		width: 30px;
		position: relative;
		top: 50%;
		transform: translate(0, -50%);
	}

	header{
		background-color: #161423;
		background-image: url(../img/header-bg.png);
		background-repeat: no-repeat;
		background-position: center;
		background-size: auto 100%;
		display: flex;
		flex-wrap: wrap;
		box-sizing: border-box;
		padding: 20px;
		justify-content: space-between;
		transition: .5s ease;
	}

	header .logo{
		display: flex;
		flex-wrap: wrap;
		width: 60px;
	}
	header .logo img{
		width: 100%;
	}
	header .logo span{
		font-size: 8px;
		color: white;
		margin-top: 2px;
		font-family: Source;
		font-weight: normal;
		text-align: center;
	}
	header .logo span b{
		color: #ACE125;
	}

	header nav .navbar{
		display: none;
	}

	header nav .dropdown-menu{
		width: 35px;
		height: 40px;
		position: relative;
		cursor: pointer;
	}
	header nav .dropdown-menu span{
		width: 100%;
		height: 4px;
		display: block;
		background-color: white;
		position: absolute;
		right: 0;
		top: 0;
		transition: .3s ease;
	}
	header nav .dropdown-menu:hover span{
		background-color: #ccc
	}
	header nav .dropdown-menu span:nth-child(1){
		top: 20%;
	}
	header nav .dropdown-menu span:nth-child(2){
		top: 50%;
	}
	header nav .dropdown-menu span:nth-child(3){
		width: 90%;
		top: 80%;
	}

	header .buttons{
		display: none;
	}

	header .main{
		width: 100%;
		margin-top: 55px;
		text-align: center;
	}
	header .main h2{
		color: white;
		font-family: Source Lt;
		letter-spacing: 1px;
		font-size: 30px;
	}
	header .main h1{
		color: #ACE125;
		font-family: Source;
		letter-spacing: 1px;
		font-size: 38px;
	}
	header .main p{
		margin-top: 40px;
		color: white;
		font-family: Roboto Lt;
		font-size: 10px;
		width: 90%;
		margin-left: auto;
		margin-right: auto;
		line-height: 14px;
	}
	header .main img{
		margin-top: 40px;
		width: 25px;
		cursor: pointer;
		margin-bottom: 70px;
	}

	main .about .text{
		box-sizing: border-box;
		padding: 20px;
		padding-bottom: 10px;
	}
	main .about .text img.about-us{
		width: 200px;
		position: absolute;
	}
	main .about .text h2{
		color: white;
		margin-top: 15px;
		font-family: Source;
	}
	main .about .text .line{
		width: 115px;
		height: 4px;
		background-color: #ACE125;
		margin-top: 20px;
		margin-bottom: 30px;
	}
	main .about .text p{
		color: white;
		font-family: Roboto Lt;
		font-size: 12px;
		margin-bottom: 20px;
	}
	main .about .text .read-more{
		width: 120px;
	}
	main .about .numbers{
		background-image: url(../img/map.png);
		background-repeat: no-repeat;
		background-position: center;
		background-size: 100% auto;
		width: 100%;
		display: flex;
		flex-wrap: wrap;
		box-sizing: border-box;
		padding: 20px;
	}
	main .about .numbers .number{
		width: 50%;
	}
	main .about .numbers .number h1{
		color: #ACE125;
		font-family: Source;
		letter-spacing: 1px;
		font-size: 30px;
		margin-top: 15px;
	}
	main .about .numbers .number span{
		display: block;
		color: white;
		font-size: 12px;
		font-family: Roboto Lt;
		margin-bottom: 30px;
	}

	main .code-decision .bg{
		display: none;
	}
	main .code-decision nav{
		display: flex;
		box-sizing: border-box;
		padding: 20px;
	}
	main .code-decision nav .nav-item{
		width: 50%;
		position: relative;
	}
	main .code-decision nav .nav-item img{
		width: 120px;
		position: absolute;
		left: 50%;
		transform: translate(-50%, 0);
	}
	main .code-decision nav .nav-item h2{
		color: white;
		font-family: Source;
		font-size: 24px;
		margin-top: 10px;
		letter-spacing: 1px;
		text-align: center;
	}
	main .code-decision nav .nav-item.active h2{
		color: #ACE125;
	}
	main .code-decision .cards{
		display: flex;
		flex-wrap: wrap;
	}
	main .code-decision .cards .card{
		box-sizing: border-box;
		padding: 20px;
		list-style: none;
		width: 100%;
	}
	main .code-decision .cards .card img{
		width: 100%;
		border-radius: 10px;
	}
	main .code-decision .cards .card h3{
		color: white;
		font-family: Source;
		font-size: 16px;
		margin-top: 10px;
		margin-bottom: 15px;
	}
	main .code-decision .cards .card p{
		color: white;
		font-family: Roboto;
		font-size: 14px;
	}

	main .code-decision .quote{
		box-sizing: border-box;
		padding: 20px;
		padding-top: 15px;
	}
	main .code-decision .quote .text{
		color: #ACE125;
		font-family: Source Sb;
		font-size: 12px;
		text-align: center;
	}
	main .code-decision .quote .author{
		color: white;
		font-family: Roboto Lt;
		font-size: 14px;
		text-align: center;
		margin-top: 10px;
		font-style: italic;
	}

	main .benefits{
		box-sizing: border-box;
		padding: 20px;
	}
	main .benefits > img{
		width: 170px;
		position: absolute;
	}
	main .benefits h1{
		margin-top: 20px;
		color: white;
		font-family: Source;
		font-size: 20px;
	}
	main .benefits .line{
		width: 115px;
		height: 4px;
		background-color: #ACE125;
		margin-top: 20px;
		margin-bottom: 30px;
	}
	main .benefits .cards{
		display: flex;
		flex-wrap: wrap;
		background-image: url(../img/benefits-bg.png);
		background-size: 100% auto;
	}
	main .benefits .cards .card{
		list-style: none;
		margin-top: 15px;
		width: 100%;
	}
	main .benefits .cards .card img{
		position: relative;
		top: 0;
		left: 50%;
		transform: translate(-50%, 0);
		width: 40%;
	}
	main .benefits .cards .card h2{
		text-align: center;
		color: #ACE125;
		font-family: Source;
		font-size: 18px;
		margin-top: 10px;
	}
	main .benefits .cards .card p{
		text-align: center;
		color: white;
		width: 80%;
		margin-left: auto;
		margin-right: auto;
		font-family: Roboto;
		font-size: 13px;
		margin-top: 15px;
	}

	main .projects{
		box-sizing: border-box;
		padding: 20px;
	}
	main .projects img{
		width: 170px;
		position: absolute;
	}
	main .projects h1{
		margin-top: 20px;
		color: white;
		font-family: Source;
		font-size: 20px;
	}
	main .projects .line{
		width: 115px;
		height: 4px;
		background-color: #ACE125;
		margin-top: 20px;
		margin-bottom: 30px;
	}
	main .projects .videos-desktop{
		display: none;
	}
	main .projects .videos-mobile{
		box-sizing: border-box;
		padding: 20px;
		display: flex;
		flex-wrap: wrap;
		padding-bottom: 5px;
	}
	main .projects .videos-mobile .video{
		width: 100%;
		list-style: none;
		position: relative;
		margin-bottom: 15px;
	}
	main .projects .videos-mobile .video video{
		width: 100%;
		border-radius: 15px;
	}
	main .projects .videos-mobile .video .play{
		width: 40px;
		height: 40px;
		background-color: #ACE125;
		border-radius: 50%;
		position: absolute;
		top: 50%;
		left: 50%;
		transform: translate(-50%, -50%);
		transition: .5s ease;
	}
	main .projects .videos-mobile .video .play img{
		width: 15px;
		position: absolute;
		top: 50%;
		left: 52%;
		transform: translate(-50%, -50%);
	}
	main .projects .read-more{
		margin-left: auto;
		margin-right: auto;
		width: 90%;
		display: flex;
		justify-content: flex-end;
	}
	main .projects .read-more img{
		width: 120px;
	}

	main .partners{
		box-sizing: border-box;
		padding: 20px;
		margin-bottom: 10px;
	}
	main .partners > img{
		width: 150px;
		position: absolute;
	}
	main .partners h1{
		color: white;
		font-family: Source;
		font-size: 20px;
		margin-top: 10px;
	}
	main .partners .line{
		width: 115px;
		height: 4px;
		background-color: #ACE125;
		margin-top: 10px;
		margin-bottom: 20px;
	}
	main .partners .slider{
		display: none;
	}
	main .partners .list{
		margin-top: 15px;
		width: 100%;
		height: 40px;
		overflow: scroll;
		display: flex;
		justify-content: space-between;
	}
	main .partners .list .item{
		list-style: none;
		margin-left: 5px;
		margin-right: 5px;
		position: relative;
		margin-top: 10px;
		height: 20px;
	}
	main .partners .list .item img{
		height: 20px;
		margin-left: 15px;
		margin-right: 15px;
	}

	main .news{
		box-sizing: border-box;
		padding: 20px;
	}
	main .news > img{
		width: 100px;
		position: absolute;
	}
	main .news h1{
		color: white;
		font-size: 20px;
		font-family: Source;
		margin-top: 10px;
	}
	main .news .line{
		width: 115px;
		height: 4px;
		background-color: #ACE125;
		margin-top: 10px;
		margin-bottom: 20px;
	}
	main .news .list{
		width: 100%;
		display: flex;
		flex-wrap: wrap;
	}
	main .news .list .item{
		list-style: none;
		width: 100%;
		margin-bottom: 110px;
		position: relative;
		cursor: pointer;
	}
	main .news .list .item img{
		width: 100%;
		border-radius: 5px 5px 0 0;
		z-index: -1;
	}
	main .news .list .item .description{
		border: 1px solid white;
		width: 100%;
		box-sizing: border-box;
		padding: 0 15px;
		overflow: hidden;
		margin-top: -4px;
		transition: .3s ease;
		background-color: #161423;
		z-index: 187;
		position: absolute;
		bottom: 0;
		left: 0;
	}
	main .news .list .item .description .primary{
		padding-top: 15px;
		padding-bottom: 15px;
	}
	main .news .list .item .description p{
		margin-top: 0;
	}
	main .news .list .item .description .date{
		color: white;
		font-family: Roboto Lt;
		font-size: 12px;
		margin-bottom: 10px;
	}
	main .news .list .item .description h2{
		color: white;
		font-family: Roboto;
		font-size: 16px;
	}
	main .news .list .item .description .line{
		width: 50px;
		height: 2px;
		margin-top: 5px;
		margin-bottom: 5px;
	}
	main .news .read-more{
		width: 100%;
		display: flex;
		justify-content: flex-end;
	}
	main .news .read-more img{
		width: 120px;
	}
	main .news .secondary{
		display: none;
	}

	main .request{
		box-sizing: border-box;
		padding: 20px;
		margin-bottom: 40px;
	}
	main .request .content > img{
		width: 150px;
		position: absolute;
	}
	main .request h1{
		color: white;
		font-family: Source;
		margin-top: 10px;
		font-size: 20px;
	}
	main .request .line{
		width: 115px;
		height: 4px;
		background-color: #ACE125;
		margin-top: 15px;
		margin-bottom: 20px;
	}
	main .request p{
		color: white;
		font-family: Roboto Lt;
		font-size: 12px;
		margin-bottom: 10px;
	}
	main .request form{
		display: flex;
		flex-wrap: wrap;
		justify-content: center;
	}
	main .request form input{
		border: none;
		border-bottom: 2px solid white;
		background-color: rgba(0, 0, 0, 0.0);
		padding: 10px;
		padding-left: 0;
		width: 100%;
		font-family: Roboto Lt;
		font-size: 12px;
		outline: none;
		color: white;
		margin-top: 10px;
	}
	main .request form input::placeholder{
		color: #747474;
	}
	main .request form button{
		width: 70%;
		background-color: rgba(0, 0, 0, 0.0);
		border: 2px solid #ACE125;
		border-radius: 10px;
		margin-top: 20px;
		box-sizing: border-box;
		padding: 10px;
		font-family: Roboto Sb;
		letter-spacing: 2px;
		font-size: 18px;
		cursor: pointer;
		color: #ACE125;
		box-shadow: 0px 2px 4px rgba(172, 225, 37, 0.25);
		transition: .3s ease;
	}
	main .request form button:hover{
		color: white;
		background-color: #ACE125;
	}
	main .request .image{
		display: none;
	}

	main .contacts{
		box-sizing: border-box;
		padding: 20px;
	}
	main .contacts .map{
		display: none;
	}
	main .contacts .content .icons{
		display: none;
	}
	main .contacts .content > img{
		width: 150px;
		position: absolute;
	}
	main .contacts h1{
		color: white;
		font-family: Source;
		font-size: 20px;
		margin-top: 15px;
	}
	main .contacts .line{
		width: 115px;
		height: 4px;
		background-color: #ACE125;
		margin-top: 25px;
		margin-bottom: 35px;
	}
	main .contacts .list{
		display: flex;
		flex-wrap: wrap;
	}
	main .contacts .list .item{
		width: 100%;
		list-style: none;
		display: flex;
		margin-bottom: 15px;
		height: 30px;
	}
	main .contacts .list .item .image{
		width: 40px;
		position: relative;
	}
	main .contacts .list .item .image img{
		position: absolute;
		top: 50%;
		transform: translate(0, -50%);
		width: 15px
	}
	main .contacts .list .item .text{
		color: white;
		font-size: 10px;
		font-family: Roboto;
		line-height: 30px;
	}

	footer{
		width: 100%;
	}
	footer .upper{
		width: 100%;
		display: flex;
		justify-content: space-between;
		box-sizing: border-box;
		padding: 20px;
	}
	footer .upper .navbar{
		display: none;
	}
	footer .upper .logo{
		display: flex;
		flex-wrap: wrap;
		width: 60px;
	}
	footer .upper .logo img{
		width: 60px;
	}
	footer .upper .logo span{
		font-size: 8px;
		color: white;
		margin-top: 2px;
		font-family: Source;
		font-weight: normal;
		text-align: center;
	}
	footer .upper .logo span b{
		color: #ACE125;
	}
	footer .upper .icons{
		position: relative;
		width: 250px;
	}
	footer .upper .icons img{
		width: 40px;
		height: auto;
		margin-left: 10px;
		margin-right: 10px;
		position: absolute;
		top: 50%;
		transform: translate(-50%, -50%);
	}
	footer .upper .icons img:nth-child(1){
		left: 40%;
	}
	footer .upper .icons img:nth-child(2){
		left: 80%;
	}

	footer .lower{
		border-top: 1px solid #464646;
		box-sizing: border-box;
		padding: 20px 40px;
	}
	footer .lower p{
		color: white;
		font-family: Roboto;
		font-size: 12px;
		text-align: right;
	}

}
@media screen and (min-width: 425px){
	
	main .projects .videos .video{
		margin-bottom: 20px;
	}

	main .request form button{
		margin-top: 25px;
	}

	main .contacts .list .item .text{
		font-size: 12px;
	}

}
@media screen and (min-width: 768px){

	#dropdown{
		display: none;
	}

	header{
		background-size: 100% auto;
		background-position: top center;
	}
	header nav .dropdown-menu{
		display: none;
	}
	header nav .navbar{
		display: flex;
		height: 100%;
	}
	header nav .navbar .navbar-item{
		list-style: none;
		margin-left: 15px;
		margin-right: 15px;
	}
	header nav .navbar .navbar-item a{
		color: white;
		line-height: 100%;
		text-decoration: none;
		line-height: 50px;
		transition: .3s ease;
		font-family: Source;
	}
	header nav .navbar .navbar-item:hover a{
		color: #ccc;
	}
	header .buttons{
		display: flex;
		justify-content: space-between;
	}
	header .buttons button{
		width: 120px;
		height: 40px;
		display: flex;
		justify-content: space-around;
		border-radius: 10px;
		margin-right: 10px;
		margin-left: 10px;
		position: relative;
		top: 50%;
		transform: translate(0, -50%);
		cursor: pointer;
		line-height: 40px;
		font-family: Roboto Sb;
		font-size: 16px;
	}
	header .buttons button:nth-child(1){
		border: none;
		background-color: #ACE125;
		color: white;
	}
	header .buttons button:nth-child(2){
		border: 2px solid #ACE125;
		background-color: rgba(0, 0, 0, 0.0);
		color: #ACE125;
	}
	header .buttons button img{
		width: 25px;
		position: relative;
		top: 50%;
		transform: translate(0, -50%);
	}

	header .main{
		text-align: left;
	}
	header .main h2{
		font-size: 35px;
	}
	header .main h1{
		font-size: 45px;
	}
	header .main p{
		width: 50%;
		margin-left: 0;
		margin-top: 25px;
	}
	header .main img{
		width: 20px;
		margin-top: 75px;
	}

	main .about{
		display: flex;
	}
	main .about .text{
		width: 50%;
	}
	main .about .text h2{
		font-size: 28px;
	}
	main .about .text .line{
		margin-top: 10px;
		margin-bottom: 20px;
	}
	main .about .numbers{
		width: 50%;
	}
	main .about .numbers .number{
		text-align: center;
	}
	main .about .numbers .number h1{
		margin-top: 30px;
	}

	main .code-decision nav{
		justify-content: space-around;
	}
	main .code-decision nav .nav-item{
		width: 35%;
	}
	main .code-decision nav .nav-item img{
		width: 200px;
	}
	main .code-decision nav .nav-item h2{
		margin-top: 15px;
		font-size: 32px;
	}
	main .code-decision nav .nav-item:nth-child(1) h2{
		text-align: right;
	}
	main .code-decision nav .nav-item:nth-child(2) h2{
		text-align: left;
	}
	main .code-decision nav .nav-item:nth-child(1) img{
		left: 100%;
		transform: translate(-100%, 0);
	}
	main .code-decision nav .nav-item:nth-child(2) img{
		left: 0;
		transform: translate(0, 0);
	}
	main .code-decision .cards{
		justify-content: space-around;
	}
	main .code-decision .cards .card{
		width: 40%;
		text-align: center;
	}
	main .code-decision .quote{
		padding-top: 20px;
	}
	main .code-decision .quote .text{
		font-size: 30px;
	}
	main .code-decision .quote .author{
		font-size: 16px;
		margin-top: 15px;
	}

	main .benefits > img{
		width: 200px;
	}
	main .benefits h1{
		font-size: 30px;
	}
	main .benefits .line{
		margin-top: 10px;
	}
	main .benefits .cards{
		justify-content: space-around;
	}
	main .benefits .cards .card{
		width: 40%;
		margin-bottom: 20px;
	}

	main .projects > img{
		width: 200px;
	}
	main .projects h1{
		font-size: 30px;
	}
	main .projects .line{
		margin-top: 10px;
		margin-bottom: 15px;
	}
	main .projects .videos-mobile{
		display: none;
	}
	main .projects .videos-desktop{
		display: flex;
		justify-content: space-between;
	}
	main .projects .videos-desktop .main-video{
		height: 39vw;
		position: relative;
	}
	main .projects .videos-desktop .main-video video{
		height: 100%;
		border-radius: 10px;
		box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
	}
	main .projects .videos-desktop .main-video .play{
		position: absolute;
		width: 60px;
		height: 60px;
		border-radius: 50%;
		background-color: #ACE125;
		top: 50%;
		left: 50%;
		transform: translate(-50%, -50%);
		cursor: pointer;
		transition: .5s ease;
	}
	main .projects .videos-desktop .main-video .play img{
		position: absolute;
		top: 50%;
		left: 52%;
		transform: translate(-50%, -50%);
		width: 25px;
	}
	main .projects .videos-desktop .other-videos{
		width: 15%;
		display: flex;
		flex-wrap: wrap;
		overflow: hidden;
		height: 39vw;
		width: 11vw;
		box-sizing: border-box;
	}
	main .projects .videos-desktop .other-videos .other-video{
		width: 11vw;
		height: 11vw;
		margin-top: 1vw;
		margin-bottom: 1vw;
		list-style: none;
		overflow: hidden;
		position: relative;
		border-radius: 10px;
		transition: .5s ease;
	}
	main .projects .videos-desktop .other-videos .other-video video{
		height: 100%;
		position: absolute;
		left: 50%;
		transform: translate(-50%, 0);
	}
	main .projects .videos-desktop .control{
		display: flex;
		flex-wrap: wrap;
		position: relative;
	}
	main .projects .videos-desktop .control .prev{
		width: 15px;
		height: 15px;
		border-top: 3px solid rgba(255, 255, 255, 0.5);;
		border-right:3px solid rgba(255, 255, 255, 0.5);;
		transform: rotate(-45deg);
		position: absolute;
		top: 0;
		right: -7.5px;
		cursor: pointer;
	}
	main .projects .videos-desktop .control .next{
		width: 15px;
		height: 15px;
		border-bottom: 3px solid rgba(255, 255, 255, 0.5);
		border-right:3px solid rgba(255, 255, 255, 0.5);
		transform: rotate(45deg);
		position: absolute;
		bottom: 0;
		right: -7.5px;
		cursor: pointer;
	}
	main .projects .videos-desktop .control .list{
		width: 100%;
		padding-top: 3.9vw;
		padding-bottom: 3.9vw;
		margin-left: -30px;
	}
	main .projects .videos-desktop .control .list .item{
		list-style: none;
		height: 5.2vw;
		line-height: 5.2vw;
		color: rgba(255, 255, 255, 0.5);
		font-family: Source;
		font-size: 18px;
		position: relative;
		transition: .5s ease;
	}
	main .projects .videos-desktop .control .list .item span{
		display: block;
		height: 5.2vw;
		width: 3px;
		background-color: rgba(255, 255, 255, 0.5);
		position: absolute;
		top: 0;
		right: -30px;
	}
	main .projects .videos-desktop .control .list .item.active{
		color: #ACE125;
	}
	main .projects .videos-desktop .control .list .item.active span{
		background-color: #ACE125;
	}
	main .projects .read-more{
		width: 100%;
		margin-top: 20px;
	}

	main .partners > img{
		width: 200px;
	}
	main .partners h1{
		margin-top: 20px;
		font-size: 30px;
	}
	main .partners .line{
		margin-top: 15px;
		margin-bottom: 25px;
	}
	main .partners .list{
		display: none;
	}
	main .partners .slider{
		display: block;
		position: relative;
		height: 100px;
	}
	main .partners .items{
		display: flex;
		box-sizing: border-box;
		width: 90%;
		height: 100px;
		margin-left: auto;
		margin-right: auto;
		position: relative;
		overflow: hidden;
	}
	main .partners .items .item{
		display: block;
		width: 20%;
		position: absolute;
		top: 0;
		left: 0;
		height: 100px;
		transform: translate(500%, 0);
		transition: .3s ease;
	}
	main .partners .items .item img{
		width: 80%;
		position: absolute;
		top: 50%;
		left: 50%;
		transform: translate(-50%, -50%);
	}
	main .partners .items .item:nth-child(1){
		transform: translate(0, 0);
	}
	main .partners .items .item:nth-child(2){
		transform: translate(100%, 0);
	}
	main .partners .items .item:nth-child(3){
		transform: translate(200%, 0);
	}
	main .partners .items .item:nth-child(4){
		transform: translate(300%, 0);
	}
	main .partners .items .item:nth-child(5){
		transform: translate(400%, 0);
	}

	main .partners .slider .prev{
		width: 30px;
		height: 30px;
		position: absolute;
		top: 50%;
		left: 0;
		transform: translate(0, -50%);
		cursor: pointer;
	}
	main .partners .slider .prev span{
		position: absolute;
		top: 50%;
		left: 50%;
		width: 15px;
		height: 15px;
		border-bottom: 4px solid #C2D1D9;
		border-left: 4px solid #C2D1D9;
		transform: translate(-50%, -50%) rotate(45deg);
		transition: .3s ease;
	}
	main .partners .slider .prev:hover span{
		border-color: white;
	}
	main .partners .slider .next{
		width: 30px;
		height: 30px;
		position: absolute;
		top: 50%;
		right: 0;
		transform: translate(0, -50%);
		cursor: pointer;
	}
	main .partners .slider .next span{
		position: absolute;
		top: 50%;
		left: 50%;
		width: 15px;
		height: 15px;
		border-bottom: 4px solid #C2D1D9;
		border-left: 4px solid #C2D1D9;
		transform: translate(-50%, -50%) rotate(-135deg);
		transition: .3s ease;
	}
	main .partners .slider .next:hover span{
		border-color: white;
	}

	main .news > img{
		width: 160px;
	}
	main .news h1{
		font-size: 30px;
		margin-top: 20px;
	}
	main .news .line{
		margin-top: 15px;
		margin-bottom: 35px;
	}
	main .news .list{
		justify-content: space-between;
	}
	main .news .list .item{
		width: 30%;
		margin-bottom: 80px;
	}
	main .news > .read-more{
		display: none;
	}
	main .news .secondary{
		display: block;
		padding-bottom: 15px;
	}
	main .news .list .item .description p{
		color: white;
		font-size: 14px;
		font-family: Roboto Lt;
	}
	main .news .list .item .description .read-more{
		width: 40%;
		margin-top: 15px;
	}
	main .news .list .item .description .read-more img{
		width: 100%;
	}

	main .request{
		display: flex;
		justify-content: space-around;
	}
	main .request .content{
		width: 50%;
	}
	main .request .content > img{
		width: 200px;
	}
	main .request h1{
		font-size: 30px;
		margin-top: 20px;
	}
	main .request .line{
		margin-top: 5px;
		margin-bottom: 25px;
	}
	main .request form{
		justify-content: space-between;
	}
	main .request form input:nth-child(1), main .request form input:nth-child(2){
		width: 45%;
	}
	main .request form button{
		margin-left: auto;
		margin-right: auto;
	}
	main .request .image{
		display: block;
		width: 40%;
		position: relative;
	}
	main .request .image img{
		width: 100%;
		position: absolute;
		top: 50%;
		transform: translate(0, -50%);
	}

	main .contacts{
		padding: 0;
		margin-top: 20px;
		position: relative;
	}
	main .contacts .content > img{
		display: none;
	}
	main .contacts .map{
		display: block;
		width: 100%;
	}
	main .contacts .map img{
		width: 100%;
	}
	main .contacts .content{
		position: absolute;
		top: 0;
		left: 0;
		background-color: #161423;
		width: 300px;
		top: 50%;
		left: 50%;
		transform: translate(0, -50%);
		box-sizing: border-box;
		padding: 15px;
	}
	main .contacts .content h1{
		font-size: 30px;
		margin-top: 0;
	}
	main .contacts .content .line{
		margin-top: 5px;
		margin-bottom: 10px;
	}
	main .contacts .content .icons{
		width: 100%;
		text-align: right;
		display: block;
		position: relative;
		height: 25px;
	}
	main .contacts .content .icons img{
		width: 30px;
		margin-right: 15px;
		position: absolute;
		top: 50%;
		transform: translate(0, -50%);
	}
	main .contacts .content .icons img:nth-child(1){
		left: 60%;
	}
	main .contacts .content .icons img:nth-child(2){
		left: 80%;
	}

	footer .upper .icons{
		display: none;
	}
	footer .upper .navbar{
		display: flex;
	}
	footer .upper .navbar .navbar-item{
		list-style: none;
		margin-left: 15px;
	}
	footer .upper .navbar .navbar-item a{
		color: white;
		text-decoration: none;
		font-family: Source;
		text-transform: uppercase;
		font-size: 18px;
		line-height: 50px;
		transition: .3s ease;
	}
	footer .upper .navbar .navbar-item:hover a{
		color: #ccc;
	}

}
@media screen and (min-width: 1024px){

	header{
		padding: 20px 40px;
	}
	header nav .navbar .navbar-item a{
		font-size: 18px;
		font-family: Source Sb;
	}
	header .buttons button{
		height: 50px;
		width: 160px;
		line-height: 50px;
		font-size: 20px;
	}
	header .main h2{
		font-size: 52px;
		letter-spacing: 3px;
	}
	header .main h1{
		font-size: 74px;
		letter-spacing: 3px;
	}
	header .main p{
		font-size: 20px;
		line-height: 26px;
	}

	main .about{
		padding: 40px;
	}
	main .about .text img.about-us{
		width: 230px;
	}
	main .about .text h2{
		font-size: 46px;
	}
	main .about .text p{
		font-size: 16px;
		margin-top: 10px;
		margin-bottom: 15px;
	}
	main .about .numbers .number{
		text-align: left;
	}
	main .about .numbers .number h1{
		margin-top: 50px;
		font-size: 54px;
	}
	main .about .numbers .number span{
		font-size: 20px;
		margin-bottom: 0;
	}

	main .code-decision{
		padding: 40px;
		position: relative;
	}
	main .code-decision .bg{
		display: block;
	}
	main .code-decision .bg img{
		position: absolute;
		width: 50%;
	}
	main .code-decision .bg img:nth-child(1){
		left: 0;
		top: 0;
	}
	main .code-decision .bg img:nth-child(2){
		bottom: 0;
		right: 0;
	}
	main .code-decision nav .nav-item img{
		width: 250px;
	}
	main .code-decision nav .nav-item h2{
		font-size: 46px;
	}
	main .code-decision .cards .card{
		width: 30%;
		text-align: left;
	}
	main .code-decision .cards .card h3{
		margin-top: 20px;
		margin-bottom: 10px;
	}
	main .code-decision .quote .text{
		font-size: 36px;
		margin-top: 30px;
	}
	main .code-decision .quote .author{
		font-size: 20px;
	}

	main .benefits{
		padding: 40px;
		padding-top: 60px;
		background: none;
		background-image: url(../img/Benefits-desktop-bg.png);
		background-size: 100%;
		background-position: center center;
		background-repeat: no-repeat;
	}
	main .benefits > img{
		width: 250px;
	}
	main .benefits h1{
		font-size: 50px;
	}
	main .benefits .cards{
		margin-top: 100px;
		margin-bottom: 50px;
		background-image: none;
	}
	main .benefits .cards .card{
		width: 25%;
	}

	main .projects{
		padding: 40px;
	}
	main .projects > img{
		width: 270px;
	}
	main .projects h1{
		font-size: 50px;
	}
	main .projects .line{
		margin-bottom: 60px;
	}
	main .projects .videos-desktop .main-video .play{
		width: 90px;
		height: 90px;
	}
	main .projects .videos-desktop .main-video .play img{
		width: 35px;
	}
	main .projects .videos-desktop .other-videos{
		margin-left: -20px;
	}
	main .projects .read-more{
		margin-top: 30px;
	}

	main .partners{
		padding: 40px;
		margin-top: 40px;
	}
	main .partners > img{
		width: 250px;
	}
	main .partners h1{
		font-size: 50px;
	}
	main .partners .line{
		margin-bottom: 40px;
	}
	main .partners .items .item{
		width: 16.67%;
		transform: translate(600%, 0);
	}
	main .partners .items .item:nth-child(6){
		transform: translate(500%, 0);
	}

	main .news{
		padding: 40px;
	}
	main .news > img{
		width: 210px;	
	}
	main .news h1{
		font-size: 50px;
	}
	main .news .line{
		margin-bottom: 50px;
	}
	main .news .list{
		margin-bottom: 70px;
	}
	main .news .list .item{
		width: 30%;
		margin-bottom: 10px;
	}

	main .request{
		padding: 40px;
		justify-content: space-between;
	}
	main .request .content > img{
		width: 250px;
	}
	main .request .content h1{
		font-size: 36px;
	}
	main .request .content p{
		font-size: 16px;
	}
	main .request .content form input{
		margin-top: 40px;
		padding: 20px 0;
	}
	main .request .content form button{
		margin-left: 0;
		width: 220px;
		height: 50px;
		margin-top: 60px;
	}

	main .contacts .content{
		width: 380px;
		padding: 25px 35px;
	}
	main .contacts .content h1{
		font-size: 42px;
	}
	main .contacts .content .line{
		margin-bottom: 35px;
	}
	main .contacts .content .icons img:nth-child(1){
		left: 80%;
	}
	main .contacts .content .icons img:nth-child(2){
		left: 95%;
	}

	footer .upper .navbar .navbar-item{
		margin-right: 20px;
		margin-left: 20px;
	}

}
@media screen and (min-width: 1440px){

	header{
		padding: 45px 70px;
		max-width: 1440px;
		margin-left: auto;
		margin-right: auto;
	}
	header nav .navbar .navbar-item{
		font-size: 16px;
		margin-right: 25px;
		margin-left: 25px;
	}
	header .main h2{
		margin-top: 90px;
		font-size: 62px;
	}
	header .main h1{
		font-size: 85px;
		letter-spacing: 5px;
		line-height: 65px;
	}
	header .main p{
		font-size: 20px;
		margin-top: 45px;
	}
	header .main img{
		width: 25px;
		margin-top: 90px;
		margin-bottom: 100px;
	}

	main{
		max-width: 1440px;
		margin-left: auto;
		margin-right: auto;
	}
	main .about{
		margin-bottom: 30px;
		padding: 40px 70px;
	}
	main .about .text{
		padding: 0;
	}
	main .about .text img.about-us{
		width: 400px;
	}
	main .about .text h2{
		font-size: 54px;
		margin-top: 30px;
	}
	main .about .text .line{
		width: 180px;
	}
	main .about .text .line{
		margin-top: 15px;
		margin-bottom: 30px;
	}
	main .about .text p{
		font-size: 16px;
		line-height: 24px;
		margin-bottom: 40px;
	}
	main .about .numbers .number h1{
		font-size: 70px;
	}
	main .about .numbers .number span{
		font-size: 20px;
	}

	main .code-decision{
		padding-bottom: 20px;
	}
	main .code-decision nav .nav-item img{
		width: 400px;
	}
	main .code-decision nav .nav-item h2{
		font-size: 54px;
		margin-top: 40px;
	}
	main .code-decision .cards{
		margin-top: 40px;
		margin-bottom: 110px;
	}
	main .code-decision .cards .card{
		padding: 0;
	}
	main .code-decision .cards .card h3{
		margin-top: 35px;
		margin-bottom: 15px;
		font-size: 22px;
	}
	main .code-decision .cards .card p{
		font-size: 16px;
	}
	main .code-decision .quote{
		padding: 0;
	}
	main .code-decision .quote .text{
		font-size: 44px;
	}
	main .code-decision .quote .author{
		margin-top: 30px;
		font-size: 24px;
	}

	main .benefits{
		padding: 130px 70px;
	}
	main .benefits > img{
		width: 380px;
	}
	main .benefits h1{
		font-size: 54px;
		margin-top: 40px;
	}
	main .benefits .line{
		width: 180px;
		margin-top: 20px;
		margin-bottom: 115px;
	}
	main .benefits .cards{
		margin-top: 0;
		margin-bottom: 70px;
	}
	main .benefits .cards .card{
		margin: 0;
	}
	main .benefits .cards .card h2{
		margin-top: 20px;
		margin-bottom: 15px;
		font-size: 22px;
	}
	main .benefits .cards .card p{
		font-size: 16px;
	}

	main .projects{
		margin-top: -80px;
		padding: 0px 70px;
	}
	main .projects > img{
		width: 380px;
	}
	main .projects h1{
		font-size: 54px;
		padding-top: 50px;
	}
	main .projects .line{
		width: 180px;
		margin-top: 20px;
		margin-bottom: 75px;
	}
	main .projects .videos-desktop .main-video{
		height: 560px;
	}
	main .projects .videos-desktop .main-video .play{
		width: 115px;
		height: 115px;
	}
	main .projects .videos-desktop .main-video .play img{
		width: 45px;
	}
	main .projects .videos-desktop .other-videos{
		height: 560px;
		width: 158.23px;
	}
	main .projects .videos-desktop .other-videos .other-video{
		width: 158.23px;
		height: 158.23px;
		margin-top: 14.38px;
		margin-bottom: 14.38px;
	}
	main .projects .videos-desktop .control .list{
		margin-left: -40px;
		padding-top: 56px;
		padding-bottom: 56px;
	}
	main .projects .videos-desktop .control .list .item{
		line-height: 75px;
		font-size: 24px;
		height: 75px;
	}
	main .projects .videos-desktop .control .list .item span{
		right: -40px;
		height: 75px;
	}
	main .projects .read-more{
		margin-top: 40px;
	}

	main .partners{
		margin-top: 20px;
		padding: 40px 70px;
		margin-bottom: 0;
	}
	main .partners > img{
		width: 400px;
	}
	main .partners h1{
		font-size: 54px;
		margin-top: 40px;
	}
	main .partners .line{
		width: 180px;
		margin-top: 20px;
		margin-bottom: 60px;
	}
	main .partners .slider .items .item img{
		width: 70%;
	}

	main .news{
		padding: 20px 70px;
		margin-bottom: 60px;
	}
	main .news > img{
		width: 250px;
	}
	main .news h1{
		font-size: 54px;
		margin-top: 40px;
	}
	main .news .line{
		width: 180px;
		margin-top: 20px;
		margin-bottom: 75px;
	}
	main .news .list .item .description .date{
		font-size: 14px;
		margin-bottom: 10px;
	}
	main .news .list .item .description h2{
		font-size: 16px;
	}

	main .request{
		padding: 40px 70px;
	}
	main .request .content > img{
		width: 380px;
	}
	main .request .content h1{
		font-size: 54px;
		margin-top: 30px;
	}
	main .request .content .line{
		width: 180px;
		margin-top: 5px;
		margin-bottom: 30px;
	}
	main .request .content p{
		font-size: 16px;
		line-height: 24px;
	}
	main .request .content form input{
		padding: 25px 0;
		font-size: 16px;
	}
	main .request .content form button{
		margin-top: 80px;
	}

	main .contacts .content{
		width: 460px;
	}
	main .contacts .content h1{
		font-size: 50px;
	}
	main .contacts .content .list .item .text{
		font-size: 16px;
	}

	footer{
		max-width: 1440px;
		margin-left: auto;
		margin-right: auto;
	}

}