*{
	margin: 0;
	padding: 0;
	outline: none;
}

@media screen and (min-width: 320px){
	
	#dropdown{
		position: fixed;
		top: 0;
		left: 0;
		background-color: rgba(0, 0, 0, 0.6);
		width: 100%;
		height: 100%;
		transition: .3s ease;
		z-index: 3;
	}
	#dropdown .content{
		width: 300px;
		position: absolute;
		top: 50%;
		left: 50%;
		transform: translate(-50%, -50%);
		background-color: white;
		border-radius: 20px;
		box-sizing: border-box;
		padding: 20px;
	}
	#dropdown .content .close{
		width: 20px;
		height: 20px;
		position: absolute;
		top: 20px;
		right: 20px;
		cursor: pointer;
	}
	#dropdown .content .close span{
		width: 20px;
		height: 3px;
		position: absolute;
		top: 50%;
		left: 50%;
		background-color: #333;
		transition: .3s ease;
	}
	#dropdown .content .close:hover span{
		background-color: #777;
	}
	#dropdown .content .close span:nth-child(1){
		transform: translate(-50%, -50%) rotate(-45deg);
	} 
	#dropdown .content .close span:nth-child(2){
		transform: translate(-50%, -50%) rotate(45deg);
	}
	#dropdown .content .navbar{
		width: 100%;
		margin-top: 30px;
		display: flex;
		flex-wrap: wrap;
		justify-content: center;
	}
	#dropdown .content .navbar .navbar-item{
		width: 100%;
		cursor: pointer;
		list-style: none;
	}
	#dropdown .content .navbar .navbar-item a{
		display: block;
		width: 100%;
		height: 35px;
		text-transform: uppercase;
		font-size: 18px;
		text-align: center;
		font-family: Montserrat;
		font-weight: 500;
		color: #432E17;
		text-decoration: none;
	}
	#dropdown .content .phone{
		width: 100%;
		margin-top: 20px;
		text-align: center;
		font-family: Montserrat;
		font-weight: 500;
		color: #432E17;
		font-size: 24px;
	}
	header{
		width: 100%;
		box-sizing: border-box;
		padding: 20px;
		display: flex;
		flex-wrap: wrap;
		align-items: center;
		justify-content: space-between;
		background-image: url(../img/main-bg.png);
		background-size: auto 100%;
		background-position: center;
		background-repeat: no-repeat;
		padding-bottom: 60px;
	}
	header .logo{
		order: 0;
		width: 70px;
	}
	header .logo img{
		width: 100%;
	}
	header .phone{
		display: none;
	}
	header .navbar-left{
		display: none;
	}
	header .navbar-right{
		display: none;
	}
	header .dropdown-menu{
		width: 30px;
		height: 30px;
		position: relative;
		cursor: pointer;
	}
	header .dropdown-menu span{
		width: 30px;
		height: 5px;
		background-color: #333;
		position: absolute;
		transition: .3s ease;
	}
	header .dropdown-menu:hover span{
		background-color: #777;
	}
	header .dropdown-menu span:nth-child(1){
		top: 0;
	}
	header .dropdown-menu span:nth-child(2){
		top: 50%;
		transform: translate(0, -50%);
	}
	header .dropdown-menu span:nth-child(3){
		bottom: 0;
	}
	header .main{
		width: 100%;
		box-sizing: border-box;
		margin-top: 50px;
	}
	header .main h1{
		width: 100%;
		text-align: center;
		color: black;
		font-family: Montserrat;
		font-weight: bold;
		font-size: 26px;
	}
	header .main span{
		display: block;
		margin-top: 5px;
		font-family: Montserrat;
		font-size: 16px;
		font-weight: 500;
		text-align: center;
		color: #432E17;
	}

	#form{
		margin-top: -30px;
		width: 90%;
		box-sizing: border-box;
		margin-left: auto;
		margin-right: auto;
		background-color: #333333;
		padding: 20px;
	}
	#form span{
		display: block;
		width: 100%;
		text-align: center;
		font-family: Roboto;
		color: #EBD2BC;
		text-align: center;
	}
	#form form{
		margin-top: 15px;
		display: flex;
		flex-wrap: wrap;
		justify-content: center;
	}
	#form form .item{
		width: 100%;
		margin-top: 10px;
	}
	#form form .item span{
		display: block;
		width: 100%;
		text-align: left;
		color: white;
		font-size: 18px;
		font-weight: bold;
	}
	#form form .item input{
		width: 90%;
		box-sizing: border-box;
		padding: 10px;
		margin-top: 5px;
		background-color: rgba(0, 0, 0, 0.0);
		border: none;
		border-bottom: 1px solid #BDBDBD;
		color: white;
		font-family: Roboto;
		font-size: 16px;
		font-weight: normal;
	}
	#form form button{
		margin-top: 25px;
		width: 130px;
		height: 50px;
		background-color: #FF6B00;
		border: none;
		cursor: pointer;
		font-family: Roboto;
		font-size: 14px;
		font-weight: bold;
		color: white;
	}

	#services{
		margin-top: 20px;
		width: 100%;
		box-sizing: border-box;
		padding: 20px;
	}
	#services .cards{
		display: flex;
		flex-wrap: wrap;
		justify-content: center;
	}
	#services .cards .card{
		width: 200px;
		margin-left: 10px;
		margin-right: 10px;
		list-style: none;
		border: 1px solid #828282;
		box-sizing: border-box;
		padding: 20px;
		margin-top: 20px;
		display: flex;
		flex-wrap: wrap;
		justify-content: center;
	}
	#services .cards .card img{
		height: 80px;
	}
	#services .cards .card span{
		display: block;
		width: 100%;
		text-align: center;
		margin-top: 15px;
		font-family: Montserrat;
		font-weight: 500;
		color: #333333;
	}

	#about{
		width: 100%;
		box-sizing: border-box;
		margin-top: 30px;
		padding: 20px;
		background-color: #E0E0E0;
	}
	#about .content{
		background-color: white;
		box-sizing: border-box;
		padding: 20px;
	}
	#about .content .text h1{
		font-size: 26px;
		font-family: Montserrat;
		text-transform: uppercase;
		font-weight: bold;
		color: black;
	}
	#about .content .text h2{
		font-size: 20px;
		font-family: Montserrat;
		font-weight: 500;
		margin-top: 5px;
	}
	#about .content .image{
		display: none;
	}
	#about .content .line{
		margin-top: 20px;
		margin-bottom: 20px;
		width: 66px;
		height: 1px;
		background-color: #333;
	}
	#about .content p{
		font-family: Open;
		font-size: 14px;
		line-height: 16px;
		margin-top: 15px;
		color: #878787;
	}
	#about .content .adv{
		width: 100%;
		display: flex;
		flex-wrap: wrap;
		justify-content: center;
		margin-top: 10px;
	}
	#about .content .adv .item{
		width: 100%;
		list-style: none;
		margin-top: 15px;
	}
	#about .content .adv .item h3{
		display: block;
		width: 100%;
		text-align: center;
		font-family: Open;
		font-weight: bold;
		font-size: 28px;
		letter-spacing: 0.1em;
	}
	#about .content .adv .item span{
		display: block;
		margin-top: 2px;
		text-align: center;
		font-family: Open;
		color: #3B393C;
		font-size: 16px;
		line-height: 18px;
	}

	#adv{
		width: 100%;
		margin-top: 20px;
		padding: 20px;
		box-sizing: border-box;
	}
	#adv .cards{
		display: flex;
		flex-wrap: wrap;
		justify-content: center;
	}
	#adv .cards .card{
		list-style: none;
		width: 100%;
		display: flex;
		flex-wrap: wrap;
		align-items: center;
		justify-content: center;
		margin-top: 20px;
	}
	#adv .cards .card .image{
		width: 100px;
	}
	#adv .cards .card .image img{
		width: 100%;
	}
	#adv .cards .card .text{
		width: 100%;
		margin-top: 10px;
	}
	#adv .cards .card .text h1{
		text-transform: uppercase;
		font-family: Montserrat;
		font-weight: bold;
		font-size: 20px;
		text-align: center;
		color: #333;
	}
	#adv .cards .card .text p{
		text-align: center;
		font-family: Montserrat;
		font-size: 14px;
		color: #432E17;
		margin-top: 5px;
	}

	#equipment{
		width: 100%;
		box-sizing: border-box;
		margin-top: 20px;
		display: flex;
		flex-wrap: wrap;
		border-top: 1px solid #E0E0E0;
		border-bottom: 1px solid #E0E0E0;
	}
	#equipment .image{
		width: 100%;
		box-sizing: border-box;
		padding: 20px;
	}
	#equipment .image img{
		width: 100%;
	}
	#equipment .text{
		width: 100%;
		box-sizing: border-box;
		padding: 20px;
	}
	#equipment .text h1{
		width: 100%;
		text-align: center;
		font-family: Montserrat;
		font-weight: bold;
		font-size: 26px;
		text-transform: uppercase;
	}
	#equipment .text p{
		margin-top: 15px;
		font-family: Montserrat;
		color: #4F4F4F;
		font-size: 14px;
		text-align: center;
	}

	#plans{
		width: 100%;
		box-sizing: border-box;
		padding: 20px;
		margin-top: 20px;
	}
	#plans h1{
		text-align: center;
		font-family: Montserrat;
		font-weight: bold;
		font-size: 26px;
		text-transform: uppercase;
	}
	#plans > span{
		margin-top: 5px;
		display: block;
		text-align: center;
		font-family: Roboto;
		color: #868686;
		font-size: 16px;
	}
	#plans .groups{
		display: flex;
		flex-wrap: wrap;
		justify-content: center;
		margin-top: 15px;
	}
	#plans .groups .group{
		list-style: none;
		width: 100%;
	}
	#plans .groups .group .items{
		display: flex;
		flex-wrap: wrap;
		justify-content: center;
	}
	#plans .groups .group .items > .item{
		list-style: none;
		margin-top: 15px;
		padding-bottom: 20px;
		border-bottom: 1px solid #C7C7C7;
		width: 100%;
	}
	#plans .groups .group .items .item h2{
		font-family: Montserrat;
		text-transform: uppercase;
		font-size: 24px;
		color: #2F3647;
		font-weight: 500;
	}
	#plans .groups .group .items .item > span{
		display: block;
		font-family: Montserrat;
		margin-top: 10px;
		color: #2F3647;
		font-size: 16px;
		font-weight: 500;
	}
	#plans .groups .group .items .item .services .service{
		width: 100%;
		list-style: none;
		color: #878787;
		font-family: Open;
		font-size: 14px;
		line-height: 16px;
		margin-top: 10px;
	}
	#plans .groups .group .items .item .cost{
		display: flex;
		align-items: center;
		margin-top: 15px;
	}
	#plans .groups .group .items .item .cost .image{
		width: 20px;
		margin-right: 10px;
		height: 20px;
	}
	#plans .groups .group .items .item .cost .image img{
		width: 20px;
		height: 20px;
	}
	#plans .groups .group .items .item .cost .text{
		color: #2F3647;
		font-family: Montserrat;
		font-weight: 500;
		font-size: 14px;
		line-height: 14px;
	}
	#plans .groups .group .items .item .garant{
		display: flex;
		align-items: center;
		margin-top: 15px;
	}
	#plans .groups .group .items .item .garant .image{
		width: 20px;
		margin-right: 10px;
		height: 20px;
	}
	#plans .groups .group .items .item .garant .image img{
		width: 100%;
		height: auto;
	}
	#plans .groups .group .items .item .garant .text{
		color: #2F3647;
		font-family: Montserrat;
		font-weight: 500;
		font-size: 14px;
		line-height: 14px;
	}
	#plans .groups .group .items .item .adv .item{
		margin-top: 10px;
		font-family: Montserrat;
		color: #2F3647;
		font-size: 14px;
		list-style: none;
	}

	#works{
		width: 100%;
		box-sizing: border-box;
		padding: 20px;
		margin-top: 20px;
	}
	#works h1{
		font-family: Montserrat;
		text-align: center;
		text-transform: uppercase;
		font-size: 26px;
		font-weight: bold;
	}
	#works .slider{
		width: 100%;
		overflow: hidden;
		margin-top: 15px;
	}
	#works .slider .slides{
		width: 100%;
		display: flex;
	}
	#works .slider .slides .slide{
		min-width: 100%;
		list-style: none;
		transition: .5s ease;
	}
	#works .slider .slides .slide .top{
		width: 100%;
	}
	#works .slider .slides .slide .top img{
		display: none;
	}
	#works .slider .slides .slide .top img:nth-child(1){
		display: block;
		width: 100%;
	}
	#works .slider .slides .slide .bottom{
		display: none;
	}
	#works .slider .points{
		display: flex;
		justify-content: center;
		width: 100%;
		margin-top: 20px;
	}
	#works .slider .points .point{
		width: 15px;
		height: 15px;
		background-color: white;
		border: 1px solid #9F9F9F;
		border-radius: 50%;
		list-style: none;
		margin-left: 7px;
		margin-right: 7px;
		transition: .5s ease;
		cursor: pointer;
	}
	#works .slider .points .point.active{
		background-color: #EE8915;
		border: 1px solid #EE8915;
	}

	#calc{
		width: 100%;
		box-sizing: border-box;
		margin-top: 20px;
		display: flex;
		flex-wrap: wrap;
	}
	#calc .top{
		width: 100%;
		box-sizing: border-box;
		padding: 30px;
		background-color: #BB4300;
	}
	#calc .top span{
		display: block;
		color: white;
		text-align: center;
		font-family: Roboto;
		font-weight: bold;
		font-size: 14px;
	}
	#calc .image{
		width: 100%;
	}
	#calc .image img{
		width: 100%;
	}
	#calc .text{
		width: 100%;
		box-sizing: border-box;
		padding: 20px;
	}
	#calc .text h1{
		font-family: Roboto;
		font-weight: bold;
		color: #333;
		font-size: 26px;
		width: 100%;
	}
	#calc .text span{
		font-family: Roboto;
		color: #333;
		display: block;
		width: 100%;
		margin-top: 10px;
		font-size: 16px;
	}
	#calc .text .select{
		width: 280px;
		position: relative;
	}
	#calc .text .select span{
		display: flex;
		width: 100%;
		height: 40px;
		background-color: white;
		border: 1px solid #C4C4C4;
		line-height: 40px;
		box-sizing: border-box;
		padding: 0 20px;
		align-items: center;
		cursor: pointer;
	}
	#calc .text .select span img{
		width: 9px;
		margin-left: 10px;
	}
	#calc .text .select .options{
		width: 100%;
		border: 1px solid #C4C4C4;
		border-top: none;
		position: absolute;
		top: 40px;
		left: 0;
		box-sizing: border-box;
		background-color: white;
		z-index: 3;
		transition: .3s ease;
	}
	#calc .text .select .options li{
		width: 100%;
		cursor: pointer;
		height: 40px;
		line-height: 40px;
		list-style: none;
		font-family: Roboto;
		color: #828282;
		box-sizing: border-box;
		padding: 0 20px;
		font-size: 14px;
	}
	#calc .text input{
		width: 280px;
		margin-top: 15px;
		background-color: white;
		border: 1px solid #C4C4C4;
		box-sizing: border-box;
		height: 40px;
		padding: 0 20px;
		font-family: Roboto;
		color: #828282;
		font-size: 16px;
	}
	#calc .result{
		width: 280px;
		height: 40px;
		margin-top: 15px;
		box-sizing: border-box;
		background-color: white;
		border: 1px solid #C4C4C4;
		display: flex;
		font-family: Roboto;
		font-size: 14px;
		color: #828282;
		line-height: 40px;
		padding-left: 20px;
	}
	#calc .result .price{
		font-weight: bold;
		font-size: 16px;
		color: #FF6B00;
		margin-left: 10px;
	}
	#calc button{
		width: 280px;
		height: 40px;
		background-color: #828282;
		border: none;
		cursor: pointer;
		margin-top: 15px;
		color: white;
		font-size: 16px;
		font-family: Roboto;
	}
	#calc button:nth-last-child(-n+1){
		background-color: #FF6B00;
	}

	#clients{
		width: 100%;
		box-sizing: border-box;
		padding: 20px;
		margin-top: 20px;
	}
	#clients h1{
		text-align: center;
		text-transform: uppercase;
		font-family: Montserrat;
		font-weight: bold;
		font-size: 26px;
	}
	#clients .slider{
		width: 100%;
		position: relative;
		margin-top: 15px;
	}
	#clients .slider .content{
		width: 90%;
		overflow: hidden;
		margin-left: 5%;
	}
	#clients .slider .content .slides{
		width: 100%;
		display: flex;
	}
	#clients .slider .content .slides .slide{
		min-width: 100%;
		list-style: none;
		transition: .5s ease;
	}
	#clients .slider .content .slides .slide img{
		width: 100%;
	}
	#clients .slider .prev{
		width: 20px;
		height: 30px;
		position: absolute;
		top: 50%;
		left: 0;
		transform: translate(-50%, -50%);
		cursor: pointer;
	}
	#clients .slider .prev span{
		position: absolute;
		top: 50%;
		left: 50%;
		display: block;
		width: 15px;
		height: 15px;
		background-color: rgba(0, 0, 0, 0.0);
		border-top: 1px solid #FF6B00;
		border-left: 1px solid #FF6B00;
		transform: translate(-50%, -50%) rotate(-45deg);
	}
	#clients .slider .next{
		width: 20px;
		height: 30px;
		position: absolute;
		top: 50%;
		right: 0;
		transform: translate(50%, -50%);
		cursor: pointer;
	}
	#clients .slider .next span{
		position: absolute;
		top: 50%;
		left: 50%;
		display: block;
		width: 15px;
		height: 15px;
		background-color: rgba(0, 0, 0, 0.0);
		border-top: 1px solid #FF6B00;
		border-right: 1px solid #FF6B00;
		transform: translate(-50%, -50%) rotate(45deg);
	}

	#reviews{
		width: 100%;
		box-sizing: border-box;
		padding: 20px;
		margin-top: 20px;
	}
	#reviews h1{
		text-align: center;
		text-transform: uppercase;
		font-family: Montserrat;
		font-size: 26px;
		font-weight: bold;
	}
	#reviews .slider{
		width: 100%;
		position: relative;
		overflow: hidden;
		margin-top: 15px;
	}
	#reviews .slider .slides{
		width: 100%;
		display: flex;
	}
	#reviews .slider .slides .slide{
		list-style: none;
		min-width: 100%;
		position: relative;
		transition: .5s ease;
	}
	#reviews .slider .slides .slide video{
		width: 100%;
	}
	#reviews .slider .slides .slide .play{
		width: 50px;
		position: absolute;
		top: 50%;
		left: 50%;
		transform: translate(-50%, -50%);
		cursor: pointer;
		z-index: 3;
	}
	#reviews .slider .points{
		display: flex;
		justify-content: center;
		margin-top: 10px;
	}
	#reviews .slider .points .point{
		width: 15px;
		height: 15px;
		border-radius: 50%;
		background-color: white;
		border: 1px solid #FF6B00;
		list-style: none;
		margin-left: 7px;
		margin-right: 7px;
		cursor: pointer;
		transition: .5s ease;
	}
	#reviews .slider .points .point.active{
		background-color: #FF6B00;
	}

	#map{
		width: 100%;
		box-sizing: border-box;
		padding: 20px;
		margin-top: 20px;
	}
	#map iframe{
		width: 100%;
		height: 200px;
	}

	footer{
		width: 100%;
		box-sizing: border-box;
		padding: 20px;
		margin-top: 30px;
		background-color: #261A0D;
		display: flex;
		flex-wrap: wrap;
		justify-content: center;
	}
	footer .navbar-left{
		display: none;
	}
	footer .navbar-right{
		display: none;
	}
	footer .logo{
		width: 90px;
	}
	footer .logo img{
		width: 100%;
	}
	footer .socials{
		width: 100%;
		display: flex;
		justify-content: center;
		margin-top: 10px;
	}
	footer .socials .social{
		width: 30px;
		margin-left: 10px;
		margin-right: 10px;
		list-style: none;
		cursor: pointer;
	}
	footer .socials .social img{
		width: 100%;
	}

}

@media screen and (min-width: 768px){
	
	header{
		padding: 10px 20px;
		background-size: 120%;
		padding-bottom: 60px;
	}
	header .phone{
		display: block;
		order: 0;
		width: 100%;
		text-align: right;
		font-family: Montserrat;
		font-weight: 500;
		color: #78542D;
	}
	header .navbar-left{
		display: flex;
		width: 45%;
		justify-content: flex-end;
		padding-right: 7px;
		box-sizing: border-box;
	}
	header .navbar-left .navbar-item{
		margin-left: 4px;
		margin-right: 4px;
		list-style: none;
	}
	header .navbar-left .navbar-item a{
		font-size: 11px;
		font-family: Montserrat;
		font-weight: 500;
		text-transform: uppercase;
		color: #432E17;
		text-decoration: none;
	}
	header .navbar-right{
		display: flex;
		width: 45%;
		padding-left: 7px;
		box-sizing: border-box;
	}
	header .navbar-right .navbar-item{
		margin-left: 4px;
		margin-right: 4px;
		list-style: none;
	}
	header .navbar-right .navbar-item a{
		font-size: 11px;
		font-family: Montserrat;
		font-weight: 500;
		text-transform: uppercase;
		color: #432E17;
		text-decoration: none;
	}
	header .logo{
		width: 60px;
	}
	header .dropdown-menu{
		display: none;
	}
	header .main{
		margin-top: 40px;
	}
	header .main h1{
		font-size: 32px;
	}
	header .main span{
		font-size: 18px;
	}

	#form{
		width: 630px;
		padding: 25px 30px;
	}
	#form span{
		text-align: left;
	}
	#form form{
		display: flex;
		justify-content: space-between;
	}
	#form form .item{
		width: 30%;
	}
	#form form button{
		width: 30%;
	}

	#services .cards .card{
		width: 120px;	
	}
	#services .cards .card img{
		height: 50px;
	}
	#services .cards .card span{
		font-size: 14px;
	}

	#about .content{
		width: 95%;
		margin-left: auto;
		margin-right: auto;
		display: flex;
		align-items: center;
	}
	#about .content .text{
		width: 50%;
		margin-right: 5%;
	}
	#about .content .text h1{
		font-size: 32px;
	}
	#about .content .text span{
		font-size: 16px;
		line-height: 18px;
		margin-top: 0;
	}
	#about .content .line{
		margin-top: 10px;
		margin-bottom: 10px;
	}
	#about .content .text p{
		font-size: 12px;
		line-height: 14px;
		margin-top: 5px;
	}
	#about .content .text .adv{
		display: flex;
		justify-content: space-between;
	}
	#about .content .text .adv .item{
		width: 30%;
	}
	#about .content .text .adv .item h3{
		font-size: 24px;
	}
	#about .content .text .adv .item span{
		font-size: 12px;
		line-height: 14px;
	}
	#about .content .image{
		width: 45%;
		display: block;
	}
	#about .content .image img{
		width: 100%;
	}

	#adv .cards{
		justify-content: space-between;
	}
	#adv .cards .card{
		width: 30%;
		display: block;
	}
	#adv .cards .card .image{
		width: 60px;
		margin-left: auto;
		margin-right: auto;
	}
	#adv .cards .card .text h1{
		font-size: 16px;
	}

	#equipment{
		background-color: #E0E0E0;
		display: flex;
		align-items: center;
		justify-content: center;
		background-image: url(../img/equipment-bg.png);
		background-size: auto 100%;
		background-position: top left;
		background-repeat: no-repeat;
	}
	#equipment .image{
		width: 40%;
	}
	#equipment .text{
		width: 50%;
		margin-left: 30px;
	}
	#equipment .text h1{
		font-size: 32px;
		text-align: left;
	}
	#equipment .text p{
		margin-top: 10px;
		font-size: 12px;
		line-height: 14px;
		text-align: left;
	}

	#plans{
		margin-top: 30px;
	}
	#plans h1{
		font-size: 32px;
	}
	#plans span{
		font-size: 18px;
	}
	#plans .groups .group{
		width: 100%;
		padding-bottom: 20px;
		border-bottom: 1px solid #C7C7C7;
	}
	#plans .groups .group .items{
		justify-content: space-between;
	}
	#plans .groups .group .items > .item{
		width: 33.33%;
		border: none;
		border-left: 1px solid #C7C7C7;
		padding: 15px;
		box-sizing: border-box
	}
	#plans .groups .group .items > .item:nth-child(1){
		border: none;
	}
	#plans .groups .group .items .item h2{
		font-size: 20px;
	}
	#plans .groups .group .items .item .services .service{
		font-size: 12px;
		line-height: 14px;
	}
	#plans .groups .group .items .item .adv .item{
		font-size: 12px;
		line-height: 14px;
	}

	#works h1{
		font-size: 32px;
	}
	#works .slider .slides .slide .top{
		display: flex;
		justify-content: center;
	}
	#works .slider .slides .slide .top img{
		display: block;
		width: 30%;
		margin-left: 5px;
		margin-right: 5px;
	}
	#works .slider .slides .slide .top img:nth-child(1){
		width: 30%;
	}
	#works .slider .slides .slide .bottom{
		display: flex;
		justify-content: center;
		margin-top: 10px;
	}
	#works .slider .slides .slide .bottom img{
		width: calc((90% + 20px) / 2 - 5px);
		margin-left: 5px;
		margin-right: 5px;
	}

	#calc{
		margin-top: 30px;
		align-items: center;
	}
	#calc .top{
		padding: 15px;
	}
	#calc .top span{
		font-size: 18px;
	}
	#calc .image{
		width: 52%;
	}
	#calc .text{
		width: 48%;
		display: flex;
		flex-wrap: wrap;
		align-items: center;
		justify-content: space-between;
		padding: 5px 10px;
	}
	#calc .text h1{
		font-size: 24px;
		width: 50%;
	}
	#calc .text span{
		display: block;
		width: 50%;
		font-size: 14px;
		margin-top: 0;
		text-align: right;
	}
	#calc .text .select{
		width: 48%;
		margin-top: 10px;
	}
	#calc .text .select span{
		margin: 0;
		font-size: 11px;
		padding: 0 5px;
	}
	#calc .text input{
		width: 48%;
		margin-top: 10px;
		font-size: 11px;
		padding: 0 5px;
	}
	#calc .text .result{
		width: 48%;
		padding: 0 5px;
		font-size: 11px;
		margin-top: 5px;
	}
	#calc .text p{
		display: none;
	}
	#calc .text .result .price{
		font-size: 14px;
		width: 100%;
		margin: 0;
		text-align: center;
	}
	#calc .text button{
		width: 48%;
		font-size: 12px;
		margin-top: 5px;
	}

	#clients{
		margin-top: 30px;
	}
	#clients h1{
		font-size: 32px;
	}
	#clients .slider{
		margin-top: 20px;
	}
	#clients .slider .content .slides .slide{
		min-width: 25%;
		padding-left: 1.5%;
		padding-right: 1.5%;
		box-sizing: border-box;
	}
	#clients .slider .prev{
		transform: translate(0, -50%);
	}
	#clients .slider .next{
		transform: translate(0, -50%);
	}

	#reviews h1{
		font-size: 32px;
	}
	#reviews .slider{
		margin-top: 20px;
	}
	#reviews .slider .slides .slide{
		min-width: 33.33%;
		box-sizing: border-box;
		padding-left: 1.5%;
		padding-right: 1.5%;
	}
	#reviews .slider .points{
		margin-top: 15px;
	}

	#map iframe{
		height: 250px;
	}

	footer{
		align-items: center;
	}
	footer .navbar-left{
		display: flex;
		width: 45%;
		justify-content: flex-end;
		padding-right: 7px;
		box-sizing: border-box;
	}
	footer .navbar-left .navbar-item{
		margin-left: 4px;
		margin-right: 4px;
		list-style: none;
	}
	footer .navbar-left .navbar-item a{
		font-size: 11px;
		font-family: Montserrat;
		font-weight: 500;
		text-transform: uppercase;
		color: #F2F2F2;
		text-decoration: none;
	}
	footer .navbar-right{
		display: flex;
		width: 45%;
		padding-left: 7px;
		box-sizing: border-box;
	}
	footer .navbar-right .navbar-item{
		margin-left: 4px;
		margin-right: 4px;
		list-style: none;
	}
	footer .navbar-right .navbar-item a{
		font-size: 11px;
		font-family: Montserrat;
		font-weight: 500;
		text-transform: uppercase;
		color: #F2F2F2;
		text-decoration: none;
	}
	footer .logo{
		width: 60px;
	}

}

@media screen and (min-width: 1024px){
	
	header{
		padding: 10px 60px;
		padding-bottom: 60px;
	}
	header .phone{
		font-size: 24px;
	}
	header .logo{
		width: 100px;
	}
	header .navbar-left{
		width: 43%;
	}
	header .navbar-left .navbar-item a{
		font-size: 14px;
	}
	header .navbar-right{
		width: 43%;
	}
	header .navbar-right .navbar-item a{
		font-size: 14px;
	}
	header .main{
		margin-top: 60px;
	}
	header .main h1{
		font-size: 54px;
	}
	header .main span{
		font-size: 24px;
	}

	#services .cards .card{
		width: 160px;
	}
	#services .cards .card img{
		height: 60px;
	}
	#services .cards .card span{
		font-size: 16px;
	}

	#about .content{
		padding: 30px;
	}
	#about .content .text h1{
		font-size: 36px;
	}
	#about .content .text h2{
		font-size: 24px;
	}
	#about .content .text .line{
		margin-top: 20px;
		margin-bottom: 20px;
	}
	#about .content .text p{
		margin-top: 10px;
		font-size: 14px;
		line-height: 16px;
	}
	#about .content .text .adv .item h3{
		font-size: 32px;
	}
	#about .content .text .adv .item span{
		font-size: 14px;
	}

	#adv .cards .card{
		display: flex;
		justify-content: space-between;
	}
	#adv .cards .card .image{
		width: 70px;
		margin: 0;
	}
	#adv .cards .card .text{
		width: calc(100% - 85px);
	}
	#adv .cards .card .text h1{
		font-size: 18px;
		text-align: left;
	}
	#adv .cards .card .text p{
		font-size: 12px;
		line-height: 14px;
		text-align: left;
	}

	#equipment{
		margin-top: 30px;
	}
	#equipment h1{
		font-size: 36px;
	}

	#plans h1{
		font-size: 36px;
	}
	#plans span{
		font-size: 24px;
	}
	#plans .groups .group .items .item h2{
		font-size: 28px;
	}
	#plans .groups .group .items .item span{
		font-size: 14px;
	}

	#works h1{
		font-size: 36px;
	}

	#calc .text{
		padding: 15px;
	}
	#calc .text h1{
		font-size: 28px;
	}
	#calc .text .select span{
		font-size: 14px;
		padding: 0 10px;
	}
	#calc .text input{
		font-size: 14px;
		padding: 0 10px;
	}
	#calc .text .result p{
		display: block;
		margin-right: 10px;
		font-size: 12px;
	}
	#calc .text .result .price{
		font-size: 12px;
		width: auto;
	}
	#calc .text button{
		font-size: 14px;
	}

	#clients h1{
		font-size: 36px;
	}

	#reviews h1{
		font-size: 36px;
	}
	#reviews .slider .slides .slide .play{
		width: 80px;
	}

	#map iframe{
		height: 300px;
	}

	footer .logo{
		width: 100px;
	}
	footer .navbar-left{
		width: 43%;
	}
	footer .navbar-left .navbar-item a{
		font-size: 14px;
	}
	footer .navbar-right{
		width: 43%;
	}
	footer .navbar-right .navbar-item a{
		font-size: 14px;
	}
	footer .socials .social{
		width: 40px;
	}

}

@media screen and (min-width: 1440px){
	
	header{
		max-width: 1920px;
		padding: 10px 10%;
		padding-bottom: 110px;
		margin-left: auto;
		margin-right: auto;
	}
	header .logo{
		width: 115px;
	}
	header .navbar-left{
		width: 43%;
	}
	header .navbar-left .navbar-item{
		margin-left: 10px;
		margin-right: 10px;
	}
	header .navbar-left .navbar-item a{
		font-size: 16px;
	}
	header .navbar-right{
		width: 43%;
	}
	header .navbar-right .navbar-item{
		margin-left: 10px;
		margin-right: 10px;
	}
	header .navbar-right .navbar-item a{
		font-size: 16px;
	}
	header .main{
		margin-top: 80px;
	}
	header .main h1{
		font-size: 64px;
	}

	#form{
		margin-top: -80px;
	}

	#services .cards .card{
		width: 240px;
		margin-left: 12.5px;
		margin-right: 12.5px;
		padding: 20px 10px;
	}
	#services .cards .card img{
		height: 110px;
	}
	#services .cards .card span{
		font-size: 22px;
	}

	#about{
		padding: 30px;
	}
	#about .content{
		max-width: 1440px;
		margin-left: auto;
		margin-right: auto;
	}
	#about .content .text{
		padding: 55px;
		box-sizing: border-box;
		width: 55%;
	}
	#about .content .image{
		width: 45%;
	}
	#about .content .text h1{
		font-size: 30px;
	}
	#about .content .text h2{
		font-size: 24px;
	}
	#about .content .text .line{
		margin-top: 25px;
		margin-bottom: 0;
	}
	#about .content .text p{
		margin-top: 25px;
		font-size: 16px;
		line-height: 1.55;
	}
	#about .content .text .adv .item h3{
		font-size: 52px;
	}
	#about .content .text .adv .item span{
		font-size: 14px;
		line-height: 1.55;
		text-align: left;
	}

	#adv{
		max-width: 1440px;
		margin-left: auto;
		margin-right: auto;
	}
	#adv .cards .card .image{
		width: 100px;
	}
	#adv .cards .card .text{
		width: calc(100% - 120px);
	}
	#adv .cards .card .text h2{
		font-size: 22px;
	}
	#adv .cards .card .text p{
		font-size: 14px;
		line-height: 1.55;
	}

	#equipment{
		max-width: 1920px;
		padding: 30px 5%;
		margin-top: 40px;
		margin-left: auto;
		margin-right: auto;
	}
	#equipment .image{
		max-width: 550px;
	}
	#equipment .text{
		max-width: 650px;
	}
	#equipment .text h1{
		font-size: 30px;
	}
	#equipment .text p{
		font-size: 14px;
		line-height: 1.55;
		margin-top: 25px;
	}

	#plans{
		max-width: 1920px;
		margin-left: auto;
		margin-right: auto;
	}
	#plans h1{
		font-size: 30px;
	}
	#plans span{
		font-size: 18px;
	}
	#plans .groups{
		max-width: 1440px;
		margin-left: auto;
		margin-right: auto;
		margin-top: 30px;
	}
	#plans .groups .group .items .item span{
		font-size: 16px;
	}
	#plans .groups .group .items .item .adv{
		margin-top: 20px;
	}

	#works{
		max-width: 1920px;
		margin-left: auto;
		margin-right: auto;
	}
	#works h1{
		font-size: 30px;
	}
	#works .slider{
		margin-top: 30px;
		max-width: 1440px;
		margin-left: auto;
		margin-right: auto;
	}

	#calc{
		max-width: 1440px;
		margin-left: auto;
		margin-right: auto;
	}
	#calc .text{
		padding: 40px 30px;
	}
	#calc .text h1{
		font-size: 36px;
	}
	#calc .text span{
		font-size: 18px;
	}
	#calc .text .select{
		width: 47%;
		margin-top: 25px;
	}
	#calc .text input{
		width: 47%;
		margin-top: 25px;
	}
	#calc .text .result{
		margin-top: 20px;
		width: 47%;
		font-size: 14px;
	}
	#calc .text .result .price{
		font-size: 16px;
	}
	#calc .text button{
		margin-top: 20px;
		width: 47%;
	}

	#clients{
		max-width: 1440px;
		margin-left: auto;
		margin-right: auto;
	}
	#clients h1{
		font-size: 30px;
	}
	#clients .slider .content{
		width: 95%;
		margin-left: 2.5%;
	}
	#clients .slider .prev span{
		border-width: 2px;
	}
	#clients .slider .next span{
		border-width: 2px;
	}

	#reviews{
		max-width: 1440px;
		margin-left: auto;
		margin-right: auto;
	}
	#reviews h1{
		font-size: 30px;
	}
	#reviews .slider{
		width: 95%;
		margin-left: 2.5%;
	}

	#map{
		max-width: 1440px;
		margin-left: auto;
		margin-right: auto;
	}
	#map iframe{
		height: 310px;
	}

	footer{
		max-width: 1920px;
		padding: 20px 10%;
		margin-left: auto;
		margin-right: auto;
	}
	footer .logo{
		width: 115px;
		margin-right: 15px;
		margin-left: 15px;
	}
	footer .navbar-left{
		width: 43%;
	}
	footer .navbar-left .navbar-item{
		margin-left: 10px;
		margin-right: 10px;
	}
	footer .navbar-left .navbar-item a{
		font-size: 16px;
	}
	footer .navbar-right{
		width: 43%;
	}
	footer .navbar-right .navbar-item{
		margin-left: 10px;
		margin-right: 10px;
	}
	footer .navbar-right .navbar-item a{
		font-size: 16px;
	}
	footer .socials .social{
		width: 60px;
		margin-left: 11px;
		margin-right: 11px;
	}

}