@font-face{
	font-family: Montserrat;
	src: url("Montserrat/Montserrat-Regular.ttf");
	font-style: normal;
	font-weight: 400;
}

@font-face{
	font-family: Montserrat;
	src: url("Montserrat/Montserrat-SemiBold.ttf");
	font-style: normal;
	font-weight: 500;
}