* {
  margin: 0;
  padding: 0;
  outline: none;
}

img {
  width: 100%;
}

@media screen and (min-width: 320px) {
  #wrapper {
    width: 100%;
    -webkit-box-sizing: border-box;
            box-sizing: border-box;
    overflow: hidden;
  }
  #wrapper .main {
    width: 100vw;
    height: 100vh;
    -webkit-box-sizing: border-box;
            box-sizing: border-box;
    overflow: hidden;
  }
  #wrapper .main .main__header {
    width: 100%;
    -webkit-box-sizing: border-box;
            box-sizing: border-box;
    position: absolute;
    top: 0;
    left: 0;
    z-index: 5;
  }
  #wrapper .main .main__screen {
    width: 100vw;
    height: 100vh;
  }
  #wrapper .about {
    margin-top: 100px;
    width: 100%;
    -webkit-box-sizing: border-box;
            box-sizing: border-box;
  }
  #wrapper .about .about__image {
    display: block;
    margin-left: auto;
    width: 75%;
    margin-right: -6%;
  }
  #wrapper .about .about__content {
    position: relative;
    margin-top: -44vw;
    width: 80%;
    margin-left: 10%;
    background-color: white;
    z-index: 1;
    border-radius: 30px;
    -webkit-box-shadow: 0 0 30px grey;
            box-shadow: 0 0 30px grey;
    -webkit-box-sizing: border-box;
            box-sizing: border-box;
    padding: 40px;
  }
  #wrapper .about .about__content .about__heading {
    font-size: 32px;
    color: #333;
    font-family: Montserrat;
    font-weight: 500;
  }
  #wrapper .about .about__content .about__text {
    margin-top: 15px;
    font-family: Montserrat;
    font-weight: 400;
    font-size: 18px;
    -webkit-hyphens: manual;
        -ms-hyphens: manual;
            hyphens: manual;
  }
  #wrapper .about .about__content .about__more {
    width: 100%;
    margin-top: 20px;
  }
  #wrapper .adv {
    width: 100%;
    -webkit-box-sizing: border-box;
            box-sizing: border-box;
    margin-top: 40px;
  }
  #wrapper .adv .adv__heading {
    width: 100%;
  }
  #wrapper .adv .adv__list {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -ms-flex-wrap: wrap;
        flex-wrap: wrap;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    margin-top: 30px;
  }
  #wrapper .adv .adv__list .adv__item {
    width: 90%;
    margin-left: auto;
    margin-right: auto;
  }
  #wrapper .reviews {
    width: 100%;
    -webkit-box-sizing: border-box;
            box-sizing: border-box;
    margin-top: 110px;
  }
  #wrapper .reviews .reviews__slider {
    width: 100%;
    -webkit-box-sizing: border-box;
            box-sizing: border-box;
    max-width: 450px;
    margin-left: auto;
    margin-right: auto;
  }
  #wrapper .actions {
    width: 100%;
    -webkit-box-sizing: border-box;
            box-sizing: border-box;
    margin-top: 75px;
  }
  #wrapper .actions .actions__list {
    margin-top: 10px;
  }
  #wrapper .actions .actions__list .actions__action {
    margin-top: 35px;
  }
  #wrapper .footer {
    margin-top: 180px;
    background-color: #000024;
    padding: 20px;
  }
  #wrapper .footer .footer__logo {
    display: block;
    width: 62%;
    margin-left: auto;
    margin-right: auto;
    padding-top: 25px;
  }
  #wrapper .footer .footer__heading {
    width: 100%;
    text-align: center;
    font-family: Montserrat;
    font-weight: 500;
    font-size: 32px;
    color: white;
    margin-top: 50px;
  }
  #wrapper .footer .footer__span {
    width: 100%;
    display: block;
    font-family: Montserrat;
    font-weight: 500;
    font-size: 28px;
    color: white;
    text-align: center;
    margin-top: 65px;
  }
  #wrapper .footer .footer__socials {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -ms-flex-wrap: wrap;
        flex-wrap: wrap;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    margin-bottom: 80px;
  }
  #wrapper .footer .footer__socials .footer__social {
    display: block;
    margin-top: 50px;
    width: 80px;
    margin-left: 15px;
    margin-right: 15px;
  }
  #wrapper .header {
    padding: 10px 15px;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -ms-flex-wrap: wrap;
        flex-wrap: wrap;
    -webkit-box-pack: justify;
        -ms-flex-pack: justify;
            justify-content: space-between;
  }
  #wrapper .header .header__logo {
    width: 41%;
    max-width: 150px;
  }
  #wrapper .header .header__burger {
    width: min(20%, 80px);
    height: 45px;
    position: relative;
    cursor: pointer;
    margin-top: 32px;
    margin-right: 30px;
  }
  #wrapper .header .header__burger span {
    display: block;
    -webkit-box-sizing: border-box;
            box-sizing: border-box;
    width: 52px;
    height: 7px;
    background-color: white;
    position: absolute;
  }
  #wrapper .header .header__burger span:nth-child(1) {
    left: 50%;
    top: 0;
    -webkit-transform: translate(-50%, 0);
            transform: translate(-50%, 0);
  }
  #wrapper .header .header__burger span:nth-child(2) {
    left: 50%;
    top: 50%;
    -webkit-transform: translate(-50%, -50%);
            transform: translate(-50%, -50%);
  }
  #wrapper .header .header__burger span:nth-child(3) {
    left: 50%;
    bottom: 0;
    -webkit-transform: translate(-50%, 0);
            transform: translate(-50%, 0);
  }
  #wrapper .navbar {
    display: none;
  }
  #wrapper .logo {
    -webkit-box-sizing: border-box;
            box-sizing: border-box;
  }
  #wrapper .logo .logo__image {
    width: 100%;
  }
  #wrapper .screen {
    -webkit-box-sizing: border-box;
            box-sizing: border-box;
  }
  #wrapper .screen .screen__content {
    width: 80%;
    -webkit-box-sizing: border-box;
            box-sizing: border-box;
    padding: 20px;
    position: absolute;
    top: 54%;
    left: 50%;
    -webkit-transform: translate(-50%, -50%);
            transform: translate(-50%, -50%);
    z-index: 3;
    text-shadow: 0 0 40px black;
  }
  #wrapper .screen .screen__content .screen__heading {
    display: none;
  }
  #wrapper .screen .screen__content .screen__heading_small {
    width: 100%;
    text-align: center;
    font-family: Montserrat;
    font-weight: 500;
    text-transform: uppercase;
    color: white;
    font-size: min(15vw, 58px);
  }
  #wrapper .screen .screen__slider {
    width: 100vw;
    height: 100vh;
    -webkit-box-sizing: border-box;
            box-sizing: border-box;
  }
  #wrapper .screen .screen__down {
    display: block;
    position: absolute;
    bottom: 35px;
    left: 50%;
    -webkit-transform: translate(-50%, 0);
            transform: translate(-50%, 0);
    z-index: 3;
  }
  #wrapper .slider .slider__slides {
    position: relative;
  }
  #wrapper .slider .slider__slides .slider__slide {
    display: none;
  }
  #wrapper .slider .slider__slides .slider__slide:nth-child(1) {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -ms-flex-wrap: wrap;
        flex-wrap: wrap;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
  }
  #wrapper .slider .slider__nav {
    margin-top: 36px;
    width: 100%;
    -webkit-box-sizing: border-box;
            box-sizing: border-box;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -ms-flex-wrap: wrap;
        flex-wrap: wrap;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
  }
  #wrapper .slider .slider__nav .slider__dot {
    display: block;
    width: 17px;
    height: 17px;
    border-radius: 50%;
    border: 2px solid #777;
    margin-left: 10px;
    margin-right: 10px;
  }
  #wrapper .slider .slider__nav .slider__dot.active {
    background-color: #777;
  }
  #wrapper .slider-full .slider-full__slides {
    width: 100vw;
    height: 100vh;
    position: relative;
  }
  #wrapper .slider-full .slider-full__slides .slider-full__darkness {
    display: block;
    position: absolute;
    width: 100vw;
    height: 100vh;
    position: absolute;
    top: 50%;
    left: 50%;
    -webkit-transform: translate(-50%, -50%);
            transform: translate(-50%, -50%);
    z-index: 1;
    background-color: rgba(19, 20, 48, 0.7);
  }
  #wrapper .slider-full .slider-full__slides .slider-full__slide {
    width: 100vw;
    height: 100vh;
    position: absolute;
    top: 50%;
    left: 50%;
    -webkit-transform: translate(-50%, -50%);
            transform: translate(-50%, -50%);
    display: none;
  }
  #wrapper .slider-full .slider-full__slides .slider-full__slide:nth-child(1), #wrapper .slider-full .slider-full__slides .slider-full__slide:nth-child(2) {
    display: block;
    width: 100vw;
    height: 100vh;
  }
  #wrapper .slider-full .slider-full__slides .slider-full__slide .slider-full__image {
    height: 100vh;
    width: auto;
    position: absolute;
    top: 50%;
    left: 50%;
    -webkit-transform: translate(-50%, -50%);
            transform: translate(-50%, -50%);
  }
  #wrapper .slider-full .slider-full__nav {
    position: absolute;
    top: 85.5%;
    left: 50%;
    -webkit-transform: translate(-50%, -50%);
            transform: translate(-50%, -50%);
    z-index: 3;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
  }
  #wrapper .slider-full .slider-full__nav .slider-full__dot {
    cursor: pointer;
    width: 16px;
    height: 16px;
    border-radius: 50%;
    background-color: transparent;
    border: 2px solid white;
    display: block;
    margin-left: 12px;
    margin-right: 12px;
  }
  #wrapper .slider-full .slider-full__nav .slider-full__dot.active {
    background-color: white;
  }
  #wrapper .down span {
    display: block;
    width: 25px;
    height: 25px;
    -webkit-transform: rotate(45deg);
            transform: rotate(45deg);
    border: 5px solid white;
    border-top: none;
    border-left: none;
    cursor: pointer;
  }
  #wrapper .more {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    cursor: pointer;
  }
  #wrapper .more .more__text {
    display: block;
    font-family: Montserrat;
    font-size: 20px;
    font-weight: 500;
    color: #6415BE;
  }
  #wrapper .more .more__arrow {
    width: 25px;
    margin-left: 10px;
    margin-top: 2px;
  }
  #wrapper .heading {
    font-family: Montserrat;
    font-size: 42px;
    font-weight: 500;
    color: #333;
    text-align: center;
  }
  #wrapper .advantage {
    max-width: 450px;
    -webkit-box-sizing: border-box;
            box-sizing: border-box;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -ms-flex-wrap: wrap;
        flex-wrap: wrap;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    margin-top: 70px;
  }
  #wrapper .advantage .advantage__icon {
    width: min(42%, 150px);
    margin-left: auto;
    margin-right: auto;
  }
  #wrapper .advantage .advantage__heading {
    width: 100%;
    font-family: Montserrat;
    font-size: 38px;
    font-weight: 500;
    color: #333;
    text-align: center;
    margin-top: 28px;
  }
  #wrapper .advantage .advantage__text {
    width: 90%;
    margin-top: 20px;
    font-family: Montserrat;
    font-weight: 400;
    font-size: 20px;
    text-align: center;
  }
  #wrapper .card {
    position: relative;
    width: 88%;
    display: block;
    margin-left: auto;
    margin-right: auto;
    -webkit-box-sizing: border-box;
            box-sizing: border-box;
    margin-top: 65px;
    background-color: white;
    border-radius: 30px;
    -webkit-box-shadow: 0 0 30px grey;
            box-shadow: 0 0 30px grey;
    padding: 30px;
  }
  #wrapper .card .card__image {
    width: 40%;
    border-radius: 30%;
  }
  #wrapper .card .card__title {
    width: 100%;
    font-family: Montserrat;
    font-size: 26px;
    color: #333;
    font-weight: 500;
    text-align: center;
    margin-top: 20px;
  }
  #wrapper .card .card__rating {
    width: 100%;
    margin-top: 20px;
  }
  #wrapper .card .card__text {
    font-family: Montserrat;
    font-weight: 400;
    font-size: 20px;
    color: #333;
    margin-top: 25px;
    margin-bottom: 20px;
  }
  #wrapper .card .card__quotes {
    width: 33px;
    position: absolute;
    top: 7%;
    right: 17%;
    opacity: 0.6;
  }
  #wrapper .rating {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
  }
  #wrapper .rating .rating__star {
    width: 35px;
    margin-left: 5px;
    margin-right: 5px;
  }
}
@media screen and (min-width: 550px) {
  #wrapper .about {
    margin-top: 70px;
  }
  #wrapper .about .about__image {
    width: 55%;
    margin-right: -3%;
  }
  #wrapper .about .about__content {
    width: 70%;
    margin-left: 15%;
  }
  #wrapper .about .about__content .about__heading {
    font-size: 26px;
  }
  #wrapper .about .about__content .about__text {
    font-size: 16px;
  }
  #wrapper .adv .adv__list {
    margin-top: 0;
  }
  #wrapper .actions {
    width: 80%;
    margin-left: auto;
    margin-right: auto;
  }
  #wrapper .actions .actions__list .actions__action {
    display: block;
  }
  #wrapper .footer {
    margin-top: 60px;
  }
  #wrapper .footer .footer__logo {
    width: 150px;
  }
  #wrapper .footer .footer__heading {
    font-size: 24px;
    margin-top: 20px;
  }
  #wrapper .footer .footer__span {
    font-size: 20px;
    margin-top: 30px;
  }
  #wrapper .footer .footer__socials .footer__social {
    width: 50px;
  }
  #wrapper .card {
    width: 65%;
    margin-top: 30px;
  }
  #wrapper .card .card__title {
    font-size: 20px;
  }
  #wrapper .card .card__rating {
    margin-top: 10px;
  }
  #wrapper .card .card__text {
    font-size: 16px;
  }
  #wrapper .card .card__quotes {
    width: 20px;
  }
  #wrapper .rating .rating__star {
    width: 23px;
  }
  #wrapper .advantage {
    margin-top: 50px;
  }
  #wrapper .advantage .advantage__icon {
    width: 120px;
  }
  #wrapper .advantage .advantage__heading {
    font-size: 28px;
  }
  #wrapper .advantage .advantage__text {
    font-size: 16px;
    width: 60%;
  }
  #wrapper .header .header__logo {
    width: 120px;
  }
  #wrapper .header .header__burger {
    width: 60px;
    height: 40px;
  }
  #wrapper .header .header__burger span {
    height: 5px;
  }
  #wrapper .screen .screen__content .screen__heading_small {
    display: none;
  }
  #wrapper .screen .screen__content .screen__heading {
    width: 90%;
    margin-left: auto;
    margin-right: auto;
    text-align: center;
    display: block;
    font-family: Montserrat;
    font-weight: 500;
    font-size: 40px;
    text-transform: uppercase;
    position: absolute;
    color: white;
    top: 50%;
    left: 50%;
    -webkit-transform: translate(-50%, -50%);
            transform: translate(-50%, -50%);
  }
  #wrapper .slider-full .slider-full__nav {
    top: 78%;
  }
  #wrapper .slider-full .slider-full__nav .slider-full__dot {
    width: 12px;
    height: 12px;
    border-width: 1px;
  }
  #wrapper .slider .slider__nav .slider__dot {
    width: 12px;
    height: 12px;
    border-width: 1px;
  }
  #wrapper .down span {
    width: 20px;
    height: 20px;
    border-width: 4px;
  }
  #wrapper .more .more__text {
    font-size: 18px;
  }
  #wrapper .more .more__arrow {
    width: 20px;
  }
  #wrapper .heading {
    font-size: 32px;
  }
}
@media screen and (min-width: 768px) {
  #wrapper .reviews .reviews__slider {
    max-width: 800px;
  }
  #wrapper .header {
    padding: 20px;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    -webkit-box-pack: start;
        -ms-flex-pack: start;
            justify-content: flex-start;
  }
  #wrapper .header .header__logo {
    width: 100px;
  }
  #wrapper .header .header__burger {
    display: none;
  }
  #wrapper .about .about__image {
    width: 40%;
    margin-right: 0;
  }
  #wrapper .about .about__content {
    padding: 50px;
    margin-top: -30vw;
    width: 65%;
    margin-left: 17.5%;
  }
  #wrapper .about .about__content .about__heading {
    font-size: 32px;
  }
  #wrapper .about .about__content .about__text {
    font-size: 20px;
    margin-top: 20px;
  }
  #wrapper .about .about__content .about__more {
    margin-top: 25px;
  }
  #wrapper .adv {
    margin-top: 80px;
  }
  #wrapper .adv .adv__list {
    margin-top: 30px;
  }
  #wrapper .adv .adv__list .adv__item {
    width: 50%;
  }
  #wrapper .navbar {
    display: block;
    margin-left: 5%;
  }
  #wrapper .navbar .navbar__list {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -ms-flex-wrap: wrap;
        flex-wrap: wrap;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
  }
  #wrapper .navbar .navbar__list .navbar__item {
    display: block;
    margin-left: 7px;
    margin-right: 7px;
  }
  #wrapper .navbar .navbar__list .navbar__item .navbar__link {
    font-family: Montserrat;
    font-size: 18px;
    color: white;
    font-weight: 400;
    text-decoration: none;
  }
  #wrapper .screen .screen__content .screen__heading {
    font-size: 48px;
  }
  #wrapper .slider-full .slider-full__nav {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    top: 54%;
    right: 30px;
    left: auto;
    width: 12px;
    -webkit-transform: translate(0, -50%);
            transform: translate(0, -50%);
  }
  #wrapper .slider-full .slider-full__nav .slider-full__dot {
    margin-left: 0;
    margin-right: 0;
    margin-top: 7px;
    margin-bottom: 7px;
  }
  #wrapper .card {
    width: 50%;
  }
  #wrapper .actions {
    width: 100%;
    -webkit-box-sizing: border-box;
            box-sizing: border-box;
    padding: 20px;
  }
  #wrapper .actions .actions__list {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -ms-flex-wrap: wrap;
        flex-wrap: wrap;
    -webkit-box-pack: justify;
        -ms-flex-pack: justify;
            justify-content: space-between;
  }
  #wrapper .actions .actions__list .actions__action {
    width: 30%;
  }
  #wrapper .more .more__text {
    font-size: 22px;
  }
  #wrapper .more .more__arrow {
    width: 25px;
  }
  #wrapper .heading {
    font-size: 42px;
  }
  #wrapper .footer {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -ms-flex-wrap: wrap;
        flex-wrap: wrap;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
  }
  #wrapper .footer .footer__logo {
    width: 120px;
    padding: 0;
    margin: 0;
  }
  #wrapper .footer .footer__heading {
    width: 50%;
    font-size: 22px;
    margin: 0;
    font-size: 20px;
  }
  #wrapper .footer .footer__span {
    margin-top: 0;
    font-size: 18px;
  }
  #wrapper .footer .footer__socials {
    width: 30%;
    margin: 0;
    -ms-flex-pack: distribute;
        justify-content: space-around;
  }
  #wrapper .footer .footer__socials .footer__social {
    margin-top: 20px;
    width: 40px;
  }
}
@media screen and (min-width: 1024px) {
  #wrapper .header .header__logo {
    width: 120px;
  }
  #wrapper .navbar {
    margin-left: 15%;
  }
  #wrapper .navbar .navbar__list .navbar__item {
    margin-left: 10px;
    margin-right: 10px;
  }
  #wrapper .screen .screen__content {
    top: 50%;
  }
  #wrapper .slider-full .slider-full__nav {
    top: 50%;
    right: 50px;
  }
  #wrapper .about {
    margin-top: 100px;
  }
  #wrapper .about .about__image {
    margin-right: 5%;
  }
  #wrapper .about .about__content {
    width: 50%;
    margin-left: 25%;
  }
  #wrapper .adv {
    margin-top: 90px;
  }
  #wrapper .adv .adv__list .adv__item {
    width: 30%;
  }
  #wrapper .advantage .advantage__icon {
    width: 130px;
  }
  #wrapper .advantage .advantage__text {
    width: 90%;
  }
  #wrapper .slider .slider__slides .slider__slide:nth-child(1) {
    -webkit-box-pack: start;
        -ms-flex-pack: start;
            justify-content: flex-start;
  }
  #wrapper .reviews .reviews__slider {
    max-width: 900px;
  }
  #wrapper .slider-full .slider-full__slides .slider-full__slide .slider-full__image {
    width: 150%;
    height: auto;
  }
  #wrapper .card {
    padding: 50px;
  }
  #wrapper .card .card__image {
    position: absolute;
    width: 120px;
    top: 50px;
    right: 30px;
    border-radius: 20px;
  }
  #wrapper .card .card__title {
    margin-top: 20px;
    font-size: 26px;
    text-align: left;
  }
  #wrapper .card .card__text {
    margin-top: 60px;
    width: 85%;
    font-size: 20px;
  }
  #wrapper .card .card__rating {
    margin-top: 20px;
  }
  #wrapper .card .card__quotes {
    right: 30px;
    bottom: 30px;
    top: auto;
    left: auto;
    width: 40px;
  }
  #wrapper .rating {
    -webkit-box-pack: start;
        -ms-flex-pack: start;
            justify-content: flex-start;
    margin-left: -10px;
  }
  #wrapper .rating .rating__star {
    width: 30px;
  }
  #wrapper .footer .footer__socials {
    width: 220px;
  }
}
@media screen and (min-width: 1440px) {
  #wrapper .main .main__header {
    left: 50%;
    max-width: 1200px;
    -webkit-transform: translate(-50%, 0);
            transform: translate(-50%, 0);
  }
  #wrapper .header .header__logo {
    width: 150px;
  }
  #wrapper .navbar {
    width: 710px;
    margin-left: 200px;
  }
  #wrapper .navbar .navbar__list {
    -webkit-box-pack: justify;
        -ms-flex-pack: justify;
            justify-content: space-between;
  }
  #wrapper .navbar .navbar__list .navbar__item {
    margin: 0;
  }
  #wrapper .navbar .navbar__list .navbar__item .navbar__link {
    font-size: 22px;
  }
  #wrapper .slider-full .slider-full__slides .slider-full__slide .slider-full__image {
    width: 120%;
  }
  #wrapper .screen .screen__content .screen__heading {
    font-size: 78px;
  }
  #wrapper .about .about__image {
    width: 400px;
    margin-right: calc((100vw - 750px) / 2 - 250px);
  }
  #wrapper .about .about__content {
    padding: 80px;
    margin-top: -300px;
    width: 750px;
    margin-left: calc((100vw - 650px) / 2);
  }
  #wrapper .about .about__content .about__heading {
    font-size: 54px;
  }
  #wrapper .about .about__content .about__text {
    font-size: 24px;
  }
  #wrapper .about .about__content .about__more {
    margin-top: 40px;
  }
  #wrapper .more .more__text {
    font-size: 28px;
  }
  #wrapper .more .more__arrow {
    width: 30px;
  }
  #wrapper .adv {
    max-width: 1600px;
    margin-left: auto;
    margin-right: auto;
  }
  #wrapper .adv .adv__list .adv__item {
    max-width: none;
  }
  #wrapper .advantage .advantage__icon {
    width: 150px;
  }
  #wrapper .advantage .advantage__heading {
    font-size: 32px;
  }
  #wrapper .advantage .advantage__text {
    font-size: 20px;
  }
  #wrapper .reviews .reviews__slider {
    margin-top: 60px;
    max-width: 1100px;
  }
  #wrapper .card {
    width: 50%;
  }
  #wrapper .card .card__title {
    font-size: 32px;
    margin-top: 30px;
  }
  #wrapper .card .card__image {
    width: 150px;
  }
  #wrapper .card .card__text {
    margin-top: 80px;
    font-size: 22px;
  }
  #wrapper .rating .rating__star {
    width: 35px;
  }
  #wrapper .slider .slider__nav .slider__dot {
    width: 20px;
    height: 20px;
  }
  #wrapper .heading {
    font-size: 50px;
  }
  #wrapper .actions {
    margin-left: auto;
    margin-right: auto;
    max-width: 1600px;
  }
  #wrapper .footer .footer__logo {
    width: 150px;
  }
  #wrapper .footer .footer__heading {
    width: 900px;
    font-size: 32px;
  }
  #wrapper .footer .footer__socials {
    width: 300px;
    -webkit-box-pack: justify;
        -ms-flex-pack: justify;
            justify-content: space-between;
  }
  #wrapper .footer .footer__socials .footer__social {
    margin-top: 20px;
    width: 50px;
  }
  #wrapper .footer .footer__span {
    font-size: 26px;
  }
}