*{
	margin: 0;
	padding: 0;
}
button, input{
	outline: none;
}
p{
	color: #595959;
}

@media screen and (min-width: 320px){
	
	header{
		width: 100%;
		box-sizing: border-box;
		padding: 40px 30px;
		display: flex;
		justify-content: space-between;
		flex-wrap: wrap;
		background-color: white;
		background-image: url(../img/header-bg.png);
		background-size: 100%;
		background-position: center left;
		background-repeat: no-repeat;
	}
	header .logo{
		display: flex;
		justify-content: space-between;
		width: 140px;
	}
	header .logo img{
		width: 25px;
		height: 25px;
	}
	header .logo span{
		font-size: 20px;
		text-transform: uppercase;
		font-family: Ubuntu Sb;
		color: #424B5A;
		height: 25px;
	}
	header .navbar{
		display: none;
	}
	header .dropdown-menu{
		width: 30px;
		height: 30px;
		position: relative;
		cursor: pointer;
	}
	header .dropdown-menu span{
		display: block;
		background-color: black;
		width: 100%;
		height: 5px;
		border-radius: 2px;
		position: absolute;
		transition: .3s ease;
	}
	header .dropdown-menu:hover span{
		background-color: #777;
	}
	header .dropdown-menu span:nth-child(1){
		top: 0;
	}
	header .dropdown-menu span:nth-child(2){
		top: 40%;
	}
	header .dropdown-menu span:nth-child(3){
		top: 80%;
	}
	header .main{
		width: 100%;
	}
	header .main h1{
		margin-top: 70px;
		font-family: Montserrat Bd;
		font-size: 40px;
	}
	header .main p{
		margin-top: 35px;
		font-size: 14px;
		font-family: Montserrat;
		width: 70%;
	}
	header .main a{
		display: block;
		width: 180px;
		height: 50px;
		margin-top: 60px;
		background-color: #58B3E1;
		border: none;
		border-radius: 5px;
		color: white;
		font-size: 18px;
		font-family: Montserrat Sb;
		margin-bottom: 40px;
		transition: .3s ease;
		text-align: center;
		line-height: 50px;
		text-decoration: none;
	}
	header .main a:hover{
		opacity: 0.8;
	}

	#welcome{
		margin-top: 50px;
	}
	#welcome .top{
		width: 100%;
		box-sizing: border-box;
		padding: 0 30px;
	}
	#welcome .top h2{
		font-family: Norican;
		color: #58B3E1;
		font-size: 20px;
	}
	#welcome .top h1{
		font-family: Montserrat Sb;
		font-size: 20px;
	}
	#welcome .top p{
		font-family: Montserrat;
		font-size: 12px;
		margin-top: 25px;
	}
	#welcome .top .cards{
		display: flex;
		flex-wrap: wrap;
		margin-bottom: 30px;
	}
	#welcome .top .cards .card{
		width: 100%;
		display: flex;
		justify-content: space-between;
		list-style: none;
		margin-top: 35px;
	}
	#welcome .top .cards .card .image{
		width: 20%;
	}
	#welcome .top .cards .card .image img{
		width: 60%;
	}
	#welcome .top .cards .card .text{
		width: 80%;
	}
	#welcome .top .cards .card .text h3{
		text-transform: uppercase;
		font-size: 16px;
		font-family: Montserrat Sb;
	}
	#welcome > .image{
		width: 100%;
	}
	#welcome > .image img{
		width: 100%;
	}
	#welcome .bottom{
		width: 100%;
		box-sizing: border-box;
		padding: 0 30px;
		margin-top: 20px;
	}
	#welcome .bottom .cards{
		display: flex;
		flex-wrap: wrap;
		justify-content: space-between;
	}
	#welcome .bottom .cards .card{
		width: 45%;
		display: flex;
		flex-wrap: wrap;
		list-style: none;
		margin-top: 20px;
	}
	#welcome .bottom .cards .card h1{
		font-family: Norican;
		color: #58B3E1;
		font-size: 48px;
		width: 100%;
		text-align: center;
	}
	#welcome .bottom .cards .card span{
		font-family: Montserrat Sb;
		font-size: 18px;
		text-align: center;
		display: block;
		width: 100%;
		margin-top: 10px;
	}
	
	#services .image{
		display: none;
	}
	#services > .text{
		margin-top: 50px;
		width: 100%;
		box-sizing: border-box;
		padding: 0 30px;
	}
	#services .text h2{
		font-family: Norican;
		color: #58B3E1;
		font-size: 20px;
	}
	#services .text h1{
		font-family: Montserrat Sb;
		font-size: 20px;		
	}
	#services .text .cards{
		display: flex;
		flex-wrap: wrap;
		margin-top: 40px;
	}
	#services .text .cards .card{
		width: 100%;
		display: flex;
		list-style: none;
		justify-content: space-between;
	}
	#services .text .cards .card .number{
		width: 20%;
	}
	#services .text .cards .card .number h1{
		color: #B6B6B6;
		font-size: 30px;
		font-family: Montserrat Bd;
	}
	#services .text .cards .card .text{
		width: 80%;
	}
	#services .text .cards .card .text h3{
		font-size: 16px;
		font-family: Montserrat Sb;
	}
	#services .text .cards .card .text p{
		font-size: 12px;
		font-family: Montserrat;
		margin-top: 15px;
		margin-bottom: 30px;
	}

	#projects .top{
		width: 100%;
		box-sizing: border-box;
		padding: 0 30px;
		margin-top: 30px;
	}
	#projects .top h2{
		font-family: Norican;
		font-size: 20px;
		color: #58B3E1;
	}
	#projects .top h1{
		font-size: 20px;
		font-family: Montserrat Sb;
	}
	#projects .top p{
		margin-top: 15px;
		font-size: 12px;
		font-family: Montserrat;
	}
	#projects .cards{
		margin-top: -10px;
		display: flex;
		flex-wrap: wrap;
		box-sizing: border-box;
		padding: 0 30px;
	}
	#projects .cards .card{
		margin-top: 50px;
		list-style: none;
	}
	#projects .cards .card .image{
		width: 100%;
	}
	#projects .cards .card .image img{
		width: 100%;
	}
	#projects .cards .card .text{
		width: 100%;
		box-sizing: border-box;
		padding: 0 30px;
	}
	#projects .cards .card .text h1{
		font-family: Montserrat Sb;
		font-size: 16px;
		margin-top: 30px;
	}
	#projects .cards .card .text h1 b{
		color: #58B3E1;
	}
	#projects .cards .card .text p{
		margin-top: 20px;
		font-family: Montserrat;
		font-size: 12px;
	}
	#projects .more{
		width: 100%;
		display: flex;
		justify-content: center;
		margin-top: 40px;
	}
	#projects .more button{
		width: 180px;
		height: 50px;
		background-color: #58B3E1;
		border-radius: 5px;
		border: none;
		margin-left: auto;
		margin-right: auto;
		color: white;
		font-size: 18px;
		font-family: Montserrat Sb;
		cursor: pointer;
		transition: .3s ease;
	}
	#projects .more button:hover{
		opacity: 0.8;
	}

	#it-company{
		width: 100%;
	}
	#it-company .image{
		width: 100%;
		margin-top: 45px;
		height: 130px;
		overflow: hidden;
		position: relative;
	}
	#it-company .image img{
		width: 100%;
		position: absolute;
		top: 50%;
		transform: translate(0, -50%);
	}
	#it-company .text{
		box-sizing: border-box;
		padding: 0 30px;
		margin-top: 30px;
	}
	#it-company .text h2{
		font-family: Norican;
		color: #58B3E1;
		font-size: 20px;
	}
	#it-company .text h1{
		font-family: Montserrat Sb;
		font-size: 20px;
	}
	#it-company .text p{
		margin-top: 30px;
		font-family: Montserrat;
		font-size: 12px;
	}
	#it-company .text .more{
		margin-top: 45px;
		width: 100%;
		display: flex;
		justify-content: center;
	}
	#it-company .text .more button{
		width: 180px;
		height: 50px;
		border-radius: 5px;
		background-color: #58B3E1;
		border: none;
		color: white;
		font-size: 18px;
		font-family: Montserrat Sb;
		cursor: pointer;
		transition: .3s ease;
	}
	#it-company .text .more button:hover{
		opacity: 0.8;
	}

	#blog{
		margin-top: 85px;
	}
	#blog .top{
		width: 100%;
		box-sizing: border-box;
		padding: 0 30px;
	}
	#blog .top h2{
		color: #58B3E1;
		font-size: 20px;
		font-family: Norican;
	}
	#blog .top h1{
		font-family: Montserrat Sb;
		font-size: 20px;
	}
	#blog .slider{
		margin-top: 30px;
		display: flex;
		flex-wrap: wrap;
		position: relative;
		overflow: hidden;
	}
	#blog .slider .slides{
		height: 200px;
		width: 100%;
	}
	#blog .slider .slides .slide{
		background-color: #EBF6FF;
		width: 100%;
		height: 200px;
		box-sizing: border-box;
		padding: 35px 30px;
		position: absolute;
		list-style: none;
		top: 0;
		left: 50%;
		transform: translate(-50%, 0);
		transition: .5s ease;
	}
	#blog .slider .slides .slide h1{
		font-size: 16px;
		font-family: Montserrat Sb;
	}
	#blog .slider .slides .slide p{
		margin-top: 30px;
		font-size: 12px;
		font-family: Montserrat;
	}
	#blog .slider .slides .slide .date{
		margin-top: 15px;
		text-align: right;
		color: #595959;
		font-family: Montserrat Sb;
		font-size: 10px;
	}
	#blog .slider .points{
		width: 100%;
		display: flex;
		justify-content: center;
		margin-top: 30px;
	}
	#blog .slider .points .point{
		margin-left: 7px;
		margin-right: 7px;
		width: 15px;
		height: 15px;
		border-radius: 50%;
		border: 1px solid #C4C4C4;
		cursor: pointer;
		transition: .5s ease;
	}
	#blog .slider .points .point.active{
		border: 1px solid #58B3E1;
		background-color: #58B3E1;
	}

	#partners{
		margin-top: 60px;
		padding: 0 30px;
	}
	#partners .items{
		display: flex;
		overflow: scroll;
		height: 75px;
	}
	#partners .items .item:nth-child(1){
		margin-left: 0;
	}
	#partners .items .item:nth-child(6){
		margin-right: 0;
	}
	#partners .items .item{
		height: 75px;
		list-style: none;
		margin-right: 25px;
		margin-left: 25px;
	}
	#partners .items .item img{
		position: relative;
		top: 50%;
		transform: translate(0, -50%);
		height: 75px;
	}

	#subscribe{
		width: 100%;
		box-sizing: border-box;
		padding: 0 30px;
		margin-top: 60px;
		padding-top: 60px;
		background-image: url(../img/subscribe-bg.png);
		background-size: 100%;
		background-position: center right;
		padding-bottom: 45px;
	}
	#subscribe h2{
		font-family: Norican;
		font-size: 20px;
		color: #58B3E1;
	}
	#subscribe h1{
		font-family: Montserrat Sb;
		font-size: 20px;
	}
	#subscribe p{
		margin-top: 25px;
		font-family: Montserrat;
		font-size: 12px;
	}
	#subscribe form{
		margin-top: 30px;
		display: flex;
		flex-wrap: wrap;
	}
	#subscribe form input{
		width: 70%;
		border: 1px solid #C4C4C4;
		border-radius: 5px;
		background-color: rgba(0, 0, 0, 0);
		height: 40px;
		box-sizing: border-box;
		padding-left: 10px;
		font-size: 12px;
		font-family: Montserrat;
	}
	#subscribe form button{
		width: 40%;
		border: none;
		border-radius: 5px;
		background-color: #58B3E1;
		color: white;
		font-size: 12px;
		font-family: Montserrat Sb;
		height: 40px;
		margin-top: 30px;
		transition: .3s ease;
	}
	#subscribe form button:hover{
		opacity: 0.8;
	}

	footer .top{
		width: 100%;
		box-sizing: border-box;
		padding: 35px 30px;
		display: flex;
		justify-content: space-between;
	}
	footer .top .logo{
		width: 140px;
		display: flex;
		justify-content: space-between;
	}
	footer .top .logo img{
		width: 25px;
		height: 25px;
		position: relative;
		top: 50%;
		transform: translate(0, -50%);
	}
	footer .top .logo span{
		text-transform: uppercase;
		font-family: Ubuntu Sb;
		color: #424B5A;
		font-size: 20px;
		line-height: 60px;
	}
	footer .top .navbar{
		display: none;
	}
	footer .top .scroll-top{
		width: 60px;
		height: 60px;
		background-color: #58B3E1;
		position: relative;
		border-radius: 50%;
		transition: .3s ease;
	}
	footer .top .scroll-top span{
		width: 20px;
		height: 20px;
		position: absolute;
		top: 60%;
		left: 50%;
		transform: translate(-50%, -50%) rotate(45deg);
		border-left: 2px solid white;
		border-top: 2px solid white;
	}
	footer .top .scroll-top:hover{
		opacity: 0.8;
	}
	footer .bottom{
		border-top: 1px solid #C4C4C4;
		width: 100%;
		box-sizing: border-box;
		text-align: center;
		padding: 14px;
	}
	footer .bottom span{
		font-size: 10px;
		font-family: Montserrat;
		color: #B6B6B6;
	}

}

@media screen and (min-width: 768px){
	
	header{
		background-image: url(../img/header-bg-desktop.jpg);
	}
	header .dropdown-menu{
		display: none;
	}
	header .navbar{
		display: block;
		display: flex;
	}
	header .navbar .navbar-item{
		list-style: none;
		margin-left: 15px;
		margin-right: 15px;
	}
	header .navbar .navbar-item.active{
		border-bottom: 3px solid #58B3E1
	}
	header .navbar .navbar-item a{
		font-size: 14px;
		line-height: 25px;
		font-family: Montserrat Sb;
		text-decoration: none;
		color: black;
		transition: .3s ease;
	}
	header .navbar .navbar-item:hover a{
		color: #777;
	}
	header .main h1{
		width: 45%;
		text-align: right;
	}
	header .main h1 b{
		color: #58B3E1;
	}
	header .main p{
		width: 35%;
		text-align: right;
		margin-left: 10%;
	}
	header .main a{
		margin-left: calc(45% - 180px);
	}

	#welcome{
		display: flex;
		flex-wrap: wrap;
	}
	#welcome .top{
		width: 45%;
	}
	#welcome > .image{
		width: 55%;
		position: relative;
	}
	#welcome > .image img{
		position: absolute;
		top: 50%;
		transform: translate(0, -50%);
	}
	#welcome .bottom .cards .card{
		width: 25%;
		position: relative;
	}
	#welcome .bottom .cards .card::after{
		content: "";
		width: 1px;
		height: 80px;
		background-color: #B6B6B6;
		position: absolute;
		top: 50%;
		right: 0;
		transform: translate(0, -50%);
	}
	#welcome .bottom .cards .card:nth-child(4)::after{
		display: none;
	}

	#services{
		margin-top: 80px;
		display: flex;
	}
	#services > .text{
		width: 50%;
	}
	#services > .image{
		display: block;
		width: 50%;
		position: relative;
	}
	#services > .image img{
		width: 100%;
		position: absolute;
		top: 50%;
		transform: translate(0, -50%);
	}

	#projects{
		margin-top: 50px;
	}
	#projects .top{
		width: 100%;
		box-sizing: border-box;
		padding: 0 30px;
	}
	#projects .top h2{
		text-align: center;
	}
	#projects .top h1{
		text-align: center;
	}
	#projects .top p{
		text-align: center;
	}
	#projects .cards{
		justify-content: space-between;
	}
	#projects .cards .card{
		width: 30%;
	}
	#projects .cards .card .text{
		padding: 0;
	}
	#projects .cards .card .text h1{
		font-size: 14px;
		margin-top: 10px;
	}
	#projects .cards .card .text p{
		margin-top: 10px;
	}

	#it-company{
		display: flex;
		justify-content: space-between;
		margin-top: 100px;
	}
	#it-company .image{
		width: 50%;
		height: auto;
	}
	#it-company .text{
		width: 50%;
	}

	#blog{
		margin-top: 115px;
	}
	#blog .top h1{
		text-align: center;
	}
	#blog .top h2{
		text-align: center;
	}
	#blog .slider .slides{
		height: 220px;
	}
	#blog .slider .slides .slide{
		width: 30%;
		height: 220px;
		left: 50%;
		transform: translate(-50%, 0);
		list-style: none;
	}
	#blog .slider .slides .slide p{
		margin-top: 10px;
	}

	#partners{
		margin-top: 80px;
	}
	#partners .items{
		justify-content: space-between;
		overflow: visible;
	}
	#partners .items .item{
		width: 15%;
		margin: 0;
		position: relative;
	}
	#partners .items .item img{
		position: absolute;
		left: 50%;
		transform: translate(-50%, 0);
	}

	#subscribe{
		padding-top: 0;
		margin-top: 120px;
		background-image: url(../img/subscribe-bg-desktop.png);
		background-position: center left;
		background-size: 20%;
		background-repeat: no-repeat;
	}
	#subscribe h2{
		text-align: center;
	}
	#subscribe h1{
		text-align: center;
	}
	#subscribe p{
		text-align: center;
	}
	#subscribe form input{
		width: 40%;
	}
	#subscribe form{
		justify-content: center;
	}
	#subscribe form button{
		width: 20%;
		margin: 0;
		margin-left: 30px;
	}

	footer .top{
		padding-bottom: 10px;
	}
	footer .top .scroll-top{
		display: none;
	}
	footer .top .navbar{
		display: block;
		display: flex;
	}
	footer .top .navbar .navbar-item{
		list-style: none;
		margin-left: 10px;
		margin-right: 10px;
	}
	footer .top .navbar .navbar-item a{
		line-height: 60px;
		font-family: Montserrat Sb;
		font-size: 12px;
		transition: .3s ease;
		text-decoration: none;
		color: black;
	}
	footer .top .navbar .navbar-item:hover a{
		color: #777;
	}
	footer .bottom span{
		font-family: Montserrat Sb;
	}

}

@media screen and (min-width: 1024px){
	
	header{
		padding: 40px 50px;
	}
	header .logo{
		width: 200px;
	}
	header .logo img{
		width: 35px;
		height: 35px;
	}
	header .logo span{
		font-family: Ubuntu Bd;
		font-size: 28px;
		line-height: 35px;
	}
	header .main h1{
		margin-top: 90px;
	}
	header .main p{
		margin-top: 10px;
	}
	header .main a{
		margin-top: 20px;
	}

	#welcome{
		margin-top: 120px;
	}
	#welcome .top{
		width: 50%;
		padding: 10% 50px;
	}
	#welcome .image{
		width: 50%;
	}
	#welcome .image img{
		position: relative;
	}
	#welcome .top p{
		margin-top: 20px;
	}
	#welcome .top .cards .card{
		position: relative;
	}
	#welcome .top .cards .card .image{
		width: 10%;
	}
	#welcome .top .cards .card .text{
		width: 90%;
		padding-right: 10%;
	}

	#services .text .cards .card{
		width: 50%;
	}
	#services .text .cards .card .number h1{
		transform: rotate(-90deg);
		text-align: right;
		padding-right: 5px;
	}

	#projects .cards{
		padding: 0 50px;
	}

	#it-company .text{
		box-sizing: border-box;
		padding: 30px;
	}

	#blog .slider .slides .slide p{
		margin-top: 30px;
	}

	footer .top .logo{
		width: 200px;
	}
	footer .top .logo img{
		width: 35px;
		height: 35px;
	}
	footer .top .logo span{
		font-size: 28px;
	}

}

@media screen and (min-width: 1440px){
	header{
		padding: 40px 75px;
		max-width: 1440px;
		margin-left: auto;
		margin-right: auto;
	}
	header .navbar .navbar-item{
		margin-left: 25px;
		margin-right: 25px;
	}
	header .main h1{
		margin-top: 125px;
		font-size: 60px;
	}
	header .main p{
		margin-top: 25px;
		font-size: 18px;
		width: 30%;
		margin-left: 15%;
	}
	header .main a{
		font-size: 18px;
		margin-top: 45px;
	}

	#welcome{
		max-width: 1440px;
		margin-left: auto;
		margin-right: auto;
	}
	#welcome .top h1{
		font-size: 30px;
	}
	#welcome .top p{
		font-size: 18px;
		margin-top: 35px;
	}

	#services{
		max-width: 1440px;
		margin-left: auto;
		margin-right: auto;
		margin-top: 140px;
	}
	#services .image{
		width: 40%;
	}
	#services .text{
		width: 60%;
	}
	#services .text h1{
		font-size: 30px;
	}
	#services .text .cards{
		margin-top: 0;
	}
	#services .text .cards .card{
		margin-top: 60px;
	}
	#services .text .cards .card .number h1{
		font-size: 50px;
	}
	#services .text .cards .card .text h3{
		font-size: 20px;
	}
	#services .text .cards .card .text p{
		font-size: 18px;
		margin-top: 40px;
	}

	#projects{
		margin-top: 140px;
		max-width: 1440px;
		margin-left: auto;
		margin-right: auto;
	}
	#projects .top h1{
		font-size: 30px;
	}
	#projects .top p{
		font-size: 18px;
	}
	#projects .cards .card .text h1{
		font-size: 20px;
	}
	#projects .cards .card .text p{
		font-size: 18px;
	}
	#projects .more{
		margin-top: 55px;
	}

	#it-company{
		max-width: 1440px;
		margin-left: auto;
		margin-right: auto;
	}
	#it-company .text{
		padding: 60px;
	}
	#it-company .text h1{
		font-size: 30px;
	}
	#it-company .text p{
		font-size: 18px;
	}

	#blog{
		max-width: 1440px;
		margin-left: auto;
		margin-right: auto;
	}
	#blog .top h1{
		font-size: 30px;
	}
	#blog .slider .slides{
		height: 240px;
	}
	#blog .slider .slides .slide{
		height: 240px;
		padding: 35px 15px;
	}
	#blog .slider .slides .slide h1{
		font-size: 20px;
	}
	#blog .slider .slides .slide p{
		font-size: 18px;
		margin-top: 20px;
	}
	#blog .slider .slides .slide .date{
		font-size: 14px;
		margin-top: 25px;
	}

	#partners{
		margin-top: 170px;
		max-width: 1440px;
		margin-left: auto;
		margin-right: auto;
	}

	#subscribe{
		margin-top: 200px;
		padding-top: 50px;
		max-width: 1440px;
		margin-left: auto;
		margin-right: auto;
		background-size: 15%;
	}
	#subscribe h1{
		font-size: 30px;
	}
	#subscribe p{
		font-size: 18px;
		margin-top: 15px;
	}
	#subscribe form{
		margin-top: 60px;
	}
	#subscribe form input{
		width: 30%;
	}
	#subscribe form button{
		width: 15%;
	}

	footer{
		margin-top: 85px;
		max-width: 1440px;
		margin-left: auto;
		margin-right: auto;
	}
	footer .top .navbar .navbar-item{
		margin-right: 25px;
		margin-left: 25px;
	}
	footer .top .navbar .navbar-item a{
		font-size: 18px;
	}

}